/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 11:02:13 PM
    Author     : Erald
*/

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    z-index: 98;
}
.profile-userpic img {
    float: none;
    margin: 0px auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 1px solid gainsboro;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.profile-usertitle-name {
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    text-transform: capitalize;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #0099dd;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 400;
    transition: .2s;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #c90000;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #c90000;
    background-color: #f6f9fb;
    border-left: 2px solid #c90000;
    margin-left: -2px;
}


/* Login-Widget */

#login-widget {
    background: white;
    padding: 15px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.login-heading{
}
.login-title{
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}
.login-body{}
.login-body .input-group-addon{background: #c90000;border-radius: 0;border: 0px solid #ccc;}
.login-body .input-group-addon i{color: white;}
.login-footer{
    font-size: 11px;
    text-align: center;
}