/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2017, 5:27:28 PM
    Author     : Erald
*/

/* ///////////////////////////////////////////////////////////////////// 
// Horoscope owl carousel
/////////////////////////////////////////////////////////////////////*/

/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 50px;
    opacity: 1;
    overflow: hidden;
    transition: all 0.4s;
    background: rgba(1, 1, 1, 0.75);
    padding: 5px;
}
#quote-carousel .carousel-indicators .active {
    background: #c90000;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

@media(max-width: 992px){
    #quote-carousel .carousel-control.left, #quote-carousel .carousel-control.right {
    display:none;
}
}

@media(max-width: 767px){

#quote-carousel .carousel-indicators li {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 2px;
}
#quote-carousel .carousel-indicators .active {

    width: 40px;
    height: 40px;

}

}

