/* Social Buttons style */

div.social-buttons ul.social {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding:  0px;
}
div.social-buttons .social>li { 
    display: inline-block;
}
div.social-buttons .social>li>a {
    position: relative;
    display: block;
    padding: 0px 5px 0px 5px;
}

/* Their own color */
.eva-social-icon a {
    overflow:hidden;
    display: inline-block;
    margin: 0 2px;
    padding: 0;
    width: 26px;
    height: 22px;
    text-align:left;
    line-height: 22px;
    font-size: 23px;
    /*    color:#ffffff;*/
}
.eva-social-icon a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}
.eva-social-icon a.facebook:hover {color:#3b5998;}
.eva-social-icon a.flickr:hover {color:#fd0070;}
.eva-social-icon a.google-plus:hover {color:#f63e28;}
.eva-social-icon a.twitter:hover {color:#58ccff;}
.eva-social-icon a.instagram:hover {color:#685044;}
.eva-social-icon a.pinterest:hover {color:#d73532;}
.eva-social-icon a.skype:hover {color:#04b3ec;}
.eva-social-icon a.vimeo-square:hover {color:#1ab7ea;}
.eva-social-icon a.youtube:hover {color:#e02921;}
.eva-social-icon a.dribbble:hover {color:#e4508a;}
.eva-social-icon a.linkedin:hover {color:#0085ae;}
.eva-social-icon a.rss:hover {color:#ff9900;}
.eva-social-icon a:focus {color:#ccc;}
.eva-social-icon a:hover {
    width: 100px;
    font-weight: bold;
}
.eva-social-icon a span {
    display:inline-block;
    vertical-align:top;
    margin-left: 5px;
    line-height: 25px;
    font-size: 14px;
}
.eva-social-icon a:hover span {
/*    color: white;*/
}