/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2017, 7:25:31 PM
    Author     : Erald
*/

 #map {
        width: 100%;
        margin-top: 0px;
        /* margin-bottom: 2em; */
    }
    .info-window {
        font-family: 'Montserrat', sans-serif;
    }
    .info-content {
        color: #999;
    }
    .labels {
        color: white;
        font-family:"Lucida Grande", "Arial", sans-serif;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        width: 28px;
        white-space: nowrap;
        padding-top:20px;
    }


    #map img {
        max-width: none !important;
    }
    .gm-style-iw {
        width: 200px !important;
        top: 15px !important;
        left: 0px !important;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        border: 0px solid rgba(72, 181, 233, 0.6);
        border-radius: 0px;
    }
    .iw-container {
        margin-bottom: 10px;
    }
    .iw-container .iw-title {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 22px;
        font-weight: 400;
        padding: 10px;
        background-color: #c6251e;
        color: white;
        margin: 0;
        border-radius: 2px 2px 0 0;
    }
    .iw-container .iw-content {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-right: 1px;
        padding: 0px 0px 0px 10px;
        max-height: 150px;
        overflow-y: hidden;
        overflow-x: hidden;
        color: #707070;
    }
    .iw-content img {
        float: right;
        margin: 0 0px 10px -10px;
    }
    .iw-subTitle {
        font-size: 12px;
        font-weight: 500;
        padding: 5px 0;
        color: #2a2a2a;
    }
    .iw-bottom-gradient {
        position: absolute;
        width: 200px;
        height: 25px;
        bottom: 10px;
        right: 18px;
        /*    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);*/
    }


    /*--------------------------------------------------------------
            Map Controls
    --------------------------------------------------------------*/
    #map-wrapper {
        position: relative;
    }

    #map-controls {
        background: rgba(0, 0, 0, 0.75);
        top: 2px;
        display: block;
        height: 50px;
        padding: 0px;
        position: absolute;
        border: none;
        overflow: hidden;
        font-family: "Roboto";
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 5;
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
    }
    .map-control {
        background: transparent;
        color: #dce2e3;
        height: 50px;
        width: 60px;
        float: left;
        overflow: hidden;
        -webkit-transition-duration: .3s;
        -webkit-transition-property: color, opacity, background;
        -moz-transition-duration: .3s;
        -moz-transition-property: color, opacity, background;
        -o-transition-duration: .3s;
        -o-transition-property: color, opacity, background;
        transition-duration: .3s;
        transition-property: color, opacity, background;
    }
    .map-control:hover {
        background: rgb(201, 0, 0);
        color: #fff;
        cursor: pointer;
    }
    .map-control span i:before {
        padding: 0;
        line-height: 35px;
        text-align: center;
        display: block;
        width: 60px;
        height: 35px;
        font-size: 18px;
        margin: 0;
        border: none;
        overflow: hidden;
    }
    #map-controls .mc-inactive, #map-controls .mc-inactive:hover {
        cursor: default;
        background: transparent;
    }
    #map-controls .mc-inactive span i:before, #map-controls .mc-inactive:hover span i:before, 
    #map-controls .mc-inactive .mctext, #map-controls .mc-inactive:hover .mctext  {
        opacity: 0.4;
    }
    .mapc-sep {
        width: 1px;
        height: 45px;
        overflow: hidden;
        float: left;
        background: rgba(255,255,255,0.15);
        display: none;
    }
    #map-controls .mctext {
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        width: 60px;
        height: 10px;
        padding: 0;
        margin: 0;
        margin-top: -5px;
        border: none;
    }

    .labels {
        font-size: 10px;
        width: 40px;     
        white-space: nowrap;
    }
    