/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2017, 5:35:05 PM
    Author     : Erald
*/

#search-result{
    margin-top: 4em;
}

#search-result table td {
    padding: 0px 20px 5px 0;
}
#search-result .result {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 1em;
    margin-bottom: 1em;
}



/****Card***/
#real-estate-card :root {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background-color: #f1f1f1;
}

#real-estate-card button {
    border: none;
    /* background: transparent; */
    font-size: 10px !important;
}

#real-estate-card .controller-container {
    margin-bottom: 5%;
    text-align: center;
}

#real-estate-card .controller {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 22px;
    padding: 10px 0;
    color: #FFF;
    position: relative;
    -webkit-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#real-estate-card.controller:after {
    content: "";
    height: 3px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #FFF;
}

#real-estate-card .controller.is_current:after {
    width: 100%;
}

#real-estate-card .controller:hover,
#real-estate-card .controller.is_current {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
    cursor: pointer;
}

#real-estate-card .card {
    will-change: transform;
    margin: 0px 0 20px 0;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #ffffff;
    height: 35%;
    width: 100%;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

#real-estate-card .card:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

#real-estate-card .card__image {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#real-estate-card .card__image:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    bottom: 0;
}

#real-estate-card .card__title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 24px;
    color: #FFF;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#real-estate-card .card__subtitle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #555;
    left: 88px;
    right: 0;
    top: 45px;
    position: absolute;
    padding: 0 16px;
    opacity: 0;
    -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#real-estate-card .card__text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    top: 100px;
    padding: 16px;
    margin: 0;
    line-height: 1.6;
    position: absolute;
    overflow: hidden;
    -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: delay 0.1s;
    transition: delay 0.1s;
}

#real-estate-card .card__action-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    padding: 0 8px;
    border-top: 1px solid #E0E0E0;
    boz-sizing: border-box;
    height: 40px;
    -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#real-estate-card .card__button {
    outline: none;
    /* position: relative; */
    /* display: inline-block; */
    line-height: 39px;
    padding: 0px 10px;
    border-left: 1px solid #e0e0e0;
    width: 100%;
    font-size: 14px;
    right: -8px;
}
#real-estate-card .card__button i {
    padding-right:10px;
}

#real-estate-card .card--big {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height: 450px;
    min-height: 450px;
}

#real-estate-card .card--big .card__image {
    border-radius: 1px 1px 0 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    max-height: 300px;
}

#real-estate-card .card--big .card__title {
    bottom: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 50px;
}

#real-estate-card .card--big .card__text {
    top: 340px;
}

#real-estate-card .card--big .card__subtitle {
    opacity: 1;
    top: 310px;
    left: 0;
    color: #000;
}

#real-estate-card .card--medium {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    height: 208px;
    min-height: 208px;
}

#real-estate-card .card--medium .card__image {
    border-radius: 1px 1px 0 0;
    left: -100%;
    right: 0;
    top: 0;
    max-height: 0;
    opacity: 0;
}

#real-estate-card .card--medium .card__title {
    color: #FF1744;
    top: 16px;
}

#real-estate-card .card--medium .card__text {
    font-size: 16px;
    top: 50px;
}

#real-estate-card .card--medium .card__action-bar {
    left: 0;
}

#real-estate-card .card--small {
    box-shadow: 0 rgba(0, 0, 0, 0), 0 rgba(0, 0, 0, 0);
    height: 150px;
    min-height: 150px;
}

#real-estate-card .card--small .price {
    font-size: 22px;
    opacity: 1;
    left: 215px;
    top: 80px;
    position: absolute;
}


#real-estate-card .card--small .card__image {
    border-radius: 1px 0 0 1px;
    left: 0;
    top: 0;
    width: 200px;
    opacity: 1;
    max-height: 200px;
}

#real-estate-card .card--small .card__image:after {
    opacity: 0;
}

#real-estate-card .card--small .card__title {
    color: #333;
    left: 200px;
    top: 10px;
    font-size: 18px;
    /* border-bottom: 1px solid #e0e0e0; */
}

#real-estate-card .card--small .card__subtitle {
    opacity: 1;
    left: 200px;
    top: 35px;
    font-size: 12px;
}

#real-estate-card .card--small .card__text {
    top: 30px;
    opacity: 0;
}

#real-estate-card .card--small .card__action-bar {
    left: 200px;
}

#real-estate-card .card--big span.price {
    font-size: 28px;
    line-height: 20px;
}

#real-estate-card .was-price {
    color: red;
    line-height: 10px;
    text-decoration: line-through;
}

#real-estate-card .save {
    color: #333;
    line-height: 10px;
}
#real-estate-card .save i {
    padding-right:5px
}

#real-estate-card .show-rating .bussiness-comments{
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 15px;
}

@media(max-width: 599px){
    #real-estate-card .xs-visible{
        display:none;
    }
}

.btn-group-sm>.btn, .btn-sm {
    line-height: 1.42857143 !important;
}
.search-header i{
    font-size: 22px;
    line-height: 35px;
    color: #333333;
}

.list-section{
    transition: .5s !important;
}


@media(min-width: 767px){
    .map-section{
        position: fixed;
        z-index: 2;
        padding-right: 0px;
        padding-left: 0px;
    }
    #map{
        height: 100vh !important;
    }
    .list-section{
        float: right;
        background: #f6f6f6;
        position: relative;
        -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
        box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.25);
        z-index: 5;
    }
    .open-map{
        background: #ffffff;
        border-radius: 50%;
        padding: 10px 10px;
        font-size: 20px;
        color: #333333;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
        font-weight: 100;
        position: fixed;
        z-index: 10;
        top: 50vh;
        cursor: pointer;
        margin-left: -35px;
    }
    .transform .open-map{
        position: fixed !important;

    }
    #all-content{
        overflow-x: hidden;
    }
}

@media(max-width: 767px){
    .map-section{
        position: relative;
        padding-right: 0px;
        padding-left: 0px;
    }
    #map{
        height: 350px !important;
    }
    .list-section{
        background: #f6f6f6;
    }
    .open-map{
        display:none;

    }
    .left-button span.btn {
        width: 100%;
        margin-bottom: 1em;
    }
    input[type="range"] {
        width: 70% !important;
    }
    #real-estate-card .card--small .card__action-bar {
        left: 184px;
    }
    #real-estate-card .card__action-bar {
        border-top: 0px solid #E0E0E0;
    }
    #real-estate-card .card--big .card__action-bar {
        left: -16px;
    }
    #real-estate-card button {
        font-size: 14px !important;
    }
}

.transform .text-hidden{
    display:none;
}

.transform #real-estate-card .card--small .card__image {
    width: 100%;
    z-index: 2;
}

.transform #real-estate-card .card--small .card__title {
    z-index: 3;
    top:0;
    left:0;
    background-color: rgba(33, 150, 243, 0.75);
    color: white;
    padding: 10px;
    font-size: 14px;
}

.transform #real-estate-card .card--small .card__text span.price{
    z-index: 3;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
}

.right-button{
    float: right;
}
.transform .right-button{
    float: left;
}

.breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 6px 6px;
    background-color: transparent;
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 0px;
    margin: 0px 0;
    border-left: 3px solid #2196f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    z-index: 10;
    position: absolute;
    width: 100%;
}

.energetic_class {
    padding: 12px 18px;
    margin: 0px 0px 0px -8px;
    font-size: 14px;
    line-height: 38px;
}


.ribbon-wrapper-green {
    width: 86px;
    height: 89px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ribbon-green {
    font: bold 10px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -7px;
    top: 18px;
    width: 120px;
    background-color: #ffa300;
    color: rgb(0, 0, 0);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
    z-index: 9;
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #323232;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 1px;
}
.ribbon-green:after {
    right: -2px;
}


.ui.teal.ribbon.label {
    border-color: #ab0000 !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

.ui.teal.labels .label, .ui.teal.label {
    background-color: #c90000 !important;
    border-color: #c90000 !important;
    color: #FFFFFF !important;
}
.ui.ribbon.label {
    left: calc( -5px - 10px );
    margin-right: -1.2em;
    padding-left: calc( 1rem + 1em );
    padding-right: 1.2em;
    font-size: 15px;
}
.ui.ribbon.label {
    position: relative;
    margin: 0em;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 15px 15px 0;
    border-color: rgba(0, 0, 0, 0.15);
}
.ui.labels .label, .ui.label {
    font-size: 0.85714286rem;
}
.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.ui.ribbon.label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0%;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0em 1em 1em 0em;
    border-color: transparent;
    border-right-color: inherit;
    width: 0em;
    height: 0em;
}
.ribbon-listing {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}
