/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2017, 2:19:11 PM
    Author     : Erald
*/



#announce-detail {
    letter-spacing: .005em;
    margin-top:20px;
    margin-bottom: 20px;
}
#announce-detail .table {
    margin-bottom: 0px;
    background: white;
    font-size: 12px;
}
#announce-detail .table tr td.re-features {text-transform: uppercase;}
#announce-detail .align-middle, #announce-detail .card .card-header *:not(.material-icons) {
    vertical-align: middle;
}

#announce-detail .card {
    position: relative;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#announce-detail .card .announce-category {
    background: #2e2e2e;
    color: white;
    padding: 20px 25px;
    position: absolute;
    top: 0;
    left: 0px;
}
#announce-detail .card .announce-category i {

    font-size: 30px;
}
#announce-detail .card .announce-time{
    font-size:18px;
    padding:20px;
    color:grey;
}
#announce-detail .card .announce-views{
    font-size:15px;
    color:grey;
    line-height: 30px;
}
#announce-detail .card .announce-name{
    font-size: 15px;
    line-height: 30px;
    /* color: grey; */
}
#announce-detail .card .announce-name i {
    padding-right:10px;
}

#announce-detail .card hr {
    padding: 0;
    margin: 0;
}

#announce-detail .card .card-header {
    padding: 1.15em 1.5em;
}
#announce-detail .card .card-main,
#announce-detail .card .card-footer {
    padding: 2.15em 1.5em;
}
#announce-detail .card .card-main p{
    margin:0px;
}

#announce-detail .card .card-header .card-title {
    margin: 0;
    font-size: 18px;
    line-height: 15px;
    display: inline-block;
    font-weight: 400;
}

.title-header {
    font-size: 18px;
    font-weight: 400;
}
.alert-business {
    color: #ffffff;
    background-color: #c90000;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}


.getsocial {
    float: right;
    font-size: 36px;
    margin-left: 10px;
    width: 25px;
}

.getsocial a {
    color: #565656;;
}
.getsocial a:hover {
    color:  #007ACC;
}
.share-in-social-area {
    background: #bbbbbb47;
    padding: 20px;
}
.shareSocial {
    margin-bottom: unset;
    float: right;
}

.sharepost li{
    color: #565656;
    font-size: 30px;
    float: left;
}

.small-font-size {
    font-size: 20px !important;
}
.medium-margin-bottom {
    margin-bottom:  10px;
}
.xs-margin-top {
    margin-top: 10px;
}

@media (max-width: 580px) {
    .small-font-size {
        font-size: 10px !important;
    }
}