/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2017, 6:32:10 PM
    Author     : Erald
*/
.banner-right {
    float: right;
    width: 100%;
    background: #fff;
    padding: 2em;
    margin: 3.5em 0 0;
}

.banner-right h3{
	font-size: 1.5em;
    color: #00B6FF;
    margin: 0 0 2em;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: .5em;
}
.banner-right h3:before,.banner-right h3:after{
	content:'';
	background:#212121;
	width:20%;
	height:1px;
	position:absolute;
	bottom:0%;
}
.banner-right h3 span::before{
	content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #212121;
    border-radius: 50%;
    position: absolute;
    left: 48.8%;
    bottom: -8%;
}
.banner-right h3:after{
	right:25%;
}
.banner-right h3:before{
	left:25%;
}
select#country,select#country1,select#country2,select#country3 {
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid #CFCFCF;
    color: #999;
    font-size: 14px;
    outline: none;
    position: relative;
}
.section_room span,.keywords span {
    position: absolute;
    color:#727272;
    z-index: 9999;
    top: .9em;
    left: 1em;
}
.section_room span.tent{
	background: url(../images/img-sp.png) no-repeat -54px -70px;
    display: block;
    width: 24px;
    height: 18px;
}
.section_room span.bath{
	background: url(../images/img-sp.png) no-repeat -96px -67px;
    display: block;
    width: 24px;
    height: 19px;
}
.section_room,.keywords {
    position: relative;
}
.section_room:nth-child(2),.reservation-grids:nth-child(4){
	margin:1em 0;
}
.reservation-grid-left{
	float:left;
	width:48%;
}
.reservation-grid-right{
	float:right;
	width:48%;
}
.keywords input[type="text"]{
	width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid #CFCFCF;
    color: #999;
    font-size: 14px;
    outline: none;
	background:none;
	margin-bottom:1em;
}
.keywords input[type="submit"]{
	width: 100%;
    padding: 10px 0;
    border:none;
    color: #fff;
	text-transform:uppercase;
    font-size: 1em;
    outline: none;
	background:#F25086;
}
.keywords input[type="submit"]:hover{
	background:#00B6FF;
}