.glyphicon{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon{
    margin-right:0px !important; /*override*/
}

.pagination a{
    color:#555;
}

.footer{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item{
    margin:0px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: white;
}

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.0);
    box-shadow: 0 0px 0px rgba(0,0,0,.0);
}

.listing__column {
    display: inline-block;
    vertical-align: middle;
    max-width: 100px;
}

.listing__image {
    display: block;
    width: 100%;
}

.last-announces .ann-content i{
    padding: 0px 10px 8px 10px;
    font-size: 12px;
}
.last-announces .ann-content span{
    font-size: 10px;
    color: #666;
    line-height: 0;
}
.last-announces .title{
    color: #0c0c0c !important;
    font-weight: bold;
    font-size: 13px !important;
}
.last-announces .author{

}
.last-announces .date{

}