/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2017, 11:23:28 AM
    Author     : Erald
*/

/**********************************************/

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);


.myData .col-md-12 > h1,h2,h3,label,select{
  font-family: 'Lato';
  font-weight: 300;
}
.wizard {
  border-radius: 0 0 5px 5px;
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  /* margin: 40px auto; */
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
  background-color: #2e2e2e;
  box-shadow: inset 0px -5px rgba(0,0,0,0.25);
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
  background: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
  line-height: 65px;
}

.wizard li.active span.round-tab {
  color: #fff;
  background: #fff;
  background: rgb(201, 0, 0);
  border: 2px solid #1e1e1e;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
  color: #fff;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #ddd;
}

.wizard .nav-tabs > li {
  width: 25%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  border-bottom-color: #fff;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
  border-bottom-color: #fff;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  border: 0px solid transparent;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  /* padding: 20px 5px; */
}

.wizard h3 {
  margin-top: 0;
}
h1, h2, h3{
  color: #555;
}
label{
  text-align: center;
  font-size: 16px;
}
.btn{
  /* margin-top: 10px; */
  /* padding: 15px 25px; */
}
.progress{
  margin-top: 10px;
  /* background-color: red !important; */
}

@media( max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}

/* sm screen size */
/*@media only screen and (min-width: 768px) {
    body{font-size: 14px !important;}
}*/
/* xs screen size */
/*@media only screen and (max-width: 768px) {
    body{font-size: 100% !important;}
}*/




/**********************************************/
* {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    /* font-size: 100%; */
    /* font: inherit; */
    /* vertical-align: baseline; */
    /* -webkit-box-sizing: border-box; */
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}


.pricing-list {
    
}
.pricing-table {
    /* width: 80%; */
    /* margin: 50px auto; */
    text-align: center;
    /* padding: 10px; */
    /* padding-right: 0; */
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    /* font-size: 1.3rem; */
    /* margin-bottom: 4rem; */
}
.block{
    width: 100%;
    /* margin: 0 15px; */
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
    margin: 0px;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.free .price{
    position: relative;
    display: inline-block;
}
.free .price span{
    font-size: 6rem;
    /* letter-spacing: 8px; */
    font-weight: bold;
}
.free .price sup{
    font-size: 11px;
    position: absolute;
    top: 10px;
    left: -25px;
    text-transform: capitalize;
}
.free  .hint{
    font-style: italic;
    font-size: 12px;
}
.premium .price{
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    text-align: center;
}
.premium  .month{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    /* text-align: left; */
    margin-top: 6px;
}
.premium .price span{
    font-size: 30px;
    letter-spacing: 0px;
    font-weight: bold;
}
.premium .price sup{
    font-size: 11px;
    position: absolute;
    top: 45px;
    left: -25px;
}
.premium  .hint{
    font-style: italic;
    font-size: 12px;
}
.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #666;
    padding: 15px;
    font-size: 15px;
    margin: 0;
}
.sub-features{
    list-style-type: disc;
    background: #FFFFFF;
    text-align: left;
    padding: 5px 20px;
    font-size: 14px;
    margin: 0;
}
.features hr{margin: 5px 0;}
.features li{
    padding: 8px 0;
    width: 100%;
}
.features li:last-child{
    padding: 10px 0 0 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    text-transform: capitalize;
}
/*PERSONAL*/
.personal .title{
    background: #1e1e1e;
}
.personal .content,.personal .pt-footer{
    background: #2e2e2e;
}
.personal .content,.personal .pt-footer a, .professional .content, .professional .pt-footer a{
    color: #ffffff;
}
.personal .content:after{
	border-top-color: #2e2e2e;
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #1e1e1e;
}
.professional .content,.professional .pt-footer{
    background: #c90000;
}
.professional .content:after{
	border-top-color: #c90000;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{	
	border-top-color: #EB6379;	
}
.business .pt-footer:after {	
	border-top-color: #FFFFFF;	
}



/*****Ribbon*****/

.ribbon-wrapper-green {
    width: 86px;
    height: 89px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 12px;
    z-index: 26;
}

.ribbon-green {
    font: bold 12px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 18px;
    width: 120px;
    background-color: #c90000;
    color: rgb(255, 255, 255);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #323232;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}


.ui.teal.ribbon.label {
    border-color: #ab0000 !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

.ui.teal.labels .label, .ui.teal.label {
    background-color: #c90000 !important;
    border-color: #c90000 !important;
    color: #FFFFFF !important;
}
.ui.ribbon.label {
    left: calc( -5px - 10px );
    margin-right: -1.2em;
    padding-left: calc( 1rem + 1em );
    padding-right: 1.2em;
    font-size: 15px;
}
.ui.ribbon.label {
    position: relative;
    margin: 0em;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 15px 15px 0;
    border-color: rgba(0, 0, 0, 0.15);
}
.ui.labels .label, .ui.label {
    font-size: 0.85714286rem;
}
.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.ui.ribbon.label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0%;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0em 1em 1em 0em;
    border-color: transparent;
    border-right-color: inherit;
    width: 0em;
    height: 0em;
}
.ribbon-listing {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}




/***************************************************************/



.listing__column {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
}

.listing__image {
  display: block;
  width: 100%;
}


.last-announces .ann-content i{
    padding: 0px 10px 8px 10px;
    font-size: 12px;
}
.last-announces .ann-content span{
    font-size: 10px;
    color: #666;
    line-height: 0;
}
.last-announces .title{
    color: #0c0c0c !important;
    font-weight: bold;
    font-size: 13px !important;
}
.last-announces .author{
    
}
.last-announces .date{
    
}