/*------------------- Menu styling -------------------- */
@media(min-width:768px){
    .navbar ul li {
        margin-left: 20px;
    }
}
ul.menu-items {
    display: table !important;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.navbar ul li:first-child {
    margin-left: 0;
}
.navbar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 24px

}
.navbar .dropdown-menu>li>a{
    color: inherit;
}

.navbar li:hover , .navbar li.active {

}
.firstanchor span:active{
    display: none !important;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
