/*  Tmpl10  style */

/*------------------- General Styling -------------------- */
@import url(http://fonts.googleapis.com/css?family=Neucha);
body {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*font-family: 'Shadows Into Light Two', cursive;*/
    font-family: 'Neucha', cursive;
}

img {
    border: none;
}

a {
    transition: all 0.3s ease 0s;
    color: #422422;
}

a:hover, a:focus, a.active, li.active a {
    color: black;
    text-decoration: none;
}

#toTop {
    position: fixed;
    bottom: 47px;
    right: 13px;
    cursor: pointer;
    display: none;
    z-index: 3;
    background-color: #FE6222;
    border-color: #FE6222;
}

.navbar-toggle {
    border: 1px solid rgb(0, 0, 0);
}

.navbar-toggle .icon-bar {
    background: black;
}

/* - Logo - */
#header div.logo {
    width: 100%;
    float: left;
}

#header div.logo img {
    display: inline-block;
    width: 100%;
}

/* - Navbar - */
#navbar{
    float: left;
    padding: 0px;
}
#header .navbar {
    margin-bottom: 0px;
    background-color: #422422;
    min-height: 36px;
    border-bottom: 2px solid #C28E54 !important;
    border-radius: 0;
    border-color: rgb(255, 255, 255);
}
#header .navbar li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0px 0 -4px;
    line-height: normal;
    direction: ltr;
}
#header .navbar li:first-child {

    margin: 0;

}
#header .navbar li a{
    padding: 10px 15px;
    color: #FFF;
    font-size: 15px;
    line-height: 16px;
    text-decoration: none;
    font-weight: 100;
    text-transform:capitalize;
}
#header .navbar li.dropdown a:hover{
    background: #c28e54;
    color: #FFF !important;
    cursor:pointer;
}

/****Dropdown****/
#customized-menu ul.dropdown-menu {
    background-color: #c28e54 !important;
    padding: 0 !important;
    width: 0px !important;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25) !important;
    box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.25) !important;
    left: inherit;
}
#customized-menu ul.dropdown-menu a {
    font-size: 15px !important;
    color: white !important;
}
#customized-menu ul.dropdown-menu li:hover {
    background-color: #BA6D00 !important;
}
#customized-menu ul.dropdown-menu li:first-child {
    margin-top: 0px !important;
}

#customized-menu ul.dropdown-menu li a:hover {
    color: white;
    background-color:transparent !important;
}
#customized-menu ul.dropdown-menu li {
    padding: 0 !important;
    float: left;
    width: 100% !important;
    margin: 0 0px 0 0px;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid #cccccc;
}
#customized-menu ul.dropdown-menu li:last-child {
    margin-bottom: 0px !important;
}
#customized-menu ul.dropdown-menu li:first-child {
    border-top:0px;
}


/*------------------- Header section styling -------------------- */

#pos-htop {
    background-color: #F0F0F0;
    padding-top: 1px;
    padding-bottom: 1px;
}
#pos-hmiddle {
    background-color: white;
    padding: 10px 0;
}
#pos-hbottom {
    background-color: white;
    margin-bottom: 0px;
}


/*** Il mio Account ***/
#pos-htop #pb_2 {
    float:left;
}
#pos-htop #pb_2 a{
    background: transparent;
    border:0px;
    border-radius:0px;
    transition: .25s;
    color: #a7a7a7;
    font-size: 14px;
}
#pos-htop #pb_2 a:hover {
    color: #FFF;
    background-color: #AAA;
}

/*** Language Flags ***/
#pb_3 {
    float: right;
}
button.flag-button img {
    margin-top: 3px;
    border-radius: 0px !important;
}

/*** Nr Verde & Search position ***/
#pb_5 {
    margin-top: 10px;
    text-align: right;
}
#pb_7 {
    float: right;
}

/***************** BUTTONS *******************/

.button,
.button_std {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    padding: 8px 14px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.button-mini, .btn-edit {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 12px;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    background-color: #422422;
    color: white;
}

.btn-primary, .btn-addCart, .btn-login, .button_std {
    color: white;
    background-color: #F8B333;
    text-transform: uppercase;
}
.btn-primary:hover, .btn-addCart:hover, .button_std:hover {
    background-color: #422422;
    cursor: pointer;
}

/********* BOX SEARCH ***********/

.search input[type="text"] {
    border: 1px solid #F8B333;
    padding: 7px 7px 7px 7px;
    min-width: 200px;
    display: block;
    float: left;
    margin: 0;
    background-color: #E3DCEA;
    color: #422422;
    /*border-radius: 5px 0 0 5px;*/
}

.search > form > .minibutton {
    float: left;
    padding: 8px 12px;
    background-color: #F8B333;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /*border-radius: 0 5px 5px 0;*/
}

.search > form > .minibutton:hover {
    background-color: #422422;
}


/************ CARRELLO MINI **************/

.cartmini {
    font-size: 14px;
}

.cartmini > div {
    min-width: 200px;
}

.cart-title {
    background-color: #422422;
    color: white;
    padding: 10px 14px;
    font-size: 1.3em;
}
.cart-title > i {
    margin-right: 5px;
}
.cart-summary {
    position: relative;
    background-color: #F0F0F0;
    color: #a7a7a7;
}
.cart-summary:after {
    position: absolute;
    font-family: FontAwesome;
    top: 13px;
    right: 10px;
    content: "\f103";
}
.cart-summary > a {
    display: block;
    padding: 10px 14px;
    color: #422422;
}
.cart-summary a {
    text-decoration: none;
}
.cart-list {
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0;
    padding: 8px;
    background-color: white;
    color: #180036;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px rgba (0,0,0,0.18);
    -webkit-box-shadow: 0px 0px 5px rgba (0,0,0,0.18);
    border: 1px solid #ddd;
}
.cart-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.cart-list ul li {
    display: block;
    margin: 0 0 3px 0;
    overflow: hidden;
    padding: 3px 0;
    border-top: 1px solid #ECECEC;
}
.cart-list ul li:first-child {
    border-top: none;
}
.cart-list ul li > img {
    float: left;
    width: 30%;
}
.cart-list ul li .cart-detail {
    float: right;
    font-size: 0.8em;
    width: 69%;   
}
.cart-list ul li .cart-detail a {
    color: #a7a7a7;
}
.cart-list ul li .cart-detail-title {
    margin-bottom: 5px;
    color: #333;
}
.cart-list ul li .cart-detail-price {
    text-align: right;
    color: #333;
}
.cartmini .cart-footer {
    border-top: 1px solid #ECECEC;
    padding-top: 5px;
}
.cart-list .cartmini-tot {
    display: block;
    margin: 4px 0;
    float: left;
    font-weight: 600;
}
.cart-list .btn-checkout {
    float: right;
}
.btn-checkout {
    color: white;
    background-color: #422422;
    border: 0;
}
.btn-checkout:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dea868', endColorstr='#dea868');
    background: -webkit-gradient(linear, left top, left bottom, from(#dea868), to(#dea868));
    background: -moz-linear-gradient(top, #dea868, #dea868);
    background: -o-linear-gradient(top, #dea868, #dea868);
    background: -ms-linear-gradient(top, #dea868, #dea868);
    cursor: pointer;
}



/*------------------- Body section styling -------------------- */
#pos-cmiddle {

    padding-bottom: 15px;
    min-height: 200px;
}

#pos-cmiddle.container-fluid {
    background-color: white;
    border-top: 1px solid #aaa;
}

#pos-cmiddle div.body-container {
    overflow: hidden;
}

.contact-page {
    padding-top: 15px;
}

.article_std_container {
    padding-top: 15px;
}

#pb_3 #navbar_3 {
    padding: 0px;
    margin-top: 10px;
}

#pb_3 #navbar_3 ul li.active {
    border-bottom: 2px solid #cf434e;
}

#pb_3 li {
    font-size: 14px;
}

.menu-links {
    margin: 0px auto;
    display: table;
    font-size: 11px;
}

.li-links {
    float: left !important;
    margin: 3px;
    list-style-type: none;
}

.li-links > a:hover {

}


#pos-cbottom {
    color: black;
    padding: 15px;
    background-color: white;
}

.title-ristorante {
    padding: 10px;
    text-align: center;
}

.menu-title {
    /* color: #B33D3D; */
    /* font-weight: bold; */
    /* padding-left: 40px; */
}

.menu-lista {
    font-size: 20px;
    color: #6F6C6C;
}

.cls-menu {
    border-radius: 10px;
}

/*------------------- Footer section styling -------------------- */
#pos-ftop {
    background-color: #c28e54;
    padding: 10px 0;
}
#pos-fmiddle {
    background: #f6e9d9;
}
#pos-ftop .social-network a{
    float:left;
    display: block;
    font-size: 16px;
    margin: 14px 0;
    color: #422422;
}
#pos-ftop .social-network a:hover {
    color: white;
}

#pb_12{
    position:absolute;
}

#pb_13 .newsletter-input{
    float: right;
}
#subscribe h3{
    display:none;
}
#pb_14{
    float:right;
}
#pb_14 .newsletter-title{
    font-size: 18px;
    margin-top: 7px;
    color: white;
    text-transform: uppercase;
    margin-right: 10px;
}

#subscribe{
    margin-bottom: 6px;
}
#subscribe #subscribe-btn {
    background-color: #422422;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 13px;
    border-radius: 0;
    margin-left: 5px;
}
#subscribe input{
    border: 1px solid #422422;
    padding: 8px;
    font-size: 13px;
    border-radius: 0;
    height: 33px;
}

/********Footer-Info**********/

#pb_15 .footermenu .title {
    color: #FFFFFF;
    margin: 0;
    padding: 10px 0;
}
.f-info img {
    width:100%
}

.footermenu .title {
    color: #422422;
    font-size: 15px;
    text-transform: uppercase;
}

.footermenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footermenu ul li {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    color: #F8B333;
    font-size: 14px;
}

.footermenu ul li a {
    transition: all 0.3s ease 0s;
    color: #6b6566;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
}
.footermenu ul li a:hover {
    color: #422422;
}



#pos-fmiddle .f-info {
    /* background-color: #422422; */
}

#pos-fmiddle #pb_15 {   /* Store Information Box */
    background-color: #422422;
    /* float: right; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    /* min-height: 220px; */
    padding: 30px;
}

#pos-fmiddle #pb_15 ul li {
    margin-bottom: 15px;
}

#pos-fmiddle #pb_15 ul li a, #pos-fmiddle #pb_15 ul li .white {
    color: #3f9800;
    font-weight: bold;
}

#pos-fmiddle #pb_15 ul li > i {
    display: inline-block;
    width: 30px;
    font-size: 1.8em;
    color: #F8B333;
}

/********Footer-Menu**********/
.f-menu .simple-menu{
    width: 33.3%;
    float: left;
}
.f-menu .simple-menu .menu-title{
    color: #422422;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: bold;
}
.f-menu .simple-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.f-menu .simple-menu ul li{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    color: #F8B333;
    font-size: 14px;
}
.f-menu .simple-menu ul li a {
    transition: all 0.3s ease 0s;
    color: #6b6566;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
}


.parag-links {
    font-size: 12px;
    text-align: center;
}

#pos-fbottom {
    background-color: #1F1D1E;
    color: #6b6566;
    font-size: 12px;
    overflow: hidden;
    /* margin-top: 20px; */
    padding: 5px;
}

.copyright-text{
    float: left;
    padding-top: 5px;
}

.poweredby {
    float: right;
    font-size: 0.9em;
}

.poweredby a {
    font-weight: bold;
}

.btn-primary, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #B33D3D;
    color: white;
    border-color: #B33D3D;
}

#pos-fbottom .generic-static-block {
    float: left;
}



/*------------------- Responsive Code -------------------- */

@media (min-width: 768px) {
    #pos-hmiddle div.generic-menu {
        float: right;
        margin-top: 35px;
    }

    #pb_3 ul.menu-items {
        display: table !important;
        width: 100%;
        border-collapse: collapse;
        border: none;
    }

    #pb_3 #navbar_3 ul li a {
        padding: 10px 10px;
    }

    #pb_3 ul.menu-items li {
        display: table-cell;
        margin: 0 !important;
        float: none;
        text-align: center;
    }
}

@media (max-width: 992px) {
    #header div.logo {
        width: 150px;
        text-align: center;
    }

    #pos-sidebar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #pb_3 .menu-items li > a {
        font-size: 10px !important;
    }
}

@media (min-width: 992px) {
    #pb_3 .menu-items {
        margin-right: 0px;
    }
}
