/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 3:26:11 PM
    Author     : Erald
*/

/******Tab Menu Search Box********/

#pb_86 {
    position: absolute;
    z-index: 15;
    margin-top: 50px;
}
.tabbable.custom-tabs>.nav-tabs,
.tabbable.custom-tabs>.nav-tabs>li,
.tabbable.custom-tabs>.nav-tabs>li>a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: none;
    background-image: none;
}

#portal-search .tab-main-title {
    font-size: 18px;
}

.tabbable.custom-tabs>.nav-tabs>li>a {
    padding: 20px 25px;
    margin-right: 3px;
    background-color: rgba(5, 5, 5, 0.75);
    color: #ffffff;
    -o-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -moz-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -ms-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -webkit-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -o-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -ms-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -moz-transition-duration: .15s;
    -o-transition-duration: .15s;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
}
.tabbable.custom-tabs>.nav-tabs>li>a:hover {
    background-color: rgba(5, 5, 5, 0.9);
}
.tabbable.custom-tabs>.nav-tabs>li.active>a {
    background-color: #ffa300;
    color: #000000;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    /* box-shadow: none; */
    -o-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -moz-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -ms-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -webkit-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    text-shadow: 0 1px 1px #fff 1px 1px #fff;
}
.tabbable.custom-tabs>.nav-tabs>li.active>a::before{
    content: '';
    position: absolute;
    left: 40%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffa300;
    clear: both;
}
.tabbable.custom-tabs>.nav-tabs>li.active>a:hover {
    border: none;
    background-color: #ffa300;
}
.tabbable.custom-tabs>.nav-tabs>li.active:hover>a::after{
    content: '';
    position: absolute;
    left: 40%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0c0c0c;
    clear: both;
}
.tabbable.custom-tabs>.tab-content {
    /* background: rgba(255, 255, 255, 0.75); */
    background: rgba(5, 5, 5, 0.75);
    padding: 20px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 4px 4px 4px;
}
.tabbable.custom-tabs>.tab-content>.tab-pane {
    -webkit-animation-duration: 0;
    -moz-animation-duration: 0;
    -o-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: fadeInUp;
    -moz-backface-visibility: visible!important;
    -moz-animation-name: fadeInUp;
    -o-backface-visibility: visible!important;
    -o-animation-name: fadeInUp;
    backface-visibility: visible!important;
    animation-name: fadeInUp
}
.tabbable.custom-tabs.tabs-below>.tab-content {
    border-radius: 4px 4px 4px 0
}
.tabbable.custom-tabs.flat>.nav-tabs>li>a,
.tabbable.custom-tabs.flat>.nav-tabs>li.active a {
    border-radius: 0;
}
.tabbable.custom-tabs.flat>.tab-content {
    border-radius: 0
}
.tabbable.custom-tabs.mini>.nav-tabs>li>a {
    padding: 8px 10px
}
.tabbable.custom-tabs.small>.nav-tabs>li>a {
    padding: 10px 15px
}
.tabbable.custom-tabs.large>.nav-tabs>li>a {
    padding: 15px 20px
}
@media screen and (max-width:980px) {
    .tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a {
        min-width: 0;
        text-align: center;
        padding: 15px
    }
    .tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a>span {
        /* display: none */
    }
    .tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0
    }
}
@media screen and (max-width:768px) {
    .tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a {
        min-width: 0;
        text-align: center;
        padding: 15px
    }
    .tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a>span {
        display: none
    }
    .tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0
    }
}
@media screen and (max-width:480px) {
    .tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a {
        min-width: 0;
        text-align: center;
        padding: 15px
    }
    .tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a>span {
        display: none
    }
    .tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0
    }
}

.search-background img {
    width: 100%;
}
.well-searchbox {
    border-top: 1px solid gainsboro;
    min-height: 20px;
    /* min-width: 580px; */
    /* padding: 20px; */
    /* position: absolute; */
    /* z-index: 80; */
    /* top: 90px; */
    /* left: 0px; */
    /* background: rgba(5, 5, 5, 0.75); */
    padding: 15px;
    /* border: 1px solid #101307; */
    border-radius: 2px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    overflow: hidden;
    margin-top: 15px;
}
.well-searchbox .search-heading{
    color: white;
    font-size: 20px;
    margin: 10px 0 20px 0;
}

@media (max-width: 768px) {
    .well-searchbox {
        min-width: 100% !important;
    }
}
@media (max-width: 600px) {
#pb_93 {
    left: 0;
    top: 12em;
}
.well-searchbox tr td{
        display:inline;
    }

}
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*    .overlay{
    background: #000;
    bottom: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s, bottom 0s .3s;
    z-index: 310;
}

.superclass:hover .overlay{
    bottom: 0%;
    opacity: .6;
    transition: opacity .5s;
}

.superclass:hover .well-searchbox{
    z-index: 311 !important;
}*/



.price-value,.sq-value {
  font-size: 18px;
  margin: 5px;
  color: white;
  float: right;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #8f8f8f;
  width: 70%;
  height: 5px;
  border-radius: 5px;
  margin: 15px auto;
  outline: 0;
  float: left;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #2095f2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
  input[type="range"]::-webkit-slider-thumb:hover {
/*    background-color: white;
    border: 2px solid #2095f2;*/
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }



  .range-slider {
  /* margin: 60px 0 0 0%; */
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}


.range-slider__value {
  display: inline-block;
  position: relative;
  width: 90px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  border-radius: 3px;
  background: #2095f2;
  padding: 5px 10px;
  margin-left: 10px;
}
.range-slider__value:after {
  position: absolute;
  top: 10px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #1f94f1;
  border-bottom: 7px solid transparent;
  content: '';
}
.price .range-slider__value:before {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 0;
  height: 0;
  content: '€';
}
.square-meter .range-slider__value:before {
  position: absolute;
  top: 5px;
  right: 25px;
  width: 0;
  height: 0;
  content: 'm²';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid rgb(0, 153, 221) !important;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: rgb(33, 150, 243)url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiI…lsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K) !important;
}

#advanced-form {
    border-top: 1px solid gainsboro;
    margin-top: 2em;
    padding-top: 1em;
}

#search-result table td {
    padding: 0px 20px 5px 0;
    border-top: 0px solid #ddd;
}
#advanced-form {
    display: none;
}