/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 7:57:11 PM
    Author     : Erald
*/

@media (min-width: 767px) {
    .lastcompany .thumbnail {
    }
}

.lastcompany .thumbnail {
    padding: 0px;
    margin-bottom: 0px;
    border: 0px solid white;
    border-radius: 0px;
}

.lastcompany #companyCarousel {
    margin-right: 0px;
}

ul.thumbnails li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .lastcompany ul.thumbnails {
        padding-left: 0px;
    }

    .lastcompany #companyCarousel {
        margin-right: 0px;
    }

    .lastcompany .well {
        padding: 0px;
    }
}

.carousel-control {
    background: none !important;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin: 0px -5px;
    width: 0;
}

.carousel-control.left i {
    margin-left: -60px !important;
}

.carousel-control.right i {
    margin-right: -60px !important;
}

@media (max-width: 768px) {
    .carousel-control.left i, .carousel-control.right i {
        display: none;
    }
}

ul.pager {
    display: none;
}

ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

.button_align {
    text-align: center;
}

.fff {
    margin: 30px 0;
}

@media(min-width: 768px){
    .ribbon-mobile {
        display: none; 
    }
    .ribbon-desktop {
        display: block; 
    }
}
@media(max-width: 767px){
    .ribbon-mobile {
        display: block; 
    }
    .ribbon-desktop {
        display: none; 
    }
}

.ribbon-wrapper-green {
    width: 86px;
    height: 89px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 13px;
    z-index: 14;
}

.ribbon-green {
    font: bold 10px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -6px;
    top: 18px;
    width: 120px;
    background-color: #ffa300;
    color: rgb(0, 0, 0);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #323232;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 1px;
}
.ribbon-green:after {
    right: 0;
}


.ui.teal.ribbon.label {
    border-color: #ab0000 !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

.ui.teal.labels .label, .ui.teal.label {
    background-color: #c90000 !important;
    border-color: #c90000 !important;
    color: #FFFFFF !important;
}
.ui.ribbon.label {
    left: calc( -5px - 10px );
    margin-right: -1.2em;
    padding-left: calc( 1rem + 1em );
    padding-right: 1.2em;
    font-size: 15px;
}
.ui.ribbon.label {
    position: relative;
    margin: 0em;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 15px 15px 0;
    border-color: rgba(0, 0, 0, 0.15);
}
.ui.labels .label, .ui.label {
    font-size: 0.85714286rem;
}
.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.ui.ribbon.label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0%;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0em 1em 1em 0em;
    border-color: transparent;
    border-right-color: inherit;
    width: 0em;
    height: 0em;
}
.ribbon-listing {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}


.news-business i.fa {
    font-size: 18px;
}
.main-addres i.fa {
    font-size: 14px;
}
.news-business p {
    color: #777;
    margin-bottom: 2px;
}
.news-business .main-comune{
    text-transform: uppercase;
}
.news-business .main-addres{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 8px;
    margin-bottom: 8px;
    text-transform: capitalize;
}


.location-height{
    /* height: 30px; */
}
.location-height .specifics i{
    color: #777;
    padding-right:5px;
    font-size: 14px;
}
.location-height .specifics{
    font-size: 14px;
    color: #777;
}
.specifics-icons{
    margin-left: 40px;
}
.specifics.energetic_class, .specifics.rooms, .specifics.bathrooms{
    float: left;
    padding: 0px 2px;
}
.energetic_class{
    position: absolute;
    padding: 10px 20px;
    margin: -9px 0px 0px -10px;
    font-size: 14px;
}

.specifics.square-meter{
    float:right;
    padding: 0 10px;
}


.news-business .main-sito a{
    color: #555555;
}
.news-business .main-phone span{
    font-weight: bold;
}
.news-business .main-verde span{
    color: #009542;
    font-weight: bold;
}
.main-description {
    border-bottom: 0px solid gainsboro !important;
    padding-bottom: 0px !important;
    margin: 0 0 0px;
    font-size: 14px;
}
.lastcompany span.main-comune a {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    background: #0095e5;
    width: 100%;
    display: table;
    margin: 0;
    padding: 5px 10px;
}
span.main-comune a {
    color: white;
}
span.price{
    color: white;
    background: rgba(0, 149, 229, 0.75);
    position:absolute;
    top: 10px;
    left: 25px;
    padding: 5px;
}


.carousel-control {
    opacity: 1 !important;
}

.left.carousel-control span, .right.carousel-control span{
    background: #ffffff;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 18px;
    color: #0095e5;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    font-weight: 100;
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px){
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        margin-top: -40px;
    }
}
