.archive-year a {
    text-decoration: none;
}
ul.archive_month {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.archive_month li {
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom: 15px;
}

.ul.archive_month li a {
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.archive_month li a span {
    display: inline-block;
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    margin-right: 15px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}