.post-detail-wrapper {
    background: white;
    padding: 10px;   
}

.is-flex-row {
   display: flex;
   flex-wrap: wrap;
}

.height-auto-center {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.share-social-items li{
    float: left;
    margin-right: 5px;
    background: #d4d1d1;
    padding: 10px;
}