.news-items .img-div .news-img {
    width: 100%;
}

.news_list .news-date {
    font-weight: bold;
}
.news-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media(max-width:767px) {
.news_list {
    margin: 0px;
}
}
.news-title{
    margin: 0 0 5px;
}
.news-title a{
    font-weight: bold;
}
.news-title a:hover {
    text-decoration: none;
}
.news-description {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    margin: 0 0 5px;
}

.meta-tags{
    line-height: 14px;
    margin: 10px 0px;
    color: #999;
}
/*.content-head{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}*/
.content-head span{
    font-size: 14px;
    display: inline-block;
    padding-top: 5px;
}
.content-head span.month {
    font-size: 13px;
    color: #928e8e;
    margin-right: 10px;
    display: inline-block;
}

.content-head span.day{
    font-size: 13px;
    color: #928e8e;
    display: inline-block;
    margin-left: 15px;
}
.content-head span.year{
    font-size: 13px;
    color: #928e8e;
    display: inline-block;
}
.content-head .article-author{
    font-size: 13px;
    color: #928e8e;
    line-height: 2.5em;
}

.meta-tags span {
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
}
.meta-tags .fa {
    color: #505050;
    font-size: 14px;
    margin-right: 5px;
}
.leggi{
    font-size: 12px;
    display: inline-block;
}
.leggi a:hover{
    text-decoration: none;
}

.article_std_container {
    background: white;
    border-radius: 0px;
    border-top: none !important;
    margin-top: 10px;
    margin-bottom: 70px;
}
.article-title{
    font-size: 24pt;
}

.article_std_container .article-body .article-image {
    /* margin-right: 10px; */
    padding-left: 0px;
    /*    float: left;*/
}

.article_std_container .content {
    padding: 10px;
}
.article_std_container .article-header .article-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;

}
.article_std_container .article-header .article-subtitle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
    border-left: 1px solid;
    padding-left: 10px;
}

.article_std_container .article-body {
/*    padding-left: 0px;*/
}

.article-date {
/*    float: right;*/
}
#news-list .thumbnail{
    overflow: hidden;
    margin-bottom: 30px;
}
@media(max-width: 991px){
    .news-items .img-div .news-img {
        margin-bottom: 25px;
    }
}
@media(min-width: 992px){
    #news-list .thumbnail{
        display: flex;
    }
}

.news-items {
    margin-bottom: 30px;
}
#comment-box .well-styled{
    border: 0px solid #e3e3e3;
    border-radius: 0px;
    margin-bottom: 0px;
}
#comment-box .alert{
    margin: 20px;
}
.thumbnail {
        padding: 0px;
        margin-bottom: 0px;
        border: 0px solid white;
        border-radius: 0px;
    }

    .button_align {
        text-align: center;
    }
    .fff {
        margin: 30px 0;
        background: white;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        transition: .5s;
    }

    .fff:hover {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }

    .alldiv-text {
        padding: 10px;
        font-size: 12px;
    }
    .title {
        padding-bottom: 10px;
        border-bottom: 1px dotted gainsboro;
    }

@media(max-width:992px) {
    .article_std_container .article-body .article-image {
        padding-right: 0px;        
        margin-right: 0px;
        width: 100%
    }

/*    .article_std_container .article-body {
        padding-right: 0px;
        padding-left: 0px;
    }*/
}
/*******************************************/
/*HOVER IMAGE*/
.hover-img {
  z-index: 1;
  display: block;
  position: relative;
  /* background: #002023; */
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-icon,
.hover-img [class*=" hover-icon-"] {
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.hover-img .hover-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.hover-img:hover .hover-icon,
.hover-img:hover .hover-icon-group {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img:hover .hover-icon {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover >img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

/*******************************************/
/*ICONS EFFECTS*/
i.fa-link {
  z-index: 2;
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.round {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.article_std_container .share-button {
    margin: 0 auto;
    float: none;
    position: relative;
    display: table;
}

.article_std_container .social-button {
    /* border-top: 1px dotted gainsboro; */
    padding: 30px 0px 20px 0px;
    margin-top: 5px;
    /*background: rgb(46, 46, 47);*/
    background: white;
    margin: 5px -15px -15px -15px;
}
.content-head {
    background: #f7f4f4;
    height: 40px;
}