/* 
    Created on : May 26, 2017, 3:24:43 AM
    Author     : Antonio Rotundo - Blue Hat sh.p.k.
*/

.article-standard {}
.article-standard h2.title {}
.article-standard h3.subtitle {}
.article-standard .info { font-size: 0.8em; color: #b5b5b5; margin-bottom: 10px; }
.article-standard .author { }
.article-standard .description { font-size: 1.15em; text-align: justify; }
.article-standard .image {  }
.article-standard .image.image-to-left {
    float: left;
    margin: 0 10px 10px 0;
}
.article-standard .image.image-to-right {
    float: right;
    margin: 0 0 10px 10px;
}