.article-container {}

.article-container .title {
    font-size: 24px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    color: #222222;
    padding-bottom: 10px;
}
.article-container .subtitle {
    font-size: 15px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    color: #222222;
    padding-bottom: 10px;
}
.article-additional-images .additional-image {
    margin-bottom: 30px;
}
.article-content {
    font-size: 16px;
    margin-bottom: 25px;
}
ul, ol {
    padding-left: 0;
}
.article-information li {
    display: inline-block;
    margin-right: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 15px;
    color: #666;
}
.article-information {
    margin-bottom: 17px;
}
.article-container .author {}
.article-container .date {}
.article-container .category {}
.article-container .content {}
.article-container .image {}
.article-container .additional-images {}
.article-container .tags {}
