/** ====================
 * Comment box
 =======================*/
* {
    margin: 0;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** ====================
 * List of comments
 =======================*/
.comments-container {
    margin: 0px auto;
    width: 100%;
}

.comments-list {
    position: relative;
}

/**
 * Lines / Details
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0px;
    left: 28px;
    width: 10px;
    height: 10px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar picture
 ---------------------------*/
.comments-list .comment-avatar {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 8px;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Commenting box
 ---------------------------*/
.comments-list .comment-box {
    width: 100%;
    /* float: right; */
    position: relative;
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15); */
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.15); */
}

.comments-list .comment-box, .comments-list .comment-box:before, .comments-list .comment-box:after{

    padding-left: 100px;
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comment-box {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 12px;
    position: relative;
    top: 9px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 12px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #382922;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #E9C877;
    color: #382922;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    outline: none;
}


.comment-box-submit {
    padding-left: 100px;
    padding-right: 10px;
}



/** =====================
 * on small devices
 ========================*/

@media only screen and (max-width: 766px) {
    .comments-list .comment-avatar {
        display: none;
    }

    .comments-list .comment-box, .comments-list .comment-box:before, .comments-list .comment-box:after{
        padding-left: 20px;
    }

    .comments-list:before{
        left: -6px;
    }
    .reply-list li:before{
        left: -55px;
        width: 51px;
        top: 17px;
    }
    .comments-list:after{
        left: -10px;
    }

    .reply-list {
        padding-left: 50px;
    }

}

 /*     Tags Style
 ---------------------------*/
 
div.tags a{
    font-size: 14px;
    color: #337AB7;
}
div.tags a:hover{
    font-size: 14px;
    text-decoration: underline;
}

#maincontent{
    display:inline;
}
