 .sharepost {
    float: right;
    margin-left: auto;
    margin-right: auto;
}
.sharepost h2 {
  color: #0e7aa7;
}
.sharepost li a {
  float: left;
  margin-right: 6px;
  transition: opacity .3s ease-in-out;
  color: #777;
}
.sharepost li a:hover {
    opacity: .8;
    color: #171616;
}
.sharepost ul {
    display: inline-flex;
}
.sharepost li {
    color: #928e8e;
    margin-left: 15px;
    font-size: 31px;
}

.sharepost li:hover {
    color: #080808;
}

.share-title {
    font-size: 13px !important;
     padding-top: 10px;
}
