.login-btn, .signin-btn {
    margin: 0 10px;
}

@media(max-width:768px){
    .login-btn, .signin-btn {
        margin: 0 2px;
    }
}
@media(max-width:500px){
    .signin-btn a, .signin-btn span {
        color:white;
        text-transform:uppercase;
        font-size:12px;
    }
}

.signin-btn a, .signin-btn span {
    color:white;
    text-transform:uppercase;
}

.header-login .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 0.5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 0px;
}

.header-login ul.dropdown-menu {
    margin: 10px 10px 10px -44px;
    border: 1px solid #fff;
    border-radius: 1px;
    z-index: 3500;
}

.header-login ul.dropdown-menu i{
    padding-right: 5px;
}

.header-login ul.dropdown-menu li a {
    color:#2e2e2e !important;
    padding: 8px 10px;
}