/*
Flaticon icon font: Flaticon
Creation date: 23/02/2017 06:43
*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-drupal-big-logo:before { content: "\f100"; }
.flaticon-html5:before { content: "\f101"; }
.flaticon-joomla:before { content: "\f102"; }
.flaticon-magento-icon:before { content: "\f103"; }
.flaticon-opencart:before { content: "\f104"; }
.flaticon-responsive-devices:before { content: "\f105"; }
.flaticon-shopping-basket:before { content: "\f106"; }
.flaticon-website-design-symbol:before { content: "\f107"; }
.flaticon-wordpress-logo-button:before { content: "\f108"; }