/*------------------------------------------------------------------
[Template Font Stylesheet]

Project:	Aura - Multipage Html Responsive Template
Version:	1.1
Primary use:	Aura - Multipage Html Responsive Template
-------------------------------------------------------------------*/


/*---External Font Import---*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-UltraLight.otf');
    src: url('../fonts/Montserrat-UltraLight.svg');
    src: url('../fonts/Montserrat-UltraLight.ttf');
    font-weight:100;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.otf');
    src: url('../fonts/Montserrat-Light.svg');
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight:300;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.otf');
    src: url('../fonts/Montserrat-SemiBold.svg');
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight:600;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.otf');
    src: url('../fonts/Montserrat-Bold.svg');
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight:700;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.otf');
    src: url('../fonts/Montserrat-Regular.svg');
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight:400;
}