/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Aura - Multipage Html Responsive Template
Version:	1.1
Last change:	28/03/2017
Primary use:	Aura - Multipage Html Responsive Template 
-------------------------------------------------------------------*/

@import url("default-template-style.css");
@import url("montserrat-font.css");
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i|Montserrat:400,700');
@import url("flaticon.css");
@import url("template-blog.css");


/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Navigation
3. Header
4. Section commen style
5. About section
6. Our Team
7. Services
8. We create  section
9. Testimonials section
10. News Section
11. Contact section
12. Footer section
13. Inner Pages  (Page Header, About Page, Our Team, Services page, Gallery page, News page, contact page )
14. Responsive Media Screen style

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
# [Color codes]

# Black (text): #000
# Blue : #3277ba

------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body :		'Lato', sans-serif;
Title and logo:		'Montserrat', sans-serif;

-------------------------------------------------------------------*/



/*---Body---*/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    color:#636363;
    font-family:'Lato', sans-serif;
}

a {
    color: #3277ba;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn, .btn:hover {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
a:hover,
a:focus {
    color: #3277ba;
    outline: none;
    outline-offset: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Montserrat', sans-serif;
    color:#333;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.blue{
    color:#3277ba;
}
.white{
    color: #fff;
}
.black{
    color:#111;
}
.text-faded {
    color: #fff;
}
.display-in-block{
    display:inline-block;
}
section {
    padding: 30px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}
.push-top {
    margin-top: 30px;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.yes-gutter > [class*='col-'] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.yes-gutter {
    margin-bottom:15px;
}


/*---Button Style ---*/

.btn-default {
    color: #222222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white;
}
.btn-default .badge {
    color: white;
    background-color: #222222;
}
.btn-primary {
    background-color: #3277ba;  
    color: white;
    border-color: #3277ba;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #ee4b28;  
    color: white;
    border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #3277ba;
    border-color: #3277ba;
}
.btn-primary .badge {
    background-color: white;
    color: #3277ba;
}
.btn {
    font-size:1em;
    font-weight: 400;	
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 10px;
    padding: 8px 25px;
}

.btn-white{
    border-color:#fff;
    color:#fff;
    background-color: transparent;
}
.btn-black{
    border-color:#000;
    color:#000;
    background-color: transparent;
}
.btn-blue{
    border-color:#3277ba;
    color:#3277ba;
    background-color: transparent;
}
.btn-white:hover{
    border-color:transparent;
    color:#fff;
    background-color:#3277ba;
}
.btn-black:hover{
    border-color:transparent;
    color:#3277ba;
    background-color:#000;
}
.btn-blue:hover{
    border-color:transparent;
    color:#fff;
    background-color:#3277ba;
}

.call-to-btn {
    text-align: center;
    margin: 50px 0px 15px;
}

::-moz-selection {	
    background: #222222;
    color: white;
    text-shadow: none;
}
::selection {	
    background: #222222;
    color: #fff;
    text-shadow: none;
}
img::selection {	
    background: transparent;
    color: white;
}
img::-moz-selection {	
    background: transparent;
    color: white;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline-offset: 0px;
}

/*---Navigation / #mainNav---*/

.navbar-default {
    border-color: rgba(34, 34, 34, 0.05);
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    font-family:'Montserrat', sans-serif;
    letter-spacing:1px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    padding: 5px 15px;
}
.navbar-collapse{
    overflow:hidden !important;
    height: 70px !important;
}
.navbar-default .navbar-header .navbar-toggle {
    font-size:1em;
    color: #222222;
    text-transform: uppercase;
    background-color:#fff;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    color: #fff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
    color: #3277ba;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
    background-color: transparent;	
    color: #3277ba !important;
    outline: none;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
    background-color:transparent;
    color: #3277ba !important;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color:transparent;
    color: #3277ba;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #3277ba;
}
#mainNav .dropdown-menu {
    font-size: 100%;
    box-shadow: none;
    border-color: #ccc;
}
#mainNav .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #666;
    letter-spacing: 0;
    white-space: pre-line;
}
#mainNav .dropdown-menu > li > a:hover, #mainNav .dropdown-menu > li > a:focus {
    color: #3277ba;
}
@media (min-width: 992px) {
    .navbar-right .dropdown-menu {
        left: auto;
    }

    #mainNav li.dropdown:hover > .dropdown-menu {
        display: block;
    }
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: rgba(255, 255, 255, 0.4);
        border-color:transparent;
    }
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        color: #000;
        padding: 20px 20px;
    }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
        color: #3277ba;
    }
    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, 0.05);
        margin: 0;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #3277ba;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #000;
    }
    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
        color: #222222;
    }
    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
        color: #3277ba;
    }



}
/*---Header nave style 2 (Home two)---*/

.top_bar {
    min-height: 40px;
    background-color:#111;
}
.social {
    list-style-type: none;
    margin-bottom: 0px;
    float: right;
    padding: 0px;
    margin-left: 0px;
}
.social li {
    display:inline-block;
}
.social li a {
    padding: 0 10px;
    line-height: 40px;
    color: #FFF;
}
.leftc {
    list-style-type: none;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 0px;
    margin-left:-10px;
}
.leftc li {
    margin: 0px 10px;
    display:inline-block;
    line-height: 40px;
    color: #FFF;
}
.leftc li i {
    padding-right:5px;
}
nav#mainNav.navbar-2.affix-top {
    position: relative;
    margin-bottom: 0px;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
}
nav#mainNav.navbar-2.affix {
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
}

/*---slider---*/

.slider-banner {
    padding:0; 
}

.flex-caption {
    position: absolute;
    left: 12%;
    right: 15%;
    top:40%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.flex-caption h1{
    margin-bottom:30px;
    font-weight:bold;
    margin-left: -3px;
}
.flex-caption p span{
    width:auto;
    color:#fff;
    display: inline-block;
}


/*---Section commen style---*/

.section-title {
    text-align:center;
}
.section-title.text-left {
    text-align:left;
}
.section-title h1 {
    margin-bottom: 20px;
    font-weight:700;
    letter-spacing: 2px;
}

/*---Section commen style (home two)---*/
.home-two .section-title {
    text-align:left;
}
.home-two .section-title h6 {
    color: #898989;
}
.home-two .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}

/*---Section commen style (home two)---*/
.home-three .section-title {
    text-align:left;
}
.home-three .section-title h6 {
    color: #898989;
}
.home-three .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}



/*---About section---*/

.about{
}
.about img{
    display:inline-block;
}
.about .left-side{
    text-align:left;
    padding-top: 80px;
}
.about-content {
    padding-top: 10px;
    padding-bottom: 10px;
} 
.about-img {
    text-align:center;
}
.about-img figure {
    margin-bottom:15px;
    margin-top:15px;
}
.about hr {
    border-top: 1px solid #ccc;
}
.newsletter-sign{
    text-align:left;
    padding:5px 0px;
}
.newsletter-sign .form-control {
    width: 320px;
    height: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: none;
}
.newsletter-sign .btn{
    border-radius: 10px;
    height: 50px;
    background-color: #3277ba;
    border:1px solid #3277ba;
    padding: 0px 30px;
    font-weight: 400;
    color: #fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    text-transform: uppercase;
}
.newsletter-sign .btn:hover{
    background-color: transparent;
    color:#3277ba;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.newsletter-sign h4 {
    margin-bottom: 30px;
}


/* Shine */
.about-img figure {
    position: relative;
}
.about-img figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.about-img figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
figure {
    overflow: hidden;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/*---Welcome (home two)---*/

.weltext {
    padding: 60px 0;
}
.clearfix.push-top {
    margin-top: 55px;
}

/*---About (home two)---*/

.home-two .stuff-about{
    background-color:#f1f1f1;
}
.stuff-about .section-title {
    text-align:left;
}
.stuff-about .section-title h1{
    color:#111;
}

.stuff-img{
    margin: -30px 0px;
}
.int-block {
    margin-top: 50px;
    margin-bottom: 35px;
}
.stuff-content{
    padding-top:15px;
    padding-left: 50px;
}


/*---welcome (home three)---*/

.weltext.style-two {
    padding: 60px 0 15px;
}
.qut-text{
    background-color:#ebebeb;
    font-style:italic;
}
.qut-text h3{
    margin-bottom:30px;
}
.qut-text p{
    margin-bottom:5px;
}
.qut-content {
    margin-top: 30px;
    margin-bottom: 50px;
}
.center-side {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position:absolute;
    top:-100px;
}
.style-two .newsletter-sign p{
    margin-bottom:0;
}
.style-two .newsletter-sign .form-inline{
    margin-top:15px;
}
.push-bottom{
    margin-top:50px;
}

/*---About (home three)---*/

.stuff-about .section-title {
    text-align:left;
}
.stuff-about .section-title h1{
    color:#111;
}
.stuff-about .int-block {
    margin-left: -15px;
}
.stuff-about .stuff-content{
    padding-left: 15px;
    padding-top:0px;
}



/*---Services (home two)---*/


.services.services-two p.ser-icon {
    border-right:1px solid #ccc;
    color:#3277ba;
}
.services.services-two .section-title {
    margin-bottom: 40px;
    text-align:left;
}
.services.services-two .section-title h6 {
    color: #898989;
}
.services.services-two .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}

/*---Services three (home three)---*/

.services-three span {
    float: left;
    display: table;
    font-size:2.5714285714285716em;
    font-family: 'Montserrat';
    font-weight: 100;
    color: #898989;
    padding-right: 15px;
    height: 150px;
}
.services-three p.title-text, .services-three h5.title-text  {
    margin-bottom: 10px;
    padding-top: 10px;
    color: #000;
    letter-spacing: 0.1em;
}
.services-three .intro-ser{
    margin-top:30px;
}

/*---Our Team---*/


.ourteam{
    background-image:url(../images/ourmenu-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
}
.team-block {
    text-align: center;
    padding:20px 0px;
    margin-top: 15px;
}
.team-block {
    border: 1px solid transparent;
    padding: 0px 0px 10px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
}
.team-block:hover {
    border: 1px solid #ebebeb;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.team-block img{
    display:inline-block;
}
.team-block .name {
    font-weight: bold;
    margin-bottom: 5px;
    color:#333;
    margin-top: 15px;
}
.team-block .name a {
    color:#333;
}
.team-block .name a:hover {
    color:#3277ba;
    text-decoration:none;
}
.team-block .pos, .team-block .details {
    color: #898989;
}
.team-block .details {
    margin-top:20px;
}
.team-block .social-icon a {
    height: 35px;
    width: 35px;
    background-color: #ccc;
    display: block;
    border-radius: 100%;
    color:#000;
}
.team-block .social-icon a i {
    line-height:35px;
}
.team-block .social-icon a:hover {
    background-color: #3277ba;
    color: #fff;
}
.ourteam .btn{
    margin-bottom:20px;
    margin-top:15px;
}

/*---Our Team (Home two)---*/


.home-two .ourteam-two{
    background-image:url(../images/home-two/bg-05.jpg);
    padding-bottom: 35px;
}
.ourteam-two .team-block {
    text-align: left;
    background-color: #fff;
    border:none;
    padding-bottom:0px;
    overflow: hidden;
}
.ourteam-two .team-block .per-info {
    background-color:#fff;
    position: relative;
    padding-left:20px;
    padding-top:15px;
    padding-bottom: 15px;
    top:0;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.ourteam-two .team-block .name {
    margin-top: 0px;
}
.ourteam-two .team-block .pos{
    color: #3277ba;
    margin-bottom: 0px;
}
.ourteam-two .team-block .social-icon {
    text-align: right;
    padding-right:15px;
    padding-bottom:15px;
}
.ourteam-two .team-block .social-icon a {
    background-color: transparent;
    text-align: center;
    height: 25px;
    width: 25px;
}
.ourteam-two .team-block .social-icon a:hover {
    color: #3277ba;
}
.ourteam-two .team-block:hover {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.ourteam-two .team-block:hover .per-info{
    top: -42px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.ourteam-two .team-block .social-icon{
    display:none;
    margin-bottom:0px;
    min-height:30px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;/*
        margin-top: -42px;*/
}
.ourteam-two .team-block:hover .social-icon{
    display:block;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.ourteam-two .team-block hr{
    display:none;
    margin-top: -42px;
    position: relative;
    left: 100%;
    z-index: 111;
    border-color: #000;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.ourteam-two .team-block:hover hr{
    display:block;
    margin-bottom: 0px;
    left: 50%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}



/*---Services Section---*/


.services h5{
    color:#000;
    margin:0px 0px 10px;
}
.services p{
    margin-bottom: 30px;
}
.services .icon-img{
    background-image:url(../images/sprites.png);
    background-repeat:no-repeat;
    border-right: 1px solid #ccc;
    display: block;
    /* width: 75px;*/
    height: 70px;
    margin-bottom:5px;
}
.services .icon-one{
    background-position: 35px 0px;
}
.services .icon-two{
    background-position: 35px -78px;
}
.services .icon-three{
    background-position: 35px -155px;
}
.services .right-side{
    padding-top:55px;
}


/*---we create Section---*/

.wecreate {
    background-image: url(../images/bg-05.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    min-height: 550px;
}
.we-cont{
    text-align: left;
    margin: 0 auto;
    padding: 50px 0px;
}



/*---feature-cont (Home Two)---*/



/*---Testimonials section---*/


#fade-quote-carousel.carousel {
    margin-top: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
    bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
    background-color: #e84a64;
    border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: #898989;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 30px;
}
#fade-quote-carousel .profile-circle img {
    border-radius: 100px;
}
#fade-quote-carousel blockquote .person{
    color:#3277ba;
    margin-bottom: 0;
    margin-top: 50px;
}
#fade-quote-carousel blockquote .per-den{
    color:#898989;
    font-size:0.8571428571428571em;
}
#fade-quote-carousel .carousel-control {
    width: auto;
    color: #fff;
    opacity: 1;
    text-shadow:none;
    font-size:1em;
}
#fade-quote-carousel .carousel-control .fa-long-arrow-left, #fade-quote-carousel .carousel-control .icon-prev {
    margin-left: -10px;
}
#fade-quote-carousel .carousel-control .fa-long-arrow-left, #fade-quote-carousel .carousel-control .fa-long-arrow-right, #fade-quote-carousel .carousel-control .icon-prev, #fade-quote-carousel .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
#fade-quote-carousel .carousel-control .icon-prev, #fade-quote-carousel .carousel-control .fa-long-arrow-left {
    left: 50%;
    margin-left: -10px;
}
#fade-quote-carousel .carousel-control .icon-prev, #fade-quote-carousel .carousel-control .icon-next, #fade-quote-carousel .carousel-control .fa-long-arrow-left, #fade-quote-carousel .carousel-control .fa-long-arrow-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

#fade-quote-carousel .carousel-control .fa-long-arrow-right, #fade-quote-carousel .carousel-control .icon-next {
    margin-right: -10px;
}
#fade-quote-carousel .carousel-control .icon-next, #fade-quote-carousel .carousel-control .fa-long-arrow-right {
    right: 50%;
    margin-right: -10px;
}
#fade-quote-carousel .carousel-control .fa-long-arrow-left {
    background-color: #3277ba;
    width: 60px;
    text-align: left;
    padding-left: 10px;
}
#fade-quote-carousel .carousel-control .fa-long-arrow-right {
    background-color: #3277ba;
    width: 60px;
    text-align: right;
    padding-right: 10px;
}

/*---Testimonials-Two section---*/

.testimonials-two #fade-quote-carousel blockquote {
    background-image:url(../images/home-two/comma.png);
    background-position: top right;
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 0px;
    padding-right: 5%;
    color:#333;
    padding-top:30px;
}
.testimonials-two #fade-quote-carousel.carousel {
    margin-top: 0px; 
}

/*---Testimonials-Three section---*/

.home-three .testimonials .section-title {
    text-align: center;
}

/*---logo slider (home two)---*/


section.logo-slide{
    padding: 0px 0;
}
.logoslide ul li{
    text-align:center;
}
.logoslide ul li img{
    display:inline-block;
}
.logo-slide .logo-outer {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*---news section---*/

.news{
    background-color:#f7f7f7;
}
.date i {
    font-size:1.2857142857142858em;
    padding-right:20px;
}
.date p {
    font-size:1.7142857142857142em;
    color: #898989;
}
.author i {
    padding-right:10px;
}
.author i.fa-user {
    padding-left:30px;
}
.blog-title h3 {
    margin-bottom: 30px;
}
.blog-content {
    padding: 20px 15px 20px 10px;
}
.read-btn a.btn {
    border: none;
    box-shadow: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 10px 0px;
    padding-left:0px;
    color: #898989;
}
.read-btn a.btn:hover {
    padding-left:10px;
    color: #3277ba;
}
article.blog-post {
    padding: 20px 0px 0px;
    display: block;
}
article.blog-post img {
    display:block;
    width:100%;
}
article.blog-post .img-right {
    padding-left: 0px;
}
article.blog-post .img-left {
    padding-right: 0px;
}


/*---news two Section  (home two)---*/


.blog-two .blog-content p span{
    padding:0px 20px;
}
.blog-two .blog-content img{
    margin-bottom:20px;
}
.blog-two .blog-content h3 a{
    color:#363636;
}
.blog-two .blog-content h3 a:hover{
    color:#3277ba;
    text-decoration:none;
}

/*---news three Section  (home three)---*/

.home-three .blog-two .section-title {
    text-align: center;
}
.blog-three .read-btn a.btn {
    margin: 0px 0px;
}
.blog-three .blog-content {
    margin-top:30px;
}
/*---Contact section---*/

.contactus{
    background-image:url(../images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    color:#fff;
}
.contactus .section-title {
    text-align:left;
}
.contactus .section-title h1{
    color:#ffffff;
}
.contect-out-bg{
    background-color: rgba(0,0,0,0.80);
    padding: 15px 0px;
}
.map{
    margin: -30px 0px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.map iframe{
    pointer-events: none;
    width:100%;
    border:none;
}
.contact-form .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;	
    border-radius: 0px;
    background-color: transparent;
    color: #fff;
    height: 50px;
}
.contact-form textarea.form-control {
    height: auto;
}
.contact-form .form-group {
    margin-bottom: 30px;
}
.contact-form .btn {
    margin-left: 15px;
}
.contact-form .btn:hover {
    background-color:#3277ba;
    border: solid 2px #3277ba;
    color:#fff;
}



/*---Footer section---*/


.footer {
    background: url(../images/newsletter-bg.png) no-repeat center bottom fixed;
    color: #898989;
    padding: 100px 0 30px;
    background-size: contain;
}
.footer-social{
    text-align:center;
}
.footer-social a {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    clear: both;
    text-align: center;
    font-size: 1.2857142857142858em;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-social i {
    line-height: 45px;
}

.footer-social i.fa-twitter {
    color:#000;
}
.footer-social i.fa-facebook {
    color:#000;
}
.footer-social i.fa-google-plus {
    color:#000;
}
.footer-social i.fa-dribbble {
    color:#000;
}
.footer-social i.fa-behance {
    color:#000;
}

.footer-social a:hover i.fa {
    color:#fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer-social a.twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-social a.facebook:hover {
    background-color: #558bee;
    border-color: #558bee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-social a.google-plus:hover {
    background-color: #fc5b4d;
    border-color: #fc5b4d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-social a.dribbble:hover {
    background-color: #e94c89;
    border-color: #e94c89;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-social a.behance:hover {
    background-color: #6ccef2;
    border-color: #6ccef2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.copyright {
    text-align: center;
    padding: 20px 0px;
}
.copyright p {
    margin-bottom: 0px;
    font-weight:400;
    letter-spacing: 1px;
    color: #000;
}


/*----footer two  (home two)---*/


.footer.footer-two {
    background:url(../images/home-two/footer-bg.jpg) no-repeat center top;
    color: #898989;
    padding: 50px 0 0px;
    background-size: cover;
}
.footer-two .section-title{
    text-align:center;
}
.newsletter{
    text-align:center;
    padding:20px 0px;
}
.newsletter .form-control {
    width: 320px;
    height: 50px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.newsletter .btn{
    border-radius: 0;
    height: 50px;
    width: 70px;
    background-color: #3277ba;
    border:1px solid #3277ba;
    color:#fff;
}
.newsletter .btn:hover{
    background-color: #fff;
    color:#3277ba;
}

.footer-two .copyright {
    background-color:#000;
    margin-top:50px;
}
.footer-two .copyright p {
    color:#fff;
}


/*----footer three  (home three)---*/


.footer.footer-three {
    background:url(../images/home-two/footer-bg.jpg) no-repeat center 50%;
    padding-top: 0;
}
.footer-three .footer-social {
    padding-top: 200px;
    padding-bottom:40px;
}
/*--- inner Page---*/

/* Page Header */

header.inner-page {
    background-color: #000;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    text-align: center;  
}
header.inner-page .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}
header.inner-page img{
    display:inline-block;
}
header.inner-page .page-title P{	
    font-size:1.4285714285714286em;
    margin-bottom:0px;
    letter-spacing:2px;
    color: #999;
}
header.inner-page .page-title h1 {
    background-color: transparent;
    margin-top: 10px;
    border-radius: 0;
    width: auto;
    display: inline-block;
    padding: 5px 0px;
    text-shadow: none;
    color: #3277ba;
    font-weight: bold;
    letter-spacing:2px;
}
header.inner-page .page-title {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    text-align: center;
}
header.inner-page .page-title {
    text-align: center;
    top: 40%;
}
@media screen and (min-width: 768px){
    header.inner-page .page-title {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
}


/*---Inside page Section Title---*/

.inside-page h4{
    color:#3277ba;
}
.inside-page h2{
    margin-top: 0px;
}
.section-title.inside-page{
    margin-bottom:25px;
}

/*--- About Page---*/


.whyus{
    background-color:#f7f7f7;
    padding-bottom: 0;
}

.whyus .right-side{
    padding:10px 30px 30px 30px;
    margin-top:20px;
}
.whyus .panel-default > .panel-heading {
    background-color: #fff;
    border-color: #e1e1e1;
}
.whyus .panel-heading {
    padding: 0px 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.whyus .panel-group .panel {
    border-radius: 0px;
}
.whyus .panel-title a {
    width: 100%;
    display: block;
    padding: 15px 15px;
    text-decoration:none;
    color:#333;
}
.whyus .panel-title a:hover {
    text-decoration:none;
    background-color:#3277ba;
    color:#fff;
}
.whyus .panel-title a[aria-expanded="true"] {
    background-color:#3277ba;
    color:#fff;
}

.whyus .about-img{
    display:inline-block;
    text-align:center;
}
.whyus .about-img figure {
    margin-bottom:0px;
    margin-top:15px;
}
.whyus .about-img.left-side {
    padding-right: 100px;
}

.aboutus-two .stuff-about .stuff-content {
    width: 50%;
}
.aboutus-two .ourteam-two .section-title {
    text-align:left;
}
.aboutus-two .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}
.aboutus-two .section-title h6 {
    color: #898989;
}
/*---Our Team page---*/

.ourteam-page .team-block {
    margin: 15px 0;
}
.ourteam-page .ourteam{
    background-image:none;
}

.progress-skill h5{
    color:#898989;
    text-transform:uppercase;
}
.progress-skill .progress{
    background-color: transparent;
    border: 1px solid #3277ba;
    border-radius:0;
    height: 15px;
}
.progress-skill .progress-bar{
    background-color:#3277ba;
    font-size:0.8571428571428571em;
    line-height: 15px;
}
.team-skills .team-sk {
    border: 1px solid #3277ba;
    line-height: 250px;
    height: 250px;
    vertical-align: middle;
    text-align: center;
    font-weight: 300;
    color: #3277ba;
}
.team-skills {
    margin-top: 50px;
}



/*--- Services Page---*/

.ourservices{
}
.ser-block{
    text-align: center;
    background-color: #f3f3f3;
    padding: 30px 10px;
    margin: 15px 0px;	
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
    display:block;
}
.ser-block a {
    display:block;
}
.ser-block p.content{
    padding:10px 20px 0px;
    color: #898989;
}
.ser-block hr {
    width: 30px;
    height: 3px;
    background-color: #3277ba;
    border: none;
}
.ser-block:hover a {
    text-decoration:none;
}
.ser-block:hover a p.content{
    color: #fff;
}
.ser-block:hover hr {
    background-color: #333;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.ser-block:hover {
    background-color: #3277ba;
    color:#fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
}
.ser-block:hover .ser-icon {
    color:#fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.ser-icon {
    font-size:3.4285714285714284em;
    color:#898989;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    margin-bottom: 10px;
}
.servicespage-two .feature-cont .section-title, .servicespage-two .testimonials-two .section-title {
    text-align:left;
}
.servicespage-two .feature-cont h2, .servicespage-two .testimonials-two .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}
.servicespage-two .feature-cont h6, .servicespage-two .testimonials-two .section-title h6 {
    color: #898989;
}


/*---Gallery Page section---*/

.gallery {
    padding-bottom: 0;
}
.gallery-box {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align:center;
}
.gallery-box .gallery-box-caption {
    background: rgba(4, 101, 172, 0.9);
    color: white;
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.gallery-box .gallery-box-caption .gallery-box-caption-content {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 70%;
    padding-left: 40px;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}
.gallery-box:focus {
    outline: none;
}
.gallery-box:hover .gallery-box-caption hr{
    border: 2px solid #fff;
    width: 50px;
    display: inline-block;
    margin: 10px 0px 5px;
}
.gallery-box .gallery-box-caption hr{
    border: 2px solid #fff;
    width: 50px;
    display: inline-block;
    margin: 10px 0px 5px;
}
.gallery-box img.img-responsive{
    display:inline-block;
    width:100%;
}

.gallerypage .filters-button-group {
    padding: 30px 0px;
}
.gallerypage .filters-button-group .button.is-checked{
    border-bottom:1px solid #000;
    color:#000;
}
.gallerypage .filters-button-group .button:hover{
    border-bottom:1px solid #000;
    color:#000;		
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.gallerypage .filters-button-group .button {
    background-color:transparent;
    border: none;
    box-shadow: none;
    color: #898989;		
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-size:0.8571428571428571em;
    font-weight:bold;
    padding: 0;
    margin: 0 15px;
}
.gallerypage .filters-button-group .button:focus {
    outline:none;
}

/*---Portfolio Single---*/

.heading-title-simple{
    border-bottom: 1px solid;
    border-bottom-color: #e7e7e7;
    margin-bottom: 20px;
    display: block;
    padding: 0 0 10px;
}
.portfolio-client-info ul {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 20px;
}
.portfolio-client-info ul li {
    padding-bottom:5px;
}
.portfolio-client-info ul li span {
    float: left;
    font-weight: 700;
    margin-right: 10px;
}
.portfolio-client-description {
    margin-top: 20px;
}
hr.space-xs {
    border: none;
    height: 20px;
}
.m-t-10 {
    margin-top: 10px!important;
}
.social-icons ul {
    padding: 0;
}
.social-icons li {
    float: left;
    list-style: none;
}
.pager-modern {
    background-color: #fbfbfb;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
}
.pager-modern a span {
    cursor: pointer;
    display: inline-block;
    height: 60px;
    line-height: 59px;
    padding: 0 4%;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.pager-modern i {
    margin: 0 10px;
    vertical-align: middle;
    color:#333;
}
.pager-modern span:hover {
    background-color: #f6f6f6;
}
.pager-modern a:hover, .pager-modern a {
    color: #111;
}
.portfolio-single .gallery .section-title {
    text-align:left;
}
.portfolio-single .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}
.portfolio-single .section-title h6 {
    color: #898989;
}
.pagination-block{
    padding:0;
}
.portfolio-single hr.tall {
    margin-top: 20px;
    margin-bottom:0px;
}
.portfolio-details .carousel-control.left, .portfolio-details .carousel-control.right{
    background-image:none;
}

/*---Contact Page---*/

/*---Location Section---*/
.contactus-page .map {
    margin: 0px 0px;
}
.location iframe {
    width: 100%;
    height: 450px;
    border: 0px;
    pointer-events: none;
}

/*---contact info---*/

.bg-black {
    background-color: rgba(0,0,0,0.80);
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-info {
    text-align: center;
}
.contact-info img {
    display:inline-block;
}
.contact-info > div > p {
    margin-bottom: 10px;
}
.open-time-info{
    text-align:center;
    padding:20px 0px 10px;
}
.contactus-form button.btn {
    margin: 0 auto;
    text-align: center;
    display: block;
}
.form-control:focus{
    box-shadow:none;
}


/*--- Our team Bio Page---*/


h1.shorter, h2.shorter, h3.shorter, h4.shorter, h5.shorter, h6.shorter {
    margin-bottom: 0;
}
h5.deg {
    color: #3277ba;
}
.thumb-info-social-icons {
    border-top: 1px dotted #DDD;
    margin: 0;
    padding: 15px 0;
    display: block;
}

.thumb-info-social-icons a {
    width: 45px;
    height: 45px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    clear: both;
    text-align: center;
    font-size: 1.2857142857142858em;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.thumb-info-social-icons i {
    line-height: 45px;
}

.thumb-info-social-icons i.fa-twitter {
    color:#000;
}
.thumb-info-social-icons i.fa-facebook {
    color:#000;
}
.thumb-info-social-icons i.fa-google-plus {
    color:#000;
}
.thumb-info-social-icons a:hover i.fa {
    color:#fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.thumb-info-social-icons a.twitter:hover {
    background-color: #55acee;
    border-color: #55acee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.thumb-info-social-icons a.facebook:hover {
    background-color: #558bee;
    border-color: #558bee;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.thumb-info-social-icons a.google-plus:hover {
    background-color: #fc5b4d;
    border-color: #fc5b4d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.team-bio ul.list.icons li i {
    color: #0088cc;
    margin-right: 5px;
}
.team-bio ul.list li {
    margin-bottom: 13px;
}

.team-bio .team-skills {
    margin-top: 25px;
}
.team-bio .progress-skill .progress {
    border: 1px solid #e0e0e0;
}
.progress-skill .progress-bar.bluecolor {
    background-color: #3277ba;
}
.progress-skill .progress-bar.greencolor {
    background-color: #297f2f;
}
.progress-skill .progress-bar.pinkcolor {
    background-color: #971c70;
}
.progress-skill .progress-bar.yellowcolor {
    background-color: #f29c21;
}
.teambio-two .gallery .section-title {
    text-align:left;
}
.teambio-two .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}
.teambio-two .section-title h6 {
    color: #898989;
}

.teambio-two section.team-bio {
    padding: 30px 0 0px;
}

/*---Services Details Page---*/

.services-details .feature-box{
    margin-top:15px;
}
.fbox-desc h5 {
    color: #3277ba;
}
/*---call us section---*/
.callus{
    background-image: -webkit-linear-gradient(left, #3277ba 50%, #f7f7f7 50%);
    background-image: -moz-linear-gradient(left, #3277ba 50%, #f7f7f7 50%);
    background-image: -o-linear-gradient(left, #3277ba 50%, #f7f7f7 50%);
    background-image: -ms-linear-gradient(left, #3277ba 50%, #f7f7f7 50%);
    background-image: linear-gradient(to right, #3277ba 50%, #f7f7f7 50%);
}
.callus .call-text-left{
    padding-right:50px;
}
.callus .call-text-left h2{
    color:#ccc;
}
.callus .call-text-right{
    padding-left:50px;
}
.call-text-left p {
    color: #ccc;
}
.call-text-right p {
    color: #898989;
}


/*---news Single---*/

.news-single .news {
    background-color: #fff;
}

/*---Contact Us Two---*/
.contactus-two{
    background-image:none;
}
.contactus-two .contact-form .form-control {
    border-bottom: 1px solid #ccc;
    box-shadow:none;
}
.contactus-two .contact-info {
    color:#333;
    text-align: left;
}
.contactus-two .contact-info p i {
    margin-right: 15px;
    color:#3277ba;
}
.contactus-two .section-title h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}

/*---Responsive Media Screen style---*/


@media only screen and (max-width: 3500px) {
    /*body*/
    body {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 2500px) {}

@media only screen and (max-width: 2100px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1566px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (min-width: 1300px) {}

@media only screen and (max-width: 1280px) {
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
        padding: 25px 15px;
    }
}

@media (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1024px) {

    body{
        font-size:13px;
    }
    .navbar-brand > img{
        max-width:150px;
    }
    #mainNav.navbar-default .navbar-header .navbar-brand p {
        letter-spacing: 0px;
        font-size: 24px;
        line-height: 10px;
    }
    #mainNav.navbar-default .nav > li > a, #mainNav.navbar-default .nav > li > a:focus {
        padding: 10px;
    }
    .leftc {
        margin-left: -10px;
    }
    .social {
        text-align: right;
        margin-right: -10px;
    }
    .home-three #mainNav .container {
        width: 100%;
    }
    .flex-caption {
        top: 30%;
        left: 1.5%;
        width: 50%;
    }
    .about .left-side {
        padding-top: 25px;
    }
    .services .icon-one{
        background-position: 0px 0px;
    }
    .services .icon-two{
        background-position: 0px -78px;
    }
    .services .icon-three{
        background-position: 0px -155px;
    }
    .wecreate {
        background-position: 70% bottom;
    }
    .wecreate {
        min-height: 450px;
    }
    .services .right-side {
        padding-top: 20px;
    }
    .blog-content {
        padding: 5px 0px;
    }
    .news .author p{
        margin-bottom:5px;
    }
    .date p {
        font-size: 1.2em;
        color: #898989;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    article.blog-post {
        padding: 5px 0px;
    }
    .blog-title h3 {
        margin-bottom: 5px;
        margin-top:5px;
    }
    .blog-text p{
        margin-bottom:5px;
    }
    .stuff-about .section-title h1 {
        color: #111;
        margin: 10px 0;
    }
    .int-block {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .int-block p{
        font-size:0.8571428571428571em;
    }
    /*---inner page---*/

    .whyus .about-img.left-side {
        padding-right: 15px;
        margin-top: 0px;
    }
    .whyus .panel-title a {
        padding: 10px 10px;
    }
    .whyus .right-side {
        padding: 0px 15px;
    }

}

@media only screen and (max-width: 991px) {
    body{
        /*	font-size:120%;*/
    }
    section {
        padding: 30px 0;
    }
    .navbar-collapse{
        overflow:auto !important;
        height: auto !important;	
        background-color: #fff;
    }
    .navbar-header {
        max-width: 100%;
        width: auto;
    }
    .navbar-toggle {
        margin-right: -15px;
    }
    .navbar-default {
        background-color: rgba(255, 255, 255, 0.4);
        border-color:transparent;
    }
    .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, 0.05);
    }
    #mainNav.navbar-default .navbar-header .navbar-brand p {
        line-height:1;
        margin: 0;
    }
    #mainNav.navbar-default .nav > li > a, #mainNav.navbar-default .nav > li > a:focus {
        text-align: center;
    }
    #mainNav .dropdown-menu {
        text-align:center;
    }
    .flex-caption {
        left: 2%;
    }
    .about .left-side {
        padding-top: 0px;
    }
    .about hr {
        margin-top:10px;
        margin-bottom:10px;
    }
    .newsletter-sign h4 {
        margin-bottom: 20px;
    }
    .newsletter-sign p {
        margin-bottom: 15px;
    }
    .newsletter-sign .form-control {
        width: auto;
        height: 40px;
    }
    .newsletter-sign .btn {
        height: 40px;
    }
    .services p {
        margin-bottom: 20px;
    }
    .services .right-side {
        padding-top: 10px;
    }
    .services .icon-img {
        width: 75px;
    }
    .services .icon-one{
        background-position: 0px 0px;
    }
    .services .icon-two{
        background-position: 0px -78px;
    }
    .services .icon-three{
        background-position: 0px -155px;
    }
    .wecreate {
        background-position: 50% bottom;
    }
    #fade-quote-carousel blockquote {
        padding: 10px 50px;
    }
    .contact-form .form-group {
        margin-bottom: 15px;
    }
    .date p {
        margin-top: 0px;
    }
    .blog-content .read-btn a.btn {
        margin: 0px 0px;
    }
    /*---Home two ---*/

    .stuff-img {
        margin: 0px 0px;
    }
    .stuff-content {
        padding-top: 0;
        padding-left: 0;
    }
    .int-block {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left:-15px;
    }
    .int-block p {
        margin-bottom: 10px;
    }
    .stuff-about .section-title h1 {
        margin-top: 0;
    }
    .facts h1{
        margin-top:0px;
    }
    .feature-cont .count {
        margin-top:0;
    }

    /*---home three---*/
    .leftc {
        margin-left: -10px;
        font-size: 90%;
    }
    .center-side{
        text-align:center;
    }
    .center-side img{
        width: 85%;
        display: inline-block;
    }
    .style-two .push-bottom {
        margin-top: 0px;
    }
    .stuff-about .stuff-content {
        width: 50%;
    }
    .home-three .slider-banner .flex-caption h1 {
        font-size: 48px;
    }
    .weltext.style-two{
        font-size:90%;
    }
    .services-three .intro-ser {
        font-size:85%;
    }
    /*---inner page---*/

    header.inner-page {
        margin-top: 50px;
    }
    header.inner-page .page-title {
        top: 15%;
        right: 10%;
        left: 10%;
    }
    header.inner-page .page-title h1 {
        margin-top: 0px;
        font-size: 1.8571428571428572em;
    }
    .gallery {
        padding-top: 0;
    }
    .heading-title-simple h2{
        margin-top:5px;
    }
    .heading-title-simple {
        margin-bottom: 10px;
        padding-bottom:0px;
    }
    .portfolio-client-info ul {
        padding-bottom: 10px;
        margin-bottom:10px;
    }	
    .portfolio-client-description {
        margin-top: 5px;
    }
    .portfolio-client-description p {
        margin-bottom: 5px;
    }
    .portfolio-details .space-xs{
        display:none;
    }
    .single_staff_meta p{
        margin-bottom:5px;
    }
    .team-bio ul.list li {
        margin-bottom: 5px;
    }
    .teambio-two .team-bio .shorter{
        margin-top:5px;
    }

}


/*--------------iPhone 6 plus landscape----------------*/
@media only screen and (max-width: 767px) {
    body{
        overflow-x: hidden;
    }
    section {
        padding: 10px 0;
    }
    .navbar-header {
        max-width: 100%;
        width: auto;
    }
    .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
        color: #333;
    }
    .navbar-default.affix .nav > li > a, .navbar-default.affix .nav > li > a:focus {
        color: #333;
    }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
        color: #000;
    }
    .navbar-default.affix-top .navbar-header .navbar-brand:hover, .navbar-default.affix-top .navbar-header .navbar-brand:focus {
        color: #fff;
    }
    .flex-caption {
        left: 5%;
    }
    .flex-caption h1 {
        font-size: 1.4285714285714284em;
    }
    .slider-banner {
        margin-top: 60px;
    }
    .about .about-img img {
        width: 100%;
    }
    .about .left-side {
        margin-top: 0px;
    }
    #about .about-img figure {
        margin-left: -15px;
        margin-right: -15px;
    }
    .newsletter-sign .form-control {
        width: 100%;
    }
    .hover, .hover .overlay {
        margin-bottom: 15px;
    }
    .team-block {
        margin-bottom: 30px;
    }
    .we-cont {
        padding: 15px 0px;
    }
    .wecreate {
        min-height: auto;
        background-position: left top;
    }
    .services .right-side {
        padding-top: 20px;
    }
    #fade-quote-carousel blockquote {
        padding: 10px 20px;
    }
    #fade-quote-carousel.carousel {
        margin-top: 20px;
    }

    #fade-quote-carousel blockquote p{
        font-size:0.8571428571428571em;
    }
    #fade-quote-carousel .carousel-control .fa-long-arrow-right {
        width: 30px;
        padding-right: 5px;
        font-size: 150%;
        height: auto;
    }
    #fade-quote-carousel .carousel-control .fa-long-arrow-left {
        width: 30px;
        padding-left: 5px;
        font-size: 150%;
        height: auto;
    }
    .blog-content {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
    .blog-post img{
        display:inline-block;
        width:100%;
    }
    article.blog-post .img-right {
        padding-left: 15px;
    }
    article.blog-post .img-left {
        padding-right: 15px;
    }
    .date p {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .map {
        margin: 0;
    }
    .footer {
        background-position: bottom center;
        padding: 40px 0 0px;
        background-size: inherit;
    }
    .social li a {
        line-height: 3em;
    }
    .social ul{
        margin-left:0px;
    }
    .social ul > li {
        padding-left: 0px;
        padding-right: 0px;
    }


    /*---Home two---*/


    .leftc li {
        line-height: 25px;
    }
    .top_bar {
        min-height: 30px;
    }
    .home-two .slider-banner {
        margin-top: 0px;
    }
    .clearfix.push-top {
        margin-top: 10px;
    }
    .stuff-content {
        padding-top: 15px;
        padding-left: 15px;
    }
    .blog-two .blog-content {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .blog-two .blog-content img {
        display: inline-block;
        width: 100%;
    }
    .newsletter .form-control {
        width: 100%;
    }
    .newsletter .btn {
        display: inline-block;
        clear: both;
    }
    .newsletter .form-group {
        width: auto;
        display: inline-block;
        clear: both;
        margin-bottom: 0;
        vertical-align: bottom;
    }
    .newsletter .form-control {
        display: inline-block;
    }
    .feature-cont .count {
        font-size:1.5714285714285716em
    }

    /*---home three---*/
    .home-three .slider-banner .flex-caption h1 {
        display:none;
    }
    .center-side img {
        width: auto;
        max-width:100px;
    }
    .center-side {
        left: 0;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        position: relative;
        top: 0;
        margin-top: -100px;
        margin-bottom:25px;
    }
    .stuff-about .stuff-content {
        width: 100%;
    }
    .stuff-about-two .int-block p {
        margin-bottom: 20px;
    }
    .services-three span {
        height: 90px;
        width: 50px;
    }
    .services-three .intro-ser {
        margin-top: 0px;
    }
    .footer-three .footer-social {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .footer.footer-three {
        background: url(../images/home-two/footer-bg.jpg) no-repeat center 35%;
    }

    /*---inner page---*/
    header.inner-page .page-title P {
        font-size: 100%;
    }
    header.inner-page .page-title {
        top: 0%;
    }	
    .about-img {
        margin: 0 auto;
    }
    .gallerypage .filters-button-group .button {
        margin: 5px 15px 5px 0px;
    }
    .gallerypage .filters-button-group {
        padding: 10px 0px;
    }
    .callus {
        background-image: -webkit-linear-gradient(bottom, #0465ac 50%, #d0d0d0 50%);
        background-image: -moz-linear-gradient(bottom, #0465ac 50%, #d0d0d0 50%);
        background-image: -o-linear-gradient(bottom, #0465ac 50%, #d0d0d0 50%);
        background-image: -ms-linear-gradient(bottom, #0465ac 50%, #d0d0d0 50%);
        background-image: linear-gradient(to bottom, #0465ac 50%, #d0d0d0 50%);
        padding: 0;
    }
    .callus .call-text-left {
        padding-right: 0px;
        text-align:center;
    }
    .callus .call-text-right {
        padding-left: 0px;
        text-align:center;
    }
    .callus p{
        margin-bottom:15px;
    }	
    .heading-title-simple h2 {
        margin-top: 10px;
    }		
    .team-bio ul.list li {
        margin-bottom: 15px;
    }
    .single_staff_meta p {
        margin-bottom: 15px;
    }
    .aboutus-two .stuff-about .stuff-content {
        width: 100%;
    }


}

/*--------------iPhone 6 landscape----------------*/
@media only screen and (max-width: 667px) {}

/*--------------iPhone 5 landscape----------------*/
@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 480px) {
    .slider-banner .flex-caption p, .slider-banner .flex-caption a  {
        display: none;
    }
}

/*--------------iPhone 6 plus portrait----------------*/
@media only screen and (max-width: 414px) {}

/*--------------iPhone 6 portrait----------------*/
@media only screen and (max-width: 375px) {}

/*--------------iPhone 5 portrait----------------*/
@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 300px) {}

@media only screen and (max-width: 200px) {}



