/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2016, 10:25:43 AM
    Author     : Erald
*/

img.lazyOwl{
    padding-left: 5px;
    padding-right: 5px;
    width:100%;
}
.pic {
    position: relative;
    overflow: hidden;
    margin: 5px 0px 5px 5px;
    display: inline-block;
    animation: anima 2s;
    -webkit-animation: anima 2s;
    -moz-animation: anima 2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.pic:hover .pic-image {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pic:hover .bottom-to-top {
    top: 0;
    left: 0;
}
.pic:hover .bottom-to-top, .pic:hover .top-to-bottom, .pic:hover .left-to-right, .pic:hover .right-to-left, .pic:hover .rotate-in, .pic:hover .rotate-out, .pic:hover .open-up, .pic:hover .open-down, .pic:hover .open-left, .pic:hover .open-right, .pic:hover .come-left, .pic:hover .come-right {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.pic-caption {
    cursor: default;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px 10px 10px 10px;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    transition: all 0.5s ease;
}
.pic .main-title1 a, .pic .pic-caption{
    color: white !important;
}
.pic .main-title1 a:hover{
    color: white !important;
}
.owl-carousel .owl-item{
    background: rgba(0, 0, 0, 0.8);
    padding: 0 1px;
}