/*--------------------------------------------------------------
3.2 Posts in Slider
--------------------------------------------------------------*/
.post-thumbnail-1, .post-thumbnail-2, .post-thumbnail-3 { position: relative; overflow: hidden; margin-bottom: 15px; }
.tag-style-1, .tag-style-2, .post-thumbnail-1 .meta-tags, .post-thumbnail-3 .meta-tags, .post-thumbnail-1 h3, .post-thumbnail-2 h3 { position: absolute; }
.tag-style-1 p, .tag-style-2 p, .tag-style-1 i, .tag-style-2 i, .post-thumbnail-1 .meta-tags, .post-thumbnail-2 .meta-tags, .post-thumbnail-3 .meta-tags, .post-thumbnail-1 h3, .post-thumbnail-2 h3 { color: #fff; }
.post-thumbnail-1 .meta-tags, .post-thumbnail-3 .meta-tags { background: rgba(40,40,40,.7); bottom: 0; left: 0; margin-bottom: 0; padding: 10px; width: 100%; }
.meta-tags span{ margin-right: 5px; }
figure a img { width: 100%; }
.news-article { padding-bottom: 30px; }
.main-title { border-bottom: 1px solid gainsboro;padding-bottom: 10px; }
.main-description { border-bottom: 1px solid gainsboro;padding-bottom: 5px;margin: 0 0 5px; }
.leggi {font-size: 14px;display: inline-block;}

/*******************************************/
/*HOVER IMAGE*/
.hover-img {
  display: block;
  position: relative;
  /* background: #002023; */
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-icon,
.hover-img [class*=" hover-icon-"] {
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.hover-img .hover-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.hover-img:hover .hover-icon,
.hover-img:hover .hover-icon-group {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img:hover .hover-icon {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover >img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

/*******************************************/
/*ICONS EFFECTS*/
i.fa-link {
  z-index: 2;
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.round {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


