/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2017, 5:52:09 PM
    Author     : Erald
*/

/*Newsletter*/
#subscribe {
    width: 100%;
    padding: 8em 0;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
}
#subscribe h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.input-lg {
    font-size: 15px;
}
.error-span {
    padding: 3px;
    border-radius: 2px;
}
.msg-span {
    padding: 3px;
    border-radius: 2px;
}

.progress-shadow {
    background-image: linear-gradient(to bottom, #eaeaea, transparent);
    height: 4em;
    position: absolute;
    top: 95%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
    left: 0;
    z-index: -1;
}
#subscribe-btn.btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    border: 1px solid #d9534f;
    padding: 10px 20px;
}