
#menu li a {
    /*    cursor: pointer;
        display: block;
        padding: 62px 30px;
        text-decoration: none;
        font-family: 'Archivo Narrow', 'open-sans',Arial;
        color: #FFF;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0,0,0,.6);
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;*/
}
#menu ul li a {
    /*    margin: 0;
        border: none;
        font-size: 16px;*/
}
#menu li a:hover {
    /*    background-color: #ddd;
         text-shadow: 1px 1px 1px rgba(0,0,0,.6);
        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        color: #312E2E;*/
}
.navbar{
    /*    margin-bottom: 0px !important;
        border:0px;*/
}