body{
    margin-top: 10px;
    color: #FFF;
}
#pos-htop div.container{
    padding: 10px 10px 0px 10px !important;
}
#pos-htop div.container, #pos-ctop div.container, #pos-fbottom div.container, #pos-hmiddle div.container, #pos-cbottom div.container{
    margin-bottom: 10px;
    color: white;
    background: rgba(10, 10, 10, 0.7);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.nuovi-auto {
    text-align: center;
}

#pos-htop a {
    color:white;
}
.eva-social-icon a span {
    font-size: 12px !important;
}

#subscribe {
    text-align: center;
    padding: 2em 0;
}
#subscribe span.error-span, #subscribe span.msg-span {
    color:white;
}
#subscribe input {
    font-size:15px !important;
}
#subscribe button {
    padding: 13px 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/***** Navbar styling *****/
@media(min-width: 767px){
    #pb_3 {
        float:right;
        margin-top: 35px;
    }
}
.navbar{
    background: rgba(255, 255, 255, 0);
    padding: 10px 10px;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar ul{
    -webkit-padding-start: 0px;
}

.navbar-toggle {
    border: 1px solid rgb(255, 255, 255);
    float: left;
}
.navbar-toggle .icon-bar {
    border: 1px solid white;
}
.navbar-brand {
    padding: 5px 0;
}
.dropdown-menu {
    background-color:#333;
    right:0px;
}
.dropdown-menu > li > a {
    background-color:#333;
    color:#aaa;
}
.navbar > li > a {
    color:#888;
}
.navbar > li > a:hover {
    background-color: #00467f;
    color:#aaa;
}
.navbar > li > a:active {
    color:#fff;
}
.dropdown-menu > li > a:hover {
    background-color: #00467f;
    color:#fff;
}
.navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:transparent;
}
.navbar .navbar-nav > li > a {
    color: #ffffff;
    transition: 1s;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: white;
    background-color:transparent;
}
.navbar .navbar-nav > li {
}
.navbar  {
    border:0px;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-brand > img {
    width: 220px;  
}
.menu-items > li {
    margin-left: 25px;
}

@media(max-width: 767px){
    .menu-items > li {
        margin-left: 0px !important;
    }
}
.menu-items > li > a {
    padding: 10px 10px;
    font-size: 18px;
}

#pb_4 {
    float: left;
}
#pb_5{
    font-size:16px;
}
#pb_5 a{
    text-decoration:none;
}
#pb_5 a i{
    font-size: 18px;
}
#pb_5 , #pb_6 {
    float: right;
    padding-left: 15px;
}
#pb_96 i{
    font-size: 23px;
    padding-left: 10px;
    padding-right: 5px;
}
#pb_96 span {
    vertical-align: top; 
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
}
.logo{
    width: 100%
}
.logo img{
    padding: 10px;
    width: 100%;
}
.carousel .item {
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.carousel-control {
    border-radius: 5px;
}

#pos-hbottom div.h-bottom{
    /* margin-top: 10px; */
    margin-bottom: 10px;
}
@media(min-width: 0px){
    #pos-hbottom div.h-bottom{
        padding-right: 0px;
        padding-left: 0px;
    }
}
#pos-cmiddle .cmiddle{
    margin-bottom: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px;
    color:black;
}

#content-bacg .content .text-content{
    padding-top:10px;
}
.lastnews .caption{
    color:black;
}
.lastnews .caption .news-title{
    font-size:14px;
    margin-bottom: 5px;
}
.lastnews .caption .news-subtitle{
    font-size: 12px;
    font-weight:bold;
    color:#ef4124;
    border-bottom:1px solid #efefef;
    padding-bottom:5px;
    margin-top: 5px;
}
.lastnews .caption .news-content{
    font-size:11px;
    color:grey;
    padding:10px 0px
}

.static-home{
    border-left: 1px solid gray;
    padding-left: 20px;
}
/*   Footer  */
.position-26{
}
.f-align-left{
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(10, 10, 10, 0.8);
    border: solid 1px rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
.f-align-right{
    text-align: center;
    text-transform: uppercase;
    color: black;
}
.f-align-left p {
    margin: 0px;
}

div.modal-header {
    color: black;
}
div.modal-footer {
    color: black;
}

#pb_8 p{
    margin-bottom: 0;
    line-height: 24px;
}

.poweredby {
    float: right;
}


.category-list {
    background: #0d5cab;
    padding: 1em 0;
    text-align: center;
    color: white;
    text-transform:uppercase;
}

.last-products .alert {
    margin: .5em 0;
    font-size: 1.5em;
}

.all-categories a{
    position: relative;
    display: block;
    padding: .2em 0em .4em .8em;
    margin: .5em 0 0em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.all-categories ul{
    margin-bottom:0px;
} 
.all-categories ul.list li:last-child{
    margin-bottom: 10px !important;
} 
.all-categories a:hover{
    background: #eee;
}       

.all-categories a:before{
    content: "\203A";
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.all-categories a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.all-categories a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;
}  

#sidebar .sidebar-content {
    background-color: rgb(239, 65, 36) !important;
}
#sidebar .sidebar-content .head-side-bar {
    background-color: #0d5cab !important;
}

.last-products .product-list {
    box-shadow: 0 0px 0px 0px rgba(158, 36, 48, 0.85);
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 2;
    margin: 2px 0 0px 0;
    padding: 0 0 2px 0;
    border: 0px solid #ab888c;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
}
.last-products .product-list .main-title1 {
    padding: 10px;

}
.dettagli-btn{
    float:right;
    padding:10px;
}
@media(max-width: 992px){
    .last-products .product-list {
        text-align: center;
    }
    .dettagli-btn{
        text-align: center !important;
        float:none;
    }

}

#sidebar .sidebar-content .head-side-bar h4 {
    font-size: 18px !important;
    text-align: center !important;
    font-weight: normal !important;
    padding: 10px 0 !important;
}

#pos-ctop #sidebar{/* margin-top: 30px; */}

.up-content {
    color: #fff;
    background-color: #0d5cab;
    width: 100%;
    padding: 0px 15px;
}
.tab-content {
    margin: 10px 0;
    display: table;
    font-size: 14px;
}
.list-info ul{
    -webkit-padding-start: 0px;
}
.list-info ul li{
    list-style-type:none;
    padding: 10px 5px;
    background: #e0e0e0;
    color: black;
    margin: 2px 0px;
}
.details-info {
    margin: 20px 0px 0px 0px !important;
    color: white !important;
    background: #ef4124 !important;
    padding: 10px !important;
    width: 100%;
    font-size: 20px;
}
.information {
    margin: 20px 0px 0px 0px !important;
    color: white !important;
    background: #ef4124 !important;
    padding: 10px !important;
    width: 100%;
    font-size: 20px;
}

.form-container {
    background: #ef4124 !important;
}