
#card-list-news article {
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 1ex 3ex;
}

#card-list-news article:hover {
  box-shadow: 0px 0px 3px rgba(100, 200, 300, 0.8);
}

#card-list-news h1 {
  font-size: 20px;
  color: #444;
  font-weight: 100;
}

#card-list-news h1 span {
  color: #000;
  font-weight: 400;
}

#card-list-news section {
  color: #444;
  display: block;

}

#card-list-news .date {
  color: #444;
  display: block;
  padding: 15px 0 15px;
}

#card-list-news .date:hover {
  color: #589;
}

#card-list-news .date:hover time {
  color: #000;
  border-color: #589;
}

#card-list-news .date:hover time span {
  color: #444;
  border-color: #589;
}

#card-list-news time  {
  font-size: 20px;
  border-left: 3px solid #eee;
  line-height: 20px;
  padding: 5px 0 5px 10px;
  color: #38a3e2;
}

#card-list-news article a:hover{
    color:#589 !important;
    
}

#card-list-news article a {
    color:#444!important;
    
}

#card-list-news time span a{
  font-size: 15px;
  color: #ccc;
  font-weight: 600;
  display: block;
  line-height: 30px;
  color:#589;
}

#card-list-news p {
  font-size: 16px;
  /* padding-left: 30px; */
  margin: 0px;
  /* display:inline; */
}

#card-list-news .article-title {
  font-size:20px;
    
  
}

#card-list-news h4 {
  display:inline;
}

#card-list-news article a {
    text-decoration: none!important;
}



* {
  transition: all .3s ease;
}