.tickercontainer {
    width: 100%;
    height: 27px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size: 14px;
}

.tickercontainer .mask {
    position: relative;
    top: 5px;
    height: 25px;
    overflow: hidden;
}

ul.newsticker {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
    position: relative;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left;
    margin: 0;
    padding: 0 7px;
    box-sizing: border-box;
}