/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2017, 5:41:28 PM
    Author     : Erald
*/


#frontend-dashboard {
    margin-top: 20px;
}

body * {
  transition: all 0.5s;
}

.box {
  width: 100%;
  height: 285px;
  padding: 15px;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
  margin-bottom: 25px;
}
.box .icon-cont {
  border: 5px solid rgba(201, 0, 0, 1);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 20px auto;
  display: block;
  text-align: center;
  /* position: absolute; */
  /* top: 10px; */
  /* left: 0; */
  /* right: 0; */
  z-index: 5;
  box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
  background: #c30000;
}
.box .icon-cont i {
  color: #ffffff;
  opacity: 1;
  font-size: 2.5em;
  line-height: 65px;
}
.box:hover .icon-cont {
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(201, 0, 0,0.5), 0 0 0 0px rgba(255, 255, 255, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(201, 0, 0, 0), 0 0 0 0px rgba(255, 255, 255, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(201, 0, 0,0.5), 0 0 0 0px rgba(255, 255, 255, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(201, 0, 0,0.5), 0 0 0 0px rgba(255, 255, 255, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(201, 0, 0,0), 0 0 0 0px rgba(255, 255, 255, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(201, 0, 0,0.5), 0 0 0 0px rgba(255, 255, 255, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(201, 0, 0,0.5), 0 0 0 0px rgba(255, 255, 255, 0.5);}
}

.box h3 {
  color: #2e2e2e;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255,255,255,0);
  /* position: absolute; */
  /* top: 125px; */
  z-index: 4;
  margin-top: 45px;
}
.box ul {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  text-indent: 14px;
  margin: 25px;
  margin-top: 380px;
  list-style-type: disc;
}
.box ul.hidden {
  opacity: 0;
}
.box a.expand {
  width: 35px;
  height: 35px;
  background: #c30000;
  font-weight: 600;
  color: #036C81;
  display: block;
  margin: 15px auto 25px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.box a.expand span.minus {
  opacity: 0;
}
.box a.expand span.plus {
  opacity: 1;
  padding-left: 5px;
}
.box.selected a.expand {
  display: block;
  position: absolute;
  left: 180px;
  right: -29px;
  bottom: -39px;
  width: 80px;
  height: 50px;
  background: #eee;
  color: #036C81;
  transform: rotate(-45deg);
}
.box.selected a.expand span {
  display: block;
  position: absolute;
  top: -4px;
  left: 38px;
  transform: rotate(45deg);
  font-size: 24px;
}
.box.selected a.expand span.minus {
  opacity: 1;
}
.box.selected a.expand span.plus {
  opacity: 0;
}
.box.selected .icon-cont {
  transform: scale(1.5,1.5);
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: -5px;
  right: 180px;
}
.box.selected:hover .icon-cont {
  animation: none;
}
.box.selected h3 {
  padding: 32px 15px 15px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  
  width: 70%;
  top: 16px;
  left: 10%;
}
.box.selected ul.hidden {
  opacity: 1;
  margin-top: 95px;
}

#frontend-dashboard .footer-btn {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}
#frontend-dashboard .footer-btn .left-btn, #frontend-dashboard .footer-btn .right-btn {
    background: #2e2e2e;
    padding: 10px;
    text-align: center;
}
@media(min-width: 767px){
#frontend-dashboard .footer-btn .left-btn {
    border-right: 1px solid white;
}
}
@media(max-width: 767px){
#frontend-dashboard .footer-btn .left-btn {
    border-bottom: 1px solid white;
}
}

#frontend-dashboard .footer-btn a{
    color:white;
}