/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 2:39:54 PM
    Author     : Erald
*/


.well-label {
    width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
    color: gray;
    font-size: 12px;
    text-align: right;
}
.border-left {
    /* border-left: 1px dotted gainsboro; */
}
.titlecatege {
    margin-bottom: 5px;
    text-transform: uppercase;
}
/* Upload & Input file */
.upload-btn {
    max-width: 100%;
    padding: 0px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;/* Make padding go inside the element, instead of expanding */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Container for 2 child elements (button & filename) */
.fileUpload {
    background: #fff;
    color: white;
    border: 0;
    display: block;
    margin: 0px;
    width: 100%;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
}
/* The button */
.fileUpload .fileBtn {
    background: #C90000;
    /* cursor: pointer; */
    /* float: left; */
    font-size: 1em;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    width: 33%;
    -o-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 0px;
    transition: 0.5s;
}
.fileUpload .fileBtn:hover{
    background: #010101;
}
/* Where the input-name will be filled in */
.fileUpload .fileName {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    width: 67%;
    text-align: center;
    color: #000;
    margin: -25px 0;
}
.form-control:focus {
    border-color: #B75151;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(183, 81, 81);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(183, 81, 81);
}

#edit-profile {
    margin-top: 20px;
}

.thumbnail {
    background: aquamarine;
}

/***************Material Design***********/

.login {
    padding: 25px 25px 10px 25px;
}

.info {
    padding: 0 25px 10px 25px;
    font-size: 0.7em;
    text-align: center;
}
.info a {
    color: #c90000;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.info a:hover, .info a:focus, .info a:active {
    color: #c90000;
}
.info a::after {
    content: "|";
    color: #646464;
    margin: 0 10px;
}
.info a:last-child::after {
    content: "";
}

fieldset {
    padding: 0;
    margin-bottom: 40px;
    border: none;
    position: relative;
}

label {
    position: absolute;
    pointer-events: none;
    /* font-size: 1.2em; */
    top: 7px;
    -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
    transition: top 0.2s, font-size 0.2s, color 0.2s;
    font-weight: 400;
}

.underline {
    width: 100%;
}

.underline::before,
.underline::after {
    position: absolute;
    content: "";
    top: 32px;
    width: 0%;
    height: 2px;
    opacity: 0;
    background-color: #c90000;
    -webkit-transition: width 0.2s, opacity 0.2s;
    transition: width 0.2s, opacity 0.2s;
}

.underline::before {
    right: 50%;
}

.underline::after {
    left: 50%;
}

input {
    position: relative;
    display: block;
    width: 100%;
    padding: 7px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #eeeeee;
    border-left: none;
    font-weight: 400;
}
input:focus {
    outline: none;
}
input:focus ~ .underline::before, input:focus ~ .underline::after {
    opacity: 1;
    width: 50%;
}
input:focus + label {
    color: #c90000;
}

input:focus + label,
input.filled + label {
    font-size: 0.9em;
    top: -15px;
    color: #a0a0a0;
}

input[type=checkbox] + label,
input[type=checkbox] + label {
    top: 0px !important;
}

input[type=checkbox]:focus + label,
input[type=checkbox].filled + label {
    font-size: 1em;
    top: 0px !important;
    color: #646464;
    outline:none;
}

#edit-profile .password-reset fieldset {
    margin-bottom: 0px;
}
