/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2017, 12:34:08 PM
    Author     : Erald
*/

/*********Log in***********/


.title-login{padding: 5em 0;}

.login-main-title{margin: 0;padding: 0;font-size: 72px;text-transform: capitalize;font-weight: 100;}
.login-main-subtitle{font-size: 24px;font-weight: 300;}

@media (max-width: 768px){
  .title-login{padding: 3em 0;}

.login-main-title{margin: 0;padding: 0;font-size: 50px;text-transform: capitalize;font-weight: 100;}
.login-main-subtitle{font-size: 20px;font-weight: 300;}
}

@media (max-width: 992px){
#header div.logo {
    width: 100%;
}

#header div.logo img {
    margin: 0 auto;
}
}
#pos-hmiddle::after {
    bottom: 0px;
    border-bottom: 1px solid #eeeeee;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0);
}

.alert {
    padding: 2em;
    margin: 0em 5em 4em 5em;
    border: 1px solid transparent;
    border-radius: 2px;
}


#login-page, #register-page{
    /* padding:15px; */
    /* margin-top: 5em; */
}
.login-name, .login-email, .login-username, .login-password, .login-btn{
    margin: 0px 0;
}
.user-logged {
    font-size: 20px;
    float: right;
    margin: 10px 0 0px 0;
    text-transform: capitalize;
}
.register-buttons {
    padding-top: 2em;
}
.right-side .login-content .register-buttons {
    padding-top: 7em;
}

.right-side .register-content .register-buttons {
    padding-top: 20em;
}

.or {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dee3e4;
    position: relative;
    margin: 2em 0;
}

.or:before {
    content: 'or';
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: calc(50% - 20px);
    background-color: #dee3e4;
    text-align: center;
    color: #555;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
}

.login-with-fb
{
    width: 100%;
    display: block;
    margin: 0em 0 0 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    opacity: .95;
    border-radius:         3px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
}
.login-with-fb:hover{
    opacity: 1;
    color:white;
}
.login-with-fb{
    background: #527EBF
}
.login-with-fb .icon
{
    float: left;
    font-size: 21px;
    width: 50px;
    height: 26px;
    margin: 7px;
    padding: 2px;
    text-align: center;
    border-right: 1px solid #fff;
}
@media (min-width: 768px){
.left-side {
    border-right: 1px solid #c8c8c8;
}
.left-side:before {
    content: 'or';
    width: 30px;
    height: 30px;
    position: absolute;
    right: -15px;
    top: calc(50% - 20px);
    background-color: #c8c8c8;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
}

}

@media (max-width: 768px){
.left-side {
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 2em;
}
.left-side:before {
    content: 'or';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    right: calc(50% - 20px);
    background-color: #c8c8c8;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
}

.right-side .login-content .register-buttons {
    padding-top: 3em;
}

.login-content, .register-content {
    padding: 0 !important;
}
.right-side .register-content .register-buttons {
    padding-top: 3em;
}

}

.login-content, .register-content {
    padding: 0 5em;
}

/************************/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1em;

}

.card {
  margin: 0 auto;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

#login-page .title {
  margin: 0;
  padding: 20px 20px 10px;
  font-size: 4.8em;
  font-weight: 400;
  text-align: center;
  color: #c90000;
}

#login-page .login {
  padding: 25px 25px 10px 25px;
}

#login-page .info {
  padding: 0 25px 10px 25px;
  font-size: 0.7em;
  text-align: center;
}
#login-page .info a {
  color: #c90000;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
#login-page .info a:hover, .info a:focus, .info a:active {
  color: #c90000;
}
#login-page .info a::after {
  content: "|";
  color: #646464;
  margin: 0 10px;
}
#login-page .info a:last-child::after {
  content: "";
}

fieldset {
  padding: 0;
  margin-bottom: 40px;
  border: none;
  position: relative;
}

#login-page label {
  position: absolute;
  pointer-events: none;
  font-size: 1.2em;
  top: 7px;
  -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  font-weight: 400;
}

#login-page .underline {
  width: 100%;
}

#login-page .underline::before,
#login-page .underline::after {
  position: absolute;
  content: "";
  top: 28px;
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #c90000;
  -webkit-transition: width 0.2s, opacity 0.2s;
  transition: width 0.2s, opacity 0.2s;
}

#login-page .underline::before {
  right: 50%;
}

#login-page .underline::after {
  left: 50%;
}

#login-page input, #login-page select {
  position: relative;
  display: block;
  width: 100%;
  padding: 7px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  font-weight: 400;
}

#login-page input:focus, #login-page select:focus {
  outline: none;
}
#login-page input:focus ~ .underline::before, #login-page input:focus ~ .underline::after {
  opacity: 1;
  width: 50%;
}
#login-page input:focus + label {
  color: #c90000;
}

#login-page input:focus + label,
#login-page input.filled + label {
  font-size: 1em;
  top: -15px;
}

#login-page input[type=checkbox] + label,
#login-page input[type=checkbox] + label {
  top: 0px !important;
}

#login-page input[type=checkbox]:focus + label,
#login-page input[type=checkbox].filled + label {
  font-size: 1em;
  top: 0px !important;
  color: #646464;
  outline:none;
}

#login-page .register-select label {
    position: relative;
    font-size: 1em;
}

#login-page .register-select select {
    background-color: white;
    padding: 8px 0 0 0;
}

#login-page button {
  /* display: block; */
  /* width: 100%; */
  /* padding: 15px; */
  /* border: none; */
  /* background-color: #c90000; */
  /* border-radius: 3px; */
  /* color: #f0f0f0; */
  /* box-shadow: 0 2px 6px rgba(100, 100, 100, 0.6); */
  /* -webkit-transition: background-color 0.2s, box-shadow 0.2s; */
  /* transition: background-color 0.2s, box-shadow 0.2s; */
}
#login-page button:focus, #login-page button:active {
  outline: none;
}
#login-page button:active {
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.8);
}
#login-page label {
    color: #333;
}

#login-page .checkbox {
  padding-left: 20px;
}

#login-page .checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

#login-page .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

#login-page .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

#login-page .checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
}

#login-page .checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#login-page .checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

#login-page .checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

#login-page .checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

#login-page .checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

#login-page .checkbox.checkbox-inline {
  margin-top: 0;
}

#login-page .checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

#login-page .checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

#login-page .checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

#login-page .checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

#login-page .checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

#login-page .checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

#login-page .checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

#login-page .checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

#login-page .checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

#login-page .checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

#login-page .radio {
  padding-left: 20px;
}

#login-page .radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

#login-page .radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

#login-page .radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

#login-page .radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

#login-page .radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#login-page .radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

#login-page .radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

#login-page .radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

#login-page .radio.radio-inline {
  margin-top: 0;
}

#login-page .radio-danger input[type="radio"] + label::after {
  background-color: #c90000;
}

#login-page .radio-danger input[type="radio"]:checked + label::before {
  border-color: #c90000;
}

#login-page .radio-danger input[type="radio"]:checked + label::after {
  background-color: #c90000;
}

#login-page .no-account{
  float:left;
  font-size: 1.2em;
}

#login-page .forgot-pasword{
  float:right;
  font-size: 1.2em;
}

#login-page .forgot-pasword a{
  color:black;
}