/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2017, 8:18:04 PM
    Author     : Erald
*/

.last-products .alert {
    margin: .5em 0;
    font-size: 1.5em;
}

.all-categories a{
 position: relative;
 display: block;
 padding: .2em 0em .4em .8em;
 margin: .5em 0 0em 2.5em;
 background: #f3f3f3;
 color: #444;
 text-decoration: none;
 transition: all .3s ease-out;
}

.all-categories ul{
 margin-bottom:0px;
 padding: 0;
} 
.all-categories ul.list li:last-child{
 margin-bottom: 10px !important;
} 
.all-categories a:hover{
 background: #eee;
}       

.all-categories a:before{
 content: "\203A";
 position: absolute;
 left: -2.5em;
 top: 50%;
 margin-top: -1em;
 background: #fa8072;
 height: 2em;
 width: 2em;
 line-height: 2em;
 text-align: center;
 font-weight: bold;
}

.all-categories a:after{
 position: absolute;
 content: '';
 border: .5em solid transparent;
 left: -1em;
 top: 50%;
 margin-top: -.5em;
 transition: all .3s ease-out;
}

.all-categories a:hover:after{
 left: -.5em;
 border-left-color: #fa8072;
}  
