@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
#last-products .fa {
    font-size: 18px;
    color: white;
    font-width: light;
}
#last-products .product-card {
    background: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}
#last-products .title {
    padding: 20px;
    color: white;
    background: #0d5cab;
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#last-products .details {
    background: white;
}
#last-products .detail {
    color: #777;
    padding: 20px 10px;
    line-height: 0;
    height: 40px;
    border-bottom: dotted 1px silver;
    font-size: 12px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
#last-products .feature {
    float: left;
}
#last-products .category a {
    float: right;
    color: #0d5cab;
    margin-top: 0px;
}
#last-products .price {
    float: right;
    color: #ef4124;
    margin-top: 0px;
    font-weight: bold;
    font-size: 1.3em;
}
#last-products .footer {
    padding: 10px 0;
}
#last-products .img-wrapper {
    padding: 0;
    position: relative;
}
#last-products .img-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(62, 79, 178, .25); */
    
    width: 100%;
}
#last-products .img-wrapper img {
    width: 100%;
    object-fit: cover;
    margin: 0;
    display: block;
    position: relative;
}
#last-products .content p {
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
   /* font-family: 'Roboto', sans-serif;*/
}
#last-products .content p a {
    font-size: 12px;
    background: white;
    padding: 2.5px 5px;
    color: #ff2670;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    margin-left: 1.5px;
}
#last-products .content img,
#last-products .content p {
    opacity: 0;
    position: relative;
    top: -7.5px;
}