.search-input {
    opacity: .7;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-transition: background-image .2s ease-out;
    -moz-transition: background-image .2s ease-out;
    -ms-transition: background-image .2s ease-out;
    -o-transition: background-image .2s ease-out;
    transition: background-image .2s ease-out;
    padding: 12px 12px 12px 45px;
    background: no-repeat 15px 50%;
    width: 100%;
    min-height: 20px;
    display: block;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: none;
    background-image: url('https://static1.squarespace.com/universal/images-v6/icons/icon-searchqueries-20-dark.png');
}

.search-input:hover {
    opacity: 1;
}

.product-searchbox-container {
    margin-top: 13px;    
    margin-bottom: 30px;    
}
