/** Shop List **/

.pre-featured {
    background-color: rgba(236, 28, 36, 0.08);
    margin-bottom: 30px;
}
.pre-featured h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
}
.pre-featured .right-content {
    text-align: right;
}
.pre-featured .right-content .input-select {
    margin: 15px 10px;
    display: inline-block;
}
.pre-featured .right-content .input-select select {
    cursor: pointer;
    border: 1px solid #ffffff;
    width: 180px;
    height: 36px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #be1e2d;
    text-transform: uppercase;
    outline: none;
}
.pre-featured .right-content .input-select select option {
    font-size: 10px;
    color: #888888;
    margin-bottom: 5px;
}
.pre-featured .right-content .grid-list {
    float: right;
    display: inline-block;
    margin: 15px 20px 15px 0px;
}
.pre-featured .right-content .grid-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.pre-featured .right-content .grid-list ul li {
    margin: 0 2px;
    display: inline-block;
}
.pre-featured .right-content .grid-list ul li a {
    color: #be1e2d;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}


.listing-grid .featured-item {
    margin-bottom: 30px;
}
.listing-grid .featured-item img {
    width: 100%;
    overflow: hidden;
}
.listing-grid .featured-item .down-content {
    background-color: #ffffff;
    padding: 15px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.listing-grid .featured-item .down-content h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    width: 70%;
    display: inline-block;
}
.listing-grid .featured-item .down-content span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 36px;
    padding: 0px 12px;
    display: inline-block;
    margin-top: -15px;
    margin-right: -15px;
    float: right;
    background-color: #f4c23d;
    font-size: 13px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
}
.listing-grid .featured-item .down-content .light-line {
    width: 40px;
    height: 2px;
    background-color: #eeeeee;
    margin-top: 15px;
}
.listing-grid .featured-item .down-content p {
    margin-top: 10px;
    margin-bottom: 30px;
}
.listing-grid .featured-item .down-content .car-info {
    margin: -15px;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
}
.listing-grid .featured-item .down-content .car-info ul {
    padding: 0;
    margin: 0px 15px;
    list-style: none;
}
.listing-grid .featured-item .down-content .car-info ul li {
    text-align: left;
    padding-right: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 5px;
    border-right: 1px solid #eeeeee;
    display: inline-block;
    font-size: 13px;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
.listing-grid .featured-item .down-content .car-info ul li i {
    margin-left: -5px;
    margin-right: 5px;
    color: #222222;
}
.listing-grid .featured-item .down-content .car-info ul li:last-child {
    border-right: none;
    padding-right: 0px;
}
.listing-grid .featured-item:hover h2 {
    color: #336699;
}
.listing-grid .pagination {
    display: inline-block;
    width: 100%;
}
.listing-grid .pagination .prev {
    text-align: left;
    margin-bottom: -36px;
}
.listing-grid .pagination .prev a {
    background-color: #f5fafe;
    border: 1px solid #e5f2ff;
    padding: 0px 15px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #336699;
    text-transform: uppercase;
}
.listing-grid .pagination .prev a i {
    margin-right: 5px;
}
.listing-grid .pagination .next {
    text-align: right;
    margin-top: -36px;
}
.listing-grid .pagination .next a {
    background-color: #f5fafe;
    border: 1px solid #e5f2ff;
    padding: 0px 15px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #336699;
    text-transform: uppercase;
}
.listing-grid .pagination .next a i {
    margin-left: 5px;
}
.listing-grid .pagination .page-numbers {
    text-align: center;
    background-color: #f5fafe;
    border: 1px solid #e5f2ff;
    height: 36px;
    width: 245px;
    margin-right: auto;
    margin-left: auto;
}
.listing-grid .pagination .page-numbers ul {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}
.listing-grid .pagination .page-numbers ul li {
    display: inline-block;
    padding: 0 8px;
}
.listing-grid .pagination .page-numbers ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 36px;
    color: #336699;
    text-transform: uppercase;
}
.listing-grid .pagination .page-numbers ul .active a {
    border-bottom: 2px solid #336699;
    padding-bottom: 7px;
    padding-right: 3px;
    padding-left: 3px;
}
.listing-page #listing-cars .featured-item {
    margin-bottom: 50px;
}
.listing-page #listing-cars .featured-item img {
    max-width: 100%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
.listing-page #listing-cars .featured-item .right-content {
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content {
        padding: 20px;
        margin-left: 0px;
        border-top: none;
        border-left: 1px solid #eeeeee;
    }
}
.listing-page #listing-cars .featured-item .right-content h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    width: 70%;
}
.listing-page #listing-cars .featured-item .right-content span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 36px;
    padding: 0px 12px;
    display: inline-block;
    margin-top: -33px;
    margin-right: 0px;
    float: right;
    background-color: #ec1c24;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content span {
        margin-top: -37px;
        margin-right: -20px;
    }
}
.listing-page #listing-cars .featured-item .right-content .light-line {
    width: 160px;
    height: 2px;
    background-color: #eeeeee;
    margin-top: 12px;
    margin-left: 300px;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .light-line {
        margin-left: 0px;
    }
}
.listing-page #listing-cars .featured-item .right-content p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 14px;
}
.listing-page #listing-cars .featured-item .right-content .view-details {
    display: inline-block;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .view-details {
        float: left;
    }
}
.listing-page #listing-cars .featured-item .right-content .view-details a {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #be1e2d;
    text-transform: uppercase;
    border: 1px solid #eeeeee;
    padding: 5px 8px;
    display: inline-block;
}
.listing-page #listing-cars .featured-item .right-content .item-rate {
    margin-left: 430px;
    margin-top: -25px;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .item-rate {
        margin-left: 20px;
        float: left;
        margin-top: 0px;
    }
}
.listing-page #listing-cars .featured-item .right-content .item-rate ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.listing-page #listing-cars .featured-item .right-content .item-rate ul li {
    display: inline-block;
}
.listing-page #listing-cars .featured-item .right-content .item-rate ul li i {
    font-size: 13px;
    color: #f4c23d;
}
.listing-page #listing-cars .featured-item .right-content .car-info {
    margin-top: 16px;
    border-bottom: 0px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .car-info {
        margin-top: 80px;
        border-bottom: none;
        border-top: none;
    }
}
.listing-page #listing-cars .featured-item .right-content .car-info ul {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    list-style: none;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .car-info ul {
        float: none;
        text-align: center;
    }
}
.listing-page #listing-cars .featured-item .right-content .car-info ul li {
    text-align: left;
    padding-right: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 5px;
    border-right: 1px solid #eeeeee;
    display: inline-block;
    font-size: 13px;
    color: #888888;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .car-info ul li {
        border-right: none;
        text-align: center;
        padding-right: 0px;
    }
}
.listing-page #listing-cars .featured-item .right-content .car-info ul li i {
    margin-left: -5px;
    margin-right: 5px;
    color: #222222;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .car-info ul li i {
        margin: 0 5px;
    }
}
.listing-page #listing-cars .featured-item .right-content .car-info ul li:last-child {
    border-right: none;
    padding-right: 0px;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .featured-item .right-content .car-info ul li:last-child {
        display: none;
    }
}
.listing-page #listing-cars .featured-item:hover h2 {
    color: #be1e2d;
}
.listing-page #listing-cars .last-featured {
    margin-bottom: 30px;
}
.listing-page #listing-cars .pagination {
    display: inline-block;
    width: 100%;
}
@media (max-width: 991px) {
    .listing-page #listing-cars .pagination {
        margin-bottom: 80px;
    }
}
.listing-page #listing-cars .pagination .prev {
    text-align: left;
    margin-bottom: -36px;
}
.listing-page #listing-cars .pagination .prev a {
    background-color: #f5fafe;
    border: 1px solid #e5f2ff;
    padding: 0px 15px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #336699;
    text-transform: uppercase;
}
.listing-page #listing-cars .pagination .prev a i {
    margin-right: 5px;
}
.listing-page #listing-cars .pagination .next {
    text-align: right;
    margin-top: -36px;
}
.listing-page #listing-cars .pagination .next a {
    background-color: #f5fafe;
    border: 1px solid #e5f2ff;
    padding: 0px 15px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #336699;
    text-transform: uppercase;
}
.listing-page #listing-cars .pagination .next a i {
    margin-left: 5px;
}
.listing-page #listing-cars .pagination .page-numbers {
    text-align: center;
    background-color: #f5fafe;
    border: 1px solid #e5f2ff;
    height: 36px;
    width: 245px;
    margin-right: auto;
    margin-left: auto;
}
.listing-page #listing-cars .pagination .page-numbers ul {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}
.listing-page #listing-cars .pagination .page-numbers ul li {
    display: inline-block;
    padding: 0 8px;
}
.listing-page #listing-cars .pagination .page-numbers ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 36px;
    color: #336699;
    text-transform: uppercase;
}
.listing-page #listing-cars .pagination .page-numbers ul .active a {
    border-bottom: 2px solid #336699;
    padding-bottom: 7px;
    padding-right: 3px;
    padding-left: 3px;
}


#sidebar .sidebar-content {
    background-color: rgb(190, 30, 45);
}
#sidebar .sidebar-content .head-side-bar {
    padding: 15px 0px;
    background-color: #9e2430;
}
#sidebar .sidebar-content .head-side-bar h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}
#sidebar .sidebar-content .search-form {
    padding: 25px;
}
#sidebar .sidebar-content .search-form .select {
    overflow: hidden;
    position: relative;
    display: block;
}
#sidebar .sidebar-content .search-form .select #id_type {
    margin-bottom: 20px;
}
#sidebar .sidebar-content .search-form .select #id_brand {
    margin-bottom: 20px;
}
#sidebar .sidebar-content .search-form .select #style {
    margin-bottom: 30px;
}
#sidebar .sidebar-content .search-form .select #features {
    margin-bottom: 20px;
}
#sidebar .sidebar-content .search-form .select #color {
    margin-bottom: 20px;
}
#sidebar .sidebar-content .search-form select {
    border: 1px solid #ffffff;
    cursor: pointer;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9e2430;
    padding: 8px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 20px;
}
#sidebar .sidebar-content .search-form .select:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #be1e2d;
    padding: 8px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
#sidebar .sidebar-content .search-form .slider-range {
    margin-bottom: 40px;
}
#sidebar .sidebar-content .search-form .slider-range h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
}
#sidebar .sidebar-content .search-form .slider-range .ui-slider-horizontal .ui-slider-range {
    background-color: #f4c23d;
}
#sidebar .sidebar-content .search-form .slider-range .ui-slider-horizontal {
    border-radius: 0px;
    background-color: #4775a3;
}
#sidebar .sidebar-content .search-form .slider-range input {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: -10px;
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
}
#sidebar .sidebar-content .search-form .advanced-button {
    width: 100%;
    text-align: center;
}
#sidebar .sidebar-content .search-form .advanced-button a {
    margin-right: 8px;
}
@media (max-width: 991px) {
    #sidebar .video-post {
        display: none;
    }
}
#sidebar .video-post .video-holder {
    margin-top: 30px;
    position: relative;
}
#sidebar .video-post .video-holder img {
    max-width: 100%;
    position: absolute;
    z-index: 9;
}
#sidebar .video-post .video-holder .video-content {
    position: absolute;
    z-index: 10;
    width: 100%;
}
#sidebar .video-post .video-holder .video-content i {
    margin: 10px;
    float: right;
    width: 36px;
    height: 36px;
    background-color: #336699;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    color: #ffffff;
    border: 2px solid #ffffff;
}
#sidebar .video-post .video-holder .video-content h4 {
    position: relative;
    margin-top: 122px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
}
.submit-button{
    border: 1px solid #ffffff;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9e2430;
    padding: 8px;
    -webkit-appearance: none;
    font-weight: bold;
    margin-top: 20px;
}

.advanced-button {
    width: 160px;
    height: 40px;
    background-color: #fcf6f7;
    line-height: 40px;
}
.advanced-button a {
    margin-left: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
}
.advanced-button i {
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fcf6f7;
}



/** Shop Details **/

.car-details .up-content {
    position: relative;
    width: 100%;
    background-color: rgb(72, 135, 180);
    height: 60px;
    color: white;
}
@media (max-width: 991px) {
    .car-details .up-content {
        height: auto;
        padding: 15px;
    }
}
.car-details .up-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .car-details .up-content h2 {
        margin: 0px;
        float: none;
    }
}
.car-details .up-content span {
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ec1c24;
    float: right;
    width: 110px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
@media (max-width: 991px) {
    .car-details .up-content span {
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        margin-top: 14px;
        width: 80px;
        float: left;
    }
}
.car-details .flexslider {
    margin-top: 20px;
}
.car-details .flexslider ul li img {
    max-width: 100%;
}
.car-details .tabs {
    margin-top: 30px;
}
.car-details .tabs .tab-links:after {
    display: block;
    clear: both;
    content: '';
}
.car-details .tabs .tab-links {
    border-bottom: 2px solid #eeeeee;
    padding: 0;
    margin: 0;
}
.car-details .tabs .tab-links li {
    margin-bottom: 10px;
    margin-right: 20px;
    list-style: none;
    display: inline-block;
}
@media (max-width: 991px) {
    .car-details .tabs .tab-links li {
        display: block;
        margin-bottom: 15px;
    }
}
.car-details .tabs .tab-links a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #888888;
    text-transform: uppercase;
    transition: all linear 0.15s;
    border-radius: 0px;
    padding-bottom: 10px;
}
@media (max-width: 991px) {
    .car-details .tabs .tab-links a {
        padding-bottom: 3px;
    }
}
.car-details .tabs .tab-links a:hover {
    color: #222222;
    text-decoration: none;
}
.car-details .tabs li.active a,
.car-details .tabs li.active a:hover {
    color: #222222;
    border-bottom: 2px solid #ec1c24;
}
.car-details .tabs .tab-content {
    margin-top: 20px;
}
.car-details .tabs .tab-content h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #336699;
    font-weight: 400;
}
.car-details .tabs .tab-content p {
    margin-top: 15px;
}
.car-details .tabs .tab {
    display: none;
}
.car-details .tabs .tab.active {
    display: block;
}
.car-details .more-info h4 {
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #eeeeee;
}
.car-details .more-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.car-details .more-info ul li {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #888888;
    margin: 5px 0px;
}
.car-details .more-info ul li i {
    color: #f4c23d;
    margin-right: 10px;
}

@media (max-width: 991px) {
    #left-info {
        margin-top: 60px;
    }
}
#left-info .details {
    background-color: rgba(204, 204, 204, 0.2);
}
#left-info .details .head-side-bar {
    padding: 15px 0px;
    background-color: #9e2430;
}
#left-info .details .head-side-bar h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 4px solid #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7px;
}
#left-info .details .list-info {
    margin: 10px 20px;
}
#left-info .details .list-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#left-info .details .list-info ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #eeeeee;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9e2430;
    font-weight: 700;
}
#left-info .details .list-info ul li span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #5a5a5a;
    width: 150px;
    display: inline-block;
    font-weight: 400;
}
#left-info .details .list-info ul li:last-child {
    border-bottom: none;
    padding-bottom: 20px;
}
#left-info .enquiry {
    background-color: #f5fafe;
    margin-top: 30px;
}
#left-info .enquiry .head-side-bar {
    padding: 15px 0px;
    background-color: #2f5e8e;
}
#left-info .enquiry .head-side-bar h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 4px solid #f4c23d;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}
#left-info .enquiry .subhead-side-bar {
    padding: 0px;
}
#left-info .enquiry .subhead-side-bar h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #336699;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 4px solid #f4c23d;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}
#left-info .enquiry .contact-form {
    margin: 20px;
}
#left-info .enquiry .contact-form p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #336699;
    margin-bottom: 20px;
}
#left-info .enquiry .contact-form input {
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #336699;
    outline: none;
    border: 1px solid #e5f2ff;
    margin-bottom: 20px;
    padding-left: 15px;
}
#left-info .enquiry .contact-form textarea {
    max-width: 100%;
    width: 100%;
    max-height: 120px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #336699;
    outline: none;
    border: 1px solid #e5f2ff;
    margin-bottom: 10px;
    padding: 10px 15px;
}
#left-info .enquiry .check-boxes {
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
}
#left-info .enquiry .check-boxes ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#left-info .enquiry .check-boxes ul li {
    display: block;
    margin-bottom: 10px;
}
#left-info .enquiry .check-boxes input[type="checkbox"] {
    display: none;
}
#left-info .enquiry .check-boxes input[type="checkbox"] + label {
    display: inline;
    width: 12px;
    height: 16px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/check-box.png) left top no-repeat;
    cursor: pointer;
}
#left-info .enquiry .check-boxes label {
    padding-left: 22px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #92a9c4;
    font-weight: 400;
}
#left-info .enquiry .check-boxes input[type="checkbox"]:checked + label {
    background: url(../images/checked-box.png) 0px top no-repeat;
}
#left-info .enquiry .check-boxes .advanced-button {
    margin-top: 20px;
    margin-bottom: 40px;
}
#left-info .enquiry .call-info {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
#left-info .enquiry .call-info i {
    width: 48px;
    height: 48px;
    border: 1px solid #a4d1fd;
    color: #9aadc6;
    font-size: 28px;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    float: left;
    margin-right: 15px;
}
#left-info .enquiry .call-info h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #336699;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline-block;
}
#left-info .enquiry .call-info p {
    text-transform: uppercase;
    color: #92a9c4;
    font-size: 10px;
}
#left-info .enquiry .call-info span {
    color: #336699;
    font-family: 'Montserrat', sans-serif;
}