
/* 
    Created on : Mar 10, 2017, 7:16:00 PM
    Author     : Erald
*/


/********* Jarallax *********/
.banner-jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.paralaxMask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}