body {
    background-color: #fff;
    color: #757575;
    font-family: 'Roboto', 'Helvetica', 'Arial' ,sans-serif;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

.navbar-toggle {
    padding: 10px;
    border: 1px solid rgb(102, 102, 102);
    transition: .5s;
}
.navbar-toggle .icon-bar {
    border: 1px solid #666666;
}
.btn, a{
    outline: none !important;
}
a {
    color: #c90000;
    text-decoration: none;
}
a:focus, a:hover {
    color: #c90000;
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    line-height: 1.1;

}

.logo{
    float:left;
    /* padding-right: 2em; */
    position: absolute;
    z-index: 2;
    /* display: block; */
    /* left: -12em; */
}
.logo img{
    width: 190px;
    transition:.5s;
}
.name{
    float:left;
    padding: 5px 0em 5px 15em;
    transition: .5s;
    color: #666;
}
.name h1{
    margin: 0;
}
.name h1 a{
    color: #666;
    text-decoration: none;
}
.rate-cus{
    /* margin-top: .5em; */
    font-size: 1.5em;
    transition: .5s;
}
.show-rating {
    text-align:center;
    padding: 5em 0 5em 0;
    border-bottom: 1px solid #424242;
    /* margin-bottom: 4em; */
}

.menu{
    float:right;
    margin-right: 95px;
    transition: .5s;
}
.header{
    position: relative;
    /* top: 2em; */
    /* left: 10em; */
    z-index: 2;
}
.header_container{
    /* color : #9A9A9A !important; */
}
#social-icons i{
    padding-left: 10px;
}
.social-icons{
    padding-top: 1em;
    text-align: right;
    transition: .5s;
    margin-right: 110px;
}
.social-icons .fa-size{
    font-size: 2em;
    padding-left: .5em;
    transition: .5s;
}
.rating img{
    float: right;
}
#average {
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #ffffff;
}

.fb-fanpage{
    padding-top: 2em;
}

ul.rating_list{
    padding:0;
}
ul.rating_list li{
    display: inline-block;
}
.rating-div{
    /* display:inline-flex; */
}
.star-on-png {
    color: #f1c40f;
}

#rates .fa-star:before {
    text-shadow: 0 0 20px #bd9a0c;
}
.stars-size{
    width:50px;
    height:45px;
}

.normal-color{
    color: #505050 !important;
}
.invert-color{
    /* color : #9A9A9A !important; */
}
.facebook{
    padding: 8em 0;
    background: #e6e5e1;
}
#about {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0), 0px -3px 5px rgba(0,0,0,0.5);
    position: relative;
    z-index: 2;
}

.company-name {
    color: #474747;
    font-weight: 100;
    line-height: 1.3;
}
.offer-title {
    color: #ffffff;
    font-weight: 100;
    font-size:25px;
    text-transform:uppercase;
}
.reviews-title {
    color: #474747;
    font-weight: 100;
    font-size:25px;
    text-transform:uppercase;
    text-align:left;
}
.add-review-title {
    color: #ffffff;
    font-weight: 100;
    font-size: 20px;
    text-transform:uppercase;
}
.hours-title {
    color: #ffffff;
    font-weight: 100;
    font-size:25px;
    text-transform:uppercase;
}
.contact-footer-title{
    color: #ffffff;
    font-weight: 100;
    font-size:25px;
    text-transform: uppercase;
}
.payment {
    text-align: left;
    margin-left: -15px;
}
.payment-title{
    color: #ffffff;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
}
.company-description {
    color: #474747;
    font-weight: 100;
    line-height: 1.3;
}



.description{
    padding: 5em 0;
}
.contactform{
    padding: 2em 0 5em 0;
}
.rating_sys_div{
    padding: 8em 0 0em 0;
}
.mockup{
    padding: 5em 0 0 0;
}

.description{
    background-color: #ffffff !important;
    font-size: 1.3em;
}
.gallery{
    background-color: #e6e5e1 !important;
}
.modal-content {
    margin-top: 100px;
}
/*----------- offers -----------*/
.alldiv-text {
    background: white;
    overflow: hidden;
    z-index: 100;
    position: relative;
}

.alldiv-text {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    border-top: 1px solid gainsboro;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.offers-carousel {
    margin: 0px 20px 0px 0px;
    color: #000000;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-title1 {
    min-height: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.main-title1 a {
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
}
.price {
    font-size: 10px;
    font-weight: 500;
    color: #3a3a3a;
    text-decoration: line-through;
}
.final-price {
    font-size: 15px;
    font-weight: 500;
    color: #c90000;
}
ul.thumbnails-carousel {
    /* padding: 5px 0 0 0; */
    margin: -5px 0 0 0;
    list-style-type: none;
    text-align: center;
    z-index: 1;
    position: relative;
}

Rules
Computed
Animations
Fonts

element {

}
.business_std_container .bussiness-comments {
    padding: 5px 10px;
    position: relative;
    color: white;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 1px solid #ffffff;

}
.offer-price {
    float: left;
}
.offers {
    background-color: rgba(0, 0, 0, 0.8);
}
.btn-xs {
    padding: 5px 10px;
}

.btn-default, .btn-success, .btn-login {
    background-color: #C90000;
    color: white;
    text-transform: uppercase;
    border-radius: 0px;
    transition: .2s;
    border: 0px;
}
.rating_sys_div{
    background: #ffffff;
}
.contactform{
    background-color: #292929;
    color : #9A9A9A !important;
}
/*------ opening hours --------*/
.business-hours {
    /* padding: 40px 14px; */
    /* margin-top: -15px; */
    position: relative;
}
.business-hours .page-header {
    color: #fff;
    margin-top: -5px;
    border-bottom: none;
}
.business-hours:before{
    content: '';
    width: 23px;
    height: 23px;
    background: #111;
    position: absolute;
    top: 5px;
    left: -12px;
    transform: rotate(-45deg);
    z-index: -1;
}
.business-hours .title {
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #ffac0c; 
}
.business-hours li {
    color: #fff;
    line-height: 30px;
    border-bottom: 1px solid #252525;
}
.business-hours li:last-child {
    border-bottom: none; 
}
.business-hours .opening-hours li.today {
    color: #ffac0c;
    background: lightseagreen;
    border-radius: 3px;
}


/****Opening Hours****/
.timetable{
}
.flat-table{width: 100%;font-weight: 300;}

.flat-table tr{border-bottom: 1px solid #424242;}

.flat-table .day, .flat-table .method{text-align: left;}

.flat-table .day, .flat-table .hour, .flat-table .method, .flat-table .check{
    padding: 10px 5px;
}
.flat-table tr:last-child{
    border-bottom: 0px solid #424242;
}
.timetable .flat-table .day i{padding-right: 10px;}

.timetable .flat-table .hour{text-align: right;/* color: #ffffff; */}

.payment-method .flat-table .tick{
    text-align: right;
    color: #4CAF50;
}
.payment-method .flat-table .tick i{
    color: #c90000;
    border-radius: 50%;
    background: white;
    padding: 5px;
}

.owl-theme .owl-controls .owl-page span {
    background: #ffffff !important;
}



a.domain{
    color: #C90000 !important;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.footer-info-content{
    color: #ffffff;
    z-index: 2;
    position: relative;
}
.footer-info-content a{
    color: #ffffff;
}
.footer-info {
    text-align: left;
}
.footer1{
    padding: 8em 0;
    background-color: #e6e5e1 !important;
}
.footer2{
    padding: 0em 0;
    background-color: #0c0c0c !important;
    color : #9A9A9A !important;
}
.footer-name{
    font-size: 2em;
    color : white !important;
    text-decoration: none !important;
}
footer .bis-name{
    padding: 0;
}
footer .poweredby{
    padding:0em 0 .5em 0;
    color: white;
}

.flat-table {
    width: 100%;
    line-height: 0;
    color:#FFFFFF;
    font-size: 13px;
}
.payment {
    color: #757575;
}

.pf {
    font-size: 34px !important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #333;
    font-size: 1.2em;
    text-transform: uppercase;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0);
}
#header {
    padding: 5px;
    /* box-shadow: 2px 0px 9px 2px rgba(0,0,0,0.3); */
    position: relative;
    z-index: 2;
}

/*------------------- Header section styling -------------------- */
/***** Fixed Navbar Shrink *****/
#header.navbar-shrink {
    z-index: 99999;
    padding: 2px 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}
#header.navbar-shrink .name {
    float: left;
    padding: 0em 10em;
}
#header.navbar-shrink .name h1{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 28px;
    overflow: hidden;
    text-overflow:ellipsis;
}
#header.navbar-shrink .rate-cus {
    margin-top: 0em;
    font-size: 1.2em;
}
#header.navbar-shrink .social-icons {
    padding-top: 5px;
    transition: .5s;
}
#header.navbar-shrink .social-icons .fa-size {
    font-size: 1.5em;
}

#header.navbar-shrink img.thumbnail{
    width: 120px;
}
#header.navbar-shrink .menu {margin-top: 0;}
#header.navbar-shrink .nav > li > a {
    padding: 5px 15px 5px 15px;
    background: rgba(0, 0, 0, 0);
}
#header.navbar-shrink .nav > li > a:hover {
    background: rgba(238, 238, 238, 0);
}
#header.navbar-shrink .nav > li > a:hover span {
    color: white;
}
#header .navbar-shrink .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0);
    /* color: white; */
}

#header.navbar-shrink .navbar-brand {
    height: 55px;
    padding: 2px 15px;
    width: 230px;
}
#header.navbar-shrink .navbar .dropdown-menu {
    left: 0px;
    min-width: 135px;
    background: rgba(255,255,255,0.9);
    margin-top: 1px !important;
}

#header.navbar-shrink .navbar .dropdown-menu>li>a {
    color: black;
}

#header.navbar-shrink #pb_22 {padding: 18px 15px 10px 10px;}

#header.navbar-shrink .nav > li > a:hover span, .nav > li > a:focus span {
    position: relative;
    /* color: white; */
}
#header.navbar-shrink .navbar-toggle {
    margin-top: 13px;
    margin-right: 0px;
    padding: 8px 8px;
}

#toTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-left: -25px;
    cursor: pointer;
    display: none;
    z-index: 3;
    background-color: rgba(201, 0, 0, 0);
    border-color: #FFFFFF;
    border-radius: 0px;
    transition: 0.5s;
    padding: 5px 10px;
}
#toTop:hover{
    background-color: #C90000;
    border-color: white;
}

.fade-1 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.fade-2 {
    border-width: 0 0 1px;
    border-image: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0.5) 50%,
        hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
    border-style: solid;
}

/*Parallax*/
.parallax-container{
    position:relative;
    overflow:hidden;
    height: 700px;
    color: white;
}
.parallax-container span {
    color: #ffffff;
    padding-right: .5em;
}
/*.parallax{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
z-index:-1
}*/
.parallax img{
    display:none;
    position:absolute;
    left:50%;
    bottom:0;
    min-width:100%;
    min-height:100%;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    transform:translateX(-50%)
}
.parallax-content {
    position: relative;
    z-index: 1;
    display: block;
    margin: 15em 0;
}
.header-info-content h4, .contact-section h4 {
    font-weight: lighter;
    line-height: 3em;
}
.contact-section h2 {
    margin-top:0;
}

.header-info-content {
    margin: 10em auto;
}
.header-info-content a{
    color:white;
}

/********* Jarallax *********/


.contact-info{
    padding: 10em 0;
    background: url(http://www.netirane.al/data/netirane.al/media/parallax.jpg) no-repeat 0px 0px;
    /*	background: url(https://c1.staticflickr.com/9/8899/28023274240_cd360dd86a_b.jpg) no-repeat 0px 0px;*/
    background-size:cover;
    color: #ffffff;
}

.header-info span.glyphicon, .footer-info-content span.glyphicon {
    color: #c90000;
    margin-right: 1em;
    background: rgb(254, 254, 254);
    border-radius: 50%;
    padding: 10px;
}

.header-info-jarallax, .contact-jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.paralaxMask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.header-info-jarallax .paralaxMask {
    background: rgba(0, 0, 0, 0.75);
}
.contact-jarallax .paralaxMask {
    background: rgba(0, 0, 0, 0.5);
}



.contact-content {
    /* background: rgba(255,255,255,0.2); */
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
    border-radius: 5px;
    padding: 1em;
}

.contact-content .iconRounded {
    border-radius: 50%;
    width: 66px;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    color: #ffffff;
    border: 1px dashed #ffffff;
    margin-bottom:15px;

}

.iconRounded:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    text-shadow: 0 0 5px #FFF;
    border-style: solid;
}

.contact-content h2 {
    font-weight:lighter;
    margin-bottom: 15px;
}


.contact-content .form-control, .add-review .form-control {
    background: rgba(45, 45, 45, 0);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    font-weight: lighter;
}
.form-control:focus {
    border-color: rgb(255, 255, 255);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 8px rgba(255, 255, 255, 0.5);
}

.contact-content .btn-default, .contact-content .btn-default.focus, .contact-content .btn-default.active {
    /* border: 1px solid white; */
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: transparent;
    /* border-radius: 0px; */
    font-weight: lighter;
    transition:.2s;
}

.contact-content .btn-default:hover {
    border: 1px solid #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #000000;
}

/*------------------- Responsive -------------------- */

@media (min-width: 992px){
    .contact-jarallax{
        display:none;
    }
}
@media (max-width: 992px){
    .iphone-position{
        display:none;
    }
}
@media (max-width: 767px){
    .logo {
        display:none;
    }
    .name {
        padding: 0.5em 0em;
        margin-left: 50px;
        margin-top: -52px;
    }
    .menu {
        float: none;
        margin-top: 0em;
    }
    .menu .navbar-toggle{
        margin-top: 8px;
    }

    #header.navbar-shrink .name {
        float: left;
        padding: 0em 0em;
    }
    #header.navbar-shrink .navbar-toggle {
        margin-top: 8px;
        margin-right: 0px;
        padding: 8px 8px;
    }
    .rate-cus {
        display:none;
    }
    .social-icons {
        display:none;
    }
    .description, .contactform{
        padding: 5em 0;
    }
    .header-info {
        padding: 2em 0;
    }
    .header-info-content {
        margin: 2em auto;
    }
    .at-user__avatar i {
        font-size: 1em !important;
    }
    .iphone {
        display:none;
    }
    .navbar-toggle {
        float: left;
    }
    a.login-btn {
        padding: 21px 25px !important;
    }
    #header.navbar-shrink a.login-btn {
        padding: 15px 18px 14px 18px !important;
        right: -15px;
        top: -9px;
    }
}

@media (max-width: 480px) {

    .name h1 {
        font-size:1.5em;
        padding-top: 4px;
        float: right;
    }
    #header.navbar-shrink .name h1 {
        font-size: 1.5em;
    }
    a.login-btn span {
        display: none;
    }
    a.login-btn {
        padding: 18px 9px !important;
    }
    #header.navbar-shrink a.login-btn {
        padding: 15px 18px !important;
        right: -15px;
        top: -9px;
    }
    #header.navbar-shrink a.login-btn span {display:none;}
    a.login-btn {
        padding: 17px 20px 17px 20px !important;
        right: -15px;
        top: -9px;
    }
    a.login-btn i {
        padding: 0px 10px !important;
        font-size: 20px !important;
    }
    .navbar-toggle {
        float: left;
    }
}

/***** MAP STYLE *****/

.map{
    height: 500px;
    width:100%;

    position:relative;
    z-index: 1;
}

.my-marker {
    border: 8px solid #fff;
    border-radius: 65px;
    z-index: 10;
    position: absolute;
    display: block;
    margin-top: -90px;
    margin-left: -60px;
    background: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5),inset 0 0 5px 1px rgba(0,0,0,.2);
}
.my-marker img{
    width:100px;
    height:100px;
    background: white;
}

/*.my-marker:after {
    border-top: 80px solid #ffffff;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    bottom: -60px;
    content: "";
    position: absolute;
    left: 45%;
    margin-left: -45px;
    width: 0;
    height: 0;
    z-index: -1;
}*/

.my-marker:after {
    top: 92px;
    left: 50px;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 40px;
    margin-left: -40px;
    z-index: -1;
}
.my-marker:before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    bottom: -22px;
    left: 30px;
    z-index: -2;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}


.pulse {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 5px;
    width: 16px;
    position: absolute;
    left: 50%;
    top: 115px;
    margin: 18px 0px 0px -8px;
    z-index: -2;
}
.pulse:after {
    content: "";
    border-radius: 50%;
    height: 20px;
    width: 58px;
    position: absolute;
    margin: -7px 0 0 -21px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #c6251e;
    animation-delay: 1.1s;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(-1200px);
        animation-timing-function: ease-in;
    }
    37% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    55% {
        transform: translateY(-40px);
        animation-timing-function: ease-in;
    }
    70% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    80% {
        transform: translateY(-14px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-7px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0px);
    }
}


#review_carousel{
    padding: 2em 0em;
}
.owl-carousel .owl-item {
    /* margin: 2em 0px; */
    /* padding: 2em 0em; */
}
.owl-carousel img {
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    transition: all .3s ease-in-out;
}
.owl-carousel img:hover {
    transform: scale(1.3) !important;
}
.description-image {
    border: 1px solid #d4d4d4;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
    transition: .5s;
}
.description-image:hover {
    border: 1px solid #d4d4d4;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.owl-nav{
    display: none;
}

hr.botm-line {
    height: 2px;
    width: 100px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}
/****** iphone mockup *******/
*,
*:after,
*:before {
    box-sizing: border-box;
}
.iphone-position {
    position: absolute;
    z-index: 5;
    right: 0;
}


.iphone {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
    border: 5px solid #d9dbdc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 50px;
    height: 100%;
    width: 300px;
    position: relative;
    /* margin: 0px auto; */
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.iphone-top {
    padding: 5px 50px 30px;
    position: relative;
}
.iphone-top .speaker {
    display: block;
    width: 70px;
    height: 6px;
    margin: 0 auto;
    border-radius: 6px;
    background: #292728;
}
.iphone-top .camera {
    display: block;
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 13px;
    background: #333;
}
.iphone-top .sensor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    background: #333;
    margin-top: -5px;
    border-radius: 50%;
}

.top-bar,
.bottom-bar {
    display: block;
    width: 100%;
    height: 15px;
    border-left: 5px solid #BBB;
    border-right: 5px solid #BBB;
    position: absolute;
    left: -5px;
}

.top-bar {
    top: 65px;
}

.bottom-bar {
    bottom: 65px;
}

.iphone-screen {
    background: #2e2e2e;
    border: 1px solid #fff;
    height: 400px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
    border-radius: 4px;
    overflow: hidden;
}
.iphone-screen img {
    width: 100%;
}

.buttons .on-off,
.buttons .up,
.buttons .down,
.buttons .sleep {
    display: block;
    background: #CCC;
    position: absolute;
    border-radius: 2px 0px 0px 2px;
}
.buttons .on-off {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px;
}
.buttons .up,
.buttons .down,
.buttons .sleep {
    height: 60px;
    width: 5px;
    left: -10px;
}
.buttons .up {
    top: 170px;
}
.buttons .down {
    top: 250px;
}
.buttons .sleep {
    left: auto;
    right: -10px;
    top: 170px;
    border-radius: 0px 2px 2px 0px;
}

.iphone-bottom {
    padding: 10px 0 0;

}
.iphone-bottom span {
    display: block;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    background: #ccc;
    border-radius: 50%;
    background: -webkit-linear-gradient(315deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
    position: relative;

}
.iphone-bottom span:after {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;

}
.send-msg-btn{
    font-size: 24px;
    color: #606060;
    z-index: 104;
    position: relative;
    line-height: 65px;
    left: 20px;

}
.iphone-bottom .send-msg-btn{
    font-size: 24px;
    color: #606060;
    z-index: 99;
    position: relative;
    line-height: 65px;
    left: 20px;
}
.iphone-bottom span:hover{
    cursor: pointer;
    background: linear-gradient(0deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
}
.iphone-bottom span:hover:after {
    background: #efefef;
}

.send-msg-btn-overlay{
    position: absolute;
    display: block;
    z-index: 100;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    color: rgba(0, 0, 0, 0);
    left: 0px;
    bottom: 0px;
    padding: 35px 0;
}
.send-msg-btn-overlay:hover, .send-msg-btn-overlay:focus{
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

/******* video BG *******/
#bg-video {
    position: relative;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(http://www.netirane.al/data/netirane.al/media/overlay.png);
}
.cover .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}
.cover .hi span {
    color: #ff0;
    cursor: pointer;
    text-decoration: underline;
}
.cover .hi em {
    font-style: normal;
}
.cover .hi em.hidden {
    display: none;
}
.tv {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.tv .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    opacity: 0;
    transition: opacity .5s;
}
.tv .screen.active {
    opacity: 1;
}



/*-- Social Icons --*/


.at-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* background: rgba(255, 255, 255, 1); */
    /* border: 1px solid #E2E9ED; */
}
.at-grid[data-column="1"] .at-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
    width: 33.33333%;
    max-width: 33.33333%;
    min-width: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
    width: 16.66667%;
    max-width: 16.66667%;
    min-width: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
    width: 14.28571%;
    max-width: 14.28571%;
    min-width: 14.28571%;
    -webkit-flex-basis: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
    -webkit-flex-basis: 12.5%;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
    width: 11.11111%;
    max-width: 11.11111%;
    min-width: 11.11111%;
    -webkit-flex-basis: 11.11111%;
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
}
.at-column {
    z-index: 0;
    border-radius: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    /* box-shadow: 0 0 0 1px #E2E9ED; */
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.at-column:hover {
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
    margin: 16px 0 0;
    opacity: 1;
}
@media (max-width: 800px) {
    .at-column {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
    }
}
@media (max-width: 600px) {
    .at-column {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }
}
.at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}
.at-user__avatar {
    /* width: 98px; */
    /* height: 98px; */
    border-radius: 100%;
    /* margin: 0 auto 20px; */
    overflow: hidden;
}
.at-user__avatar img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.at-user__avatar i {
    opacity: 0.5;
    color:#c90000;
    font-size: 2em;
}
.at-column:hover i{
    opacity: 1;
}
.at-user__name {
    color: #313435;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.625rem;
}
.at-user__title {
    color: #6F808A;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 2.375rem;
}
.at-social {
    margin: 0 0 -18px;
    opacity: 0;
    -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
    transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
    display: inline-block;
    margin: 0 10px;
}
.at-social__item a {
    display: block;
}
.at-social__item svg {
    fill: #515F65;
    display: block;
    height: 18px;
    -webkit-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}
.at-social__item svg:hover {
    fill: #788D96;
}



#contact{
    position: relative;
}

.city-vector {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}



/******* Newsletter ********/

#newsletter{
    background-color: #ffffff;
}
#subscribe {
    width: 100%;
    padding: 5em 0 10em 0;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
}

#subscribe h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    /* color: #9A9A9A; */
    font-weight: lighter;
}

.input-lg {
    font-size: 15px;
}


.error-span {
    /*        background-color: #aab1b8;*/
    padding: 3px;
    border-radius: 2px;
    /*        box-shadow: 0px 0px 1px white;*/
}

.msg-span {
    /*        background-color: #aab1b8;*/
    padding: 3px;
    border-radius: 2px;
    /*        box-shadow: 0px 0px 1px white;*/
}

.progress-shadow {
    background-image: linear-gradient(to bottom, #eaeaea, transparent);
    height: 4em;
    position: absolute;
    top: 95%;
    transform: skew(45deg);
    transform-origin: 0 0;
    width: 100%;
    left: 0;
    z-index: -1;
}
#subscribe-btn.btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    border-color: rgba(69,178,157,0);
}

.iphone-mockup {
    margin-top: -6em;
    z-index: 5;
    position: absolute;
}

/* ///////////////////////////////////////////////////////////////////// 
// Reviews owl carousel
/////////////////////////////////////////////////////////////////////*/

#review-stat {
    background-color: rgba(0, 0, 0, 0.8);
}

#review {
    text-align:center;
    color:#fff;
}
.review-star {
    /* font-size:30px; */
    /* margin:10px 0; */
}
.client-pic {
    /* padding: 0em 2em; */
    width: 100px;
    margin: 0 auto;
}
.client-pic img {
    border-radius:50%;
    border: 2px solid white;
}
.review-desc {
    letter-spacing:0.5px;
    color: #757575;
    font-size: 15px;
}
.testimonial-date{
    color:#b9b9b9;
    font-size: 13px;
}
#testimonial .block-title {
    color:#fff;
}
#testimonial .block-title span {
    border-color: #fff;
}
.review-star{
    /* color: #444444; */
}
p.client-name {
    font-size: 1.5em;
    display: inline-block;
    margin-top: 25px;
    color: #474747;
    font-size: 20px;
}
.owl-theme .owl-controls .owl-page span {
    background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #c90000 !important;
}
.owl-theme .owl-dots .owl-dot span {

    background: rgba(201, 0, 0, 0.5) !important;

}

/*******Google Button*****/
.main-fab {
    position: absolute;
    z-index: 20;
    transition: transform .1s ease-out;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    bottom:-25px;
}
.md-button.md-default-theme.md-fab {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(194, 0, 0);
}
.md-button.md-fab {
    z-index: 20;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: .2s linear;
    transition-property: -webkit-transform,box-shadow;
    transition-property: transform,box-shadow;
}
.md-button.md-fab, .md-button.md-raised:not([disabled]), .md-shadow-bottom-z-1 {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.26);
}
.md-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    padding: 6px;
    margin: 0;
    background: 0 0;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),transform .4s cubic-bezier(.25,.8,.25,1);
}
.main-fab i {
    font-size: 24px;
}
.md-ripple-container {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .55s cubic-bezier(.25,.8,.25,1);
}


.award-content {
    font-size: 4em;
    line-height: 4em;
    /* text-align: center; */
    margin: 0 auto;
    position: relative;
}

.award-content use {
    fill: goldenrod;
}

.award-content svg {
    display: inline-block;
    width: 1.5em;
    height: 3em;
    margin-bottom: -1.25em;
}

.award-content span {
    white-space: nowrap;
}

.award-content .company-name {
    font-size: 40px;
    text-align: center;
}

#header.navbar-shrink a.login-btn {padding: 25px 25px;right: -15px;top: -7px;}

#header.navbar-shrink a.login-btn i {
    font-size: 20px;
    padding-right: 5px;
}
a.login-btn {
    float: right;
    transition: .5s;
    background: #c90000;
    color: white;
    padding: 34px 20px;
    position: absolute;
    right: -20px;
    top: -5px;
    font-size: 20px;
    font-weight: 400;
}
a.login-btn:focus, a.login-btn:hover {
    color: #ffffff;
    text-decoration: none;
}
a.login-btn i{padding-right: 15px;font-size: 20px;}

.social-icons a:focus, .social-icons a:hover {
    color: #c90000;
}


/**********/

.title {
    margin: 0;
    padding: 20px 20px 10px;
    font-size: 4.8em;
    font-weight: 400;
    text-align: center;
    color: #c90000;
}

.login {
    padding: 25px 25px 10px 25px;
}

.info {
    padding: 0 25px 10px 25px;
    font-size: 0.7em;
    text-align: center;
}
.info a {
    color: #c90000;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.info a:hover, .info a:focus, .info a:active {
    color: #c90000;
}
.info a::after {
    content: "|";
    color: #646464;
    margin: 0 10px;
}
.info a:last-child::after {
    content: "";
}

fieldset {
    padding: 0;
    margin-bottom: 25px;
    border: none;
    position: relative;
}

label {
    position: absolute;
    pointer-events: none;
    font-size: 1em;
    top: 7px;
    -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
    transition: top 0.2s, font-size 0.2s, color 0.2s;
    font-weight: 100;
}

.underline {
    width: 100%;
}

.underline::before,
.underline::after {
    position: absolute;
    content: "";
    top: 33px;
    width: 0%;
    height: 2px;
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: width 0.2s, opacity 0.2s;
    transition: width 0.2s, opacity 0.2s;
}

.underline::before {
    right: 50%;
}

.underline::after {
    left: 50%;
}

input {
    position: relative;
    display: block;
    width: 100%;
    padding: 7px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #666;
    border-left: none;
    font-weight: 400;
    background-color: rgba(0,0,0,0);
}
input:focus {
    outline: none;
}
input:focus ~ .underline::before, input:focus ~ .underline::after {
    opacity: 1;
    width: 50%;
}
input:focus + label {
    color: #ffffff;
}

input:focus + label,
input.filled + label {
    font-size: 0.8em;
    top: -15px;
}

input[type=checkbox] + label,
input[type=checkbox] + label {
    top: 0px !important;
}

input[type=checkbox]:focus + label,
input[type=checkbox].filled + label {
    font-size: 1em;
    top: 0px !important;
    color: #646464;
    outline:none;
}

button:focus, button:active {
    outline: none;
}
button:active {
    box-shadow: 0 4px 10px rgba(100, 100, 100, 0.8);
}
label {
    color: #ffffff;
}
.header-msg {
    background: mediumseagreen;
    padding: 15px 0;
    box-shadow: 2px 0px 9px 2px rgba(0,0,0,1);
}
.header-msg-title {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.card .card__num {
    text-shadow:  1px 1px rgba(26, 26, 26, 0.5) , 2px 2px rgba(27, 27, 27, 0.51) , 3px 3px rgba(29, 29, 29, 0.52) , 4px 4px rgba(30, 30, 30, 0.53) , 5px 5px rgba(31, 31, 31, 0.54) , 6px 6px rgba(32, 32, 32, 0.55) , 7px 7px rgba(33, 33, 33, 0.56) , 8px 8px rgba(34, 34, 34, 0.57) , 9px 9px rgba(35, 35, 35, 0.58) , 10px 10px rgba(36, 36, 36, 0.59) , 11px 11px rgba(37, 37, 37, 0.6) , 12px 12px rgba(37, 37, 37, 0.61) , 13px 13px rgba(38, 38, 38, 0.62) , 14px 14px rgba(39, 39, 39, 0.63) , 15px 15px rgba(39, 39, 39, 0.64) , 16px 16px rgba(40, 40, 40, 0.65) , 17px 17px rgba(41, 41, 41, 0.66) , 18px 18px rgba(41, 41, 41, 0.67) , 19px 19px rgba(42, 42, 42, 0.68) , 20px 20px rgba(42, 42, 42, 0.69) , 21px 21px rgba(43, 43, 43, 0.7) , 22px 22px rgba(43, 43, 43, 0.71) , 23px 23px rgba(44, 44, 44, 0.72) , 24px 24px rgba(44, 44, 44, 0.73) , 25px 25px rgba(44, 44, 44, 0.74) , 26px 26px rgba(45, 45, 45, 0.75) , 27px 27px rgba(45, 45, 45, 0.76) , 28px 28px rgba(45, 45, 45, 0.77) , 29px 29px rgba(46, 46, 46, 0.78) , 30px 30px rgba(46, 46, 46, 0.79) , 31px 31px rgba(46, 46, 46, 0.8) , 32px 32px rgba(47, 47, 47, 0.81) , 33px 33px rgba(47, 47, 47, 0.82) , 34px 34px rgba(47, 47, 47, 0.83) , 35px 35px rgba(48, 48, 48, 0.84) , 36px 36px rgba(48, 48, 48, 0.85) , 37px 37px rgba(48, 48, 48, 0.86) , 38px 38px rgba(48, 48, 48, 0.87) , 39px 39px rgba(49, 49, 49, 0.88) , 40px 40px rgba(49, 49, 49, 0.89) , 41px 41px rgba(49, 49, 49, 0.9) , 42px 42px rgba(49, 49, 49, 0.91) , 43px 43px rgba(50, 50, 50, 0.92) , 44px 44px rgba(50, 50, 50, 0.93) , 45px 45px rgba(50, 50, 50, 0.94) , 46px 46px rgba(50, 50, 50, 0.95) , 47px 47px rgba(50, 50, 50, 0.96) , 48px 48px rgba(50, 50, 50, 0.97) , 49px 49px rgba(51, 51, 51, 0.98) , 50px 50px rgba(51, 51, 51, 0.99);
}
.card__num {
    font-size: 10em;
    font-weight: lighter;
    color: white;
}
@media (max-width: 700px) {
    .card__num {
        font-size: 70px;
    }
}

#rates{
    padding: 5em 0;
}
#rates .title{
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    padding: 20px 0 30px 0;
}
.add-review-active{
    width: 100%;
    z-index: 2;
    background: #333333;
    color:white;
    padding: 10em 0;
}
@media (min-width: 768px) {
    .add-review-active{
        position: absolute;
    }
}
.add-review-active .add-review-title{
    margin: 0em 0 2.5em 0;
}

.add-review-active .alert-success{
    font-size:2em;
    width: 100%;
    font-weight:lighter;
    background: #333333;
    color:white;
    padding: 6em 0;
    text-align:center;
}