padding-bottom-sm/*
    Author: BlueHat sh.p.k
*/

body {
    font-family: 'Open Sans', sans-serif !important;
    line-height: 20px;
    color: #111;
    font-size: 16px;
}

a {
    color: #999;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
    text-decoration-skip: ink;
}

.margin-bottom-large {
    margin-bottom: 30px;
}

.footer-content>li>a {
    color: #666;
}
.footer-content-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 23px;
}

a, a:hover, a:focus, a:active {
    color: #111;
}

.footer-page-links, .footer-content {
    font-size: 14px;
    color: #666;
}
.space-bottom,
#pos-ctop {
    margin-bottom: 35px;
}
.nav-costumization {
    margin-bottom: 90px;
}
.nopadding {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
ol, ul {
    list-style: none;
    padding-left: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
    /* font-family: 'Raleway', sans-serif; */
    /* font-weight: 600; */
    /* color: #222222; */
}
a, a:hover, a:focus, a:active{
    outline: none;
}

.section-padding{
    padding: 60px 0px;

}
h2, #news-list .categ-title {
    line-height: 1;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222;
}
hr.botm-line {
    height: 3px;
    width: 60px;
    background: #243a6d;
    background: #425867;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}
.parallax-content {
    padding: 15px;
}
/***************************************
banner
***************************************/
.navbar {
    margin-bottom: 0px;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}
.navbar-default {
    background-color: #fff;
    padding: 20px 0;
    transition: all 0.3s;
}
.navbar-default {
    background-color: #fff;
    border: 0px;
}
.navbar {
    border-radius: 0px;
}

.navbar-brand
{
    display: block;
    font-family: 'Chewy', cursive;
    font-size: 32px;
}
h4 {
    font-size: 18px;
    font-weight: bold; 
}
.navbar-brand-collapsed { display:none; }
.navbar-brand-collapsed img {
    max-height: 45px;
    padding: 5px;
}

.navbar-header div.logo a.navbar-brand{
    position: absolute;
    width: 290px;
    top: -15px;
}
.navbar-header div.logo a.navbar-brand-collapsed{
    top: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #EA6045;
}

.navbar-default .navbar-toggle {
    border-color: #012c72;
}
nav.top-nav-collapse .navbar-toggle {
    border-color: #ffffff;
    margin-right: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #002d76;
}
nav.top-nav-collapse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.top-nav-collapse {
    padding: 0; 
    background: #f1f1f1;
}

.top-nav-collapse .navbar-brand { display: none; }
.top-nav-collapse .navbar-brand-collapsed { display: block; }

.white, .white:hover, .white:focus
{
    color: #fff;
    width: 100% !important;
}
.block
{
    display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(66, 88, 103);
}
.navbar-default .navbar-nav > li > a
{
    color: #111;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-weight: 400;
}

.parallax-content .text1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 46px;
    color: #fff;
    font-weight: 600;    
    line-height: 1.04;

}

.parallax-content .text2 {
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 1.1;
} 

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    /*color: #fff;
    text-transform: uppercase;
    background-color: rgba(36, 58, 109, 0.70);*/
}

.top-nav-collapse .navbar-nav > .active > a, 
.top-nav-collapse .navbar-nav > .active > a:focus, 
.top-nav-collapse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: rgb(106, 163, 167);
}
.top-nav-collapse .navbar-nav > li > a
{
    color: #111;
}
.top-nav-collapse .navbar-nav > li > a:hover, 
.top-nav-collapse .navbar-nav > li > a:focus
{
    background: #fff;
    color: #111;
}

.affix {
    background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
    background-color: rgba(12, 184, 182) !important;
}
#banner{
    background-size: cover;
    position: relative;
}
.banner {
    margin-top: 81px;
}
.bg-color{
    background-color: rgba(0, 0, 0, 0.3);
    /* min-height: 650px; */
}
.banner-info{
    position: absolute;
    top: 22em;
    transform: translate(-50%, 0%);
    left: 50%;
}
.banner-logo {
    background-color: white;
    width: 100px;
    margin: 0 auto;
}
.banner-logo img{
    display: inline-block;
}
.banner-text{
    color: #fff;
}
.banner-text h1{
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom:15px; 
}
.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(12, 184, 182, 0.91);
    border-radius: 3px;
    color: #fff;
}
.overlay-detail a i {
    text-align: center;
    position: relative;
    font-size: 38px;
    color: #fff;
}

@media (min-width: 980px){
    .overlay-detail a i{
        margin: 5em auto 0 auto;
    }
}
@media (max-width: 768px){
    #card-list-news .article-title, #card-list-news .news-content {
        padding-top:10px;
        font-size: 14px !important;
    }
}
.text-primary i{
    padding-top: 8px;
    display: inline-block;
}
/***************************************
services
***************************************/
.icon i{
    color: #0cb8b6;
    font-size: 45px;
    margin-bottom: 25px;
}
.service-info{
    margin-bottom: 20px;
}
.icon-info h4{
    /*padding-bottom: 15px;*/
    padding-bottom: 0;
}
.icon-info p{
    font-size: 15px !important;
}
/***************************************
cta-1
***************************************/
.schedule-tab {
    background-color: #243a6d;
    float: left;
}
.medi-info{
    /*border-right: 1px solid #fff;*/
}
.medi-info, .time-info{
    padding: 20px;
    color: #fff;
}
.medi-info h3, .time-info h3{
    padding-bottom: 16px;
    color: #fff;
    font-weight: 600;
}
.medi-info-btn, .medi-info-btn:hover, .medi-info-btn:focus {
    margin: 15px 0px 5px;
    display: inline-block;
    border: solid white 2px;
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 400 !important;
    cursor: pointer;
}
td {
    border: 0px solid #ededed;
    border-top: 1px solid rgba(216, 216, 216, 0.5);
    padding: 6px 10px 6px 0;
}
.medi-info, .time-info{
    font-size: 14px;
}
/***************************************
about
***************************************/
#about{
    background-color: rgba(238, 238, 238, 0.15);
}
.article-section {
    background-color: #fcfcfc;
    padding: 5em 0;
}
.lg-line{
    line-height: 1.4;
    font-size: 28px;
}
.more-features-box-text-icon {
    float: left;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background: #0cb8b6;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.more-features-box-text-description h3{
    padding-bottom: 15px;
}
.more-features-box-text-icon i {
    font-size: 18px;
    line-height: 26px;
}
.more-features-box-text-description{
    margin-left: 80px;
    margin-bottom: 35px;
}
.sec-para{
    padding-bottom: 10px;
}
/***************************************
doctor team
***************************************/
.thumbnail {
    border-radius: 0px;
}
.caption h3{
    padding-bottom: 5px;
}
.caption p{
    padding-bottom: 10px;
}
/***************************************
testimonial
***************************************/
#testimonial{
    background-color: #eee;
}
.testi-details {
    background: #fff;
    padding: 14px 24px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.18);
    position: relative;
}
.testi-info a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.testi-info a img{
    border-radius: 50%;
}
.testi-info h3 {
    display: inline-block;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 8px;
}
.testi-info h3 > span {
    display: block;
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
}
.testi-details::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
    bottom: -40px;
    left: 56px;
    border-top-color: #fff;
    border-width: 20px;
}
.testi-details::before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: 45px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
    z-index: -1;
    box-shadow: 3px -13px 5px 0px rgba(0, 0, 0, 0.18);
    border-left: 0;
}
/***************************************
cta -2
***************************************/
#about-us{
    background-color: rgb(41, 48, 46);
}
.white{
    color: #fff;
}
.icon-play, .icon-play:hover, .icon-play:focus{
    background-color: #0CB8B6;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 17px;
    margin-top: 26px;
    display: block;
}
.text-primary {
    color: #0cb8b6;
}
.icon-mar 
{
    margin-right: 7px;
}
/***************************************
contact us
***************************************/
.space {
    margin-top: 32px;
}
.btn-form, .btn-form:hover, .btn-form:focus {
    background-color: #0cb8b6;
    color: #fff;
    border-radius: 0px;
    padding: 10px 20px;
}
.br-radius-zero {
    border-radius: 0px;
}
.form-control{
    height: 40px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}


/***************************************
footer
***************************************/
#footer{
    background: #bfcbc2;
    padding: 30px 0;
}
.ftr-tle {
    height: 50px;
}
.info-sec a {
    color: #fff;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: left;
}
.social-icon li {
    display: inline-block;
    padding-right: 15px;
}
.bglight-blue {
    background-color: #3498DB;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.bglight-blue {
    background-color: #3498DB;
}
.top-footer {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.footer-line {
    padding: 30px 0px !important;
    color: #325c6a;
    font-size: 12px;
}

.footer-line a {
    color: #0CB8B6;
}

.quick-info li a{
    color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
    color: #0cb8b6;
    text-transform: none;
}
@media (min-width: 551px) and (max-width: 980px){

}
@media (min-width: 220px) and (max-width: 551px){
    .testi-info{
        margin-bottom: 20px;
    }
    .marb20{
        margin-top: 30px;
    }
    h2{
        font-size: 24px;
        line-height: 1.2;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .medi-info {
        border: 0px;
        border-bottom: 1px solid #fff;
    }
    .service-info{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .caption h3 {
        font-size: 14px;
    }
    .caption p{
        font-size: 12px;
        padding-bottom: 5px;
    }
    .caption ul li a i{
        font-size: 14px;
    }
    .banner-text h1{
        font-size: 24px;
    }
}

/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(14, 163, 165) 25%, rgb(14, 163, 165) 75%, rgba(80, 80, 80, 0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 30px;
}

.direction-r {
    position: relative;
    width: 50%;
    float: right;
    padding-left: 30px;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(17, 180, 184);
    z-index: 10;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(0, 44, 123);
    vertical-align: middle;
    display: none;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 6px 6px;
    background: rgb(248, 248, 248);
}

.desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}
.info-sec p, .info-sec a{
    font-size: 12px;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }
    .timeline li {
        padding: 2em 0;
    }
    .direction-l,
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .flag-wrapper {
        text-align: center;
    }
    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }
    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -10px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -6px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(17, 180, 184);
        z-index: 10;
    }
    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
        display: none;
    }
    .direction-l .time-wrapper {
        float: none;
    }
    .direction-r .time-wrapper {
        float: none;
    }
    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgba(245, 245, 245, 0.15);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        z-index: 15;
        color: white;
        border-radius: 5px;
    }
    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        z-index: 15;
    }
}
@media screen and (min-width: 400px) {
    .direction-l .desc,
    .direction-r .desc {
        margin: 2em 1em 0em 0em;
    }
}

/***********Last News***********/
.lastnews .news-title{
    font-size: 14px;
    text-transform: uppercase;
    min-height: 40px;
    text-align: left;
    margin-bottom: 0;
}
.lastnews .news-content{
    font-size: 12px;
    line-height:14px;
    text-transform: lowercase;
    min-height: 45px;
}
.lastnews .carousel-control {
    opacity: 1 !important;
}
.lastnews .left.carousel-control i, .lastnews .right.carousel-control i{
    background: #ffffff;
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 18px;
    color: #11b4b8;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    font-weight: 100;
    width: 40px;
    height: 40px;
}
.lastnews .carousel-control.left i {
    margin-left: -70px !important;
}
.lastnews .carousel-control.right i {
    margin-right: -70px !important;
}
.item ul{
    padding-left: 0px;
}
hr .botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

.middle-content-title {
    margin-top: 0;
}

.article-image{
    padding-bottom: 45px;
}

.content-middle-padding {
    padding: 35px 0;
}

.content span{
    text-align:center;
}
.article_std_container .article-header .article-title {
    padding: 1em 0;
    color: #222 !important;
    text-align: left !important;
    font-size: 25px !important;
}

#news-list .news-title a {
    color: #222222 !important;
}
#news-list .news-description {
    font-size: 12px !important;
    color: #999999 !important;
    padding-bottom: 10px !important;
    margin: 0 0 15px 0 !important;
}

#news-list .leggi a {
    display: inline-block;
    border: solid #6aa3a7 1px;
    padding: 5px 10px;
    color: #6aa3a7;
    cursor: pointer;
}

.article_std_container {
    border-top: 3px solid #07a8a3 !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
}
.article_std_container .social-button {
    border-top: 1px solid #dcdcdc;
    background: #e9e9e9 !important;
}

.article_std_container .content{
    line-height: 0.9em;
}
#card-list-news time {
    color: #0cb8b6 !important;
}
#card-list-news article:hover {
    box-shadow: 0px 0px 3px rgba(12, 184, 182, 0.8) !important;
}
#card-list-news .date:hover time {
    color: #000;
    border-color: #0cb8b6 !important;
}


/*******categ-list******/
.category-list {
    background: #0ea3a5 !important;
}
.all-categories a:before {
    background: #0ea3a5 !important;
}
.all-categories a:hover:after {
    border-left-color: #0ea3a5 !important;
}


.dettagli-btn {
    float:right;
    padding:10px;
}

@media(min-width: 992px){
    .last-products .product-list {
        text-align: center;
    }
    .dettagli-btn{
        text-align: center !important;
        float:none;
    }
    .contact-form-container {
        display: flex;
        margin-bottom: 25px;
    }
}
@media(max-width: 991px){
    .last-products .product-list {
        text-align: center;
    }
    .dettagli-btn {
        text-align: center !important;
        float:none;
    }
    .padding-bottom-sm {
        margin-bottom: 20px;
    }
}

.full-height {
    height: 100%;
}

#sidebar .sidebar-content .head-side-bar h4 {
    font-size: 18px !important;
    text-align: center !important;
    font-weight: normal !important;
    padding: 10px 0 !important;
}

#pos-ctop #sidebar{/* margin-top: 30px; */}

.up-content {
    color: #fff;
    background-color: #243a6d;
    width: 100%;
    padding: 0px 15px;
}
.tab-content {
    margin: 10px 0;
    display: table;
    font-size: 14px;
}
.list-info ul{
    -webkit-padding-start: 0px;
}
.list-info ul li{
    list-style-type:none;
    padding: 10px 5px;
    background: #ececec;
    color: black;
    margin: 2px 0px;
}
.details-info {
    margin: 20px 0px 0px 0px !important;
    color: white !important;
    background: #243a6d !important;
    padding: 10px !important;
    width: 100%;
    font-size: 20px;
}
.information {
    margin: 20px 0px 0px 0px !important;
    color: white !important;
    background: #ef4124 !important;
    padding: 10px !important;
    width: 100%;
    font-size: 20px;
}

.form-container {
    background: #ef4124 !important;
}

#last-products .title {
    background: #10a2a7 !important;
}



