
.lang_btn {
    margin-top: 25px;
}

.fixed-top {
    position: fixed;
    z-index: 99999;
    top: 0;
}

.nav-space {
    height: 80px;
}
.powered-by-container {
    padding: 20px 0 !important;
}


@media (max-width:991px){
    .lang_btn {
        margin-top: unset;
    } 
}

