/*------------------- Menu styling -------------------- */
@media(min-width:768px){
    .navbar ul li {
        margin-left: 20px;
    }
}
.navbar ul li:first-child {
    margin-left: 0;
}
.navbar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

}
.navbar .dropdown-menu>li>a{
    color: inherit;
}

.navbar li:hover , .navbar li.active {
    border-bottom: 2px solid #B33D3D;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
