/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2017, 2:19:11 PM
    Author     : Erald
*/



#announce-detail {
    letter-spacing: .005em;
    margin-top:20px;
    margin-bottom: 20px;
}
#announce-detail .table {
    margin-bottom: 0px;
}
#announce-detail .table tr td.icons {
    padding-left: 0;
}
#announce-detail .align-middle, #announce-detail .card .card-header *:not(.material-icons) {
    vertical-align: middle;
}

#announce-detail .card {
    position: relative;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#announce-detail .card .announce-category {
    background: #2e2e2e;
    color: white;
    padding: 20px 25px;
    position: absolute;
    top: 0;
    left: 0px;
}
#announce-detail .card .announce-category i {

    font-size: 30px;
}
#announce-detail .card .announce-time{
    font-size:18px;
    padding:20px;
    color:grey;
}
#announce-detail .card .announce-views{
    font-size:15px;
    color:grey;
    line-height: 30px;
}
#announce-detail .card .announce-name{
    font-size: 15px;
    line-height: 30px;
    /* color: grey; */
}
#announce-detail .card .announce-name i {
    padding-right:10px;
}

#announce-detail .card hr {
    padding: 0;
    margin: 0;
}

#announce-detail .card .card-header {
    padding: 1.15em 1.5em;
}
#announce-detail .card .card-main,
#announce-detail .card .card-footer {
    padding: 1.15em 1.5em;
}
#announce-detail .card .card-header .card-title {
    margin: 0;
    font-size: 18px;
    line-height: 15px;
    display: inline-block;
    font-weight: 400;
}

.alert-business {
    color: #ffffff;
    background-color: #c90000;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}


/***************Material Design***********/

.login {
    padding: 25px 25px 10px 25px;
}

.info {
    padding: 0 25px 10px 25px;
    font-size: 0.7em;
    text-align: center;
}
.info a {
    color: #c90000;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.info a:hover, .info a:focus, .info a:active {
    color: #c90000;
}
.info a::after {
    content: "|";
    color: #646464;
    margin: 0 10px;
}
.info a:last-child::after {
    content: "";
}

fieldset {
    padding: 0;
    margin-bottom: 40px;
    border: none;
    position: relative;
}

label {
    position: absolute;
    pointer-events: none;
    font-size: 1.2em;
    top: 7px;
    -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
    transition: top 0.2s, font-size 0.2s, color 0.2s;
    font-weight: 400;
}

.underline {
    width: 100%;
}

.underline::before,
.underline::after {
    position: absolute;
    content: "";
    top: 32px;
    width: 0%;
    height: 2px;
    opacity: 0;
    background-color: #c90000;
    -webkit-transition: width 0.2s, opacity 0.2s;
    transition: width 0.2s, opacity 0.2s;
}

.underline::before {
    right: 50%;
}

.underline::after {
    left: 50%;
}

input {
    position: relative;
    display: block;
    width: 100%;
    padding: 7px 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #eeeeee;
    border-left: none;
    font-weight: 400;
}
input:focus {
    outline: none;
}
input:focus ~ .underline::before, input:focus ~ .underline::after {
    opacity: 1;
    width: 50%;
}
input:focus + label {
    color: #c90000;
}

input:focus + label,
input.filled + label {
    font-size: 0.9em;
    top: -15px;
    color: #a0a0a0;
}

input[type=checkbox] + label,
input[type=checkbox] + label {
    top: 0px !important;
}

input[type=checkbox]:focus + label,
input[type=checkbox].filled + label {
    font-size: 1em;
    top: 0px !important;
    color: #646464;
    outline:none;
}