/*  CelerCMS default template style */


@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body{
    background-color: #d9d9d9;
    color: #4C4C4C;
    font-family: 'Open Sans Condensed' ,  sans-serif; 
    font-size: 16px;
}

#celer-header, #celer-content, #celer-footer, .clr_default_text{ text-align: center;}