
nav:not(.mm-menu)
{
    display: none;
}

.header
{
    text-align: center;
}
.header
{
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;


    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
    height: 40px;
    padding: 0 50px;
}
.header.fixed
{
    position: fixed;
    top: 0;
    left: 0;
}
.header a
{
    display: block;
    width: 28px;
    height: 18px;
    padding: 11px;
    position: absolute;
    top: 0;
    left: 0;
}
.header a:before,
.header a:after
{
    content: '';
    display: block;
    background: #fff;
    height: 2px;
}
.header a span
{
    background: #fff;
    display: block;
    height: 2px;
    margin: 6px 0;
}
.content
{
    padding: 150px 50px 50px 50px;
}