/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2017, 4:29:04 PM
    Author     : Erald Halili
*/

#related_businesses .alert-grey, .main-text-title {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px rgba(0,0,0,0);
    padding: 15px 0;
}
#related_businesses h4 {
    color: black;
    text-align:center
}

/* owl carousel personalised*/



.skill-card {
  padding: 0px;
  margin: 0px 5px 0px 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}


.skill-card:hover .skill-card__header {
  /* height: 40px; */
}
.skill-card:hover .skill-card__header .skill-card__icon {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
  transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.skill-card .skill-card__header {
  position: relative;
  background-color: white;
  height: 150px;
  margin: -20px 0px 0px 0px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__header .skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.skill-card .skill-card__body {
  /* height: 65px; */
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
  background: #3a3a3a;
  padding: 10px;
  margin-bottom: 1px;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.skill-card .skill-card__body .skill-card__title a{
  color: #ffffff;
}
.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-style: italic;
  font-size: 10px;
}
.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242;
}
.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  -webkit-transition-duration: 0;
          transition-duration: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
