

/*global class*/

.ptb-100 {
    padding: 20px 0;
}

/*================================
         Accordion Area 
==================================*/


.pxlr-accordion-wrap .panel-heading {
    padding: 0;
    border-radius: 0;
}

/*   .pxlr-accordion-twelve start */

.pxlraccordionTwelve .panel-group .panel+.panel {
    margin-top: 0;
}
.pxlraccordionTwelve .panel-group {
    margin-bottom: 0;
}
.pxlraccordionTwelve .panel-default {
    border: 0;
}
.pxlraccordionTwelve .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 0;
}
.pxlraccordionTwelve .panel:last-of-type {
    border-bottom: 0;
}
.pxlraccordionTwelve .panel .panel-heading a {
    display: block;
    background: #fff;
    color: #313131;
    border-top: 2px solid #c90000;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding: 12px 20px;
    text-transform: uppercase;
}
.pxlraccordionTwelve .panel .panel-heading a.collapsed {
    color: #646464;
    background-color: #fff;
    display: block;
    padding: 12px 20px;
    border: 1px solid #F1F1F1;
    text-transform: uppercase;
}
.pxlraccordionTwelve .panel-default>.panel-heading {
    border-radius: 0;
}
.pxlraccordionTwelve .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 25px 30px 30px 20px;
    background: #fff;
    color: #6c6c6c;
}
.pxlraccordionTwelve .panel .panel-heading a:before,
.pxlraccordionTwelve .panel .panel-heading a.collapsed:before {
    font-family: 'FontAwesome';
    font-size: 15px;
    float: left;
    margin-right: 10px;
}
.pxlraccordionTwelve .panel .panel-heading.lock a:before {
    content: "\f197";
    color: #31aae2;
}
.pxlraccordionTwelve .panel .panel-heading.lock a.collapsed:before {
    content: "\f197";
    color: #dadada;
}
.pxlraccordionTwelve .panel .panel-heading.heart a:before {
    content: "\f005";
    color: #c90000;
}
.pxlraccordionTwelve .panel .panel-heading.heart a.collapsed:before {
    content: "\f005";
    color: #aaaaaa;
}
.pxlraccordionTwelve .panel .panel-heading a:after,
.pxlraccordionTwelve .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 15px;
    float: right;
}
.pxlraccordionTwelve .panel .panel-heading a:after {
    content: "\f107";
    color: #c90000;
}
.pxlraccordionTwelve .panel .panel-heading a.collapsed:after {
    content: "\f106";
    color: #dadada;
}
.col-sm-6.pxlraccordionTwelve {
    padding: 21px 12px;
}
/*   .pxlr-accordion-twelve end */
