/*  Tmp05  style */
/*  neTirane.al */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
    background-color: #C90000;
}
::-webkit-scrollbar-thumb{
    background-color: #C90000;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
}

/*------------------- General Styling -------------------- */
body{
    background-color: #f6f6f6;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.modal {
    z-index: 99999;
}

a {
    color: #c90000;
}
a:hover , a:focus, a.active, li.active a {
    color: #C6251E;
    text-decoration: none;
}
a, a:active, a:hover{
    outline: none;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

h1, h2, h3 {
    font-weight: 300;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: normal;
    font-weight: 300;
}

.pagination li.active a:after, li.active a:hover:after {
    display: none;
}
#toTop{
    position: fixed;
    bottom: 6px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    display: none;
    z-index: 3;
    background-color: rgba(201, 0, 0, 0);
    border-color: #FFFFFF;
    border-radius: 0px;
    transition: 0.5s;
}
#toTop:hover{
    background-color: #C90000;
    border-color: white;
}



.btn-default, .btn-success, .btn-login {
    background-color: #C90000;
    color: white;
    text-transform: uppercase;
    border-radius: 0px;
    transition: .2s;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    background-color: #ffffff;
    color: #C90000;
}
.btn-default:hover, .btn-success:hover {
    border: 0px solid black;
    background-color: #ffffff;
    color: #C90000 !important;
}
.btn-default-invert {
    border: 10px solid white;
    color: #c90000;
    text-transform: uppercase;
    background-color: white;
    border-radius: 0px;
}
.btn-default-invert:hover {
    color: white;
    background-color: #c90000;
}
.btn-default-invert:focus {
    color: black;
    background: white;
}
.btn {
    transition: all 0.2s ease-in-out;
}
.align-btn{
    padding: 0em 0 2em 0;
}
.finish-button {
    padding: 30px 0 30px 0;
}
.navbar-toggle {
    border: 1px solid rgb(0, 0, 0);
}
.navbar-toggle .icon-bar {
    background: black;
}
.cf-home{
    height: 80px;
}

.btn:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    top: -1.3em;
    left: 50%;
    margin-left: -2.5em;
    -webkit-box-shadow: inset 0 0 0 5em rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 0 0 5em rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 5em rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
    -moz-transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
    -o-transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
    transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
}
.btn:focus:after {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 1;
}
.keyframe:focus:after {
    -webkit-animation: ripple 300ms linear forwards;
    -moz-animation: ripple 300ms linear forwards;
    -o-animation: ripple 300ms linear forwards;
    animation: ripple 300ms linear forwards;
}
lesshat-selector {
    -lh-property: 0; } 
@-webkit-keyframes ripple{ 0%{ -webkit-transform: scale(0.2); opacity: 0; } 50% { opacity: 1; } 100%{ -webkit-transform: scale(2); opacity: 0; }}
@-moz-keyframes ripple{ 0%{ -moz-transform: scale(0.2); opacity: 0; } 50% { opacity: 1; } 100%{ -moz-transform: scale(2); opacity: 0; }}
@-o-keyframes ripple{ 0%{ -o-transform: scale(0.2); opacity: 0; } 50% { opacity: 1; } 100%{ -o-transform: scale(2); opacity: 0; }}
@keyframes ripple{ 0%{-webkit-transform: scale(0.2);-moz-transform: scale(0.2);-ms-transform: scale(0.2);transform: scale(0.2); opacity: 0; } 50% { opacity: 1; } 100%{-webkit-transform: scale(2);-moz-transform: scale(2);-ms-transform: scale(2);transform: scale(2); opacity: 0; };
}

.btn {
    position: relative;
    border: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
    -moz-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
    -o-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
    transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
}

.btn:hover {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.btn:active {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
}

.btn-green {
    background-color: #19a69a;
}
.btn-green:hover {
    background-color: #1cbcaf;
}
.btn-blue {
    background-color: #1094f6;
}
.btn-blue:hover {
    background-color: #299ff7;
}
.btn-pink {
    background-color: #ff504d;
}
.btn-pink:hover {
    background-color: #ff6967;
}
.btn-white {
    background-color: #ffffff;
    color: #C90000;
}
.btn-white:hover {
    background-color: #C90000;
    color: white;
}
.btn-red {
    background-color: #C90000;
    color: white;
}
.btn-red:hover {
    background-color: #C90000;
    color: white;
}

.btn-xs {
    padding: 5px 10px;
}
.btn-sm {
    padding: 10px 15px;
}
.btn-md {
    padding: 15px 25px;
}
.btn-lg {
    padding: 20px 35px;
}

span.check-subdomain, span.check-email{
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 18px;
    color: red;
    z-index: 10;
}
span.glyphicon-ok{
    color: #3c763d !important;
}
span.glyphicon-remove{
    color: #c90000 !important;
}

/*------------------- Header section styling -------------------- */
#pos-helper {
    padding: 30px 0;
}
@media(max-width: 992px){
    #pos-helper {
        padding: 26px 0;
    }
}
#pos-hbottom{
    position: relative;
}
#pos-hmiddle{
    /* background: rgb(255, 255, 255); */
    /* padding: 0px 0; */
    /* z-index: 99; */
    /* margin: 0px auto; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.1); */
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    /* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); */
}



/*************header menu shrink******************/

#main-header{
    /* position: absolute; */
    /* top: 0; */
    /* z-index: 99; */
    /* padding: 1em 0; */
    /* width: 100%; */
}

#main-header.navbar-shrink {
    background: #FFFFFF;
}

/***** Fixed Navbar Shrink *****/
#main-header{
    z-index: 99999;
    padding: 0px 0;
    margin: 0px auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#main-header.navbar-shrink::after {
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    transition: opacity 0.4s;
    width: 100%;
    z-index: 2050;
    /* border-bottom: 1px solid #eeeeee; */
}

#main-header.navbar-shrink div.logo {
    width: 150px;
}

#main-header.navbar-shrink .signin-btn a, #main-header.navbar-shrink .signin-btn span{
    color:black;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.55);
}

#search-tab-sm {
    display: none;
}

#main-header.navbar-shrink #search-tab-sm {
    display: block;
}


#pb_14 {
    top: 20vh;
    z-index: 98;
    left: 0;
    position: absolute;
    width: 100%;
}
#pb_16 {
    padding-top: 50px;
}
#pos-htop{
    background-color: #2E2E2E;
    color: white;
    z-index: 99;
    margin: 0px auto;
}
.main-services-top a{
    font-size: 10px;
}
#pos-ctop{
    padding: 0px;
}
#pos-hbottom .container{
}
#pos-htop div.generic-languagebutton {
    float: right;
}
#pb_6{
    margin-top: 15px;
    width: 100%;
}
#pb_6  h1.costa{
    display: none;
}
#pb_34 {
    color: white;
}
#pos-fmiddle, #pb_34 p, #pos-ftop li a{
    color: #9A9A9A;
    font-size: 12px;
}
#pos-ftop li a:hover{
    color: white;
    transition-duration: 1s;
}
@media(min-width:768px){
    #pos-hmiddle div.generic-menu {
        float: right;
        margin-top: 35px;
    }
}
@media(max-width:768px){
    #pb_14 {
        top: 28vh;
    }
}
@media(max-width:500px){
    #pb_14 {
        top: 25vh;
    }
}

/* - Logo - */
#header div.logo{
    padding: 0px;
    width: 175px;
    margin: 0px 10px;
    transition: .5s;
    margin-top: 10px;
}
@media(max-width:992px){
    #header div.logo{
        /* width: 160px; */
        /* padding: 5px 0; */
        float: left;
        /* margin: 0px auto; */
    }
    #pb_60 {
        float:right;
        margin: 2px 10px 5px 10px !important;
    }
}
.hide{
    visibility: hidden;
}
#header div.logo img {
    width: 100%;
    display: block;
    transition: .5s;
}
.input-group-btn{
    width: 8%;
    text-align: center;
}
#h11{
    color: tomato;
    margin-left: 148px
}

/* - Navbar - */
#header .navbar{
    margin-bottom: 0px;
}

/* - Vertical carousel - */
#pos-sidebar{
    position: fixed;
    background-color: white;
    height: 100vh;
}
@media (max-width: 991px) {
    #pos-sidebar{
        display: none;
    }
}
#pb_101 {
    width: 45%;
}
#pb_60 {
    margin: 14px;
    text-align: right;
}

@media(min-width:991px){
    #pb_7 .log-in,  #pb_8 .search-mobile, #pb_9 .scopri-servici,  #pb_7 .insert{
        float: right;
    }
    #pb_8 .search-mobile{
        display:none;
    }
}
@media(max-width: 991px){
    #pb_7 .log-in,#pb_7 .insert, #pb_9 .scopri-servici, #pb_8 .search-mobile{
        float: right;
    }
}
.log-in i, .scopri-servici i, .search-mobile i, .insert i {
    font-size: 22px;
    width: 45px;
    line-height: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 50%;
    display: block;
    background: #fff;
    color: #c90000;
    transition: .2s;
    margin: 0 2px;
}

.log-in i:hover, .scopri-servici i:hover, .search-mobile i:hover, .insert i:hover {
    border: 1px solid #c90000;
    background: #c90000;
    color: #ffffff;

}

/*------------------- Body section styling -------------------- */
.alert-grey, .main-text-title {
    color: #2E2E2E;
    background-color: #FFFFFF;
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    padding: 15px;
    margin-bottom: 20px;
    border: 0px solid transparent;
}
.star-on-png{
    color: #f1c40f;
}
.main-services {
    background: rgb(255, 255, 255);
    margin-top: -193px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#pos-cmiddle{
    background: #f6f6f6;
}
#pos-cmiddle .cmiddle {
    padding: 0px 0px 0px 0px;
}
#pos-cmiddle div.body-container{margin-top: 0;}
#pb_19 {
    margin: -10px;
    margin-top: -236px;
    padding: 6px;
    background: white;
}
#pos-cbottom{
    background-color: #ffffff;
    color: white;
    padding-top: 5em;
}
#pb_32 {
    color:black;
}
.banner-carousel{
    padding-bottom: 75px;
    margin-bottom: 75px;
    border-bottom: 1px solid #f7f7f7;
    position: relative;
    z-index: 11;
}
.partners-title{
    color:black;
    text-align:center;
    margin-bottom: 2em;
    text-transform: uppercase;
}
.hr-header-partner {
    width: 15%;
    border: 1px solid #e31d1a;
    margin-top: 0em;
    margin-bottom: 4em;
}
#owl-carousel img.lazyOwl{
    width: 100px;
}
.title-ristorante{
    padding: 10px;
    text-align: center;
}
.menu-title{
    color: #B33D3D;
    font-weight: bold;
    padding-left: 40px
}
.menu-lista{
    font-size: 20px;
    color: #6F6C6C;
}
.cls-menu{
    border-radius: 10px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}
.main-login-top .accedi {
    border-right: 1px solid #424242;
    padding: 20px 0;
}
.main-login-top .register {
    padding: 20px 0;
}
.main-login-top {
    text-align: center;
    padding: 30px 0;
}
.main-search-top {
    padding: 50px 0;
}

/*------------------- Categories -------------------- */
li.home-post{
    list-style-type:none;
}
.home-post {
    text-align: center;
    padding: 25px;
}
.home-post a.categories {
    position: relative;
    display: inline-block;
    border: 1px solid #2E2E2E;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 25px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}
.home-post a.invert {
    border: 1px solid white;
}
.home-post a img, .home-post a span {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}
.home-post a span{
    font-size: 30px;
    line-height: 75px;
    color: white;
}
.main-service a span {
    font-size: 35px;
    color: white;
}
.home-post a.green:hover {
    border: 1px solid #1abc9c;
}
.home-post a.red:hover {
    border: 1px solid #e74c3c;
}
.home-post a.yellow:hover {
    border: 1px solid #f1c40f;
}
.main-search-top {
    padding: 50px 0;
}


/*-- Section 1 -- */

#pos-section1 {padding: 4em 0;}

/*-- Section 2 -- */
#pos-section2 {
}
#pb_25 {
    color: white;
    text-align: center;
}
#pb_26 {
    padding: 50px 0 0 0;
}
#pb_124 {
    padding: 0 0 50px 0;
}

/*-- Section 3 -- */
#pos-section3, #first-pos, #pos-horoscope {
    background: white;
}
#pos-section3 #pb_27, #first-pos #pb_65 {
    padding: 150px 0;
    text-align: center;
}
#pos-horoscope {
    padding: 5em 0;
}
#pos-section3 .fa-size, #first-pos .fa-size {
    font-size: 5em;
}

#pos-section3 .services-title, #first-pos .services-title {padding-bottom: 65px;}
#pos-section3 hr.hr-header, #first-pos hr.hr-header {width: 50%;margin-top: 15px;margin-bottom: 15px;}
#pos-section3 hr.service1, #first-pos hr.service1 {border-top: 3px solid #ea4335;}
#pos-section3 hr.service2, #first-pos hr.service2 {border-top: 3px solid #3b5998;}
#pos-section3 hr.service3, #first-pos hr.service3 {border-top: 3px solid #4fd961;}

.services-title-style{line-height: 48px;margin: 0 0 25px;color: #444;font-weight: 200;}
.services-content-style{font-size: 15px;/* line-height: 24px; */color: #848484;font-weight: 300;line-height: 1.5;}
.services-title-style span{
    color: #c90000;
    font-weight: 300;
}
.services-content-style span{
    color: #696868;
    font-weight: bold;
}

/*-- Section 4 -- */
#pos-section4 {
    background: #f7f7f7;
}
#pos-section4 .fff .caption {
    padding: 0 10px 10px 10px;
}
#pos-section4 .fff .content{
    min-height: 100px;
}
#pos-section4 .fff {
    transition: .8s;
}
#pos-section4 .fff:hover {
    moz-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);
}
.body-container .fff .caption{
    padding: 0 10px 10px 10px;
}
.body-container .fff .meta-tags{
    padding: 0 10px;
}
#pb_38 {
    padding: 8px 0 0 0;
}
#footer .sidebar-categories-title{
    color:white;
}
#footer ul.piu-cliccate, #pb_34 ul{
    padding: 0px;
}
#article-list .fff {margin: 15px 0;}
.fff {
    background: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}
#pos-section4 #pb_28 {
    padding: 75px 0 0 0;
}
#pos-section4 #pb_29 {
    padding: 0 0 0px 0;
}
#pos-section4 #pb_168 {
    padding: 0 0 50px 0;
}

/*------------------- Footer section styling -------------------- */
#pos-fbottom{
    background-color: #0c0c0c;
    color: white;
    padding: 10px 0;
    font-size: 11px;
}
.poweredby{
    float: right;
    font-size: 0.9em;
}
.poweredby img {
    max-width: 60px;
}
.poweredby a{
    font-weight: bold;
}
.news-title{
    font-weight: bold;
    font-size: 19px;
}
.news-title a:hover{
    text-decoration: none;
}
.btn-primary, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #c90000;
    color: white;
    border-color: #c90000;
}
#pos-fbottom .generic-static-block{
    float: left;
}
.page-header {
    margin: 0px 0 20px;
}

/* Search Box */
@media (max-width: 767px) {
    #pos-section3 .fa-size {
        padding-top: .8em;
    }
    #insert-company.alert-grey {
        border: 0px solid transparent;
        margin: -5px -15px 20px -15px !important;
    }
}
#footer {
    z-index: 2;
}
#pos-ftop{
    background: #2E2E2E;
    padding: 25px 0;
}
#pos-ftop .fb-page{
    padding-top: 10px;
}
#pb_12 .single-banner img {
    height: 100vh;
}
img {
    border: 0px
}
.phone-img {
    width: 100%;
    margin-bottom: -58px;
    z-index: 1;
    position: relative;
}
.banner-float-list a img{
    width: 100%
}
.banner-float-list ul.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}
.banner-float-list > ul {
    margin: 0;
    list-style: none;
}
.banner-float-list > ul > li {
    float: left;
    padding: 0px;
}


#pos-fmiddle {
    background-color: #2E2E2E;
    color: #9A9A9A;
    padding: 10px;
}

/* Thumbnail Box */
.caption h4 {
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 5px;
}
.caption p {
    color: #666;
    font-size: 12px;
}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.lastnews .thumbnail {
    padding: 0px;
    border: 0px solid white;
}
ul.pager{
    display: none;
}
ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}
#footer ul.piu-cliccate li{
    float: left;
    width: 33.3%;
    margin-right: 0px;
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button_align {
    text-align: center;
}
#pb_128 {
    color : white;
}
#pb_128 ul > li > a {
    color : #9A9A9A;
}
.morecateg{
    color: #c90000;
    font-size:12px;
    text-transform: uppercase;
}
.main-title{border-bottom: 1px solid gainsboro !important;padding-bottom: 10px;margin-top: 5px;margin-bottom: 10px;text-transform: uppercase;}
.main-business-title a {
    color:  #2a2a2a !important;
}
.main-business-title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding-right: 75px;
}
.no-margin {
    margin: 0px;
}
.li-links {
    float:left;
    margin: 3px;
}
.menu-links{
    margin: 0px auto;
    display: table;
}
.parag-links{
    text-align: center;
    margin: 10px 0 0 0px;
}
.parag-links a{
    color: white;
}
.lastcompany .carousel-inner {
    padding-top: 0px;
    /* padding-bottom: 15px; */
}
.back-div{
    background-color: #FFFFFF;
    transition: .8s;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}
.back-div:hover {
    moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
}
.alldiv-text{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    font-size: 11px;
    /* -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15); */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.15); */
    /* border-top: 1px solid gainsboro; */
    background: #f6f6f6;
    margin-bottom: 10px;
}
.post-thumbnail-1, .post-thumbnail-2, .post-thumbnail-3 {
    margin-bottom: 0px !important;
}
.main-title1{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 15px;
}
.main-title1 a {
    color: black !important;
    font-weight: bold;
    text-transform: uppercase;
}
.leggi{
    margin: 0px auto;
    display: table;
}

/* Pagination */
pagination>li>a, .pagination>li>span {
    color: #C90000;
    text-decoration: none;
    background-color: #fff;
}
.pagination>li>a:hover{
    color: #C90000;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a {
    background-color: #C90000;
    border-color: #C90000;
}
.pagination>.active>a:hover{
    background-color: #C90000;
    border-color: #C90000;
}
.pagination {
    position: relative;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}
.pagination>li>a, .pagination>li>span {
    color: #2E2E2E;
}
td, th {
    padding: 0px 5px 5px 0;
}
.single-image {
    padding: 15px 0 0 0;
}

/*Responsive code*/
@media(min-width:998px){
    li:first-child.home-post{
        border-right: 1px solid #424242;
    }
    li:last-child.home-post{
        border-left: 1px solid #424242;
    }
    .box-list .img-item {
        margin-right: -15px;
    }
}
.container-background-bottom{
    display: none;
}

@media(max-width:998px){
    .main-login-top .accedi {
        border-right: 0px solid #424242;
        border-bottom: 1px solid #424242;
    }
    #pos-hbottom .container{
        margin-top: -160px;
    }
}
@media(min-width: 768px){
    .business-info {
        padding: 15px 0 10px 0;
    }
}
@media(max-width: 991px){
    #pb_14 form.cf-home{
        width: 100%;
        padding: 15px 15px;
    }
    .form-wrapper-2 input {
        margin-bottom: 10px;
        width: 100%;
    }
    form.cf-home button {
        width: 100%;
    }
    form.cf-home button:before, form.cf button:before {
        content: '';
        position: absolute;
        border-width: 0px 10px 10px 10px;
        border-style: solid solid solid solid;
        border-color: rgba(0, 102, 255, 0) rgba(0, 255, 8, 0) rgb(0, 0, 0);
        top: -9px;
        left: 47%;
    }
    .cf-home {
        height: 106px;
    }
    .cf-height {
        height: 75px;
    }
    .business-info {
        padding: 15px;
    }
    .button_box2{
        display:block;
    }

    .news-business, .fff{
        margin: 15px 0;
    }
    #pb_6{
        display: none !important;
    }
    #pb_14 .input-group {
        display: block;
    }
    #pb_3 .input-group {
        display: block;
    }
    .main-login-top .accedi {
        border-right: 0px solid #424242 !important;
    }
    .main-login-top  li:first-child.home-post {
        border-bottom: 1px solid #424242 !important;
    }
    #pos-cmiddle .cmiddle {
        /* padding: 75px 0px 0px 0px; */
    }
    #pb_12 {
        margin-top: 0px;
    }
    #pb_23 {
        margin-top: -30px;
    }
    #pb_25 {
        padding: 0px 0;
    }
    #pos-section3 #pb_27 {
        padding: 75px 0;
        text-align: center;
    }
    #pos-section3 .services-title {
        padding-bottom: 0px;
    }
    #pos-section3 .service-item {
        padding: 30px 0;
    }
    .poweredby {
        float: none;
        font-size: 0.9em;
        display: table;
        margin: 0 auto;
    }
    #pos-fbottom .generic-static-block{
        float: none;
    }
    #pb_38 .text-left {
        text-align: center;
    }
    .portal-links {
        text-align:center;
        margin: 3px;
        float: none;
    }
    #header div.logo img {
        width: 150px;
        display: block;
        /* margin: 0; */
    }
    .business-title {
        border-top: 1px solid gainsboro;
    }
    .log-in i, .scopri-servici i, .search-mobile i, .insert i {
        font-size: 18px;
    }
    .log-in i, .scopri-servici i, .search-mobile i, .insert i {
        font-size: 18px;
        width: 35px;
        line-height: 35px;
        height: 35px;
        text-align: center;
        border: 1px solid #666;
        border-radius: 50%;
        display: block;
        background: #fff;
        color: #c90000;
        transition: .2s;
        margin: 0 2px;
    }
    #pb_7, #pb_8, #pb_9 {
        margin-top: 5px;
    }
    .user-logged {
        font-size: 15px !important;
        font-weight: bold;
        margin: 5px 0 0px 0 !important;
    }
    .business_std_container .additional-images a img{
        padding-bottom: 15px;
    }
}
@media(max-width: 500px){
    #header div.logo img {
        width: 91px;
    }
    #header div.logo {
        width: 90px;
        margin: 0px 10px;
        transition: .5s;
        margin-top: 10px;
    }
    #main-header.navbar-shrink div.logo {
        width: 100px;
    }
}
/********* Jarallax *********/
.homeslider-jarallax, .homepage-jarallax, .work-jarallax, .advert-jarallax, .partners-jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.paralaxMask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

/*HomePage*/
.homeslider-parallax{
    padding: 18em 0;
    background: url(http://www.netirane.al/data/netirane.al/media/neTirane.al.jpg) no-repeat 0px 0px;
    background-size:cover;
    color: #ffffff;
}
.homeslider-jarallax .paralaxMask {
    background: rgba(0, 0, 0, 0.15);
}
.homeslider-parallax span {
    color: #ff2121;
}


/*HomePage*/
.homepage-parallax{
    padding: 15em 0;
    background: url(http://www.netirane.al/data/netirane.al/media/parallax.jpg) no-repeat 0px 0px;
    background-size:cover;
    color: #ffffff;
}
.homepage-jarallax .paralaxMask {
    background: rgba(0, 0, 0, 0.5);
}
.homepage-parallax span {
    color: #ff2121;
}
/*WorkWithUs Page*/
.work-parallax{
    padding: 8em 0;
    background: url(http://holosua.com/_nw/487/59908010.jpg) no-repeat 0px 0px;
    background-size:cover;
    color: #ffffff;
}
.work-jarallax .paralaxMask {
    background: rgba(255, 255, 255, 0.2);
}
/*Advertisement Page*/
.advert-parallax{
    padding: 8em 0;
    background: url(http://holosua.com/_nw/487/59908010.jpg) no-repeat 0px 0px;
    background-size:cover;
    color: #ffffff;
}
.advert-jarallax .paralaxMask {
    background: rgba(255, 255, 255, 0.2);
}

/*Partership Page*/
.partners-parallax{
    padding: 12em 0;
    background: url(http://www.privatispartners.com.au/wp-content/uploads/2015/09/06-privatis-partners-home-small-business-cgt-concession-1024x576px-COLOUR.jpg) no-repeat 0px 0px;
    background-size:cover;
    color: #ffffff;
}
.partners-jarallax .paralaxMask {
    background: rgba(0, 37, 123, 0.5);
}

/*video-bg*/
#home-sec {
    height: 400px;
    color:#fff;
    text-align:center;
    border-bottom: 0px solid #000;
}
#home-sec .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 400px;
}
#subscribe {
    width: 100%;
    padding-top: 12em;
}

#pos-hbottom #pb_48 {
    /* background: url("/data/netirane.al/media/overlay.png") repeat; */
    height: 100vh;
    display: block;
    /* opacity: 1; */
    top: 0;
    z-index: 4;
    position: absolute;
    width: 100%;
    display: none;
}

/*Network style*/ 
.network{
    padding: 15em 0 20em 0;
}
.menu-open-button {
    /* background: transparent; */
    background: url("http://www.netirane.al/data/netirane.al/media/thumbs/215x215/marker-hd.png?new");
    border-radius: 100%;
    width: 215px;
    height: 215px;
    margin-left: -55px;
    margin-top: 8px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 150px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu-open { display: none; }
.lines {
    width: 35px;
    height: 3px;
    background: #ffffff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18.5px;
    margin-top: -32.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}
.line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}
.line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}
.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    margin-top: -25px;
    transition: .5s;
}
.menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -200.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(150.9466px, -95.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(150.9466px, 95.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 200.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-150.86291px, 95.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-150.03006px, -95.33095px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
}
.menu-item {
    background: #EEEEEE;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: -20px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 150px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    font-size: 18px;
}
.menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
    transition: .5s;
}
.menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}
.item-1 {
    background-color: #669AE1;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.item-1:hover {
    color: #669AE1;
    text-shadow: none;
}
.item-2 {
    background-color: #70CC72;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.item-2:hover {
    color: #70CC72;
    text-shadow: none;
}
.item-3 {
    background-color: #FE4365;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.item-3:hover {
    color: #FE4365;
    text-shadow: none;
}
.item-4 {
    background-color: #C49CDE;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.item-4:hover {
    color: #C49CDE;
    text-shadow: none;
}
.item-5 {
    background-color: #FC913A;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.item-5:hover {
    color: #FC913A;
    text-shadow: none;
}
.item-6 {
    background-color: #62C2E4;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.item-6:hover {
    color: #62C2E4;
    text-shadow: none;
}


.noresult {
    padding: 20px;
    background-color: #cacaca;
    color: #222222;
    font-size: 1.2em;
    text-align: center;
}

.item {

}

/* Breadcrumb */
.breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 6px 6px;
    background-color: transparent;
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 0px;
    margin: 20px 0;
    border-left: 3px solid #c90000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.breadcrumb li { 
    float: left; 
}
.breadcrumb>li+li:before {
    padding: 0;
    color: #ccc;
    content: "/\00a0";
    display:none;
}
.breadcrumb li a {
    color: #666666;
    text-decoration: none;
    padding: 0px 0px 0px 30px;/* fallback color */
    position: relative;
    display: block;
    float: left;
    text-transform:capitalize;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;/* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 15px solid #ffffff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 15px solid #CECACA;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 10px;
    text-transform:capitalize;
}
.breadcrumb li:nth-child(2) a       {background-color: #ffffff;background-image: linear-gradient(to left, #ffffff, #ffffff);}
.breadcrumb li:nth-child(2) a:after { border-left-color: #ffffff; }
.breadcrumb li:nth-child(3) a       { background-color: #ffffff; text-transform:capitalize;     background-image: linear-gradient(to left, #ffffff, #ffffff); }
.breadcrumb li:nth-child(3) a:after { border-left-color: #ffffff; }
.breadcrumb li:nth-child(4) a       { background-color: #ffffff; text-transform:capitalize;     background-image: linear-gradient(to left, #ffffff, #ffffff); }
.breadcrumb li:nth-child(4) a:after { border-left-color: #ffffff; }
.breadcrumb li:nth-child(5) a       { background-color: #ffffff; text-transform:capitalize;     background-image: linear-gradient(to left, #ffffff, #ffffff); }
.breadcrumb li:nth-child(5) a:after { /* border-left-color: #E7E7E7; */ }
.breadcrumb li:last-child a         {color: #c90000;font-weight:bold;background-image: linear-gradient(to left, #ffffff, #ffffff);width: 200px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.breadcrumb li:last-child a:after   { border-left-color: #ffffff; }
.breadcrumb li a:hover {
    background-color: #c90000;
    background-image: linear-gradient(to left, #ffffff, #ffffff);
    color: #c90000 !important;
}
.breadcrumb li a:hover:after {
    border-left-color: #ffffff;
}
.f-social{
    text-align:center;
    padding-bottom: 15px;
}
.f-social ul{
    margin: 0; 
    padding: 0;
}
.f-social li{
    display: inline-block; 
    margin: 0 5px;
} 
.f-social li a{
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    transition: .5s;
} 
.f-social li a .fa{
    line-height: 35px; 
    font-size: 18px;
} 
.f-social li:hover a{
    background: #c90000;
    color: #ffffff;
} 
.preloader {
    position: absolute;
    height: 100vh;
    background: rgba(255,255,255,1);
    display: block;
    z-index: 999;
    width: 100%;
}
.loader {
    width: 100px;
    height: 100px;
    border: 10px solid rgba(0,0,0,0);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Main Categories on Homepage */
@media only screen and (min-width: 900px){
    .top-categorie {
        padding: 0 170px;
    }
}
@media only screen and (min-width: 740px){
    .top-categorie {
        bottom: 32px;
        padding: 0 32px;
    }
}
@media (max-width: 500px){
    .top-categorie {
        bottom: 0px !important;
    }
}
.top-categorie {
    bottom: 2px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 30;
    -webkit-justify-content: center;
    justify-content: center;
}
.top-categorie a {
    background: rgba(0,0,0,0.75);
    border-radius: 2px;
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    font-size: 0.875rem;
    margin-right: 2px;
    max-width: 80px;
    padding: 15px 6px 14px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex: 0 1 80px;
    -ms-flex: 0 1 80px;
    flex: 0 1 80px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    transition:.5s;
}
.top-categorie a:hover {
    background: rgba(0,0,0,0.85);
}

.article_std_container .share-button {
    margin: 0 auto;
    float: none;
    position: relative;
    display: table;
}

#pos-section5{
    background-color: white;
}

.contact-info {
    background: #2e2e2e;
    margin-bottom: -15px;
    color: white;
}

/**********Work With Us Page**************/
.parallax-layout-header{
    padding:10em 0;
    text-align:center;
}
.parallax-layout-header .title{
}
.parallax-layout-header .description{
}
.pxlraccordionTwelve .panel-group .panel-heading+.panel-collapse>.panel-body {
    background: rgba(1,1,1,0.75) !important;
    color: #ffffff !important;
    padding: 3.5em !important;
    line-height: 2.5em;
}
.parallax-layout #pb_44{
    background: white;
}
.parallax-layout #subscribe h3 {
    color: #010101;
}
.parallax-layout #subscribe .progress-shadow {
    background-image: linear-gradient(to bottom, #eaeaea, transparent) !important;
}

/**********Advertisement Page**************/

.parallax-layout .alert-grey{
    border-radius:5px;
    background:rgba(255,255,255,0.85) !important;
}

.advertisement {
    position: relative;
}
.advertisement .page-title, .container .page-sub-title {
    color: white;
    text-align: center;
}
.advertisement .page-title {
    margin: 30px 0 5px;
    font-size: 30px;
}
.advertisement .page-sub-title {
    font-weight: 100;
    margin: 0 0 30px 0;
    font-size: 23px;
}
.advertisement img {
    display: block;
    width: 100%;
}
.advertisement-card-container {
    -webkit-perspective: 1000;
    perspective: 1000;
    margin: 0 auto 50px;
    width: 100%;
}
.advertisement-card-container .front, .advertisement-card-container .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    -webkit-transition: 0;
    transition: 0;
}
.advertisement-card-container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    text-align: center;
}
.advertisement-card-container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
    padding-top: 30px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: #333741;
    color: white;
}
.advertisement-card {
    position: relative;
    width: 100%;
    height: 500px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.advertisement-card:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.advertisement-card:hover .front {
    opacity: 0;
}
.advertisement-card:hover .back {
    opacity: 1;
}
.advertisement-card-container .sub-title {
    color: #DE6262;
    -webkit-animation: slide-in 0.75s;
    animation: slide-in 0.75s;
    -webkit-animation: slide-in 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation: slide-in 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    -webkit-animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 5px 0;
}
.advertisement-card-container .title {
    color: #333741;
    -webkit-animation: slide-in-slow 0.75s;
    animation: slide-in-slow 0.75s;
    -webkit-animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    -webkit-animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}
.advertisement-card-container .synopsis {
    color: #d9534f;
    font-size: 27px;
    font-weight: 600;
    margin: 0 0 15px;
}
.advertisement-card-container  p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 35px;
}
.advertisement-card-container  .image {
    bottom: 0;
    left: 0;
    -webkit-animation: slide-in-right 1.25s;
    animation: slide-in-right 1.25s;
    -webkit-animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.11, 1.165);
    -webkit-animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    width: 100%;
}

/********Partneritet**********/
.team{
    padding:4em 0;
    background: url(https://p.w3layouts.com/demos/aug-2016/13-08-2016/food_corner/web/images/5.jpg) no-repeat 0px 0px;
    background-size:cover;
}
.contact-parallax{
    padding:4em 0;
    background: url(https://wallpaperscraft.com/image/crayfish_dish_plate_salad_restaurant_78304_1920x1080.jpg) no-repeat 0px 0px;
    background-size:cover;
}
.team-jarallax, .contact-jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.team-heading {
    text-align: center;
}
.team-heading p{
    color: #000000;
    font-size: .9em;
    margin: 1em auto 0;
    width: 40%;	
}
.agileits-team-grids {
    margin: 4em 0 0 0;
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-info img{
    width:100%;
    border:solid 2px #333333;
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 600;
    margin: .5em 0 0 0;
}
.team-caption p{
    color: #ffb3ac;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
    color: #333;
    text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
    background: #55acee;
}
.team-caption ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-rss:hover{
    background: #f26522;
}
.team-caption {
    background: #f35041;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 154px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/
.at-section__title {
    margin: 0 0 70px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 2.625rem;
    text-align: center;
    z-index: 1;
    position: relative;
}
.at-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid #E2E9ED;
}
.at-grid[data-column="1"] .at-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
    width: 33.33333%;
    max-width: 33.33333%;
    min-width: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
    width: 16.66667%;
    max-width: 16.66667%;
    min-width: 16.66667%;
    -webkit-flex-basis: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
    width: 14.28571%;
    max-width: 14.28571%;
    min-width: 14.28571%;
    -webkit-flex-basis: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
    flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
    -webkit-flex-basis: 12.5%;
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
    width: 11.11111%;
    max-width: 11.11111%;
    min-width: 11.11111%;
    -webkit-flex-basis: 11.11111%;
    -ms-flex-preferred-size: 11.11111%;
    flex-basis: 11.11111%;
}
.at-column {
    z-index: 0;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.at-column:hover {
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
    margin: 16px 0 0;
    opacity: 1;
}
@media (max-width: 800px) {
    .at-column {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        -webkit-flex-basis: 50% !important;
        -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
    }
}
@media (max-width: 600px) {
    .at-column {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        -webkit-flex-basis: 100% !important;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }
}
.at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}
.at-user__avatar {
    width: 98px;
    height: 98px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.at-user__avatar img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.at-user__name {
    color: #313435;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.625rem;
}
.at-user__title {
    color: #6F808A;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 2.375rem;
}
.at-social {
    margin: 0 0 -18px;
    opacity: 0;
    -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
    transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
    display: inline-block;
    margin: 0 10px;
}
.at-social__item a {
    display: block;
}
.at-social__item svg {
    fill: #515F65;
    display: block;
    height: 18px;
    -webkit-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}
.at-social__item svg:hover {
    fill: #788D96;
}


/******* Sherbimet *****/
#google-service, #facebook-service{
    padding: 10em 0;
}

@media (max-width: 991px){
    #google-service img, #facebook-service img {
        padding: 5em 0em;
    }
}

/******* video BG *******/
#bg-video {
    position: relative;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    /* background: url(http://www.netirane.al/data/netirane.al/media/overlay.png); */
}
.cover .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
}
.cover .hi span {
    color: #ff0;
    cursor: pointer;
    text-decoration: underline;
}
.cover .hi em {
    font-style: normal;
}
.cover .hi em.hidden {
    display: none;
}
.tv {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.tv .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    opacity: 0;
    transition: opacity .5s;
}
.tv .screen.active {
    opacity: 1;
}

/******** Portals **********/
#portals p {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    text-shadow: 1px 1px 0px #000;
}
#portals p span {
    display: block;
    font-size: 0.5em;
    text-shadow: none;
}
#portals p .category {
    text-transform: uppercase;
    font-weight: 700;
}
#portals p .category.news {
    color: #ffca00;
}
#portals p .category.identities {
    color: #00edae;
}
#portals p .category.policy {
    color: #ba5da0;
}
#portals p .category.world {
    color: #ff453d;
}
#portals p .author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#portals .gallery {
    height: auto;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: block;
}
#portals .item {
    width: 100%;
    height: 25vh;
    background: #ccc;
    float: left;
    padding: 40px 30px;
    display: table;
}
#portals .item p {
    display: table-cell;
    vertical-align: middle;
}
#portals .item p img{
    width:50%;
    transition: all 0.2s ease-in-out;
}
#portals .item p img:hover{
    transform:scale(1.2);
}
#portals .item div.backstretch img{
    transition: all 10s ease-in;
}
#portals .item:hover div.backstretch img{
    transform:scale(1.25);
}
@media (min-width: 500px) {
    #portals .item {
        width: 50%;
        height: 50vh;
    }
}
@media (min-width: 900px) {
    #portals .item {
        width: 25%;
        height: 50vh;
    }
}
#portals .item .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#portals .item:hover .overlay {
    background: rgba(0, 0, 0, 0.2);
}

/******** Information Styling **********/
#services-tabs {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    height: auto;
    overflow: hidden;
}
#services-tabs ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}
#services-tabs ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #3b3b3b;
    border-top: solid 1px #8c8c8c;
    padding: 20px 5px;
    z-index: 1;
    opacity: .4;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
#services-tabs ul li:focus, a:focus {
    outline: none;
}
#services-tabs ul li:nth-child(1) a {
    border-top: none;
}
#services-tabs ul li a.active {
    opacity: 1;
}
#services-tabs .para-a {
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    border: none;
    font-family: 'Montserrat';
    color: #2b2b2b;
}
#services-tabs .tag {
    position: relative;
    width: 100%;
}
#services-tabs .icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 100%;
    vertical-align: middle;
}
#services-tabs .block {
    position: absolute;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: solid 2px #c90000;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#services-tabs .circle {
    position: absolute;
    padding: 2px;
    border: solid 2px #c90000;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#services-tabs .title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 18px;
}
#services-tabs .addon {
    position: relative;
    width: 81%;
    top: -25px;
    margin-left: 70px;
    letter-spacing: 0;
    font-size: 14px;
    color: #ececec;
    opacity: 0;
    font-family: 'Open Sans';
    margin: 0 auto;
}
#services-tabs .addon.fadein {
    opacity: 1;
}
#services-tabs table {
    width:100%;
}
#services-tabs .browser {
    height: 500px;
    position: absolute;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #7b7b7b #7b7b7b #7b7b7b #7b7b7b;
    right: 0;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
#services-tabs .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border-bottom: solid 2px #7b7b7b;
    z-index: 2;
}
#services-tabs .dot {
    position: relative;
    display: inline-block;
    padding: 4px;
    background: #c7c7c7;
    border-radius: 100%;
}
#services-tabs .dot:nth-child(1) {
    margin-left: 7px;
}
#services-tabs #tabs-1, #services-tabs #tabs-2, #services-tabs #tabs-3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#services-tabs #tabs-1 {
    background: #9b9b9b;
}
#services-tabs #tabs-2 {
    background: #c9c9c9;
}
#services-tabs #tabs-3 {
    background: #1b1b1b;
}
@media(max-width: 991px){
    #services-tabs .browser {
        display: none;
    }
    #services-tabs ul {
        width: 100%;  
    }
}
@media(min-width: 991px){
    #services-tabs .browser {
        display: block;
        width: 30%;
    }
    #services-tabs ul {
        width: 68%;  
    }
}

/***********Alert Costumized*************/

.alert-success {
    background-color: #18bc9c;
    border-color: #18bc9c;
    color: #ffffff;
}
.alert-success hr {
    border-top-color: #15a589;
}
.alert-success .alert-link {
    color: #e6e6e6;
}
.alert-info {
    background-color: #3498db;
    border-color: #3498db;
    color: #ffffff;
}
.alert-info hr {
    border-top-color: #258cd1;
}
.alert-info .alert-link {
    color: #e6e6e6;
}
.alert-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
}
.alert-warning hr {
    border-top-color: #e08e0b;
}
.alert-warning .alert-link {
    color: #e6e6e6;
}
.alert-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.alert-danger hr {
    border-top-color: #e43725;
}
.alert-danger .alert-link {
    color: #e6e6e6;
}