.btn-form {
    color: #000;
    border: 1px solid #000;
    padding: 20px;
    background: #fff;
}

.btn-form:hover {
    color: #fff;
    background: #000;
    padding: 20px;
    border: 1px solid #000
}
.scopra {
    color: #000;
    border: 1px solid #000;
    padding: 20px;
    background: #fff;
}
.scopra:hover {
    color: #fff;
    background: #000;
    padding: 20px;
    border: 1px solid #000 
}
.cnt-ttl {
    float: left;
}

#news {
    padding: 0 20px;
}

.author i.fa-user {
    padding-left: unset !important;
}

.blog-title .title > a {
    text-decoration: none; 
}

.sharepost ul {
    list-style-type: none !important;
}

#subscribe input {
    border-radius: unset !important;
}

#subscribe-btn {
    border-radius: unset !important;
}