/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Bonito - Multipage Html Responsive Template
Version:	1.1
Last change:	15/08/2017
Primary use:	Bonito - Multipage Html Responsive Template 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Navigation
3. Page Tilte
4. Button Style
5. Heading style
6. Icon Box Style
7. Fullwidth Section Style
8. Portfolio Style
9. Testmonials Style
10. Accordion / Toggle Style
11. Blog Post Style
12. Pricing Table Style
13. Footer style
14. Responsive Media Screen style

-------------------------------------------------------------------*/



/*---Body---*/
	
body {
	color:#666;
}
a {
	color: #0a8dcc;
}
a:hover,
a:focus {
	color: #0a8dcc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color:#333;
}

.blue{
	color:#0a8dcc;
}
.white{
	color: #fff;
}
.black{
	color:#000;
}
.gray{
	color:#898989;
}
.light-gray{
	background-color:#f7f7f7;
}


/*--- Nav top bar ---*/

.top-container {
    color: #fff;
	background-color: #0a8dcc;
}

ul.contact-line li, ul.register li {
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.top-container a, .top-container a:hover, .top-container a:focus, .top-container a:active {
    color: #fff;
}

/*---Page Tilte---*/

.page_title_ctn {
	background-image:url(../../images/bg_34.jpg);
    border-bottom: 1px solid #ecf0f1;
}
.page_title_ctn h1, .page_title_ctn h2, .breadcrumb, .breadcrumb a, .breadcrumb li.active {
    color: #ffffff;
}
.breadcrumb > li + li:before {
    color: #fff;
}



/*---Button Style Here---*/
	
	
	/*---Button Commen Style---*/
	.btn.transparent{
		border-color:#fff;
		background-color:transparent;
		color:#fff;
	}
	.btn.transparent:hover{
		border-color:#fff;
		background-color:#fff;
		color:#333;
	}
	
	
	/*---Normal Style---*/
	.normal-btn {
		color: #ffffff;
		background: #0a8dcc;
	}
	.normal-btn:hover, .normal-btn:focus {
		color: #fff;
		background: #333333;
	}
	
	
	/*---3d Redius Button Style---*/
	.rd-3d-btn {
		color: #ffffff;
		background: #64b63e;
	}
	.rd-3d-btn:hover, .rd-3d-btn:focus {
		color: #fff;
		background: rgba(100, 182, 62, 0.8);
	}
	.rd-3d-btn {
		border-bottom: 5px solid rgba(0,0,0,.2);
	}
	
	/*---Rectangle Button Style---*/
	.rectangle-btn {
		color: #ffffff;
		background: #f5793b;
	}
	.rectangle-btn:hover, .rectangle-btn:focus {
		color: #fff;
		background: #333;
	}
	
	
	/*---Stroke Radius Button Style---*/
	.rd-stroke-btn {
		color: #333;
		background: #ffffff;
    	border-color: #333;
	}
	.rd-stroke-btn:hover, .rd-stroke-btn:focus {
		color: #fff;
		background: #333;
	}
	
	/*---3d Rectangle Button Style---*/
	.ret-3d-btn {
		color: #ffffff;
		background: #a6208d;
	}
	.ret-3d-btn:hover, .ret-3d-btn:focus {
		color: #fff;
		background: rgba(166, 32, 141, 0.8);
	}
	
	
	/*---Stroke Rectangle Button Style---*/
	.ret-stroke-btn {
		color: #333;
		background: #ffffff;
    	border-color: #333;
	}
	.ret-stroke-btn:hover, .ret-stroke-btn:focus {
		color: #fff;
		background: #333;
	}
	
	
	/*---3d Redius Button With Sub Text Style---*/
	.rd-3d-sub-btn {
		color: #ffffff;
		background: #64b63e;
	}
	.rd-3d-sub-btn:hover, .rd-3d-sub-btn:focus {
		color: #fff;
		background: rgba(100, 182, 62, 0.8);
	}
	.rd-3d-sub-btn {
		border-bottom: 5px solid rgba(0,0,0,.2);
	}
	
	/*---Stroke Rectangle Button with Sub Text Style---*/
	.ret-stroke-sub-btn {
		color: #333;
		background: #ffffff;
    	border-color: #333;
	}
	.ret-stroke-sub-btn:hover, .ret-stroke-sub-btn:focus {
		color: #fff;
		background: #333;
	}
	

	/*---Buttons With Icons---*/
		
	.bt_icon_border.bt_icon_left {
		color: #ffffff;
		background: #21c2f8;
	}
	.bt_icon_border.bt_icon_left i {
		border-right: 1px solid rgba(0,0,0,.15);
	}
	.bt_icon_border.bt_icon_left span {
		border-left: 1px solid rgba(255,255,255,.15);
	}	
	.bt_icon_left {
		color: #ffffff;
		background: #0000ff;
	}

	.bt_icon_right {
		color: #ffffff;
		background: #f5793b;
	}



	
/*---Heading style Here---*/		
	
	
	/*---Style 1---*/
	
	
	.dart-headingstyle-one .dart-heading:after {
		background: #0a8dcc;
	}
	.dart-headingstyle-one .dart-heading.white-dash:after {
		background: #fff;
	}
	/*---Style 2---*/
	
	
	.dart-headingstyle-two .dart-heading:before, .dart-headingstyle-two .dart-heading:after {
		background-color: #0a8dcc;
	}

	/*---Style 3---*/
	
	
	.dart-headingstyle-three span.border-icon {
		color: #0a8dcc;
	}
	.dart-headingstyle-three span.border-icon:before, .dart-headingstyle-three span.border-icon:after {
		background: #ccc;
	}
	
	/*---Style 4---*/
	
	
	.dart-headingstyle-four .dart-heading:after {
		background: #0a8dcc;
	}
	
	/*---Style 5---*/
	
	.dart-headingstyle-five .dart-heading i {
		background-color: #fff;
		color: #0a8dcc;
		border-bottom: 1px solid #dadada;
		border-right: 1px solid #dadada;
	}
	.dart-headingstyle-five .dart-heading:after {
		background: #dadada;
	}
		
	/*---Style 7---*/
	
	
	.dart-headingstyle-seven .dart-heading:after {
		background: #0a8dcc;
	}	
	
	/*---Style 8---*/
	
	.dart-headingstyle-eight .dart-heading {
		border: 2px solid #333;
	}
	
	/*---Style 9---*/
	
		
	.dart-headingstyle-nine span.border-icon {
		color: #0a8dcc;
	}
	.dart-headingstyle-nine span.border-icon:before, .dart-headingstyle-nine span.border-icon:after {
		background: #ccc;
	}
	.dart-headingstyle-nine span.border-icon:before, .dart-headingstyle-nine span.border-icon:after {
		background: #ccc;
	}
	
	
	/*---Style 10---*/
	.dart-headingstyle-ten span {
		color: #333;
	}
	
	.dart-headingstyle-ten i {
		color: #0a8dcc;
	}
	

/*--- Icon Box Style here---*/


	/*---Style 1---*/
	
	.icon_box1_alt .icon_circle {
		background-color: #0a8dcc;
		border: 4px solid #fff;
		color: #444;
	}
	.icon_box1_alt i {
		color: #fff;
	}
	.icon_box_1:hover .icon_circle {
		background: #333;
		border: 4px solid #0a8dcc;
	}
	.icon_box_1:hover .icon_circle i {
		color: #0a8dcc;
	}
	
	/*---Style 2---*/
	
	.icon_box_rd_corner i {
		color: #fff;
		background: #333;
	}
	.icon_box_rd_corner:hover i {
		background: #0a8dcc;
	}	
	.icon_box_rd_corner:hover a h4 {
		color: #0a8dcc;
	}
	
	/*---Style 3---*/
	
	.icon_box3_simple {		
		background-color: #ffffff;
    	border: 1px solid #ebebeb;
	}
	.icon_box3_simple .icon_circle {
		background-color: #ffffff;
    	border: 1px solid #ebebeb;
		color: #444;
	}
	.icon_box3_simple .simple_sub_circle {
		background: #0a8dcc;
	}
	.icon_box3_simple i {
		color: #fff;
	}
	
	.icon_box3_simple:hover {
		background: #ffffff;
		border: 1px solid #ecf0f1;
		border-bottom: 3px solid #0a8dcc;
	}
	.icon_box3_simple:hover {
		border-bottom: 3px solid #0a8dcc;
	}
	.icon_box3_simple:hover .icon_circle {
		background: #0a8dcc;
		border: 1px solid #ebebeb;
	}
	.icon_box3_simple:hover .simple_sub_circle {
		background: #333;
	}
	.icon_box3_simple:hover h4 {
		color: #0a8dcc;
	}
	.icon_box3_simple:hover .box_btn {
		color: #333;
	}
	
	/*---style 4---*/
	
	.icon_box4_alt {
		background: #f7f7f7;
    	border: 1px solid #ebebeb;
	}
	.icon_box4_alt .icon_circle {
		background-color: #0a8dcc;
		border: 4px solid #fff;
		color: #444;
	}
	.icon_box4_alt i {
		color: #fff;
	}
	.icon_box4_alt .box_btn {
		background-color: #ffffff;
    	color: #898989;
   		border: 1px solid #ebebeb;
	}
	.icon_box_4:hover {
		background: #ffffff;
		border: 1px solid #ebebeb;
	}
	.icon_box_4:hover .icon_circle {
		background: #333;
		border: 4px solid #0a8dcc;
	}
	.icon_box_4:hover .icon_circle i {
		color: #0a8dcc;
	}
	.icon_box_4:hover h4 {
		color: #333;
	}
	.icon_box_4:hover .box_btn {
		background: #0a8dcc;
		color: #ffffff;
		border: 1px solid #0a8dcc;
	}
	
	/*---Style 5---*/
	
	.icon_box5_hex {
		border: 1px solid #ebebeb;
		background: #ffffff;
	}
	.icon_box5_hex .icon_circle, .icon_box5_hex .icon_circle:after, .icon_box5_hex .icon_circle:before {
		background: #ebebeb;
		color: #fff;
	}
	
	.icon_box5_hex .icon_circle {
		color: #fff;
	}
	.icon_box5_hex .icon_circle, .icon_box5_hex .icon_circle:after, .icon_box5_hex .icon_circle:before {
		background: #ebebeb;
		color: #fff;
	}
	
	.icon_box5_hex .icon_sub_ctn, .icon_box5_hex .icon_sub_ctn:before, .icon_box5_hex .icon_sub_ctn:after {
		background: #898989;
	}
	.icon_box5_hex .icon_sub_ctn, .icon_box5_hex .icon_sub_ctn:before, .icon_box5_hex .icon_sub_ctn:after {
		background: #898989;
	}
	.icon_box5_hex h4:after {
		background: #898989;
	}
	.icon_box5_hex .box_btn {
		background-color: #898989;
		color: #ffffff;
	}	
	.icon_box5_hex:hover {
		border: 1px solid #ebebeb;
		background: #ffffff;
	}
	.icon_box5_hex:hover .icon_circle, .icon_box5_hex:hover .icon_circle:after, .icon_box5_hex:hover .icon_circle:before {
		background: #ebebeb;
		color: #fff;
	}
	.icon_box5_hex:hover .icon_circle, .icon_box5_hex:hover .icon_circle:after, .icon_box5_hex:hover .icon_circle:before {
		background: #ebebeb;
		color: #fff;
	}
	.icon_box5_hex:hover .icon_sub_ctn, .icon_box5_hex:hover .icon_sub_ctn:before, .icon_box5_hex:hover .icon_sub_ctn:after {
		background: #0a8dcc;
	}
	.icon_box5_hex:hover h4 {
		color: #0a8dcc;
	}	
	.icon_box5_hex:hover p {
		color: #898989;
	}
	.icon_box5_hex:hover .box_btn {
		background: #0a8dcc;
		color: #ffffff;
	}	
	
	
	/*---Style 6---*/
	
	.icon_box_circle i {
		color: #fff;
		background: #0a8dcc;
	}	
	.icon_box_circle:hover i {
		background: #333;
	}	
	.icon_box_circle:hover a h4 {
		color: #333;
	}	
	
	/*---Style 7---*/	
	
	.icon_box_big_rd_square .ib_big_rd_square {
		background: #333;
	}
	
	.icon_box_big_rd_square i {
		color: #fff;
	}
	.icon_box_big_rd_square:hover .ib_big_rd_square {
		background: #0a8dcc;
	}
	.icon_box_big_rd_square:hover h4 {
		color: #0a8dcc;
	}	
	
	/*---style 7---*/
	
	.icon_box8_ct_big .icon_circle {
		color: #333;
	}
	.icon_box8_ct_big i:before {
		border: 3px solid transparent;
	}
	.icon_box8_ct_big:hover i:before {
		border: 3px solid rgba(0,0,0,.3);
		background-color: #0a8dcc;
	}
	.icon_box8_ct_big:hover .icon_circle {
		background: #333;
	}
	.icon_box8_ct_big:hover .icon_circle i {
		color: #fff;
	}
	.icon_box8_ct_big:hover h3 {
		color: #0a8dcc;
	}
	.icon_box8_ct_big:hover .icon_circle {
		border: 5px solid rgba(255,255,255,.3);
	}
	
	/*---Style 9---*/

	.ibox_hexagon {
		background-color: #64C7CC;
	}
	.icon_box_hexa .ibox_hexagon {
		background: #333;
	}
	ibox_hexagon:after, .ibox_hexagon:before {
		border-left: 18px solid transparent;
		border-right: 17.5px solid transparent;
	}
	.ibox_hexagon:before {
		border-bottom: 10.1px solid #64C7CC;
	}
	.ibox_hexagon:before {
		border-bottom-color: #333;
	}
	.icon_box_hexa i {
		color: #fff;
	}
	.ibox_hexagon:after, .ibox_hexagon:before {
		border-left: 18px solid transparent;
		border-right: 17.5px solid transparent;
	}
	.ibox_hexagon:after {
		border-top: 10.1px solid #64C7CC;
	}
	.ibox_hexagon:after {
		border-top-color: #333;
	}
	.icon_box_hexa:hover .ibox_hexagon {
		background: #0a8dcc;
	}
	.icon_box_hexa:hover .ibox_hexagon:before {
		border-bottom-color: #0a8dcc;
	}
	.icon_box_hexa:hover .ibox_hexagon:after {
		border-top-color: #0a8dcc;
	}
	.icon_box_hexa:hover .icon_box_button {
		color: #0a8dcc;
	}
	

	/*---Style 10---*/

	.icon_box10_full {
		background: #ffffff;
		border: 1px solid #ebebeb;
	}
	.icon_box10_full .icon_circle {
		border: 1px solid #333;
		color: #333;
	}
	.sub_circle {
		border: 1px solid #ebebeb;
	}
	.icon_box10_full i {
		color: #333;
	}	
	.icon_box10_full:hover {
		background: #333;
		border: 1px solid #fff;
	}
	.icon_box10_full:hover p {
		color:#898989;
	}
	.icon_box10_full:hover .icon_circle, .icon_box10_full:hover .sub_circle {
		border: 1px solid #ffffff;
	}
	.icon_box10_full:hover .icon_circle, .icon_box10_full:hover .sub_circle {
		border: 1px solid #ffffff;
	}
	.icon_box10_full:hover .icon_circle i {
		color: #ffffff;
	}
	.icon_box10_full:hover h4 {
		color: #ffffff;
	}
	.icon_box10_full:hover .box_btn {
		color: #fff;
	}
	
	
	/*---Style 11---*/
	.icon_list11 {
		border:1px solid #ebebeb;
	}
	.icon_list11 hr {
		background-color: #0a8dcc;
	}
	.icon_list11:hover hr {
		background-color: #fff;
	}
	.icon_list11:hover h4 {
		color:#fff;
	}
	.icon_list11:hover {
		background-color: #0a8dcc;
		color:#fff;
	}
	.icon_list11:hover .list-icon {
		color:#fff;
	}
	.list-icon {
		color:#898989;
	}
	
	/*---Style 12---*/	
	
	.icon_box12_si i {
		color: #fff;
	}
	.icon_box12_si h4 {
		color:#fff;
	}
	.icon_box12_si p {
		color:#ccc;
	}
	
	.icon_box12_si i:after {
		border: 1px solid rgba(204, 204, 204, 0.4);
	}



/*---Background Options---*/
	
	.bg-color {
		background-color: #12111f;
	}
	.bg-img{
		background-image:url(../../images/bg_14.jpg);
	}
	.bg-img-port{
		background-image:url(../../images/demo-1/portbg.jpg);
	}
	.bg_19{
		background-image:url(../../images/background/bg-19.jpg);
	}
	.bg_21{
		background-image:url(../../images/background/bg-21.jpg);
	}
	.bg_22{
		background-image:url(../../images/background/bg-22.jpg);
	}
	.bg_23{
		background-image:url(../../images/background/bg-23.jpg);
	}
	.bg_27{
		background-image:url(../../images/background/bg-27.jpg);
	}
	
	.bg_28{
		background-image:url(../../images/background/bg-28.jpg);
	}
	
	
/*---Fullwidth Section Style Here---*/
	
	
	/*---Style 5---*/	
	
	
	.fullWidthFive h2{
		color:#333;
	}
	
	.fullWidthFive .feature-content h4{
		color:#333;
	}
	.fullWidthFive .feature-content i{
		color:#898989;
		background-color:#f9f9f9;
	}
	.fullWidthFive .feature-wrapper:hover .feature-content i{
		background-color:#0a8dcc;
		color:#fff;
	}
	
	
	/*---Style 6---*/
	
	
	.fullWidthSix .feature-content i{
		background-color:#fff;
		color:#898989;
	}	
	.fullWidthSix .feature-wrapper:hover .feature-content i{
		background-color:#0a8dcc;
		color:#fff;	
	}	
	
	
	/*---Style 8---*/	
	
	.fullWidthEight .list-circle li:before{
		color:#dadada;
		background-color:#fff;
		border:1px solid #dadada;
	}
	.fullWidthEight .list-circle li:hover:before{
		background-color:#0a8dcc;
		color:#fff;
		border:1px solid #0a8dcc;
	}
	
	
	
	/*---Style 9---*/
	
	.fullWidthNine .feature-wrapper > i{
		color:#0a8dcc;
	}
	.fullWidthNine .feature-wrapper .feature-content{
		border-bottom:1px solid #f1f1f1;
	}		
	
	
	/*---Style 11---*/	
	
	.fullWidthEleven .list-circle li:before{
		color:#0a8dcc;
	}	
	
	/*---Style 12---*/	
	.fullWidthTwelve h4{
		color:#0a8dcc;
	}	
		
	/*---Style 13---*/
	
	@media (min-width : 768px) {
	.fullWidthThirteen .four-block{
		border-right:1px solid #ededed;
		border-bottom:1px solid #ededed;
	}		
	}
	/*---Style 14---*/
	
	
	.fullWidthFourteen .feature-content i{
		background:transparent;
		color:#0a8dcc;
	}	
	
	@media (max-width : 991px ){
	.fullWidthFourteen .feature-content i {
		background-color:#0a8dcc;
		color:#fff;
	}
	}
	
	/*---Style 16---*/	
	
	.fullWidthSixteen .feature-icon{
		background-color:#0a8dcc;
		color:#fff;
		box-shadow:0 0 0 10px rgba(255,255,255,0.2);
	}
	.fullWidthSixteen .feature-content{
		color:rgba(49,49,49,0.6);
	}
	
	.fullWidthSixteen .feature-wrapper:hover .feature-icon{
		background-color:#fff;
		color:#0a8dcc;
	}	
	
	
	/*---Style 17---*/	
	
	.fullWidthSeventeen .feature-icon{
		background-color:#0a8dcc;
		color:#fff;
		box-shadow:0 0 0 10px rgba(255,255,255,0.2);
	}
	.fullWidthSeventeen .feature-content{
		color:rgba(49,49,49,0.6);
	}
	
	.fullWidthSeventeen .feature-wrapper:hover .feature-icon{
		background-color:#fff;
		color:#0a8dcc;
	}
	
	
	/*---Style 19---*/
	.fullWidthNineteen .content_block p{
		color:#ccc;
	}
	.fullWidthNineteen .list-circle li:before {
		color: #000;
		background-color: #0a8dcc;
	}
	.fullWidthNineteen .list-circle li {
		color:#ccc;
	}	
	
	/*---Style 21---*/	
	
	.fullWidthtwentyone .feature-icon{
		background-color:transparent;
		color:#fff;
		border:1px solid #fff;
	}
	.fullWidthtwentyone .feature-content{
		color:#ccc;
	}
	.fullWidthtwentyone .feature-content h4{
		color:#fff;
	}
	.fullWidthtwentyone .feature-wrapper:hover .feature-content h4{
		color:#0a8dcc;
	}
	.fullWidthtwentyone .feature-wrapper:hover .feature-icon{
		background-color:#0a8dcc;
		color:#fff;
		border-color: #0a8dcc;
	}	
	
	
	/*---Style 22---*/	
	.fullWidthtwentytwo{
		color:#fff;
	}
	
	/*---Style 23---*/
	
	.fullWidthtwentythree .carousel-inner p{
		color:#ccc;
	}
	
	/*---style 24---*/	

	.fullWidthtwentyfour{
		background:url(../images/fullscreen-img/img-24.png) no-repeat center top;
	}
	.fullWidthtwentyfour .section-title .sub{
		color:#0a8dcc;
	}
	.fullWidthtwentyfour .feedback-reting ul li i{
		color: #ffa200;
	}
	.fullWidthtwentyfour .feedback-reting p{
		color: #898989;
	}
	.fullWidthtwentyfour blockquote{
		color:#333;
	}
	.fullWidthtwentyfour blockquote p::before,.fullWidthtwentyfour blockquote p::after{
		color:#0a8dcc;
	}
	.fullWidthtwentyfour blockquote footer .author{
		color:#0a8dcc;
	}
	.fullWidthtwentyfour blockquote footer cite{
		color:#333;
	}
	#fullWidthtwentyfour .carousel-indicators li{
		border:2px solid transparent;
	}
	#fullWidthtwentyfour .carousel-indicators li.active{
		border:2px solid #fff;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
	}
	#fullWidthtwentyfour .carousel-indicators li{
		background:url(../images/avtar-img/avtar-2.png) no-repeat center center;
	}
	#fullWidthtwentyfour .carousel-indicators .active{
		background-color:#fff;
	}
	

	/*---style 25---*/	
	.fullWidthtwentyfive{
		background:url(../images/fullscreen-img/img-25.png) no-repeat center center;
	}
	.fullWidthtwentyfive .section-heading h2{
		color:#fff;
	}
	.fullWidthtwentyfive .section-heading .sub{
		color:#ccc;
	}
	.fullWidthtwentyfive .feature-icon{
		background-color:transparent;
		border:1px solid #fff;
		color:#fff;
	}
	.fullWidthtwentyfive .feature-content{
		color:#ccc;
	}
	.fullWidthtwentyfive .feature-content h4{
		color:#fff;
	}
	.fullWidthtwentyfive .feature-wrapper:hover .feature-icon{
		background-color:#fff;
		color:#0a8dcc;
	}
	.fullWidthtwentyfive .feature-wrapper:hover .feature-content{
		color:#fff;
	}
	
	/*---Style 26---*/
	
	.fullWidthtwentysix{
		background: url(../images/fullscreen-img/img-26.png) no-repeat center center;
	}
	.fullWidthtwentysix .section-heading span{
		color:rgba(49,49,49,0.5);
	}
	.fullWidthtwentysix .feature-icon{
		background-color:#0a8dcc;
		color:#fff;
		box-shadow:0 0 0 10px rgba(255,255,255,0.2);
	}
	.fullWidthtwentysix .feature-content{
		color:rgba(49,49,49,0.6);
	}
	.fullWidthtwentysix .feature-wrapper:hover .feature-icon{
		background-color:#fff;
		color:#0a8dcc;
		box-shadow:0 0 0 10px rgba(10,141,204,0.2);
	}
	.fullWidthtwentysix .feature-wrapper:hover .feature-content{
		color:#333;
	}
	
	
	/*---Style 27---*/
	.fullWidthtwentyseven .section-heading h2{
		color:#fff;
	}
	.fullWidthtwentyseven .section-heading .sub{
		color:#fff;
	}
	.fullWidthtwentyseven .feature-wrapper{
		color:#fff;
	}
	.fullWidthtwentyseven .feature-content h4{
		color:#fff;
	}
	.fullWidthtwentyseven .feature-content i{
		background-color:#0a8dcc;
	}
	.fullWidthtwentyseven .feature-wrapper:hover .feature-content i{
		background-color:#fff;
		color:#0a8dcc;
	}

	/*---Style 28---*/
	
	.fullWidthtwentyeight .section-heading{
		color:#ccc;
	}
	.fullWidthtwentyeight .section-heading .sub{
		color:#ccc;
	}
	.fullWidthtwentyeight .section-heading h2{
		color:#fff;
	}
	.fullWidthtwentyeight .section-heading {
		color:#ccc;
	}
	.fullWidthtwentyeight .section-heading h2:before{
		background-color:#fff;
	}
	
	/*---Style 29---*/
	
	.fullWidthtwentynine{
		background:url(../images/fullscreen-img/img-29.png) no-repeat center center;
	}
	.fullWidthtwentynine .section-heading h2{
		color:#fff;
	}
	.fullWidthtwentynine .progress{
		background-color:rgba(0,0,0,0.2);
	}
	.fullWidthtwentynine .progress-bar{
		background-color:#0a8dcc;
	}	
	
	
	/*---Style 30---*/
	
	.fullWidththirty{
		background:url(../images/fullscreen-img/img-30.png) no-repeat center center;
	}
	.fullWidththirty .section-heading .sub{
		color:#ccc;
	}
	.fullWidththirty .section-heading h2{
		color:#fff;
	}
	.fullWidththirty .feature-icon{
		border:1px solid #0a8dcc;
		color:#fff;
	}
	.fullWidththirty .feature-wrapper:hover .feature-icon{
		background-color:#0a8dcc;
		color:#fff
	}
	.fullWidththirty .feature-wrapper .feature-content{
		color:#ccc;
	}
	.fullWidththirty .feature-wrapper:hover .feature-content{
		color:#fff;
	}
	.fullWidththirty .feature-content h4{
		color:#fff;
	}	
	
	
	/*---Style 31---*/
	
	.fullWidththirtyOne{
		background:url(../images/fullscreen-img/img-31.png) no-repeat center center;
	}
	.fullWidththirtyOne .section-heading h2:before{
		background-color:#fff;
	}
	.fullWidththirtyOne .feature-icon{
		background-color:rgba(0,0,0,0.3);
		color:#fff;
	}
	.fullWidththirtyOne .feature-content{
		color:rgba(0,0,0,0.7);
	}
	.fullWidththirtyOne .feature-content h4{
		color:#333;
	}
	.fullWidththirtyOne .feature-wrapper:hover .feature-icon{
		background-color:#0a8dcc;
		color:#fff;
	}
	.fullWidththirtyOne .feature-wrapper:hover .feature-content{
		color:#fff;
	}
	.fullWidththirtyOne .btn-default{
		background-color:rgba(255,255,255,0.3);
		border-color:transparent;
		color:#fff;
	}
	.fullWidththirtyOne .btn-default:hover{
		background-color:#fff;
		color:#0a8dcc;
	}

	/*---Style 32---*/
	.fullWidththirtyTwo{
		background:url(../images/fullscreen-img/img-32.jpg) no-repeat center center;
	}
	.fullWidththirtyTwo .dart_testimonialSlider{
		color:#fff;
	}
	.fullWidththirtyTwo .dart_testimonialSlider blockquote h1 {
		color: #fff;
	}
	.fullWidththirtyTwo .dart_testimonialSlider .client-name{
		color:#fff;
	}
	.testimonialSlider-nav a.prev,.testimonialSlider-nav a.next{
		color:#fff;
		border:1px solid #fff;
	}

	
	/*---Style 33---*/
	.fullWidththirtyThree{
		background:url(../images/fullscreen-img/img-33.jpg) no-repeat center center ;
	}
	.fullWidththirtyThree .dart-heading{
		border-right:1px solid rgba(255,255,255,0.2);
	}
	.fullWidththirtyThree .dart-heading h2{
		color:#fff;
	}
	.fullWidththirtyThree p{
		color:#fff;
	}
	
	
	
	/*---Style 34---*/
	.fullWidththirtyFour{
		background:url(../images/fullscreen-img/img-34.png) no-repeat center center ;
	}

	
	
	/*---Style 35---*/
	
	.fullWidththirtyFive{
		background:url(../images/fullscreen-img/img-35.png) no-repeat center center ;
	}
	.fullWidththirtyFive .dart-cta .btn-default{
		border-color:#fff;
		color:#fff;
	}
	.fullWidththirtyFive .dart-cta .btn-default:hover{
		color:#0a8dcc;
	}	
	
	
	/*---Style 36---*/
	
	.fullWidththirtySix{
		background:url(../images/fullscreen-img/img-36-b.png) no-repeat center center ;
		    color: #fff;
	}
	.fullWidththirtySix .dart-title h2{
		color:#fff;
	}
	.fullWidththirtySix .feature-list li i{
		color:#0a8dcc;
	}
	.fullWidththirtySix .dart-cta .btn-default{
		border-color:#fff;
		color:#fff;
	}
	.fullWidththirtySix .dart-cta .btn-default:hover{
		color:#0a8dcc;
	}
	
	
	/*---Style 37---*/
	.fullWidththirtySeven{
		background:url(../images/fullscreen-img/img-37-b.png) no-repeat center center ;
		    color: #fff;
	}
	.fullWidththirtySeven .feature-icon{
		color:#fff;
	}
	.fullWidththirtySeven .feature-content{
		color:#ccc;
		border-bottom:1px solid rgba(157,209,246,0.4);
	}
	.fullWidththirtySeven .feature-content h4{
		color:#fff;
	}
	
	
	/*---Style 38---*/
	.fullWidththirtyEight .video-icn{
		background-color:rgba(10,141,204,0.8);
		color:#fff;
	}
	.fullWidththirtyEight .video-icn:hover{
		background-color:#fff;
		color:rgba(10,141,204,1)
	}
		
	
	
	/*---Style 39---*/
	.fullWidththirtyNine{
		background:url(../images/fullscreen-img/img-39-b.png) no-repeat center center ;
		color: #fff;
	}
	.fullWidththirtyNine h2{
		color:#fff
	}
	.fullWidththirtyNine .list-circle li{
		color:#fff;
	}
	.fullWidththirtyNine .list-circle li:before{
		color:#fff;
		background-color:transparent;
		border:1px solid #dadada;
	}
	.fullWidththirtyNine .list-circle li:hover:before{
		background-color:#fff;
		color:#0a8dcc;
		border:1px solid #fff;
	}
	
/*---  Skill Progress Style Here ---*/	
	
	/*---Style 1---*/
	
	.progressOne {
		background: #f9f9f9
	}
	.progressOne .progress-item {
		border: 1px solid #f1f1f1;
		background: #fff;
	}
	.progressOne .progress-title {
		color: #fff;
	}
	.progressOne .progress {
		background-color: #ccc;
	}
	.progressOne .progress-bar {
		background-color: #0a8dcc;
	}
	.progressOne .progress-percent {
		color: #969595;
	}

/*---Portfolio Style Here---*/


	/*---Style 1---*/
	
	.portfolioOne .item-box .portfolio-item {
		background: rgba(10, 141, 204, 0.9);
		color: white;
	}
	
	.portfolioOne .portfolio-item .item-info .line {
		background-color: #ffffff;
	}
		
	/*---Style 2---*/
	.portfolioTwo .ImageWrapper .ImageOverlay {
		background: none repeat scroll 0 0 rgba(10, 141, 204, 0.9);
	}
	.portfolioTwo .WhiteRounded {
		background-color: #ffffff;
		-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
	}
	.portfolioTwo .WhiteRounded > a {
		color: #222222;
	}
	.portfolioTwo .ImageWrapper .item-info {
		color:#fff;
	}
	
	
	/*---Style 3---*/
	
	.portfolioThree .ContentWrapper .Content {
		background: #ffffff;
	}
	.portfolioThree .ContentWrapper .Content .info-Content h5 {
		color: #0a8dcc;
	}
	
	/*---Style 4---*/
	
	.portfolioFour .ImageWrapper .ImageOverlay {
    	background: none repeat scroll 0 0 rgba(2, 2, 2, 0.4);
	}		
	.portfolioFour .WhiteRounded a i{
		color:#fff;
	}	
	.portfolioFour .WhiteRounded > a {
		color: #222222;
	}
	.portfolioFour .ImageWrapper .item-info {
		color:#fff;
	}
	.filter-button {
		background-color: transparent;
		color: #fff;
		border: 1px solid rgba(255, 255, 255, 0.25);
	}  
	.b
	.filter-button:hover, .active.filter-button, .filter-button:focus{
		background-color: #0a8dcc;
		color: #fff;
		border-collapse:  #0a8dcc;
	}

	
	/*---Style 5---*/
	.portfolioFive .ImageWrapper .ImageOverlay {
    	background: none repeat scroll 0 0 rgba(2, 2, 2, 0.4);
	}
	.portfolioFive .ImageWrapper .item-info  .headline{
		background-color:#ffffff;
		color:#2c3e50;
	}
	.portfolioFive .WhiteRounded {
		background-color: #ffffff;
		-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		-ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		-o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 2px rgba(0, 0, 0, .1);
	}
	.portfolioFive .WhiteRounded > a {
		color: #222222;
	}
	.portfolioFive .ImageWrapper .item-info {
		color:#fff;
	}
	
	/*---Style 6---*/
	
	
	.portfolioSix .portfolio-item .item-info .line {
		background-color: #ffffff;
	}
	.portfolioSix .ImageWrapper .item-info  .headline{
		background-color:#ffffff;
		color:#2c3e50;
	}
	.portfolioSix .item-box .portfolio-item {
		background: rgba(10, 141, 204, 0.9);
		color: white;
	}
	.portfolioSix .item-box .portfolio-item-bg-black {
		background: rgba(2, 2, 2, 0.9);
		color: white;
	}
	.portfolioSix .item-box .portfolio-item-bg-black .item-info h4{
		color:#fff;
	}
	.portfolioSix .item-box .portfolio-item-bg-black .item-info hr{
		background-color: #969492;
		color: #969492;
	}
/*---Testmonials Style Here---*/
	
	/*---Style 1---*/

	
	.testimonialThree blockquote p {
		border: 1px solid #ebebeb;
	}
	.testimonialThree blockquote p::before {
		border-top: 10px solid #fff;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		-webkit-filter: drop-shadow(0 2px 0 #eee);
		filter: drop-shadow(0 2px 0 #eee);
	}
	.testimonialThree blockquote .avtar-info {
		color: #898989;
	}
	.testimonialThree blockquote .avtar-info .name {
		color: #0a8dcc;
	}

	/*---style 8---*/
	
	.testimonialEight #dart-quote-carousel.carousel .carousel-indicators  li {
		  background-color: #848484;
	}
	.testimonialEight .carousel .carousel-indicators .active{
		  background-color: #0a8dcc;
	}
	.testimonialEight .item .name{ 
		color:#333333;
	}
	
	
/*--- Accordion / Toggle Style Here ---*/

	
	.accordionstyle_1 .panel {
		background-color: transparent;
		border-bottom: 1px solid transparent;
	}
	.accordionstyle_1 .panel-default>.panel-heading {
		background-color: transparent;
	}	
	.accordionstyle_1 .panel .panel-heading a {
		color: #0a8dcc;
	}
	.accordionstyle_1 .panel .panel-heading a.collapsed {
		color: #898989;
	}	
	.accordionstyle_1 .panel .panel-heading a:hover {
		color: #898989;
	}
	/*---Left Side Style---*/
	.accordionstyle_1.accordion_1 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #e5e5e5;
	}
	.accordionstyle_1.accordion_1 .panel .panel-heading a {
		border: 1px solid #e5e5e5;
		border-bottom:none;
	}
	.accordionstyle_1.accordion_1 .panel .panel-body{
		border: 1px solid #e5e5e5;
	}
	
	/*---Right Side Style---*/
	.accordionstyle_1.accordion_2 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #e5e5e5;
		color:#898989;
	}
	.accordionstyle_1.accordion_2 .panel .panel-heading a, .accordionstyle_1.accordion_2 .panel .panel-heading a:hover {
		background-color: #0a8dcc;
		border: 1px solid #e5e5e5;
		color:#fff;
	}
	.accordionstyle_1.accordion_2 .panel .panel-body{
		border: 1px solid #e5e5e5;
	}
	
	
	/*---style 2---*/
	
	
	.accordionstyle_2 .panel {
		background-color: transparent;
		border-bottom: 0 solid transparent;
	}
	.accordionstyle_2 .panel .panel-heading a {
		background-color:transparent;
		color: #ccc;
		border: 1px solid #f1f1f1;
	}
	.accordionstyle_2 .panel .panel-heading a.collapsed:after {
		background: #f1f1f1;
	}
	.accordionstyle_2 .panel .panel-heading a:after, .accordionstyle_2 .panel .panel-heading a.collapsed:after {
		background: #F1F1F1;
	}
	.accordionstyle_2 .panel-group .panel-heading+.panel-collapse>.panel-body {
		background: #fff;
		color: #898989;
	}
	.accordionstyle_2 .panel-group .panel-heading+.panel-collapse>.panel-body {
		background-color:transparent;
		color: #ccc;
	}
	
	
	/*---Left Side Style---*/
	.accordionstyle_2.accordion_3 .panel-default > .panel-heading {
		background-color: transparent;
	}
	.accordionstyle_2.accordion_3 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #e5e5e5;
		color:#ccc;
	}
	.accordionstyle_2.accordion_3 .panel .panel-heading a, .accordionstyle_2.accordion_2 .panel .panel-heading a:hover {
		border: 1px solid #ccc;
		color:#0a8dcc;
	}
	.accordionstyle_2.accordion_3 .panel .panel-body{
		border: 1px solid #ccc;
	}
	.accordionstyle_2.accordion_3 .panel .panel-heading a:after, .accordionstyle_2.accordion_3 .panel .panel-heading a.collapsed:after {
		background-color: transparent;
	}
	
	/*---Right Side Style---*/
	.accordionstyle_2.accordion_4 .panel .panel-heading a.collapsed {
		background-color: #222;
		border: 1px solid #222;
		color:#fff;
	}
	.accordionstyle_2.accordion_4 .panel .panel-heading a, .accordionstyle.accordion_2 .panel .panel-heading a:hover {
		background-color: #21c2f8;
		color:#fff;
	}
	.accordionstyle_2.accordion_4 .panel .panel-heading a:after {
		background: #0a8dcc;
	}
	.accordionstyle_2.accordion_4 .panel .panel-heading a.collapsed:after {
		background: #666;
		color:#fff;
	}
		
	
	/*---Style 3---*/
	
	.accordionstyle_3 .panel {
		background-color: transparent;
		border-bottom: 1px solid transparent;
	}	
	.accordionstyle_3 .panel-default>.panel-heading {
		background-color: transparent;
	}	
	.accordionstyle_3 .panel .panel-heading a {
		color: #0a8dcc;
	}
	.accordionstyle_3 .panel .panel-heading a.collapsed {
		color: #898989;
	}
	.accordionstyle_3 .panel .panel-heading a:hover {
		color: #898989;
	}
		
	/*---Left Side Style---*/
	.accordionstyle_3.accordion_5 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #e5e5e5;		
		color:#898989;
	}
	.accordionstyle_3.accordion_5 .panel .panel-heading a {
		background-color: #333;
		border: 1px solid #e5e5e5;
		color:#fff;
	}
	.accordionstyle_3.accordion_5 .panel .panel-heading a:hover	 {
		background-color: #898989;
		border: 1px solid #898989;
		color:#fff;
	}
	.accordionstyle_3.accordion_5 .panel-default>.panel-heading {
		background-color: #ecf0f1;
	}
	
	/*---Center Side Style---*/
	.accordionstyle_3.accordion_6 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #e5e5e5;
		color:#fff;
	}
	.accordionstyle_3.accordion_6 .panel .panel-heading a {
		background-color: #0a8dcc;
		border: 1px solid #e5e5e5;
		color:#fff;
	}
	.accordionstyle_3.accordion_6 .panel .panel-heading a:hover {
		background-color: #ccc;
		border: 1px solid #ccc;
		color:#fff;
	}
	.accordionstyle_3.accordion_6 .panel-default>.panel-heading {
		background-color: #898989;
		color:#fff;
	}
	
	/*---Right Side Style---*/
	.accordionstyle_3.accordion_7 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #ccc;
		color:#898989;
	}
	.accordionstyle_3.accordion_7 .panel .panel-heading a, .accordionstyle_3.accordion_7 .panel .panel-heading a:hover {
		background-color: transparent;
		border: 1px solid #333;
		color:#333;
	}
	
	/*---Style 4---*/
	.accordionstyle_4 .panel {
		background-color: transparent;
		border-bottom: 1px solid transparent;
	}
	.accordionstyle_4 .panel-default>.panel-heading {
		background-color: transparent;
	}	
	.accordionstyle_4 .panel .panel-heading a {
		color: #0a8dcc;
	}
	.accordionstyle_4 .panel .panel-heading a.collapsed {
		color: #898989;
	}
	.accordionstyle_4 .panel .panel-heading a:hover {
		color: #898989;
	}
	/*---Left Side Style---*/
	.accordionstyle_4.accordion_8 .panel .panel-heading a.collapsed {
		background-color: #f5f5f5;
		border: 1px solid #ccc;
	}
	.accordionstyle_4.accordion_8 .panel .panel-heading a {
		border: 1px solid #ccc;
		background-color: #f5f5f5;
	}
	.accordionstyle_4.accordion_8 .panel .panel-body{
		border: 1px solid #ccc;
	}
	
	/*---Right Side Style---*/
	.accordionstyle_4.accordion_9 .panel .panel-heading a.collapsed {
		background-color: transparent;
		border: 1px solid #ccc;
		color:#898989;
	}
	.accordionstyle_4.accordion_9 .panel .panel-heading a {
		background-color: transparent;
		border: 1px solid #ccc;
		color:#0a8dcc;
	}
	.accordionstyle_4.accordion_9 .panel .panel-body{
		border: 1px solid #ccc;
	}
	
	
	
	/*---style 2---*/
	
	.accordionstyle_5 .panel {
		background-color: transparent;
	}
	.accordionstyle_5 .panel .panel-heading a {
		background-color:transparent;
		color: #ccc;
		border: 1px solid #f1f1f1;
	}
	.accordionstyle_5 .panel .panel-heading a.collapsed:after {
		background: #f1f1f1;
	}
	.accordionstyle_5 .panel .panel-heading a:after, .accordionstyle_5 .panel .panel-heading a.collapsed:after {
		background: #F1F1F1;
	}
	.accordionstyle_5 .panel .panel-heading a.green:after, .accordionstyle_5 .panel .panel-heading a.green.collapsed:after{
		color:#1abc9c;
	}
	.accordionstyle_5 .panel .panel-heading a.blue:after, .accordionstyle_5 .panel .panel-heading a.blue.collapsed:after{
		color:#1eb1e2;
	}
	.accordionstyle_5 .panel .panel-heading a.red:after, .accordionstyle_5 .panel .panel-heading a.red.collapsed:after{
		color:#e56854;
	}
	.accordionstyle_5 .panel-group .panel-heading+.panel-collapse>.panel-body {
		background: #fff;
		color: #898989;
	}
	.accordionstyle_5 .panel-group .panel-heading+.panel-collapse>.panel-body {
		background-color:transparent;
		color: #ccc;
	}
	
	/*---Left Side Style---*/
	.accordionstyle_5.accordion_10 .panel-default > .panel-heading {
		background-color: transparent;
	}
	.accordionstyle_5.accordion_10 .panel .panel-heading a.collapsed {
		background-color: transparent;
		color: #fff;
		border-color: #898989;
	}
	.accordionstyle_5.accordion_10 .panel .panel-heading a, .accordionstyle_5.accordion_10 .panel .panel-heading a:hover {
		color: #fff;
		border-style: solid;
		border-color: #ccc;
	}
	.accordionstyle_5.accordion_10 .panel .panel-body{
		border-bottom:1px solid #898989;
	}
	.accordionstyle_5.accordion_10 .panel .panel-heading a:after, .accordionstyle_5.accordion_10 .panel .panel-heading a.collapsed:after {
		background-color: transparent;
	}
	
	/*---Right Side Style---*/
	.accordionstyle_5.accordion_11 .panel-default > .panel-heading {
		background-color: transparent;
	}
	.accordionstyle_5.accordion_11 .panel .panel-heading a.collapsed {
		background-color: transparent;
		color: #fff;
		border-color: #898989;
	}
	.accordionstyle_5.accordion_11 .panel .panel-heading a, .accordionstyle_5.accordion_11 .panel .panel-heading a:hover {
		color: #fff;
		border-color: #ccc;
	}
	.accordionstyle_5.accordion_11 .panel-group .panel-heading+.panel-collapse>.panel-body{
		background-color:#fff;
		color:#898989;
	}
	.accordionstyle_5.accordion_11 .panel .panel-heading a:after, .accordionstyle_5.accordion_11 .panel .panel-heading a.collapsed:after {
		background-color: transparent;
	}
		

/*--- Counters Style Here ---*/




/*--- Blog Post Style Here ---*/


	/*---Blog Style 1---*/
	.blogstyle-1 .blog-post-container .blog-content {
		border: 1px solid #ededed;
	}
	.blogstyle-1 .blog-post-container .dart-title a {
		color: #333;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li {
		border-right: 1px solid #E7E7E7;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li a {
		color: #898989;
	}
	.blogstyle-1 .blog-post-container .dart-footer {
		background-color: #f7f7f7;
		border-top: 1px solid #ebebeb;
	}
	.blogstyle-1 .blog-post-container .dart-footer .dart-meta a {
		color: #898989;
	}
	#blogstyle-1Slider .carousel-control.left, #blogstyle-1Slider .carousel-control.right {
		background-color: #fff;
	}
	#blogstyle-1Slider .carousel-control {
		color: #898989;
	}
	.blogstyle-1 .blog-post-container .play-trigger {
		color: #fff;
		background: #cd201f;
	}
	.blogstyle-1 .blog-post-container .play-trigger:hover {
		color: #cd201f;
		background: #fff;
	}
	.blogstyle-1 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
		color: #0a8dcc;
	}
	.blogstyle-1 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
		color: #0a8dcc;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
		color: #0a8dcc;
	}
	
	/*---Blog Style 2---*/
	
	.blogstyle-2 .blog-post-container .blog-content {
		border: 1px solid #ededed;
	}
	.blogstyle-2 .blog-post-container .dart-footer {
		background-color: none;
	}
	.blogstyle-2 .carousel-indicators .active{
		background-color:#0a8dcc;
	}
	.blogstyle-2 .blog-post-container .dart-header .dart-meta li {
		border-right: 1px solid #a7a7a7;
	}
	.blogstyle-2 .blog-post-container .dart-title a {
		color: #333;
	}
	.blogstyle-2 .blog-post-container .dart-header .dart-meta li a {
		color: #898989;
	}
	.blogstyle-2 .blog-post-container .dart-footer .dart-meta a {
		color: #898989;
	}
	.blogstyle-2 .blog-post-container .play-trigger {
		color: #fff;
		background: #cd201f;
	}
	.blogstyle-2 .blog-post-container .play-trigger:hover {
		color: #cd201f;
		background: #fff;
	}
	.blogstyle-2 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
		color: #0a8dcc;
	}
	.blogstyle-2 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
		color: #0a8dcc;
	}
	.blogstyle-2 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
		color: #0a8dcc;
	}
	
	/*---Blog Style 3---*/
	
	
	.blogstyle-3 .blog-post-container .blog-content {
		border: 1px solid #ededed;
	}
	.blogstyle-3 .post-thumbnail .post-date{
		background-color:#0a8dcc;
		color:#fff;
	}
	.blogstyle-3 .coursel-bg .carousel-control .fa{
		background-color:#0a8dcc;
	}
	.blogstyle-3 .coursel-bg .carousel-control .fa:hover{
		background-color:#fff;
		color:#dadada;
	}
	.blogstyle-3 .blog-post-container .dart-header .dart-meta li{
		border-right: 1px solid #898989;
	}
	.blogstyle-3 .blog-post-container .dart-footer .dart-meta a{
		background-color:#fff;
		color:#dadada;
	}
	.blogstyle-3 .blog-post-container .dart-footer .dart-meta .btn-more:hover{
		background-color:#0a8dcc;
		color:#fff;
	}	
	.blogstyle-3 .blog-post-container .dart-header .dart-meta li {
		border-right: 1px solid #a7a7a7;
	}
	.blogstyle-3 .blog-post-container .dart-title a {
		color: #333;
	}
	.blogstyle-3 .blog-post-container .dart-header .dart-meta li a {
		color: #898989;
	}
	.blogstyle-3 .blog-post-container .dart-footer .dart-meta a {
		color: #898989;
	}
	.blogstyle-3 .blog-post-container .play-trigger {
		color: #fff;
		background: #cd201f;
	}
	.blogstyle-3 .blog-post-container .play-trigger:hover {
		color: #cd201f;
		background: #fff;
	}
	.blogstyle-3 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
		color: #0a8dcc;
	}
	.blogstyle-3 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
		color: #0a8dcc;
	}
	.blogstyle-3 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
		color: #0a8dcc;
	}
	
	
	/*---Blog Style 4---*/
	
	
	.blogstyle-4 .coursel-bg .carousel-control .fa{
		background:none;
		background-color:none;
		border:1px solid #fff;
	}
	.blogstyle-4 .coursel-bg .carousel-control .fa:hover{
		background-color:#0a8dcc;
		color:#fff;
		border:1px solid #0a8dcc;
	}
	
	.blogstyle-4 .blog-post-container .dart-footer .dart-meta .btn-more{
		background:none;
	}
	.blogstyle-4 .blog-post-container .dart-footer .dart-meta .btn-more:hover{
		background-color:#0a8dcc;
		color:#fff;
	}
	.blogstyle-4 .blog-content .post-image {
		background-color: #191919;
		color: #fff;
		border: 3px solid #fff;
	}
	.blogstyle-4 .blog-content{
		background-color:#fff;
	}
	.blogstyle-4 .blog-post-container .blog-content {
		border: 1px solid #ededed;
	}
	.blogstyle-4 .blog-post-container .dart-footer {
		background-color: transparent !important;
	}
	.blogstyle-4 .blog-post-container .dart-header .dart-meta li{
		border-right: 1px solid #898989;
	}
	.blogstyle-4 .blog-post-container .dart-footer .dart-meta a{
		background-color:#fff;
		color:#dadada;
	}
	.blogstyle-4 .blog-post-container .dart-footer .dart-meta .btn-more:hover{
		background-color:#0a8dcc;
		color:#fff;
	}	
	.blogstyle-4 .blog-post-container .dart-header .dart-meta li {
		border-right: 1px solid #a7a7a7;
	}
	.blogstyle-4 .blog-post-container .dart-title a {
		color: #333;
	}
	.blogstyle-4 .blog-post-container .dart-header .dart-meta li a {
		color: #898989;
	}
	.blogstyle-4 .blog-post-container .dart-footer .dart-meta a {
		color: #898989;
	}
	.blogstyle-4 .blog-post-container .play-trigger {		
		color: #fff;
		background: #cd201f;
	}
	.blogstyle-4 .blog-post-container .play-trigger:hover {
		color: #cd201f;
		background: #fff;
	}
	.blogstyle-4 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
		color: #0a8dcc;
	}
	.blogstyle-4 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
		color: #0a8dcc;
	}
	.blogstyle-4 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
		color: #0a8dcc;
	}	
	

/*---Tabs style---*/
	
	
	/*---style 1---*/
	.tabOne .nav-tabs>li{
		border:1px solid #eee;
	}
	.tabOne .nav-tabs>li:last-child{
		border-right:1px solid #eee;
	}
	.tabOne .nav-tabs>li.active{
		border-right:1px solid #eee;
		border-bottom:1px solid #fff;
	}
	.tabOne .nav-tabs>li>a{
		color:#333;
	}
	.tabOne .nav>li>a:focus,.tabOne .nav>li>a:hover{
		background-color:transparent;
	}
	.tabOne .nav-tabs>.active>a,.tabOne .nav-tabs>.active>a:focus,.tabOne .nav-tabs>.active>a:hover{
		color:#0a8dcc;
		box-shadow:inset 0 2px 0 #0a8dcc;
	}
	@media (min-width : 768px) {
	.tabOne .tab-content{
		border:1px solid #eee;
	}
	}	
	@media (max-width : 767px) {
	.tabOne .tab-content{
		border: 1px solid #eee;
	}
	}
		
	
	/*---style 2---*/
	.tabTwo .nav-tabs>li{
		border:1px solid #eee;
	}
	.tabTwo .nav-tabs>li:last-child{
		border-right:1px solid #eee;
	}
	.tabTwo .nav-tabs>li.active{
		border-right:1px solid #eee;
		border-bottom:1px solid #fff;
	}
	.tabTwo .nav-tabs>li>a{
		color:#333;
	}
	.tabTwo .nav>li>a:focus,.tabTwo .nav>li>a:hover{
		background-color:transparent;
	}
	.tabTwo .nav-tabs>.active>a,.tabTwo .nav-tabs>.active>a:focus,.tabTwo .nav-tabs>.active>a:hover{
		color:#333;
		box-shadow: inset 0 1px 0 #eee;
	}
	@media (min-width : 768px) {
	.tabTwo .tab-content{
		border:1px solid #eee;
	}
	}
	@media (max-width : 767px) {
	.tabTwo .tab-content{
		border: 1px solid #eee;
	}
	}
	
	/*---Style 2 Right*/
	
	.tabTwo.tab-right{
		background-color: #333;
		color:#ccc;
	}	
	.tabTwo.tab-right .nav-tabs>li {
		border: 1px solid #898989;
	}
	.tabTwo.tab-right .nav-tabs>li>a {
		color: #fff;
	}
	.tabTwo.tab-right .nav-tabs>li.active a{
		background-color: #333;
		color:#fff;
	}
	.tabTwo.tab-right .nav-tabs>.active>a, .tabTwo.tab-right .nav-tabs>.active>a:focus, .tabTwo.tab-right .nav-tabs>.active>a:hover{
		box-shadow:inset 0 3px 0 #0a8dcc;
	}
	.tabTwo.tab-right .tab-content {
		border-color: #898989;
	}
	.tabTwo.tab-right .nav-tabs>li:last-child {
		border-right: 1px solid #333;
	}	
	
	/*---style 3---*/
	.tabThree .nav-tabs>li{
		border:1px solid #eee;
	}
	.tabThree .nav-tabs>li:last-child{
		border-right:1px solid #eee;
	}
	.tabThree .nav-tabs>li.active{
		border-right:1px solid #eee;
		border-bottom:1px solid #fff;
	}
	.tabThree .nav-tabs>li>a{
		color:#333;
	}
	.tabThree .nav>li>a:focus,.tabThree .nav>li>a:hover{
		background-color:transparent;
	}
	.tabThree .nav-tabs>.active>a,.tabThree .nav-tabs>.active>a:focus,.tabThree .nav-tabs>.active>a:hover{
		color:#0a8dcc;
		box-shadow: inset 0 2px 0 #0a8dcc;
	}
	@media (min-width : 768px) {
	.tabThree .tab-content{
		border:1px solid #eee;
	}
	}
	
	@media (max-width : 767px) {
	.tabThree .tab-content{
		border: 1px solid #eee;
	}
	}
	
	/*---Style 3 Right---*/
	
	.tabThree.tab-right{
		background-color: #333;
		color:#ccc;
	}
	.tabThree.tab-right .nav-tabs{
		background-color:#fff;
	}	
	.tabThree.tab-right .nav-tabs>li {
		border: 1px solid #ebebeb;
	}
	.tabThree.tab-right .nav-tabs>li>a {
		color: #333;
	}
	.tabThree.tab-right .nav-tabs>li.active a{
		background-color: #333;
		color:#fff;
	}
	.tabThree.tab-right .nav-tabs>.active>a, .tabThree.tab-right .nav-tabs>.active>a:focus, .tabThree.tab-right .nav-tabs>.active>a:hover{
		box-shadow:inset 0 1px 0 #333;
	}
	.tabThree.tab-right .nav-tabs>li.active {
		border-bottom: 0;
	}
	.tabThree.tab-right .tab-content {
		border-color: #ebebeb;
	}
	.tabThree.tab-right .nav-tabs>li:last-child {
		border-right: 1px solid #ebebeb;
	}	
	
	/*---style 4---*/
	
	.tabFour{
		background-color:transparent;
	}
	.tabFour .nav{
		background-color:#fff;
	}
	.tabFour .nav-stacked>li {
		background-color: #fff;
		border: 1px solid #ebebeb;
	}
	.tabFour .nav-stacked>li:last-child{
		border-bottom:1px solid #ebebeb;
	}
	.tabFour .nav-pills>li>a{
		color:#333;
		background-color:#fff;
	}
	.tabFour .nav-pills>li.active>a,.tabFour .nav-pills>li.active>a:focus,.tabFour .nav-pills>li.active>a:hover{
		background-color:#fff;
		color:#0a8dcc;
		box-shadow: inset 3px 0 0px 0 #0a8dcc;
	}	
	.tabFour .tab-content > .active {
		border: 1px solid #ebebeb;
	}
	
	
	/*---style 5---*/
	
	.tabFive{
		background-color:#fff;
	}
	.tabFive .nav-tabs{
		border:1px solid #ebebeb;
	}
	.tabFive .nav-tabs li{
		border-right:1px solid #ebebeb;
		border-bottom:1px solid #ebebeb;
	}
	.tabFive .nav-tabs li.active{
		border-bottom:1px solid transparent;
	}
	.tabFive .nav-tabs>li>a{
		background-color:#333;
		color:#ccc;
	}
	.tabFive .nav-tabs>.active>a,.tabFive .nav-tabs>.active>a:focus,.tabFive .nav-tabs>.active>a:hover{
		background-color:transparent;
		color:#0a8dcc;
	}
	.tabFive .tab-content{
		border:1px solid #ebebeb;
		background-color: #fff;
	}
		
	/*---Style 5 Right---*/
	.tabFive.tab-right .tab-content{
		border:1px solid #ebebeb;		
	}
	.tabFive.tab-right .nav-tabs li.active {
		border-bottom: 1px solid #fff;
		border-left: 1px solid #ebebeb;
		border-top: 1px solid #ebebeb;
	}
	.tabFive.tab-right .nav-tabs li.active:last-child {
		border-right: 1px solid #ebebeb;
	}
	
	/*---Style 6---*/
	
	.tabSix .nav-tabs>li>a{
		border-color:#898989;
		color:#333;
	}
	.tabSix .nav-tabs>li.active>a, .tabSix .nav-tabs>li.active>a:focus, .tabSix .nav-tabs>li.active>a:hover, .tabSix .nav-tabs>li>a:hover{
		color:#333;
		border-color:#0a8dcc;
	}
	.tabSix .nav-tabs li a i{
		background: #FFF;
		border: 1px solid #dfdfdf;
		color: #0a8dcc;
	}
	
	
	/*---Style 7---*/
	
	.tabSeven .nav-tabs{
		border-bottom:3px solid #898989;
	}
	.tabSeven .nav-tabs>li>a{
		background-color:transparent;
		border-style:solid;
		border-color:#898989;
		color:#333;
	}
	.tabSeven .nav-tabs>li.active>a, .tabSeven .nav-tabs>li.active>a:focus, .tabSeven .nav-tabs>li.active>a:hover, .tabSeven .nav-tabs>li>a:hover{
		color:#333;
		border-color:#0a8dcc;
	}
	
	
	/*---Style 8---*/
	
	.tabEight .nav-tabs{
		border-bottom:1px solid #898989;
	}
	.tabEight .nav-tabs>li>a{
		background-color:transparent;
		border-style:solid;
		border-color:transparent;
		color:#fff;
	}
	.tabEight .nav-tabs>li.active>a, .tabEight .nav-tabs>li.active>a:focus, .tabEight .nav-tabs>li.active>a:hover, .tabEight .nav-tabs>li>a:hover{
		color:#fff;
		background-color:transparent;
		border-color:#0a8dcc;
	}
	.tabEight .tab-pane p {
		color:#ccc;
	}
	
	/*---Style 8 Right---*/
	
	.tabEight.tab-right .nav-tabs>li>a {
		border-color: transparent;
	}
	.tabEight.tab-right .nav-tabs>li.active>a, .tabEight.tab-right .nav-tabs>li.active>a:focus, .tabEight.tab-right .nav-tabs>li.active>a:hover, .tabEight.tab-right .nav-tabs>li>a:hover {
		background-color: transparent;
		border-width: 2px 1px 1px 1px;
		border-top-color:#0a8dcc !important;
		border-bottom-color:#333 !important;
		border-color:#898989;
	}
	
/*--- Pricing Table Style Here---*/


	/*---Table Style 1---*/
	
	.packagestyle_one {
		border: 1px solid #ccc;
	}
	.packagestyle_one p{
		color: rgba(137, 137, 137, 0.3);
	}
	.packagestyle_one .h3{
		color:#898989;
	}
	.packagestyle_one ul{
		border-bottom:1px solid #cccccc;
		color:#333333;
	}
	.packagestyle_one ul li strong{
		color:#333;
	}
	.packagestyle_one ul li{
		color:#898989;
	}
	.packagestyle_one:hover {
		border: 1px solid #0a8dcc;
	}
	.packagestyle_one:hover h1, .packagestyle_one:hover p.nub {
		color: #0a8dcc;
	}

/*---cta button---*/
	
	.ctaOne {
		background-color: #0a8dcc;
	}
	.ctaOne .callToAction h2 {
		color: #fff;
	}
		
	.ctaOne .callToAction .cta-btn .btn {
		color: #0a8dcc;
		background-color: #fff;
	}
	.ctaOne .callToAction .cta-btn .btn:hover {
		color: #fff;
		background-color: #313131;
		border-color: transparent;
	}

/*---Team style Here---*/ 

	/*---Team style 1---*/
	
	.teamOne{
		border:1px solid #ebebeb;
		background-color: #fff;
	}
	.teamOne .team_content{
		border-bottom:1px solid #ebebeb;
	}
	.teamOne .team_content h4 a{
		color:#333;
	}
	.teamOne .team_content h4 a:hover{
		color:#0a8dcc;
	}	
	.teamOne ul.team_social_links li a {
		color:#898989;
	}
	.teamOne ul.team_social_links li a i {
		color:#898989;; 
		border:1px solid #ededed; 
	}
	.teamOne .team_social_links  i:hover{ 
		background-color: #0a8dcc; 
		border-color: #0a8dcc; 
		color:#fff; 
	}	
	
	
/*---contack form---*/	

	.contactus-one .contact-form .form-control {
		border-bottom: 1px solid #fff;
		background-color: transparent;
		color: #fff;
	}
	.contactus-one .contact-form .form-control {
		border-bottom: 1px solid #ccc;
	}
	.contactus-one .contact-info p i {
		color: #3277ba;
	}
/*---Footer style Here---*/


	/*---Style 1---*/

	.footerOne{
		background-color: #000;
	}
	.footerOne .footer-widget h4 {
		color: #fff;
	}
	.footerOne .footer-widget{
		color: #ccc;
	}
	.footerOne .footer-widget h4 {
		color: #fff;
	}
	.footerOne .useful-links>ul>li>a {
		color: #ccc;
	}
	.footerOne .useful-links>ul>li>a:hover {
		color: #fff;
	}
	.footerOne .useful-links>ul>li>a:hover i {
		color: #0a8dcc;
	}
	.footerOne form .form-control {
		background-color: #fff;
		border: 1px solid transparent;
	}
	.footerOne form button {
		background-color: #fff;
		border: 1px solid transparent;
		color: #0a8dcc;
	}
	.footerOne form button:hover {
		background-color: #0a8dcc;
		color: #fff;
	}
	.footerOne .newsletter-seb form span{
		color:#fff;
	}
	.footerOne .payment-opt{
		color:#fff;
	}
	.footerOne .footer-bottom-section .copyright, .footerOne .footer-bottom-section .social a  {
		color: #ccc;
	}
	.footerOne .footer-bottom-section .social a:hover  {
		color: #0a8dcc;
	}
	
	/*---Style 1 (white)---*/

	.footerOneWhite {
		background-color: #f7f7f7;
		border-top: 5px solid #0a8dcc;
	}
	.footerOneWhite .footer-widget h4 {
		color: #333;
	}
	.footerOneWhite .footer-widget{
		color: #898989;
	}
	.footerOneWhite .footer-widget h4 {
		color: #333;
	}
	.footerOneWhite .useful-links>ul>li>a {
		color: #898989;
	}
	.footerOneWhite .useful-links>ul>li>a:hover {
		color: #333;
	}	
	.footerOneWhite .useful-links>ul>li>a:hover i {
		color: #0a8dcc;
	}
	.footerOneWhite form .form-control {
		background-color: #fff;
		border: 1px solid #f7f7f7;
	}
	.footerOneWhite form button {
		background-color: #0a8dcc;
		border: 1px solid transparent;
		color: #fff;
	}
	.footerOneWhite form button:hover {
		background-color: #333;
		color: #fff;
	}
	.footerOneWhite .newsletter-seb form span{
		color:#333;
	}
	.footerOneWhite .payment-opt{
		color:#333;
	}
	.footerOneWhite .footer-bottom-section .copyright, .footerOneWhite .footer-bottom-section .social a  {
		color: #898989;
	}
	.footerOneWhite .footer-bottom-section .social a:hover  {
		color: #0a8dcc;
	}
	.footerOneWhite .tail {
		border-color: rgba(0, 0, 0, 0.1);
	}
	
	
	/*---Style 2---*/

	.footerTwo{
		background-color: #000;
	}
	.footerTwo .footer-bottom-section .footer-link a{
		color:#ccc;
	}
	.footerTwo .footer-bottom-section .footer-link a:hover{
		color: #0a8dcc;
	}
	.footerTwo .footer-bottom-section .copyright  {
		color: #ccc;
	}
			
	
	/*---Style 3---*/

	.footerThree{
		background-color: #111;
	}
	.footerThree .footer-widget h4 {
		color: #fff;
	}
	.footerThree .footer-widget{
		color: #ccc;
	}
	.footerThree .footer-widget-section{
		background-color:#333;
	}
	.footerThree .widget_text p{
		color:#898989;
	}
	.footerThree .widget_text a.readmore{
		color:#969595;
	}
	.footerThree .widget_text .readmore i{
		color:#0a8dcc;
	}
	.footerThree .widget_text a.readmore:hover{
		color:#0a8dcc;
	}
	.footerThree .social-links{
		border-top:1px solid #4a4a4a;
	}
	.footerThree .social-links li a{
		color:#4a4a4a;
	}
	.footerThree .social-links li a:hover{
		color:#0a8dcc;
	}
	.footerThree .widget_recent_entries .media{
		border-bottom:1px solid #4a4a4a;
	}
	.footerThree .widget_recent_entries p{
		color:#898989;
	}
	.footerThree .widget_recent_entries h5 a{
		color:#ccc;
	}
	.footerThree .widget_recent_entries h5 a:hover{
		color:#0a8dcc;
	}
	.footerThree .widget_recent_entries .media-body span{
		color:#6b6b6b;
	}
	.footerThree .widget_recent_entries .readmore{
		color:#969595;
	}
	.footerThree .widget_recent_entries .readmore:hover,.footerTwelve .widget_recent_entries .readmore i{
		color:#0a8dcc;
	}
	.footer-widget.widget_tag_cloud ul li a{
		background-color:transparent;
	}
	.footerThree .widget_tag_cloud ul li a{
		color:#949393;
		background:#4a4a4a;
	}
	.footerThree .widget_tag_cloud ul li a:hover{
		color:#fff;
		background:#0a8dcc;
	}
	.footerThree .useful-links ul>li{
		border-bottom:1px solid #4a4a4a;
	}
	.footerThree .useful-links ul>li>a{
		color:#969595;
	}
	.footerThree .useful-links ul>li>a:hover{
		color:#fff;
	}
	.footerThree .useful-links ul>li>a:hover i{
		color:#0a8dcc;
	}
	.footerThree .footer-address ul li{
		border-bottom:1px solid #4a4a4a;
	}
	.footerThree .footer-address ul li a{
		color:#969595;
	}
	.footerThree .footer-address ul li a:hover{
		color:#0a8dcc;
	}
	.footerThree .footer-address ul li i{
		color:#4a4a4a;
	}
	.footerThree .footer-address ul li:hover i{
		color:#fff;
	}
	.footerThree .footer-address span{
		color:#898989;
	}
	.footerThree .footer-address span samp{
		color:#ccc; 
	}
	.footerThree .footer-bottom-section .copyright {
		color: #ccc;
	}	
	

/*--- lists ---*/


.lists_panel ul li {
    color: #333333;
}

.lists_panel ul .sub_list li {
    color: #333333;
}

.lists_panel ul .color {
    background-color: #0a8dcc;
    color: #FFF;
}

.lists_panel ul .grey {
    background-color: #f5f5f5;
}


.tooltips_heading h2 {
    color: #333333;
}


/*---------Style_1----------------*/

.lists_panel .fa_icone_blue .fa {
    color: #0a8dcc;
}

.lists_panel .fa_icone_round_blue_bg .fa {
    background-color: #0a8dcc;
    color: #FFF;
}

.lists_panel .fa_icone_round_bg_none .fa {
    color: #0a8dcc;
    border: 1px solid #0a8dcc;
}

.lists_panel .fa_icone_squer_bg_none .fa {
    color: #0a8dcc;
    border: 1px solid #0a8dcc;
}


/*---------Style_2----------------*/

.lists_panel .fa_icone_hand_blue .fa {
    color: #0a8dcc;
}

.lists_panel .fa_icone_hand_squer_blue_bg .fa {
    background-color: #0a8dcc;
    color: #FFF;
}

.lists_panel .fa_icone_hand_squer_bg_none .fa {
    color: #0a8dcc;
    border: 1px solid #0a8dcc;
}
.lists_panel .fa_icone_hand_round_bg_none .fa {
    color: #0a8dcc;
    border: 1px solid #0a8dcc;
}

/*---------Style_3----------------*/

.lists_panel .style_border_bottom li {
    border-bottom: 1px solid #e1e1e1;
}

.lists_panel .style_border li {
    border: 1px solid #666666;
}

.lists_panel .fa_squre_black .fa {
    color: #333333;
}


/*---------Style_4----------------*/

.lists_panel .unorder_list span {
    color: #333333;
}

.lists_panel .liststyle_round_blue_bg span {
    background-color: #0a8dcc;
    color: #FFF;
}

.lists_panel .liststyle_round_bg_none span {
    color: #0a8dcc;
    border: 1px solid #0a8dcc;
}

.lists_panel .liststyle_squer_bg_none span {
    color: #0a8dcc;
    border: 1px solid #0a8dcc;
}


/*---------Style_5----------------*/

.lists_panel .style_basic_list li {
    border: 1px solid #dddddd;
}


/*---------Style_6----------------*/

.lists_panel .style_budges_list li {
    border: 1px solid #dddddd;
}

.lists_panel .style_linked_list li {
    border: 1px solid #dddddd;
}


.lists_panel .style_custom_content_list li {
    border: 1px solid #dddddd;
}


/*---- Tooltips and Collumns ---*/
.tooltips_para p {
    color: #898989;
}

.tooltips_para p mark {
    color: #FFF;
}


/*---------Style_1----------------*/

.tooltips_para p .mark_black {
    background-color: #333333;
}


/*---------Style_2----------------*/

.blue-tooltip + .tooltip > .tooltip-inner {
    background-color: #0a8dcc;
}

.blue-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #0a8dcc;
}

.black-tooltip + .tooltip > .tooltip-inner {
    background-color: #333333;
}

.black-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: #333333;
}


/*---------Style_3----------------*/

.style_3 p b {
    color: #0a8dcc;
}

.style_3 p i {
    color: #333333;
}

.style_3 p .strike {
    color: #0a8dcc;
}

.style_3 p sub {
    color: #009345;
}

.style_3 p a {
    color: #009345;
}

.style_3 p u {
    color: #898989;
}

.style_3 p sup {
    color: #0a8dcc;
}


/*---------Style_4----------------*/


/*----- Blue Quote-----*/

.style_4 p {
    color: #a1b1bc;
}

.blue-card {
    background: #0a8dcc;
    color: #FFF;
}

.blue-card p {
    color: #FFF;
}

.blue-card a .fa {
    color: #FFF;
}

.quote-link {
    background: #0a8dcc;
    color: #FFF;
}

.quote-link a {
    color: #FFF;
}

.quote-link a:hover {
    color: #FFF;
}


/*----- Blue Quote Special Style-----*/

.blog-card-special {
    background: #ecf0f1;
    color: #FFF;
}

.blog-card-special p {
    color: #333333;
}

.blog-card-special span .fa {
    color: #0a8dcc;
    background: #fff;
}


/*----- Blue Quote Classic Style-----*/

.blog-quote-classic {
    background: #fff;
    color: #222222;
    box-shadow: 2px 1px 10px #ecf0f1;
    border-left: 5px solid #0a8dcc;
}

/*---Labels and  Badges ---*/



/*----- badges Content Style-----*/

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #0a8dcc;
}

/*----------------- Dividers --------------*/

.general-section .dart_singleline_thin {
    border-top: 1px solid #cccccc;
}

.general-section .dart_doubleline {
    border-top: 3px double #cccccc;
}

.general-section .dart_doted {
    border-top: 1px dashed #cccccc;
}

.general-section .dart_dashed {
    border-top: 1px dashed #cccccc;
}

.general-section .dart_dashed_doubleline {
    border-bottom: 1px dashed #d7d7d7;
    border-top: 1px dashed #d7d7d7;
}

.general-section .dart_dashed_solid {
    background-color: #fff;
    border-top: 2px dashed #cccccc;
}

.general-section .dart_singleline_solid {
    border-top: 3px solid #cccccc;
}

.general-section .dart_singleline_multicolor {
    background: #cccccc;
    background-image: linear-gradient(to left, #cccccc, #cccccc 80%, #0a8dcc 20%, #0a8dcc 20%);
}

.general-section .dart_line_with_shadow {
    box-shadow: 0 10px 10px -10px #e9e9e9 inset;
    background-image: -webkit-linear-gradient(left, #FFF, #e9e9e9, #FFF);
    background-image: -moz-linear-gradient(left, #FFF, #e9e9e9, #FFF);
    background-image: -ms-linear-gradient(left, #FFF, #e9e9e9, #FFF);
    background-image: -o-linear-gradient(left, #FFF, #e9e9e9, #FFF);
}


/*--- Pagination ----*/

.pagination > li > a,
.pagination > li > span {
    color: #cccccc;
}


/*----------------- Pagination First--------------*/

.pagination_first .active a {
    background-color: #0a8dcc;
    border-color: #0a8dcc;
}


/*----------------- Pagination Second--------------*/


.pagination_second li a {
    color: #333333;
}

.pagination_second .active a {
    background-color: #0a8dcc;
    border-color: #0a8dcc;
}

.pagination_second .page-item a {
    background-color: #333333;
    color: #fff;
}


/*----------------- Pagination third--------------*/


.pagination_third .page-item a {
    background-color: #333333;
    color: #fff;
}

.pagination_third .page-item a:hover {
    background-color: #0a8dcc;
    color: #FFF;
}


/*----------------- Pagination fourth--------------*/


.pagination_fourth li a {
    color: #cccccc;
}

.pagination_fourth .active a {
    background-color: #0a8dcc;
    border-color: #0a8dcc;
}


/*----------------- Pagination fifth--------------*/


.pagination_fifth > li > a {
    color: #cccccc;
}

.pagination_fifth .active a {
    background-color: #0a8dcc;
    border-color: #0a8dcc;
}


/*----------------- Social --------------
	----------------------------------------------*/

.social_body {
    background-color: #f7f7f7;
}

ul.social_links li a {
    background-color: #D3D3D3;
}

ul.social_links li a i {
    color: #333333;
}

ul.social_links .active a {
    background-color: #21c2f8;
    border-color: #0a8dcc;
    color: #FFF;
}

.social_links .active i {
    color: #FFF;
}

ul.social_links_second li a {
    background-color: #D3D3D3;
}

ul.social_links_second li a i {
    color: #fff;
}

.social_links_second .btn_facebook {
    background-color: #1883d5;
    color: #FFF;
}

.social_links_second .btn_twitter {
    background-color: #21c2f8;
    color: #FFF;
}

.social_links_second .btn_pinterest {
    background-color: #ef584d;
    color: #FFF;
}

.social_links_second .btn_linkedin {
    background-color: #1883d5;
    color: #FFF;
}

.social_links_second .btn_google-plus {
    background-color: #2c3e50;
    color: #FFF;
}

.social_links_second .btn_tumblr {
    background-color: #43698f;
    color: #FFF;
}

.social_links_second .btn_dribbble {
    background-color: #eb5d8c;
    color: #FFF;
}

ul.social_links_third li a {
    background-color: #D3D3D3;
}

ul.social_links_third li a i {
    color: #898989;
}

ul.social_links_third .active a {
    background-color: #21c2f8;
    border-color: #0a8dcc;
    color: #FFF;
}

.social_links_third .active i {
    color: #FFF;
}


ul.social_links_forth li a {
    background-color: #D3D3D3;
}

ul.social_links_forth li a i {
    color: #898989;
}

ul.social_links_forth .active a {
    background-color: #21c2f8;
    border-color: #0a8dcc;
    color: #FFF;
}

.social_links_forth .active i {
    color: #FFF;
}


ul.social_links_fifth li a {
    background-color: #eff2f3;
    border: 1px solid #cccccc;
}

ul.social_links_fifth li a i {
    color: #898989;
}



/*---Tables ---*/

.table-default thead tr {
    color: #333333;
}

.table-default thead tr th {
    border-bottom: 2px solid #898989;
}

.table-striped thead tr {
    color: #333333;
}

.table-striped thead tr th {
    border-bottom: 2px solid #898989;
}

.table-bordered thead tr {
    color: #333333;
}

.table-bordered thead tr th {
    border-bottom: 2px solid #898989;
}

.table-hover thead tr {
    color: #333333;
}

.table-hover thead tr th {
    border-bottom: 2px solid #898989;
}

.table-contextual thead tr {
    color: #333333;
}

.table-contextual thead tr th {
    border-bottom: 2px solid #898989;
}

.table-contextual {
    border: 1px solid #ebebeb;
}

.table-active {
    border: 1px solid #ebebeb;
}

.table-active thead tr {
    color: #333333;
}

.table-active thead tr th {
    border-bottom: 2px solid #ebebeb;
}

.table-active code {
    color: #c7254e;
}

.table-header-color thead tr th {
    color: #FFF;
}


.table-header-color .bg-primary {
    background-color: #223c8c;
}

.table-header-color .bg-success {
    background-color: #019345;
}

.table-header-color .bg-danger {
    background-color: #9c228e;
}

.table-header-color .bg-info {
    background-color: #ef4b37;
}

.table-header-color .bg-img {
    background-color: #0796d3;
}


/*--- Counter ---*/


.dart-counter-primary {
    color: #089644;
}

.dart-counter-success {
    color: #a6218e;
}

.dart-counter-info {
    color: #146ab1;
}

.dart-counter-danger {
    color: #f15c38;
}

.dart-counter-background {
    background-color: #eeeeee;
}

.dart-counter-color-background {
    background-color: #0a8dcc;
    color: #FFF;
}

.dart-counter-color-background h1, .dart-counter-color-background h2 {
    color: #FFF;
}

.dart-counter-color-background h5 {
    color: #FFF;
}

.dart-counter-image-background {
    color: #FFF;
    background: url(/data/bluehat.al/media/thumbs/1900x0/code-1839406_1920.jpg) no-repeat;
}

.dart-counter-image-background h1, .dart-counter-image-background h2{
    color: #FFF;
}

.dart-counter-image-background h5 {
    color: #FFF;
}

.dart-countdown-right {
    border-right: 1px dashed #c6c6c6;
}

.timer_box_1 {
    color: #444444;
    border-right: 1px dashed #c6c6c6;
}

.timer_box_1 h1 {
    color: #444444;
}

.timer_box_1 p {
    color: #444444;
}

.timer_box_2 {
    border-right: 1px dashed #c6c6c6;
}

.timer_box_2 h1 {
    color: #444444;
}

.timer_box_2 p {
    color: #444444;
}

.timer_box_3 {
    border-right: 1px dashed #c6c6c6;
}

.timer_box_3 h1 {
    color: #444444;
}

.timer_box_3 p {
    color: #444444;
}


/*--- Chart ---*/

.section-chart-divider {
    border-top: 1px solid #333333;
}


/*---Form Section 1 ----*/


/*-----Form 1-----*/


.dart-form-1 .btn-default {
    color: #fff;
    background-color: #333333;
    border: 1px solid #333333;
}

.dart-form-1 .btn-default:hover {
    border: 1px solid #333333;
    color: #333333;
}


/*-----Form 2-----*/

.dart-form-2 ul.social_links_1 li a i {
    color: #898989;
}

.dart-form-2 ul.social_links_1 a:hover i {
    background-color: none;
    border-color: #0a8dcc;
    color: #0a8dcc;
}

.social_links_1 .active a i {
    color: #D3D3D3;
}

/*-----Form 3-----*/


.dart-form-3 .btn-default {
    color: #fff;
    background-color: #333333;
    border: 1px solid #333333;
}

.dart-form-3 .btn-default:hover {
    background: none;
    border: 1px solid #333333;
    color: #333333;
    ;
}


/*----------------- Form Section 2 --------------
	----------------------------------------------*/

.form_section_2 {
    background-color: #222222;
    color: #FFF;
}


/*-----Form 4-----*/

.form-heading_1 h2 {
    color: #FFF;
}

.dart-form-4 ul.social_links_2 li a i {
    color: #fff;
}

.dart-form-4 ul.social_links_2 li a i:hover {
    color: #0a8dcc;
}

.dart-form-4 .form-group .form-control {
    border: 1px solid #FFF;
    color: #fff;
}

.dart-form-4 .btn-default {
    text-align: center;
    color: #fff;
    background-color: #f8963d;
    border: 1px solid #f8963d;
}

.dart-form-4 .btn-default:hover {
    color: #fff;
    border: 1px solid #f8963d;
}


/*-----Form 5-----*/

.form-heading_2 h2 {
    color: #FFF;
}

.dart-form-5 ul.social_links_3 li a i {
    color: #0a8dcc;
}

.dart-form-5 ul.social_links_3 li a i:hover {
    color: #fff;
}

.dart-form-5 .form-group .form-control {
    background-color: #333333;
    color: #FFF;
}

.dart-form-5 .form-group .form-control:focus {
    border: 3px solid #0a8dcc;
}


.dart-form-5 .btn-default {
    color: #fff;
    background-color: #f8963d;
    border: 1px solid #f8963d;
}

.dart-form-5 .btn-default {
    color: #fff;
    background-color: #0a8dcc;
    border: 1px solid #0a8dcc;
}

.dart-form-5 .btn-default:hover {
    color: #fff;
    border: 1px solid #0a8dcc;
    background: none;
}


/*-----Form 6-----*/

.dart-form-6 .btn-default {
    color: #fff;
    background-color: #0a8dcc;
    text-transform: uppercase;
    border: 1px solid #0a8dcc;
}

.dart-form-6 .btn-default:hover {
    border: 1px solid #0a8dcc;
    color: #0a8dcc;
}

.dart-form-6 ul li {
    color: #898989;
}

.dart-form-6 .inner-addon .fa {
    color: #898989;
}

/*-----Form 7-----*/


.dart-form-7 .btn-default {
    color: #fff;
    background-color: #333333;
    border: 1px solid #333333;
}

.dart-form-7 .btn-default:hover {
    border: 1px solid #333333;
    color: #333;
}

.dart-form-7 .inner-addon .fa {
    color: #898989;
}


/*-----Form 8-----*/
.dart-form-8 .form-group label {
    color: #333333;
}

.dart-form-8 .btn-default {
    color: #333333;
    border: 2px solid #2c3e50;
}


/*----------------- Form Section 4 --------------
	----------------------------------------------*/

.form_section_4 {
    background-color: #222222;
    color: #FFF;
}


.form_head_contect h1 {
    color: #FFF;
}

.form_head_contect p {
    color: #FFF;
}


/*-----Form 9-----*/

.dart-form-9 ul.social_links_4 li a {
    background-color: #fff;
    color: #232323;
}

.dart-form-9 ul.social_links_4 li a:hover {
    background-color: #21c2f8;
    color: #fff;
}

.dart-form-9 ul.social_links_4 li a i {
    color: #000000;
}


/*-----Form 10-----*/

.dart-form-10 .form-group .form-control {
    color: #ecf0f1;
}

.dart-form-10 .form-group .form-control:focus {
    border: 3px solid #0a8dcc;
}

.dart-form-10 .inner-addon .fa {
    color: #ecf0f1;
}

/*----------------- Form Section 5 --------------
	----------------------------------------------*/

.form_section_5 {
    background-color: #f9fafb;
}


/*-----Form 11-----*/

.dart-form-11 ul li {
    color: #898989;
}

.dart-form-11 ul li i {
    color: #333333;
}


/*-----Form 12-----*/

.dart-form-12 .form-group .form-control {
    color: #333333;
}

.dart-form-12 .btn-default {
    text-align: center;
    color: #fff;
    background-color: #333333;
    border: 1px solid #333333;
}

.dart-form-12 .btn-default:hover {
    border: 1px solid #333333;
    color: #333333;
}

.dart-form-12 .inner-addon .fa {
    color: #898989;
}

/*-----Form 13-----*/

.dart-form-13 .form-group label {
    color: #333333;
}

.dart-form-13 .btn-default {
    color: #fff;
    background-color: #f26439;
    border: 2px solid #f26439;
}

.dart-form-13 .btn-default:hover {
    border: 1px solid #f26439;
    color: #333;
    background: none;
}


/*-----Form 13-----*/

.dart-form-14 .form-group label {
    color: #333333;
}

.dart-form-14 .form-control {
    background: #f4f6f7;
    color: #333333;
}

.dart-form-14 .btn-default {
    color: #fff;
    background-color: #0a8dcc;
    border: 2px solid #0a8dcc;
}

.dart-form-14 .btn-default:hover {
    border: 1px solid #0a8dcc;
    background: none;
    color: #333
}


/*-----Form 15-----*/

.dart-form-15 .form-group .form-control {
    color: #333333;
}

.dart-form-15 .btn-default {
    color: #fff;
    background-color: #58b23f;
    border: 1px solid #58b23f;
}

.dart-form-15 .btn-default:hover {
    border: 1px solid #58b23f;
    background: none;
    color: #333;
}

.dart-form-15 .form-group .form-control:focus {
    border: 1px solid #0a8dcc;
}

.dart-form-15 .inner-addon .fa {
    color: #898989;
}

/*--- Image Box ---*/

/*---Style 2---*/

.imageboxTwo .dart_image_box {
    background-color: #fff;
}

/*---Style 3---*/

.imageboxThree .dart_image_box .image .blue-bg {
    background: #175fa8;
    color: #fff;
}

/*---Style 4---*/

.imageboxFour .dart_image_box {
    background-color: #fff;
}

/*---Style 5---*/


.imageboxFive .image-content a {
    color: #0a8dcc;
}

.imageboxFive .image-content a i {
    background: none;
    border: 1px solid #0a8dcc;
}

.imageboxFive .image-content a:hover {
    color: #000;
}

.imageboxFive .image-content a:hover i {
    border: 1px solid #000;
}


/*---Style 7---*/

.imageboxSeven .image-content a {
    color: #0a8dcc;
}

.imageboxSeven .image-content a i {
    border: 1px solid #0a8dcc;
}

.imageboxSeven .image-content a:hover {
    color: #000;
}

.imageboxSeven .image-content a:hover i {
    border: 1px solid #000;
}


/*---Style 8---*/

.image-background {
    background: url(../../images/gallery-thumb/image-background.jpg) no-repeat;
}

.imageboxEight .dart_image_box {
    background-color: #fff;
}

/*---Style 3---*/

.section_color {
    background-color: #e5f0fb;
}

.btn_content .btn-yellow {
    color: #333;
    background: #f3e367;
    border-color: #f3e367;
}

.btn_content .btn-yellow:hover {
    border-color: #f3e367;
    color: #333;
}

.fa-circle-yellow {
    color: #f3e367;
}

.lists_panel .fa_icone_round_blue_bg .fa-plane_yellow {
    background-color: #f3e367;
    color: #333;
}

.travelling_package .packagestyle_one:hover {
    border: 1px solid #fade03;
}

.section_travell.portfolioTwo .ImageWrapper .ImageOverlay {
    background: rgba(243, 227, 103, 0.6);
}

.travelling_package .packagestyle_one:hover h1,
.packagestyle_one:hover p.nub {
    color: #fade03;
}

.travelling_package .packagestyle_one:hover p.nub {
    color: #fade03;
}

.travel_indicator .carousel .carousel-indicators .active {
    background-color: #f3e367 !important;
}

.section-fashion-bg-color {
    background-color: #eceeed;
}


/*-- Style Of Index-6--*/

.btn-yellow-bg {
    background: #fab702;
    color: #FFF;
}


/*-- Style Of Team--*/


/*-- Style Of Team Style-1--*/

.team-content-1 .team-image .img-team-person {
    border: 1px solid #a5b5bf;
}

.team-content-1:hover h4 {
    color: #0a8dcc;
}

/*-- Style Of Team Style-2--*/

.team-content-2 ul.social_links .twitter a {
    background-color: #58d5ff;
}

.team-content-2 ul.social_links .twitter a i {
    color: #fff;
}

.team-content-2 ul.social_links .facebook a {
    background-color: #2067c8;
}

.team-content-2 ul.social_links .facebook a i {
    color: #fff;
}

.team-content-2:hover h4 {
    color: #0a8dcc;
}

.team-content-2:hover .img-person {
    border: 3px solid #0a8dcc;
}


/*-- Style Of Team Style-3--*/

.team-content-3 .overlay {
    background-color: rgba(98, 98, 98, 0.9);
}

.team-content-3:hover .team-person-detail {
    background-color: #0a8dcc;
    color: #fff;
}

.team-content-3:hover .team-person-detail h4 {
    color: #fff;
}

.team-content-3 .img-content .text {
    color: #FFFFFF;
}

.team-content-3 ul.social_links_fifth li i {
    color: #fff;
}


/*-- Style Of Team Style-4--*/

.team-content-4 ul.social_links_third li a {
    background: none;
}

.team-content-4 .image-content:hover .person-detail {
    background-color: #2c3e50;
    color: #fff;
}

.team-content-4 .image-content:hover .person-detail h4 {
    color: #fff;
}




/*---Blog Post---*/

.blog-posts article {
	border-bottom: 1px solid #DDD;
}


/* Post */
article.post .post-date .month {
	background: #f08715;
	color: #FFF;
}

article.post .post-date .day {
	background: #0a8dcc;
	color: #fff;
}

article .post-video {
	background-color: #FFF;
	border: 1px solid #DDD;
}

article .post-audio {
	background-color: #FFF;
	border: 1px solid #DDD;
}


/* Post Block */
.post-block {
	border-top: 1px solid #DDD;
}



/* Post Comments */

ul.comments .comment-arrow {
	border-bottom: 15px solid transparent;
	border-right: 15px solid #F4F4F4;
	border-top: 15px solid transparent;
}

ul.comments .comment-block {
	background: #F4F4F4;
}

ul.comments .comment-block .date {
	color: #999;
}

/* Recent Posts */


.recent-posts .date .month {
	background: #CCC;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
	color: #FFF;
}

.recent-posts .date .day {
	background: #F7F7F7;
	color: #CCC;
}

section.featured .recent-posts .date .day {
	background: #FFF;
}

/* Simple Post List */

ul.simple-post-list li {
	border-bottom: 1px dotted #E2E2E2;
}

ul.simple-post-list .post-meta {
	color: #888;
}

/* Responsive */
@media (max-width: 479px) {
	ul.comments li {
		border-left: 8px solid #DDDDDD;
	}
}

/*---Sidebar---*/

hr.sep-line {
    background-color:#ebebeb;
}
ul.nav-list.primary > li a {
    border-bottom: 1px solid #EDEDDE;
}
aside ul.nav-list > li > a {
    color: #666;
}
ul.nav-list.primary > li a:before {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
}
.blog-single .tab-content {
    background-color: #f7f7f7;
    border: 1px solid #EEE;
}
.blog-single .nav-tabs {
    border-bottom-color: #EEE;
}
.blog-single .tabs ul.nav-tabs li.active a {
    border-top-color: #0a8dcc;
    color: #0a8dcc;
}
.blog-single .nav-tabs li.active a, .blog-single .nav-tabs li.active a:hover, .blog-single .nav-tabs li.active a:focus {
    background: #f7f7f7;
    border-left-color: #EEE;
    border-right-color: #EEE;
    border-top: 3px solid #CCC;
    color: #CCC;
}
.blog-single .nav-tabs li a, .blog-single .nav-tabs li a:hover {
    background: #fff;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-top: 3px solid #EEE;
    color: #363636;
}

.widgetClientTestimonial .flex-viewport{
	background-color:#fff;
	border:1px solid #eee;
}
.widgetClientTestimonial blockquote{
	background-color: #f7f7f7;
}
.widgetClientTestimonial blockquote footer.client-name{
	color:#0a8dcc;
}
.widgetClientTestimonial blockquote footer.client-name .client-title{
	color:#969595;
}
.widget_tag_cloud ul li a{
	display:block;
	color:#898989;
	background-color:#ebebeb;
}
.widget_tag_cloud ul li a:hover{
	background-color:#0a8dcc;
	color:#fff;
}

/*---Shoping Page Style Here---*/


.product-title h4 a,
.single-product .product-title h2 a {
	color: #333;
}

.product-title h4 a:hover,
.single-product .product-title h2 a:hover {
	color: #0a8dcc;
}

.product-price {
	color: #333;
}

.product-price del {
	color: #888;
}

.product-price ins {
	color: #0a8dcc;
}

.product-overlay a {
	color: #333;
	background-color: #F5F5F5;
	border-right: 1px solid rgba(0,0,0,0.1);
}


.product-overlay a:hover {
	background-color: #0a8dcc;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sale-flash {
	background-color: #0a8dcc;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.sale-flash.offer {
	background-color: #fa4248;
}


.shop-pages .shorter {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    color: #333;
}
.shop-pages .form-control {
    border: 1px solid #F1F1F1;
}
.shop-pages .btn .filter-option {
    color: #3399cc;
}
.shop-pages .dropdown-menu.open {
    color: #222;
}
.shop-pages .dropdown-menu.inner {
    border: 1px solid #aaa;
}
.shop-pages .dropdown-menu.inner li:first-child {
    border-top: transparent solid 1px;
}
.shop-pages .dropdown-menu.inner li {
    border-top: transparent solid 1px;
    border-bottom: transparent solid 1px;
}
.shop-pages .dropdown-menu.inner {
    border: 1px solid #aaa;
}
.shop-pages .dropdown-menu.open {
    color: #222;
}
.shop-pages .border-lft {
    border-left: 1px solid rgb(241, 241, 241);
}
.shop-pages .product-wrap{
	border-bottom:1px solid #f1f1f1;
}

.shop-sidebar .widget li{
	border-bottom:1px solid #f1f1f1;
}
.shop-sidebar .widget .ui-selectmenu-button{
	background:transparent!important;
	color:#898989!important;
}
.shop-sidebar .widget.widget_size li a{
	border:1px solid #f1f1f1;
}
.shop-sidebar .widget.widget_size li a:hover,.shop-sidebar .widget.widget_size li a:focus{
	border-color:#333;
}
.shop-sidebar .widget-title:after{
	background:#0a8dcc;
	position:absolute;
}
.shop-sidebar .widget li a{
	color:#898989;
}
.shop-sidebar .widget li a:hover{
	color:#0a8dcc;
}
.shop-sidebar .widget.widget_size li a:hover {
    color: #fff;
	background-color:#0a8dcc;
}
.shop-pages .widget-content #slider-range{
	background-color:#f1f1f1;
	border-color:#f1f1f1;
}
.shop-pages .widget-content #amount{
	background:transparent;
}
.shop-pages #slider-range .ui-widget-header{
	background-color:#333;
}
.shop-pages #slider-range .ui-slider-handle{
	background-color:#333!important;
	border:2px solid #333!important;
}
.shop-pages .widget.widget_size .filter-btn{
	border:2px solid #f1f1f1;
	color:#898989;
}


.shop-pages .shop-links-widget .panel-title{
	padding: 5px 0;
	text-transform: capitalize;
	border-bottom: 1px solid #f1f1f1;
}
.shop-pages .shop-links-widget .panel-title a{
	font-size: 13px;
	font-weight: 400;
	color: #898989;
	display: block;
	width: 100%;
	position: relative;
	padding: 10px 0px;
}
.shop-pages .shop-links-widget .panel-title a:hover {
    text-decoration: none;
    color: #0a8dcc;
}
.shop-pages .shop-links-widget .panel-collapse{
	background-color: #f5f5f5;
}
.shop-pages .shop-links-widget .panel-body{
	border-top: none !important; 
	padding-top: 0 !important; 
	padding-bottom: 0 !important;
}
.shop-pages .shop-links-widget a .caret{
	position: absolute;
	right: 0;
	top: 10px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.shop-pages .shop-links-widget a[aria-expanded="true"] .caret{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.shop-pages .shop-links-widget a[aria-expanded="false"] .caret{
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
@media (max-width : 767px) {

.shop-pages .product-box{
	display:table;
	margin:30px auto auto;
}
}
.shop-sidebar .btn-group{
	width: 100%;
}
.shop-sidebar .btn-group.btn {
	color: #898989;
	width: 100%;
}
.shop-sidebar .btn .filter-option {
	color: #898989;
}
.shop-sidebar .btn .filter-option:hover {
	color: #3399cc;
}

/*product pagination*/

.pagination-wrap li a{
	border:1px solid transparent;
	color:#333;
}
.pagination-wrap li a:hover,.pagination-wrap li a:focus{
	border-color:#ccc;
	background-color: #0a8dcc;
    color: #fff;
}
.pagination-wrap li.disabled a{
	border-color:#ccc;
	color:#ccc;
}
.pagination-wrap li.active a{
	border-color:#ccc;
	background-color: #0a8dcc;
    color: #fff;
}
.pagination-wrap li.next a{
	border-color:#333;
}
/*product pagination*/

.shop-pages .pagination-next-prev {
    border: 1px solid #333;
    color: #333;
}
.shop-pages .product-price-review {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.shop-pages .black-color {
    color: #313131;
}

.shop-pages .rating span.star.active::before, .rating.add-rating span.star:hover::before, .rating span.star:hover span.star::before {
    color: #eabe12;
}
.shop-pages .rating span.star::before {
    color: #eabe12;
}

.shop-pages .quantity .qty {
    border: 2px solid #f1f1f1;
}

.shop-pages .quantity .minus, .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-color: #f1f1f1;
}
.shop-pages .quantity .minus, .shop-pages .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-color: #f1f1f1;
}

.shop-pages .social-media {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}
.shop-pages .black-color {
    color: #313131;
}
.shop-pages .social-icons li a {
    color: #dadada;
}



/* Single Product Page Ends */

/*---Shopping Cart---*/

table.table.cart {
    border: 1px solid #ebebeb;
}
.cart thead {
    background-color: #ebebeb;
}
.cart .quantity .qty {
    border: 2px solid #f1f1f1;
}
.cart .quantity .minus, .cart .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-color: #f1f1f1;
}
.cart .quantity .minus, .cart .quantity .plus {
    background: rgba(0,0,0,0) none repeat scroll 0 0;
    border-color: #f1f1f1;
}
.cart tr td.cart-product-name a{
	color:#333;
}
.cart tr td.cart-product-name a:hover{
	color:#0a8dcc;
}
.dart-form-control {
    color: #555;
    background-color: #fff;
    border: 2px solid #DDD;
}

.cart thead tr.cart_totle th, .cart tbody tr.cart_totle td {
	border-color:#ebebeb;
}
.cart tbody tr.cart_totle td:first-child{
    background-color: #f8f8f8;
}
.cart-product-remove a{
	color:#FF0000;
}
.cart_item.coupon-check {
    background-color: #f7f7f7;
}


/*---Checkout---*/

#rd_login_form form .form-group .required{
    color: #FF0000;
}







/*---Responsive Media Screen style---*/


@media only screen and (max-width: 3500px) {
}
	
@media only screen and (max-width: 2500px) {}

@media only screen and (max-width: 2100px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1566px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (min-width: 1300px) {}

@media only screen and (max-width: 1280px) {}

@media (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}


/*--------------iPhone 6 plus landscape----------------*/
@media only screen and (max-width: 767px) {}

/*--------------iPhone 6 landscape----------------*/
@media only screen and (max-width: 667px) {}

/*--------------iPhone 5 landscape----------------*/
@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 480px) {}

/*--------------iPhone 6 plus portrait----------------*/
@media only screen and (max-width: 414px) {}

/*--------------iPhone 6 portrait----------------*/
@media only screen and (max-width: 375px) {}

/*--------------iPhone 5 portrait----------------*/
@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 300px) {}

@media only screen and (max-width: 200px) {}



