
/* (min-width:992px) (max-width:1199px) */
@media only screen and (max-width:1199px){  
    .ulockd-srvc-details { padding-left: 0 !important; padding-right: 25% !important;}
}
/* (min-width:768px) (max-width:991px) */
@media only screen and (max-width:991px){
    /* Home slider rtl */ 
}
/* (min-width:480px) (max-width:767px) */
@media only screen and (max-width:767px){
    .ulockd-contact-info .ulockd-icon {float: none !important;}
    .ulockd-ohour-info .ulockd-icon {float: none !important;}
    /* home slider start */
    /* Service icon */
    .ulockd-srvc-column .ulockd-srv-icon {left: 0 !important;}
    .ulockd-srvc-details { padding-left: 0 !important; padding-right: 15% !important;}
}
@media only screen and (max-width:630px){

}
/* (min-width:361px) (max-width:479px) */
@media only screen and (max-width:479px){
    /* Main Slider Start*/
    .ulockd-srvc-details { padding-left: 0 !important; padding-right: 18% !important;}
}
@media only screen and (max-width:400px){
    /* Main Slider Start*/
    .ulockd-srvc-details { padding-left: 0 !important; padding-right: 21% !important;}
}
@media only screen and (max-width:320px){
    .ulockd-srvc-details { padding-left: 0 !important; padding-right: 25% !important;}  
}

/* Home Slider One */
.ulockd-info {
    padding-right: 25%;
}
.ulockd-about-ondetials {
    background: #fff;
    color: #fff;
    padding: 0px 100px;
    position: absolute;
    right: -40px;
    z-index: 0;
    margin-top: 20px;
}
.ulockd-fstabt-list > li {
    margin-left: 0 !important;
    margin-right: 40px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;   
}
.ulockd-fstabt-list > li:hover{
    padding-left: 0;
    padding-right: 15px;
}
.ulockd-srvc-details {
    padding-right: 21%;
    padding-left: 0 !important;
}
/* Footer navigation */
.ulockd-footer::before {
    left: 0;
    right: inherit !important;
}
.ulockd-footer-qlink .list-unstyled li span{
    padding-left: 10px;
}
.ulockd-footer-qlink .list-unstyled li a:hover {
    padding-left: 0;
    padding-right: 10px;
}