/*--- Share buttons for social media Style ---*/
.product-social-icons>li {
    display: inline-block;
    padding-right: 15px;
}
#products {
    margin-top: 46px;
}
.product-social-icons>li>a>i {
    color: #111;    
}
.product-social-icons {
    padding-left: 0;
}

.color{
    color: #000;
}

.table-title {
    text-align: center;
}

.product-title {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0px;
}

.small-margin-bottom {
    margin-bottom: 15px;
}

.product-final-prize {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0px;
}

.xxxlarge-margin-bottom-1 {
    margin-bottom: 40px;
}

.btn-product-detail {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000 !important;
    background-color: transparent;
    border-color: #000000 !important;
    font-size: 13px;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    transition: all .3s;
    text-transform: uppercase;
}

.btn-product-detail:hover {
    border-color: #0a0a0a;
    background-color: #ffffff;
    color: #000;
}

.product-description {
    margin: 25px 0px;
    font-size: 13px;
    color: #000;
}

.additional-image {
    padding: 0;
}