/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2017, 9:11:27 PM
    Author     : Erald
*/


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border: 0px solid #ddd;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: rgba(66, 139, 202, 0);
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: rgba(238, 238, 238, 0);
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.thumbnail-image {
    margin-bottom: 25px;
}
.item {
    margin-bottom: 30px;
}
.btn-product-detail {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: transparent;
    border-color: #000000;
    font-size: 13px;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    z-index: 1;
    border-width: 1px;
    border-style: solid;
    transition: all .3s;
    text-transform: uppercase;
}
.btn-product-detail:hover {
    border-color: #000;
    background-color: #111;
}

#products.list-group .list-group-item-heading{font-size: 16px;text-transform: uppercase;}

#products.list-group .list-group-item-heading a {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}

#products.list-group .list-group-item-text{
    font-size: 14px;
    margin-top: 10px;
    color: grey;
    letter-spacing: 0.25px;
}

#products.list-group .lead{

}