 
.gallery-1 #pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;
}
.gallery-1 img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.gallery-1 .white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 0px;
}

/*
stylize any heading tags withing white-panel below
*/

.gallery-1 .white-panel h1 {
    font-size: 1em;
}
.gallery-1 .white-panel h1 a {
    color: #A92733;
}
.gallery-1 .white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -2px;
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.photo-caption{
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.image-caption{
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    border: 4px solid white;
}


/*HOVER IMAGE*/
.hover-img {
  display: block;
  position: relative;
  /* background: #002023; */
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img:hover >img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}