
.boximage {
    font-size:0px !important;
}

.boximage > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
    width: 16.66%;
}

    .boximage > a > img {
        border: none;
        display: block;
        height: auto;
        width: 100%;
    }

.arrow::after {
    border: 10px solid #333;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-10px, -10px) rotate(45deg);
}

.box {
    background: #333;
    float: left;
    padding: 13px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.js-boxloading::before {
    content: "Loading...";
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

    .box > div {
        color: #9c9c9c;
        padding: 0 13px 8px;
        position: relative;
        text-align: center;
    }

    .box > img {
        max-height: 420px;
        max-width: 100%;
        position: relative;
        vertical-align: bottom;
    }

@media screen and (min-width: 480px) and (max-width: 919px) {
    body {
        width: 95%;
    }

    .boximage > a {
        width: 20%;
    }
}

@media screen and (max-width: 479px) {
    body {
        width: 95%;
    }

    .boximage > a {
        width: 33.33%;
    }
}
