/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2016, 11:05:17 AM
    Author     : Erald
*/

* {
  box-sizing: border-box;
}

#video-albums .card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 900px) {
 #video-albums  .card-container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

#video-albums .card {
  margin: 10px 0;
  border-radius: 0px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 900px) {
  #video-albums .card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 33%;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
  }
}
@media screen and (max-width: 640px) {
  #video-albums .card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
#video-albums .card:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#video-albums .card .image {
  width: 100%;
}
#video-albums .card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#video-albums .card .details {
  padding: 15px;
}

#video-albums .card a span{
  float: left;
}
#video-albums .card p.img-count{
    float: right;
    font-size: 12px;
    color: grey;
    line-height: 36px;
    margin: 0;
}


