#page {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    /* margin-top: 120px; */
    overflow: hidden;
    position: relative;
    width: 100%;
}
.breadcrumb {
    left: 21px;
    position: absolute;
    top: 21px;
    z-index: 15;
}
.page-share {
    font-family: Futura-400-normal, Helvetica,Arial,san-serif;
    font-style: normal;
    font-weight: 400;
    background: #fff;
    color: #c1b497;
    font-size: 11px;
    padding: 1em 2em;
    position: absolute;
    z-index: 8;
    right: 12px;
    top: 10px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    text-align: left;
    background: #fff;
    padding-bottom: 15px;
    padding-top: 0px;
    position: relative;
}
.product-detail-wrap {
    /* font-size: 0; */
    background-color: #eee;
    display: block;
    /* padding: 10px 10px 0; */
}
.product-detail-column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
}
.detail-accordion {
    font-family: Futura-400-normal, Helvetica,Arial,san-serif;
    font-style: normal;
    font-weight: 400;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255,255,255,0.9);
    margin-left: -10px;
    margin-right: -10px;
    min-height: 630px;
    padding: 10px;
    position: relative;
    z-index: 5;
}

.single-top-in {
    background: white;
    padding: 1em;
    transition: .3s
}
.single-top-in:hover, .page-share:hover {

box-shadow: 0 5px 20px rgba(0, 0, 0, 0.16), 0 5px 20px rgba(0, 0, 0, 0.23);
}


/*global class*/

.ptb-100 {
        padding: 5em 0 0 0;
}

#main-wrapper ol{
    padding-left: 5em;
}

/*================================
         Accordion Area 
==================================*/


.pxlr-accordion-wrap .panel-heading {
    padding: 0;
    border-radius: 0;
}

/*   .pxlr-accordion-twelve start */

.pxlraccordionTwelve .panel-group .panel+.panel {
    margin-top: 0;
}
.pxlraccordionTwelve .panel-group {
    margin-bottom: 0;
}
.pxlraccordionTwelve .panel-default {
    border: 0;
}
.pxlraccordionTwelve .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 0;
}
.pxlraccordionTwelve .panel:last-of-type {
    border-bottom: 0;
}
.pxlraccordionTwelve .panel .panel-heading a {
    display: block;
    background: rgb(255, 255, 255);
    color: #8e7e59;
    border-top: 1px solid #e7e7e7;
    /* border-left: 1px solid #F1F1F1; */
    /* border-right: 1px solid #F1F1F1; */
    /* border-bottom: 1px solid #e7e7e7; */
    padding: 20px;
    text-transform: uppercase;
}

.pxlraccordionTwelve .panel .panel-heading a.collapsed {
    color: #646464;
    background-color: #fff;
    display: block;
    padding: 20px;
    /* border: 1px solid #F1F1F1; */
    text-transform: uppercase;
}
.pxlraccordionTwelve .panel-default>.panel-heading {
    border-radius: 0;
    width: 100%;
}
.pxlraccordionTwelve .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 25px 30px 30px 20px;
    /* background: rgba(152,152,152,0.25); */
    color: #ffffff;
}
.pxlraccordionTwelve .panel .panel-heading a:before,
.pxlraccordionTwelve .panel .panel-heading a.collapsed:before {
    font-family: 'FontAwesome';
    font-size: 15px;
    float: left;
    margin-right: 10px;
}
.pxlraccordionTwelve .panel .panel-heading.lock a:before {
    /*content: "\f197";*/
    color: #31aae2;
}
.pxlraccordionTwelve .panel .panel-heading.lock a.collapsed:before {
    /*content: "\f197";*/
    color: #dadada;
}
.pxlraccordionTwelve .panel .panel-heading.heart a:before {
    /*content: "\f005";*/
    color: #dba828;
}
.pxlraccordionTwelve .panel .panel-heading.heart a.collapsed:before {
    /*content: "\f005";*/
    color: #aaaaaa;
}
.pxlraccordionTwelve .panel .panel-heading a:after,
.pxlraccordionTwelve .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 15px;
    float: right;
}
.pxlraccordionTwelve .panel .panel-heading a:after {
    content: "\f107";
    color: #dba828;
}
.pxlraccordionTwelve .panel .panel-heading a.collapsed:after {
    content: "\f106";
    color: #3e342f;
}
.col-sm-6.pxlraccordionTwelve {
    padding: 21px 12px;
}
/*   .pxlr-accordion-twelve end */

purchase-column.affix {
    position: fixed !important;
    top: 100px;
    width: 610px;
}


.carousel-control {
    width: 5%;
}
.carousel-control.left, .carousel-control.right{
    background: transparent;
}
.carousel-indicators li {
    border: 1px solid #E5B951;
}
.carousel-indicators .active {
    background-color: #E5B951 !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
    /* width: 100%; */
    max-height: 550px;
    /* margin: 0 auto; */
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 30;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    float: none;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 50px;
}