/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2017, 9:52:22 PM
    Author     : Erald
*/



.well-label {
    width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
    color: gray;
    font-size: 12px;
    text-align: right;
}
.border-left {
    /* border-left: 1px dotted gainsboro; */
}
.titlecatege {
    margin-bottom: 5px;
    text-transform: uppercase;
}
/* Upload & Input file */
.upload-btn {
    max-width: 100%;
    padding: 0px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;/* Make padding go inside the element, instead of expanding */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Container for 2 child elements (button & filename) */
.fileUpload {
    background: #fff;
    color: white;
    border: 0;
    display: block;
    margin: 0px;
    width: 100%;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #ccc;
}
/* The button */
.fileUpload .fileBtn {
    background: #C90000;
    /* cursor: pointer; */
    /* float: left; */
    font-size: 1em;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    width: 33%;
    -o-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 0px;
    transition: 0.5s;
}
.fileUpload .fileBtn:hover{
    background: #010101;
}
/* Where the input-name will be filled in */
.fileUpload .fileName {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    width: 67%;
    text-align: center;
    color: #000;
    margin: -25px 0;
}
.form-control:focus {
    border-color: #B75151;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(183, 81, 81);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(183, 81, 81);
}
span.check-subdomain, span.check-email{
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 18px;
    color: red;

}
span.glyphicon-ok{
    color: #3c763d;
}
span.glyphicon-remove{
    color: #a94442;
}
.input-group-addon.gps {
    padding: 6px 18px;
}

.input-group-addon.gps a{
    padding: 7px 11px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: pointer;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #c90000 !important;
    color: white;
}
.select2-container {
    width:100% !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    height: 34px !important;
}
.form-control {
    border-radius: 0px;
}
.extra .form-control {
    border: 0px solid #888;
}
#insert-company .form-control[disabled], #insert-company .form-control[readonly], #insert-company fieldset[disabled] .form-control {
    background-color: white;
}
#insert-company .extra {
    background: #2e2e2e;
    color: white;
    padding: 30px 0;
    margin: 30px 0;
}
#insert-company .form-control {
    border: 1px solid #ccc !important;
    border-radius: 0px;
}
form {
    margin: 0em;
}
#insert-company .input-group-addon {
    color: #3b3b3b;
    background-color: #ffffff;
    border-right: 0px;
}
#insert-company .gps {
    color: white;
    background-color: #c90000;
    font-size: 18px;
}
#insert-company .gps i{
    color: white;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2017, 12:34:08 PM
    Author     : Erald
*/

/*********Log in***********/


.title-login{padding: 5em 0;}

.login-main-title{margin: 0;padding: 0;font-size: 72px;text-transform: capitalize;font-weight: 100;}
.login-main-subtitle{font-size: 24px;font-weight: 300;}

@media (max-width: 768px){
  .title-login{padding: 3em 0;}

.login-main-title{margin: 0;padding: 0;font-size: 50px;text-transform: capitalize;font-weight: 100;}
.login-main-subtitle{font-size: 20px;font-weight: 300;}


}

@media (min-width: 768px){
.well-label {
    top: 15px;
}
}

@media (max-width: 992px){
#header div.logo {
    width: 100%;
}

#header div.logo img {
    margin: 0 auto;
}
}
#pos-hmiddle::after {
    bottom: 0px;
    border-bottom: 1px solid #eeeeee;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0);
}
#login-page, #register-page{
    /* padding:15px; */
    /* margin-top: 5em; */
}
.login-name, .login-email, .login-username, .login-password, .login-btn{
    margin: 0px 0;
}
.user-logged {
    font-size: 20px;
    float: right;
    margin: 10px 0 0px 0;
    text-transform: capitalize;
}
.register-buttons {
    margin-top: 7em;
}

.or {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dee3e4;
    position: relative;
    margin: 2em 0;
}

.or:before {
    content: 'or';
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    right: calc(50% - 20px);
    background-color: #dee3e4;
    text-align: center;
    color: #555;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
}

.login-with-fb
{
    width: 100%;
    display: block;
    margin: 0em 0 0 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    opacity: .95;
    border-radius:         3px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
}
.login-with-fb:hover{
    opacity: 1;
    color:white;
}
.login-with-fb{
    background: #527EBF
}
.login-with-fb .icon
{
    float: left;
    font-size: 21px;
    width: 50px;
    height: 26px;
    margin: 7px;
    padding: 2px;
    text-align: center;
    border-right: 1px solid #fff;
}
@media (min-width: 768px){
.left-side {
    border-right: 1px solid #c8c8c8;
}
.left-side:before {
    content: 'or';
    width: 30px;
    height: 30px;
    position: absolute;
    right: -15px;
    top: calc(50% - 20px);
    background-color: #c8c8c8;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
}

}

@media (max-width: 768px){
.left-side {
    border-bottom: 1px solid #c8c8c8;
}
.left-side:before {
    content: 'or';
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    right: calc(50% - 20px);
    background-color: #c8c8c8;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
}
}

.login-content, .register-content {
    padding: 0 5em;
}

/************************/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.1em;

}

.card {
  margin: 0 auto;
  width: 100%;
  /* box-shadow: 0px 3px 5px rgba(30, 30, 30, 0.2); */
  /* border-radius: 3px; */
  background-color: white;
}

.title {
  margin: 0;
  padding: 20px 20px 10px;
  font-size: 4.8em;
  font-weight: 400;
  text-align: center;
  color: #c90000;
}

.login {
  padding: 25px 25px 10px 25px;
}

.info {
  padding: 0 25px 10px 25px;
  font-size: 0.7em;
  text-align: center;
}
.info a {
  color: #c90000;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.info a:hover, .info a:focus, .info a:active {
  color: #c90000;
}
.info a::after {
  content: "|";
  color: #646464;
  margin: 0 10px;
}
.info a:last-child::after {
  content: "";
}

fieldset {
  padding: 0;
  margin-bottom: 40px;
  border: none;
  position: relative;
}

label {
  position: absolute;
  pointer-events: none;
  font-size: 1.2em;
  top: 7px;
  -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  font-weight: 400;
}

.underline {
  width: 100%;
}

.underline::before,
.underline::after {
  position: absolute;
  content: "";
  top: 28px;
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #c90000;
  -webkit-transition: width 0.2s, opacity 0.2s;
  transition: width 0.2s, opacity 0.2s;
}

.underline::before {
  right: 50%;
}

.underline::after {
  left: 50%;
}

input {
  position: relative;
  display: block;
  width: 100%;
  padding: 7px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #eeeeee;
  border-left: none;
  font-weight: 400;
}
input:focus {
  outline: none;
}
input:focus ~ .underline::before, input:focus ~ .underline::after {
  opacity: 1;
  width: 50%;
}
input:focus + label {
  color: #c90000;
}

input:focus + label,
input.filled + label {
  font-size: 1em;
  top: -15px;
}

input[type=checkbox] + label,
input[type=checkbox] + label {
  top: 0px !important;
}

input[type=checkbox]:focus + label,
input[type=checkbox].filled + label {
  font-size: 1em;
  top: 0px !important;
  color: #646464;
  outline:none;
}

button {
  /* display: block; */
  /* width: 100%; */
  /* padding: 15px; */
  /* border: none; */
  /* background-color: #c90000; */
  /* border-radius: 3px; */
  /* color: #f0f0f0; */
  /* box-shadow: 0 2px 6px rgba(100, 100, 100, 0.6); */
  /* -webkit-transition: background-color 0.2s, box-shadow 0.2s; */
  /* transition: background-color 0.2s, box-shadow 0.2s; */
}
button:focus, button:active {
  outline: none;
}
button:active {
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.8);
}
label {
    color: #9e9e9e;
}

.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}


.radio-danger input[type="radio"] + label::after {
  background-color: #c90000;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #c90000;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #c90000;
}


.well-label {
    width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
    color: gray;
    font-size: 11px;
    text-align: right;
    position: absolute;
    right: 15px;
    /* top: 15px; */
}
.border-left {
    /* border-left: 1px dotted gainsboro; */
}
.titlecatege {
    margin-bottom: 5px;
    color: #9e9e9e;
}
/* Upload & Input file */
.upload-btn {
    max-width: 100%;
    padding: 0px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;/* Make padding go inside the element, instead of expanding */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 0px;
}

/* Container for 2 child elements (button & filename) */
.fileUpload {
    background: #fff;
    color: white;
    border: 0;
    display: block;
    margin: 0px;
    width: 100%;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #eee;
}
/* The button */
.fileUpload .fileBtn {
    background: #C90000;
    /* cursor: pointer; */
    /* float: left; */
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 33%;
    -o-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 0px;
    transition: 0.5s;
}
.fileUpload .fileBtn:hover{
    background: #010101;
}
/* Where the input-name will be filled in */
.fileUpload .fileName {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    width: 67%;
    text-align: center;
    color: #000;
    margin: -25px 0;
}
.form-control:focus {
    border-color: #B75151;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(183, 81, 81);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(183, 81, 81);
}
span.check-subdomain, span.check-email{
    position: absolute;
    left: 25px;
    top: 15px;
    font-size: 18px;
    color: red;

}
span.glyphicon-ok{
    color: #3c763d;
}
span.glyphicon-remove{
    color: #a94442;
}
.input-group-addon.gps {
    padding: 6px 18px;
}

.input-group-addon.gps a{
    padding: 7px 11px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    cursor: pointer;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #c90000 !important;
    color: white;
}
.select2-container {
    width:100% !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #eee !important;
    border-radius: 0px !important;
    height: 34px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #eee !important;
    outline: 0;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #eee !important;
    border-radius: 0px;
    cursor: text;
}
.form-control {
    border-radius: 0px;
}
.extra .form-control {
    border: 0px solid #888;
}
#insert-company .form-control[disabled], #insert-company .form-control[readonly], #insert-company fieldset[disabled] .form-control {
    background-color: white;
    color: #9e9e9e;
}
#insert-company .extra {
    background: slategray;
    color: white;
    padding: 30px 0;
    margin: 30px 0;
}

#insert-company .extra .titlecatege {
    color: #ffffff;
}



#insert-company .form-control {
    border: 1px solid #eee !important;
    border-radius: 0px;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
form {
    margin: 0em;
}
#insert-company .input-group-addon {
    color: #9e9e9e;
    background-color: #ffffff;
    border-right: 0px;
    border: 1px solid #eee;
}
#insert-company .gps {
    color: white;
    background-color: rgba(201, 0, 0, 0);
    font-size: 18px;
}
#insert-company .gps i{
    color: #9e9ea1;
}


.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #708090;
    border-color: #ccc;
}


.login-email label i{
    padding-right:5px;
    font-size:14px;
}

@media only screen and (max-width: 600px) {

    #messagebody div.rcmBody table[class="body"] table.columns td, #messagebody div.rcmBody table[class="body"] table.column td {
        width: 50% !important; 
    }
}