
/* General styles for all menus */
.cbp-spmenu {
}
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: .7em;
    font-weight: 300;
}

.cbp-spmenu a:active {
    color: #ff63ff;
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    z-index: 100;
    height: 100vh;
    padding: 1em 2em 1em 5em;
}
.cbp-spmenu-vertical a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding: 1em 0;
    transition: 0.5s;
}
.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}
.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
    left: -482px;
}
.cbp-spmenu-right {
    right: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Example media queries */
@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
    .cbp-spmenu-top {
        top: -110px;
    }
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
    .cbp-spmenu-right {
        right: -190px;
    }
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}
