/*------------------- General Styling -------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');

/*  Tmpl01  style */

/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
    background-color: #ff63ff;
}
::-webkit-scrollbar-thumb{
    background-color: #ff63ff;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
}


body{
    background-color: black;
    color: #fafafa;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: white;
    transition: .5s;
}
a:hover , a:focus, a.active, li.active a {
    color: #ff63ff;
    text-decoration: none;

}

#sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 2;
}
#brand {
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    padding: 6em 1em;
    border-right: 1px solid #ff63ff;
}
#sidebar div.logo{
    /* margin-bottom: 2em; */
    position: relative;
    width: 300px;
    padding-bottom: 20px;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-collapse {
    padding: 0px;
}

.sidebar-nav li {
    /* line-height: 40px; */
    font-size: 2em;
}

@media (min-width: 768px){
    .navbar-nav > li {
        float: none !important;
    }
}
.sidebar-nav li a{
    text-transform: uppercase;
}

#sidebar .nav > li > a {
    padding: 1em 0px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

#slides img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#social {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding: .5em 1em;
    font-size: 3em;
    color: white;
}
.overlay {
    background: rgba(0, 0, 0, 0.85);
    background-size: cover;
    height: 100vh;
}
#pos-ctop{
    background-repeat: no-repeat;
    background: url(http://www.telegrafi.com/wp-content/uploads/2016/05/HermesNikaj-1-1200x630.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#pos-cmiddle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
p.larger-text {
    font-size: 1.2em;
}

/*------------------- Header section styling -------------------- */

#showLeft {
    display: block;
    position: fixed;
    height: 40px;
    width: 85px;
    left: -40px;
    top: 1em;
    z-index: 4;
}
#poweredby {
    display: block;
    position: fixed;
    bottom: 2em;
    z-index: 201;
    padding: 1em 8em;
}

#showLeft > label {
    line-height: 2em;
    font-weight: normal;
}

#showLeft span {
    background: white;
    display: block;
    height: 8%;
    right: 0%;
    position: absolute;
    top: 25px;
    width: 35px;
}

#showLeft span:before,
#showLeft span:after {
    background: white;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: -10px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
}

#showLeft span:after {top: 10px;}

#showLeft span.navOpen {
    background: transparent;
}

#showLeft span.navOpen:before,
#showLeft span.navOpen:after {
    background: white;
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#showLeft span.navOpen:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#showLeft .navClosed {
    -moz-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    -webkit-transition: background 0.1s linear;
    transition: background 0.1s linear;
}

#showLeft .navClosed:before,
#showLeft .navClosed:after {
    -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s;
    -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s;
    -webkit-transition-delay: 0.1s, 0.1s;
    transition-delay: 0.1s, 0.1s;
    -moz-transition-delay: 0.1s, 0.1s;
}

#showLeft .navOpen {
    -moz-transition: background 0.1s linear 0.2s;
    -o-transition: background 0.1s linear 0.2s;
    -webkit-transition: background 0.1s linear;
    transition: background 0.1s linear 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    background-color: white;
}

#showLeft .navOpen:before,
#showLeft .navOpen:after {
    -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
    -o-transition: top 0.2s linear, -o-transform 0.2s linear;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
    transition: top 0.2s linear, transform 0.2s linear;
    background-color: white;
}

.fb-album-container{
    text-align:center;
    padding-top:2em;
}

/*circles*/

.main {
    /* margin: 0 auto; */
    position: absolute;
    z-index:10;
    margin-top: 50vh;
    position: absolute;
    top: 56%;
    right: 90px;
    display: block;
    width: 280px;
    height: 280px;
    margin-top: -140px;
    line-height: 280px;
    /* text-align: center; */
}

.ch-grid {
    /* margin: 20px 0 0 0; */
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}


.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: default;
}

.ch-info-wrap, 
.ch-info{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    background: #f9f9f9 url(../images/bg.jpg);
    box-shadow: 
        0 0 0 20px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;

    z-index: 100;
    box-shadow: 
        inset 2px 1px 4px rgba(0,0,0,0.1);
}

.ch-info .ch-info-back {
    background: rgba(230,132,107,0);
}

.ch-img-1 {
    background-image: url("http://placehold.it/300x300");
}

.ch-img-2 { 
    background-image: url(../images/17.jpg);
}

.ch-img-3 { 
    background-image: url(../images/18.jpg);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0 25px;
    padding: 40px 0 0 0;
    height: 90px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255,242,34, 0.8);
}


.ch-item:hover .ch-info-front {
    -webkit-transform: rotate3d(1,0,0,-180deg);
    -moz-transform: rotate3d(1,0,0,-180deg);
    -o-transform: rotate3d(1,0,0,-180deg);
    -ms-transform: rotate3d(1,0,0,-180deg);
    transform: rotate3d(1,0,0,-180deg);

    box-shadow: 
        inset 0 0 5px rgba(255,255,255,0.2), 
        inset 0 0 3px rgba(0,0,0,0.3);
}

.ch-item:hover .ch-info-back {
    background: rgba(224, 160, 7, 0.92);
}