﻿::-moz-selection {
    background:#e06d5e;
}
::selection {
    background:#e06d5e;
}

.navbar-default{
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar .brand a:hover {
    color:#1BAC91;
}



ul#menu-main > li > a:hover {
    color: #999999;
}


ul#menu-main > li > a:focus,ul#menu-main > li > a:active, ul#menu-main > li > a.selected, ul#menu-main li a.selected:active    {
    color: #999999;
}
#header-wrapper h1 span {
    color:#1BAC91;
}

#header-wrapper input[type=submit] {
    background: #1BAC91 !important;
}

#theme-form input[type=submit] {
    background: #1BAC91 !important;
}


/* blog */
.home-post .post-meta {
    background: #1BAC91;
}

/* com */
.tabbable ul.nav-tabs li.active a,.tabbable ul.nav-tabs li a:hover {
    color: #1BAC91;
}
.accordion .accordion-heading a.active {
    color: #1BAC91;
}

#tweet ul li a {
    color: #1BAC91;
}


/* works */
#filters ul li a:hover h5, #filters ul li a.active h5 {
    background: #1BAC91;
    border-color: #1BAC91;
}

.portfolio .portfolio-overlay {
    background: #1BAC91;
}

/* icon */
i.icon-bgdark:hover {
    background: #6b0e02;
}

i.icon-bgdark.active {
    background: #e06d5e;
}
