/* === Bootstrap style === */

.img-polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}


.img-rounded {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.img-circle.bordered {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
}

code,
pre {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

pre {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

blockquote{
    margin: 0 0 20px;
}



label,
input,
button,
select,
textarea {
    font-size: 13px;
    font-weight: normal;
}

label{
    font-weight: bold;
    color:#353535;
}

input,
button,
select,
textarea {
    font-family:'Open Sans', Arial, sans-serif;
    font-size: 13px;
}

select{
    font-size: 13px;
    line-height: 20px;
    background:#fbfbfb;
    border-color: #919191 #919191 #b3b3b3;
    color: #999999;
    -webkit-box-shadow: inset 0 1px 3px #cacaca;
    -moz-box-shadow: inset 0 1px 3px #cacaca;
    box-shadow: inset 0 1px 3px #cacaca;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size: 13px;

}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input.input-block-level{
    padding:20px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

}


.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
}


.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
}

.dropdown-menu {
    *border-right-width: 0;
    *border-bottom-width: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

.dropdown-submenu > .dropdown-menu {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.dropup .dropdown-submenu > .dropdown-menu {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.typeahead {
    z-index: 1051;
    margin-top: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* --- lists --- */
ul,
ol {
    padding: 0;
    margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: 1.6em;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
    list-style: none;
}

ul.inline,
ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li,
ol.inline > li {
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    padding-left: 5px;
    *zoom: 1;
}

dl {
    margin-bottom: 20px;
}

dt,
dd {
    line-height: 1.6em;
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 20px;
}

.dl-horizontal {
    *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
    display: table;
    line-height: 0;
    content: "";
}

.dl-horizontal:after {
    clear: both;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

.media{
    margin-top: 0;
    margin-bottom: 30px;
}

.media .media {
    margin-top: 30px;
    margin-bottom: 0;
}

.media-body{
    position:relative;
}

.well {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.well-large {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.well-small {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}



.btn-group > .btn:first-child {
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}

.btn-group > .btn.large:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}

.btn-group-vertical > .btn:first-child {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.btn-group-vertical > .btn:last-child {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

.btn-group-vertical > .btn-large:first-child {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.btn-group-vertical > .btn-large:last-child {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}



/* ==================================== */

.alert {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nav-tabs > li > a {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.nav-pills > li > a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tabbable ul.nav-tabs li.active a {
    color: #333;
}


.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-topleft: 2px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
}

.nav-tabs .dropdown-menu {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

.nav-pills .dropdown-menu {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

.tabs-left > .nav-tabs > li > a {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}


.navbar .nav  > a i[class^="icon-"]{
    color:#fdfdfd;
}

.navbar-search .search-query {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    -webkit-border-radius: 2px 0 2px 2px;
    -moz-border-radius: 2px 0 2px 2px;
    border-radius: 2px 0 2px 2px;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    background: #343434;
    border: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:2px solid #302f2f;
    border-top:none;
    -webkit-background-clip: none;
    -moz-background-clip: none;
    background-clip: none;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.dropdown-menu li {
    margin:0;
    padding:0;
}

.dropdown-menu li  a {
    color: #ddd;
    font-size:12px;
    padding:10px 15px 10px 15px;
    margin:0;
    text-shadow:none;
    border-bottom:1px solid #303030;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a, 
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: none;
    filter:none;
}
.dropdown-menu .sub-menu-level1, .dropdown-menu .sub-menu-level2 {left:100%;position:absolute;top:0;visibility:hidden;margin-top: 0;}
.dropdown-menu li:hover .sub-menu-level1 {visibility:visible;}
.dropdown-menu li li:hover .sub-menu-level2 {visibility:visible;}
.nav-header {
    display: block;
    padding: 5px 10px;
    font-size:12px;
    font-weight: normal;
    line-height: 20px;
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
}
.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #0b0b0b;
    border-bottom: 1px solid #303030;
}
.nav-collapse .nav > li > .dropdown-menu:before,
.nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
}

.breadcrumb {
    float:left;
    padding:10px 0 10px 0;
    margin:0;
    list-style: none;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.breadcrumb > li {
    display: inline-block;
    *display: inline;
    text-shadow: none;
    font-size:12px;
    *zoom: 1;
    margin:0;
}

.breadcrumb > .active {
    color: #797979;
}


.pagination ul > li > a,
.pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #464646;
    border: 1px solid #3b3a3a;
    color:#eee;
    border-left-width: 0;
}
.pagination ul > li > a:hover{
    background:#ececec;
    color:#fff;

}
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #fff;
    cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #ddd;
    cursor: default;
    background-color: #575656;
}

.pagination ul > li > a:hover{
    background:#464646;
}
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover {
    color: #fff;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}


.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
}
.pagination-right {
    float: right;
}
.pager li > a,
.pager li > span {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.modal {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.modal-footer {
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

.tooltip-inner {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.popover {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.popover-title {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.thumbnail {
    background:#fbfbfb;
    border: 1px solid #d5d5d5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.thumbnail p{
    padding:0 10px 0 10px;
}

.thumbnail h1, .thumbnail h2, .thumbnail h3, .thumbnail h4, .thumbnail h5, .thumbnail h6{
    padding:0 10px 0 10px;
    margin:10px 0 10px 0;
}

.label,
.badge {
    padding: 5px 10px;
}

.label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.badge {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.badge.badge-circled {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
    border-radius: 100em;
}

.progress {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/* progress bar */
.bar.bar90 {
    width:90%;
}
.bar.bar85 {
    width:85%;
}
.bar.bar80 {
    width:80%;
}
.bar.bar75 {
    width:75%;
}
.bar.bar70 {
    width:70%;
}
.bar.bar65 {
    width:65%;
}
.bar.bar60 {
    width:60%;
}
.bar.bar55 {
    width:55%;
}
.bar.bar50 {
    width:50%;
}
.bar.bar45 {
    width:45%;
}
.bar.bar40 {
    width:40%;
}
.bar.bar40 {
    width:40%;
}
.bar.bar35 {
    width:35%;
}
.bar.bar30 {
    width:30%;
}
.bar.bar25 {
    width:25%;
}
.bar.bar20 {
    width:20%;
}
.bar.bar15 {
    width:15%;
}
.bar.bar10 {
    width:10%;
}

.progress .bar {
    background-color: #0e90d2;
}

.progress-success .bar,
.progress .bar-success {
    background-color: #11766D;
    background-image: -moz-linear-gradient(top, #279188, #11766D);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#279188), to(#11766D));
    background-image: -webkit-linear-gradient(top, #279188, #11766D);
    background-image: -o-linear-gradient(top, #279188, #11766D);
    background-image: linear-gradient(to bottom, #279188, #11766D);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff279188', endColorstr='#ff11766D', GradientType=0);
}


.progress-success.progress-striped .bar,
.progress-striped .bar-success {
    background-color: #11766D;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.accordion-group {
    background:none;
    border:none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom:5px;
}

.accordion-heading{
    font-size:13px;
    color:#333333;
    text-shadow: none;
    background-color: #eee;
    *background-color: #eee;
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    *border: 0;
    border-color: none;
}

.accordion-heading a{
    color:#333333;
    font-weight:600;
    outline:0;
}
.accordion-heading i {
    margin-right:10px;
}
.accordion-heading a:hover,.accordion-heading a.active:hover,.accordion-heading a.active{
    text-decoration:none;
}

.accordion-inner{
    margin-top:1px;
    border: 1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
}

.nav-tabs {
    border-bottom:1px solid #ddd;
    margin:0;
}

.nav-tabs > li > a {
    outline:0;
    font-size:13px;
    font-weight:600;
    background:#eee;
    border:1px solid #ddd;
}

.nav-tabs > li > a:hover {
    outline:0;
    font-size:13px;
    font-weight:600;
    background:#eee;
    border:1px solid #ddd;
}

.tabs-left .nav-tabs {
    margin-right:0;
    border-right:1px solid #ddd;

}

.tabs-left .nav-tabs > li > a:hover {
    outline:0;
    font-size:13px;
    font-weight:600;
    background:#eee;
    border:1px solid #ddd;
}
.tabs-right .nav-tabs > li > a:hover {
    outline:0;
    font-size:13px;
    font-weight:600;
    background:#eee;
    border:1px solid #ddd;
}
.tabs-left .nav-tabs > .active > a,
.tabs-left .nav-tabs > .active > a:hover,
.tabs-left .nav-tabs > .active > a:focus {
    background:#f5f4f2;
    border-right:1px solid #f5f4f2;
}
.tabs-right .nav-tabs > .active > a,
.tabs-right .nav-tabs > .active > a:hover,
.tabs-right .nav-tabs > .active > a:focus {
    background:#f5f4f2;
    border-left:1px solid #f5f4f2;
}

.tabs-right .nav-tabs {
    margin-right:0;
    border-left:1px solid #ddd;

}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background:#f5f4f2;
    border-bottom:1px solid #f5f4f2;
}

.tabs-left .tab-content > .tab-pane{
    padding:0 0 0 20px;
    overflow:hidden;
}

.tabs-right .tab-content > .tab-pane{
    padding:0 20px 0 0;
    overflow:hidden;
}

.tab-content > .tab-pane{
    padding:20px 0 0;
    overflow:hidden;

}

.onsidebar > .tab-pane{
    background:none;
    border: none;
    border-bottom:none;
    padding:0;
}

.carousel-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.hero-unit {
    -moz-border-radius: 2px;
    border-radius: 2px;
}












