.business {
    margin-bottom: 10px;
}

.business .thumb img {
    width: 140px;
}

.business .little-logo {
    height: 80px;
}

.business .logo-div {
    height: 80px;
    overflow: hidden;
    margin-top: 3px;
}

.business .thumb {
    margin: 10px auto;
}

.business .business-description {
    padding: 10px 15px;
}

.business .business-title {
    font-weight: bold;
    text-align: center;
}

.business .business-title .logo {
    width: 30%;
    box-shadow: 1px 1px 1px lightgray;
}

.business a.title_target {
    text-decoration: none;
    color: inherit;
}

.businesses {
/*    margin: 10px auto;*/
}

.business-category a {
    text-decoration: none;
    color: inherit;
}


.page-header {
    margin: 5px 5px 10px;
}

.fa {
    text-align: right;
    margin-right: 5px;
    width: 15px;
}

.thumbnail{
    background-color: #F8F8F8;
}

.well {
    margin-bottom: 0px;
}