/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2017, 4:13:35 PM
    Author     : Erald
*/

.carousel-control {
    opacity: 1 !important;
    height:91%;
}

.left.carousel-control span, .right.carousel-control span{
    background: #ffffff;
    border-radius: 50%;
    padding: 8px 8px;
    font-size: 15px;
    color: #c90000;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    font-weight: 100;
}

@media screen and (min-width: 768px){
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        margin-top: -65px;
    }
}

.alldiv-text{
    background: white;
    overflow: hidden;
    z-index: 100;
    position: relative;
}

.offer-price{
    float: left;
}
.main-title1 {
    min-height: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.only-price{
    font-size: 15px;
    font-weight: 500;
    color: #c90000;
}

.price{
    font-size: 10px;
    font-weight: 500;
    color: #3a3a3a;
    text-decoration: line-through;
}

.final-price{
    font-size: 15px;
    font-weight: 500;
    color: #c90000;
}

.offers-carousel{
    margin: 5px;
    color: #000000;
    background: white;
    width:48.8%;
    float: left;
}