/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 8:06:36 PM
    Author     : Erald
*/

/* Category-List */

.category-list li{
    list-style: none;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
.category-list li a.single-category{
    position: relative;
    display: block;
    padding: 10px 10px;
    background-color: #fff;
    border-right: 5px solid #C90000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    text-transform: capitalize;
}

.category-list a.single-category:hover{
    color: white;
}
.category-list a.single-category::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #C90000;
    width: 0;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.category-list a.single-category:hover::before {
    width: 100%;
    height: 100%;
}

a.single-category span {
    color: #5f6f81;
    position: relative;
    z-index: 9;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 1.3;
    width: 85%;
    text-transform: uppercase;
}
a.single-category:hover span {
    color: #FFF;
    font-weight: bold;
}

.category-list .number-categories {
    border-radius: 50px;
    background-clip: padding-box;
    background: #2E2E2E;
    float: right;
    width: 35px;
    padding: 5px 0px;
    margin-top: -35px;
    margin-right: 10px;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    position: relative;
    z-index: 9;
    text-align: center;
}

li:hover .number-categories {
    background: #FFF;
    color: #5f6f81;

}