#pos-cmiddle div.body-container {
}

@media(min-width: 991px){
    .left-container{
        margin-right: 10px;
    }
    .right-container{
        margin-left: 10px;
    }
}
.alert-grey, .main-text-title {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 20px;
}
.business_std_container span.main-comune a {
    color: rgb(255, 255, 255) !important;
    font-weight: normal;
}
.business_std_container .content-body {
    padding-bottom: 0px;
}
.container-background-footer{
    display: none;
}
.business_std_container .business-address {
    color: #fff;
    padding: 7px 0px 7px 0px;
    float: left;
}
.business-social .main-email a, .business-social .main-url a, .business-social .main-subdomain a, .business-social .social-share a {
    font-size: 20px;
    /* border-right: 1px solid #424242; */
    border-left: 0;
    padding: 10px 20px 13px 15px;
    color: #fff;
    position: relative;
    width: 100%;
}
.business-social .main-email a:hover, .business-social .main-url a:hover, .business-social .main-subdomain a:hover, .business-social .social-share a:hover {
    background:white;
}
span.email-text {
    font-size: 11px;
    color: #fff;
    padding-right: 10px;
}
.business-name{
    margin-top: 0px;
    margin-bottom: 0px;
}
.business_std_container .business-social {
    padding: 0px;
    border-right: 0;
}
.business_std_container #showrate{
    font-size: 50px;
    color: white;
}
.business_std_container .bussiness-comments{
    /* font-size: 15px; */
    /* padding: 5px 10px; */
    position: relative;
    color: white;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /* border: 1px solid #ffffff; */
}
.business_std_container .fa-star, .business_std_container .fa-star-o{
    padding-left: 5px;
}
.business_std_container .rate-it{
    font-size: 25px;
    margin-bottom: 15px;
}
.business_std_container .show-rating{
    text-align: center;
}
@media(max-width: 992px){
    .business_std_container .show-rating {
        padding-bottom: 4em;
    }
}
.business_std_container .bis-head {
    padding-bottom: 0;
    margin-bottom: 0;
}
.col-title {
    border-bottom: 1px solid #424242;
}
@media(min-width: 992px){
    .col-social {
        border-top: 1px solid #424242;
        padding: 8px 0px 0px 0px;
    }
}
.business-title {
    border-bottom: 0;
}
td, th {
    padding: 5px 5px 5px 0px;
}
.business-contact-info {
    min-height: 65px;
}
html .gs-buttons a[class*="gs-"]:link, html .gs-buttons a[class*="gs-"]:visited, html .gs-buttons a[class*="gs-"]:active {
    /*    margin: 0 10px 0px 0 !important;*/
}
@media(max-width: 499px){
    .alert-grey, .main-text-title {
        margin-left: -10px;
        margin-right: -10px;
    }
    .first-container {
        margin-top: -20px !important;
    }
}
@media(min-width: 499px){
    .col-info {
        border-left: 1px solid #424242;
        border-right: 1px solid #424242;
    }
}
.page-header {
    border-bottom: 1px solid #424242;
}
a {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
}
.modal .business-offer-name {line-height: 14px;margin-top: 0px; margin-bottom: 0px;font-size: 12px;}
.modal .business-offer-name a{
    color: #c90000;
}

/********************Update Profile Picture*************************/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) translate(-50%);
        transform: rotate(0deg) translate(-50%);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-50%);
        transform: rotate(360deg) translate(-50%);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) translate(-50%);
        transform: rotate(0deg) translate(-50%);
    }
    100% {
        -webkit-transform: rotate(360deg) translate(-50%);
        transform: rotate(360deg) translate(-50%);
    }
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -webkit-animation: spin 0.75s infinite linear;
    animation: spin 0.75s infinite linear;
    border: 2px solid #707070;
    border-radius: 50%;
    border-top-color: white;
    height: 25px;
    -webkit-transform-origin: left;
    transform-origin: left;
    top: 45%;
    width: 25px;
}
.hidden-input {
    left: -999px;
    position: absolute;
}
.about {
    font-family: Helvetica, "Helvetica Neue", "Tahoma";
    font-size: 12px;
    color: #adadad;
    line-height: 17px;
}
.image-wrapper {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    -webkit-transition: bottom 0.15s linear;
    transition: bottom 0.15s linear;
    width: 100%;
    opacity: 0;
    transition: .5s;
}
.edit {
    /* position: relative; */
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    font-size: 22px;
    top: 50%;
    opacity: 0;
    transition:0.5s;
}
.profile-pic:hover .edit {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    cursor: pointer;
    font-size: 22px;
    top: 50%;
    opacity: 1;
}
.name {
    /* font-family: Helvetica, "Helvetica Neue", "Tahoma"; */
    /* font-size: 18px; */
}
.profile-pic {
    position: relative;
}
.profile-pic img {
    width: 100%;
}
.profile-pic:hover .image-wrapper {
    bottom: 0;
    opacity: 0;
}
.username {
    margin-top: 122px;
    text-align: center;
}
.layer {
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.layer.visible {
    display: block;
}
.link {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 32px;
}
.link img {
    width: 100%;
}
.save-business-block{
    /* text-align:center; */
    padding:2em 0;
}
.save-business-message{
    font-size:30px;
    /* margin:0; */
}
.save-business-button, #EditButton{
    margin-top: 20px;
}

/************ Generic Upload Style *************/
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

#reviews {
    margin: 0em 0 5em 0;
}
#reviews fieldset, #send-msg fieldset {
    padding: 0px 0px 10px 0px;
    margin: 00px 10px 20px 10px;
    /* border: 1px solid gainsboro; */
}
#reviews legend, #send-msg legend {
    display: block;
    width: inherit;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: inherit;
    color: #fefefe;
    border: 0;
    border-bottom: 0px solid #e5e5e5;
    text-align: center;
    text-transform: uppercase;
}
.business_std_container .fa-star:before, .business_std_container .fa-star-half-o:before {
    text-shadow: 0 0 20px #bd9a0c;
}
.g-recaptcha{
    margin-bottom: 15px;
}
#rates{
    padding: 2em 0;
}
#rates .title{text-transform: uppercase;font-size: 20px;letter-spacing: 2px;padding: 15px 0;}
#rates #average{
    background: #3a3a3a;
    padding: 15px 0;
    margin: 10px -15px;
    font-weight: 300;
}

/*b.details services*/
#bis-services .service-post {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 12;
    margin-bottom: 0px;
}
#bis-services .service-content {
    position: relative;
    z-index: 13;
}
#bis-services .service-icon {
    margin: 10px 0 20px 0;
    width: 50px;
    height: 50px;
    border-radius: 75px;
    text-align: center;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    transition: .4s;
}
#bis-services .service-icon:hover {
    border: 1px solid #c90000;
    background:#c90000;
}
#bis-services a{
    color:white;
}
#bis-services .service-post:hover .service-icon {
    border-color: #fff;
}
#bis-services .service-icon i {
    font-size: 20px;
    color: #ffffff;
    transition: .2s;
}
#bis-services .service-post:hover .service-icon i {
    color: #ffffff;
}
#bis-services .service-title {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
}
#bis-services .service-post:hover .service-title {
    color: #fff;
}
#bis-services .service-description {
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 0px;
    text-transform: uppercase;
}
#bis-services .service-post:hover .service-description {
    color: #fff;
}

/*hover-background-color effect*/
#bis-services .service-post:hover .service-hover {
    height: 100%;
}
#send-msg{
    padding: 5em 0em;
}
.alert-costumized, .business_std_container .alert{
    padding: 2em;
    text-align: center;
    margin: 2em 0;
}
.alert-costumized i {
    font-size: 1em;
    padding-bottom: .5em;
}

/* Reviews list comment*/
#reviews-list ul#comments {
    list-style-type: none;
    /* font-family: "Helvetica Neue", arial, sans-serif; */
    /* font-size: 15px; */
    color: #a5b2b9;
}
#reviews-list ul#comments li {
    margin-bottom: 15px;
    position: relative;
}
#reviews-list ul#comments li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#reviews-list .avatar-container {
    width: 60px;
    box-sizing: border-box;
}
#reviews-list .avatar {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    float: left;
    margin: 5px;
    background: white;
    border: 1px solid white;
}
#reviews-list .post-container {
    padding-bottom: 15px;
    margin-left: 75px;
    box-sizing: border-box;
    border-bottom: 1px solid #383838;
}
#reviews-list .post-container p {
    color: #f6f6f6;
    font-size: 12px;
    letter-spacing: .02em;
    font-weight: 300;
}
#reviews-list .author_name {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}
#reviews-list .comment-stars {
    font-size: 12px;
}
#reviews-list .timeago,
#reviews-list .posted {
    font-weight: 200;
    font-size: 11px;
    color: #ffffff;
}
#reviews-list .timeago span
{
    font-weight: 200;
    font-size: 11px;
    color: #ffffff;
    margin-left: 5px;
}
#reviews-list .bullet {
    padding: 0 0px 0 5px;
    font-size: 12px;
    color: #ccc;
    line-height: 1.4;
}
#send-msg label{
    text-transform: uppercase;
    font-weight:lighter;
}

/*******Page scroll menu tab *******/
#nav-wrap {
    background-color: #555;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    z-index: 105;
}
#nav-indicator {
    position: absolute;
    width: 100px;
    top: 55px;
    left: 0;
    height: 5px;
    background: #f36666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#nav-wrap .nav-btn {
    float: left;
    list-style: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    color: #ccc;
    box-shadow: inset -1px 0px 0px 0px rgba(0,0,0,0.5);
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 0px;
}
#nav-wrap .nav-btn:first-child {
    border: none;
}
#nav-wrap .nav-btn:hover,
#nav-wrap .nav-btn.active {
    color: #FFF;
    background: #444;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #c90000;
}

/*--------------------------------------------------------------*/
#nav-wrap nav {
    font-family: helvetica, arial, sans-serif;
    display: table;
    /* margin: 0 auto; */
    position: relative;
    text-align: center;
    /* margin-left: -15px; */
}
#nav-wrap nav ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}
#nav-wrap nav li {
    display: inline-block;
    float: left;
    margin: 0;
}
#nav-wrap nav li.active a {
    color: #ffffff;
}
#nav-wrap nav li.active a:hover {
    color: #ffffff;
}
#nav-wrap nav li a {
    color: #bbb;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
#nav-wrap nav li a:hover {
    border-bottom-color: #c90000;
}
#nav-wrap nav .active-marker {
    background: #c90000;
    bottom: 0;
    display: none;
    height: 5px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    width: auto;
}
#nav-wrap.nav-shrink {
    background-color: #555;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 98;
    left: 15px;
}
#nav-wrap.nav-shrink nav {
    position: relative;
    width: auto;
    margin-left: -15px;
    margin: 0 auto;
    display: table;
}
#nav-wrap .fa-icon{
    font-size:20px;
}
@media (max-width: 992px){
    #nav-wrap .fa-icon{
        display:block;
    }
    #nav-wrap .fa-text{
        display:none;
    }
    #content-wrap{
        margin-top:20px;
    }
}
@media (min-width: 992px){
    #nav-wrap .fa-icon{
        display:none;
    }
    #nav-wrap .fa-text{
        display:display;
    }
}

/*CONTENT*/
#content-wrap{
    width: 100%;
}
.row-nav{
    color:#999;
    border-bottom:1px solid rgba(255,255,255,0.2);
    position:relative;
    text-shadow: rgba(0,0,0,0.1) 1px 1px 1px;
}
.row-nav.active, h2 span{color:#f36666;}
.row-nav.active{/* background:#3c3c3c; */}
.row-nav span{/* text-decoration:line-through; */}

/* Business Details */
.business_std_container{
    color: #555555;
}
.business_std_container .business-description{
    padding: 0;
    line-height: 1.5;
}
.business_std_container .business-description p, .business_std_container .business-description div, .business_std_container .business-description span, .business_std_container .business-description h1, .business_std_container .business-description h2, .business_std_container .business-description h3, .business-description h4, .business_std_container .business-description h5, .business_std_container .business-description h6{
    font-size:14px !important;
    font-weight: 300;
}
.business-title {
    padding-bottom: 10px;
}
.business-map iframe{
    width: 100%;
}
.business_std_container .business-image {
    background:white;
}
.business_std_container .content-services {
    border-bottom: 1px solid gainsboro;
}
.business-service {
    text-align: center;
    padding: 20px 0;
    color: white;
}
.business-address .main-addres {
    font-size: 11px;
}
.business_std_container .business-social .service-post {
    float: right;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: #2e2e2d;
    position: relative;
    background: white;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    transition:.2s;
}
@media(max-width: 991px){
    .business_std_container .business-social .service-post {
        float: none;
        font-size: 20px;
        padding: 10px;
        color: #2e2e2d;
        background: white;
        position: relative;
        display: block;
        width: 100%;
        margin: 30px 0;
    }
}
.business_std_container .business-social .service-post:hover {
    color: #ffffff;
    background: #c90000;
}
.business-social-share .gs-buttons.gs-no-counter.gs-small:not(.gs-flat-colors):not(.gs-floating) a[class*="gs-"]:not(.gs-plus) {
    display:none;
}
.business-social-share .gs-buttons, html .gs-buttons * {
    opacity: 1 !important;
}
.business-social-share .gs-buttons a[class*="gs-"].gs-plus:link, html .gs-buttons a[class*="gs-"].gs-plus:visited, html .gs-buttons a[class*="gs-"].gs-plus:active {
    color: #bbb !important;
    background: transparent !important;
    opacity: 1 !important;
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute !important;
    left: 0px;
    top: 0;
    z-index: 999;
}
.business-social-share .gs-buttons a[class*="gs-"].gs-plus:link i, html .gs-buttons a[class*="gs-"].gs-plus:visited i, html .gs-buttons a[class*="gs-"].gs-plus:active i {
    border-width: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: baseline;
    color: transparent !important;
    text-shadow: none;
}
html .gs-plus-popup.gs-color-native {
    background: #c90000 !important;
}
html .gs-plus-popup .gs-badge-wrapper {
    display: none !important;;
}
#website_link {
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: -1px;
}
span.email-text {
    font-size: 11px;
    color: #666;
    padding-right: 10px;
}
.business-social .social-share a {
    padding: 8px 15px 8px 15px;
}
.business-social .main-email a:hover, .business-social .main-url a:hover, .business-social .main-subdomain a:hover, .business-social .social-share a:hover{
    color: #C90000;
    transition: 0.5s;
}
.business_std_container .main-comune{
    text-transform: uppercase;
    font-size: 11px;
    float: right;
}
.business_std_container .main-comune i.fa {
    font-size: 18px;
    padding-right: 5px;
}
.business_std_container .main-cap{
    font-size: 12px;
}
.business_std_container .main-fax{
    font-size: 12px;
    text-transform: uppercase;
}

/*business Detail responsive*/
@media(max-width: 991px){
    .business-title {
        border-bottom: 0;
        text-align: center;
        padding: 10px 0;
    }
    .business_std_container .rate-it {
        font-size: 25px;
        float: none;
        text-align: center;
    }
    .business_std_container .business-address {
        float: none !important;
        padding: 0px !important;
    }
    .business_std_container .main-comune {
        float: none;
        text-align: center;
    }
    .business-contact-info {
        text-align: center;
    }
    .business-contact-info table {
        margin: 0 auto;
        width: 100%;
    }
    .col-social {
        border-top: 0px solid gainsboro !important;
        text-align: center;
    }
    .business_std_container .business-social {
        float: none !important;
    }
    .business-social .main-email a, .business-social .main-url a, .business-social .main-subdomain a, .business-social .social-share a {
        border-right: 0px solid gainsboro !important;
    }
    .business_std_container .business-social-share {
        float: none;
        padding-bottom: 5px;
    }
}

/*********Editable**************/
.editable-pencil {
    /*    position: absolute;
        right: 5px;
        top: 0;*/
}
.editable-pencil a{
    color: rgb(255, 255, 255);
}
.editable-pencil a i{
    font-size: 25px;
}
.business-title .editable-pencil, .business-description .editable-pencil{
    /* display:none; */
}
.business-title:hover .editable-pencil, .business-description:hover .editable-pencil{
    display:block;
}
#EditButton {
    /* position: absolute; */
    /* right: 15px; */
    /* top: -1px; */
    /* display:none; */
}



/****************The offers ****************/
body {
    /* padding: 10px; */
    /* text-align: center; */
}
#carousel-example-generic {
    display: inline-block;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
    /* padding: 5px 0 0 0; */
    margin: -55px 0 0 0;
    list-style-type: none;
    text-align: center;
    z-index: 1;
    position: relative;
}
ul.thumbnails-carousel .center {
    display: inline-block;
}
ul.thumbnails-carousel li {
    margin-right: 5px;
    float: left;
    cursor: pointer;
}
.controls-background-reset {
    background: none !important;
}
.carousel-control {
    position: absolute;
    z-index: 3;
}
.active-thumbnail {
    opacity: 0.4;
}
.indicators-fix {
    bottom: 70px;
    display: none;
}
.main-title1 {
    min-height: 0;
}


/****Opening Hours****/
.timetable{
}
.flat-table{width: 100%;font-weight: 300;}

.flat-table tr{border-bottom: 1px solid #424242;}

.flat-table .day, .flat-table .method{text-align: left;}

.flat-table .day, .flat-table .hour, .flat-table .method, .flat-table .check{
    padding: 15px 15px;
}
.flat-table tr:last-child{
    border-bottom: 0px solid #424242;
}
.timetable .flat-table .day i{padding-right: 10px;}

.timetable .flat-table .hour{text-align: right;color: #c3c3c3;}

.payment-method .flat-table .tick{
    text-align: right;
color: #4CAF50;
}
.payment-method .flat-table .tick i{
    color: #c90000;
    border-radius: 50%;
    background: white;
    padding: 5px;
}

.owl-theme .owl-controls .owl-page span {
    background: #ffffff !important;
}

.flat-table .today {
    background: lightseagreen;
    border-radius: 3px;
}
.flat-table .closed {
    color: red;
    background: #292929;
    /* border-radius: 2px; */
}
.closed .hour {
    color: #c90004 !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/************************/

.info {
  padding: 0 25px 10px 25px;
  font-size: 0.7em;
  text-align: center;
}
.info a {
  color: #c90000;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.info a:hover, .info a:focus, .info a:active {
  color: #c90000;
}
.info a::after {
  content: "|";
  color: #646464;
  margin: 0 10px;
}
.info a:last-child::after {
  content: "";
}

fieldset {
  padding: 0;
  margin-bottom: 40px;
  border: none;
  position: relative;
}

label {
  position: absolute;
  pointer-events: none;
  font-size: 1em;
  top: 7px;
  -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  font-weight: 400;
}

#paymentsmethod label {
    color: #fff;
}

.underline {
  width: 100%;
}

.underline::before,
.underline::after {
  position: absolute;
  content: "";
  top: 28px;
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: width 0.2s, opacity 0.2s;
  transition: width 0.2s, opacity 0.2s;
}

.underline::before {
  right: 50%;
}

.underline::after {
  left: 50%;
}

input {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #777;
  border-left: none;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
}
input:focus {
  outline: none;
}
input:focus ~ .underline::before, input:focus ~ .underline::after {
  opacity: 1;
  width: 50%;
}
input:focus + label {
  color: #ffffff;
}

input:focus + label,
input.filled + label {
  font-size: 0.8em;
  top: -15px;
  color: #9c9c9c;
}

input[type=checkbox] + label,
input[type=checkbox] + label {
  top: 0px !important;
}

input[type=checkbox]:focus + label,
input[type=checkbox].filled + label {
  font-size: 1em;
  top: 0px !important;
  color: #646464;
  outline:none;
}

.send-msg-textarea {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #777;
}
button:focus, button:active {
  outline: none;
}
button:active {
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.8);
}
label {
    color: #fff;
}




/*=====================*/
.checkbox {
  position: relative;
  display: block;
  margin: 1rem auto 3rem;
}
.checkbox label {
  width: 65px;
  height: 20px;
  background: #da0202;
  position: relative;
  display: inline-block;
  -moz-border-radius: 46px;
  -webkit-border-radius: 46px;
  border-radius: 46px;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.25);
}
.checkbox label:after, .checkbox label:before {
  content: '';
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 30px;
  height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: 0px;
  top: -5px;
  background: #fff;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.checkbox label:before {
  /* content: '\f08d'; */
  content: '\f00d';
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #00ff80;
  color: red;
  z-index: 1;
  /* overflow: hidden; */
  padding-left: 6px;
}
.checkbox input {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:not(:checked) ~ label .indicators::before {
  color: red;
}
.checkbox input:checked ~ label .indicators::after {
  color: blue;
}
.checkbox input:not(:disabled):hover + label:after {
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label {
  background: #008040;
}
.checkbox input:checked + label:after, .checkbox input:checked + label:before {
  content: "\f00c";
  background: #00ff80;
  color: #fff;
  left: 35px;
  line-height: 30px;
}
.checkbox input:checked + label:before {
  -moz-animation: 0.25s pin-on forwards;
  -webkit-animation: 0.25s pin-on forwards;
  animation: 0.25s pin-on forwards;
}

/*
@include keyframes(pin-on){
  80%{ line-height: 150px;}
  85%{ line-height: 1px; @include rotate(45deg); opacity:0}
  100%{ line-height: 50px; opacity:1; @include rotate(45deg)}
}
@include keyframes(pin-off){
   0%{@include rotate(45deg)}
  80%{ line-height: 150px; }
  85%{ line-height: 1px; opacity:0}
  100%{ line-height: 50px; opacity:1; }
}
*/
.checkbox {
  position: relative;
  /* width: 100px; */
}

.checkbox.disabled::after {
  content: "\f023";
  position: absolute;
  top: 10px;
  left: 66px;
  font-family: FontAwesome;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.checkbox.ban.disabled::after {
  content: '\f05e';
}

.checkbox.disabled.checked::after {
  left: 24px;
  color: rgba(255, 255, 255, 0.75);
}

.disabled input {
  cursor: not-allowed;
}

small {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

.indicators {
  text-transform: uppercase;
  font-weight: bold;
}
.indicators::before, .indicators::after {
  position: absolute;
  line-height: 40px;
  cursor: pointer;
}
.indicators::before {
  left: -50px;
  text-align: right;
  content: attr(data-label-off);
}
.indicators::after {
  right: -50px;
  text-align: left;
  content: attr(data-label-on);
}

.label-text {
    position: absolute;
    left: 80px;
    width: 150px;
    text-transform: uppercase;
}