/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 7:31:27 PM
    Author     : Erald
*/


.list-header-logged {
    margin: 0;
    font-size: 25px;
    line-height: 28px;
}

/* business listing
----------------------------------------------------------------------------- */
@media (min-width: 992px) {
    .box-list-area {
        /* border-right: 1px solid #e1e1e1; */
        /* padding-right: 30px; */
    }
}
.no-margin-top {
    /* margin-top: 10px; */
}


.input-group-addon {
    color: white;
    background-color: #C90000;
    border: 1px solid #c90000;
    border-radius: 4px;
}

.result {
    font-weight: bold;
    color: #C90000;
    text-transform: capitalize;

}
.box-list {
    margin: 0px 0 20px 0;
}
.box-list .item {
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -webkit-backface-visibility: hidden;
    padding: 0px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    position: relative;
}

.box-list .item:hover {moz-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);-webkit-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.25);}

/*.box-list .item:hover:before {
    content: '';
    position: absolute;
    border-width: 50px;
    border-style: solid solid solid none;
    border-color: rgba(198, 37, 30, 0) rgb(198, 37, 30) rgba(198, 37, 30, 0);
    right: 0px;
    top: 50px;
    z-index: 2;
}*/

.box-list .img-item img {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
    border-radius: 0px !important;
    text-align: center;
    max-width: 100%;
}
.btn-sm {
    padding: 5px 15px;
}

/*-------------------------------------*/
.business-info {
    /* border-left: 1px solid gainsboro; */
}
.box-list .info-1 a {
    /* padding: 0px 0px 5px 10px; */
    /* border-bottom: 1px solid gainsboro; */
    color: #707070;
    text-transform: uppercase;
    font-size: 11px;
    transition: .5s;
}.box-list .info-1 a:hover {
    color: #c90000;
}
.box-list .info-2 {
    /* background: #FBFBFB; */
    margin-bottom: 2px;
    padding-bottom: 2px;
    min-height: 45px;
    border-bottom: 1px solid gainsboro;
}
.box-list .info-2-free {
    /* background: #FBFBFB; */
    /* padding: 45px 0px 0px 0px; */
    /* min-height: 85px; */
}
.box-list:hover .info-2{
    /* background: white !important; */
    transition: .5s ease-in-out;
}
.box-list .info-3 {
    /* border-top: 1px solid gainsboro; */
    border-left: 1px solid gainsboro;
    padding: 5px 0px 0px 0px;
}
.business-content{
    font-size: 12px;
    border-top: 1px solid gainsboro;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.box-list .business-content-free{
    font-size: 11px;
    border-top: 1px solid gainsboro;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.box-list .rate-it{
    font-size: 20px;
    float: right;
    margin-right: 10px;
    margin-top: -2px;
}
.rate-featured {
    font-size: 10px;
    text-align: center;
    float:none;
}
.box-list.main-title {
    margin-bottom: 2px;
}
.box-list p {
    margin-bottom: 10px;
}
.box-list .main-comune{
    text-transform: uppercase;
    font-size: 11px;
}
.box-list .main-comune i.fa {
    font-size: 15px;
    padding-right: 2px;
}
.box-list .main-cap{
    font-size: 12px;
}
.box-list .main-fax, .box-list .main-tel{
    font-size: 11px;
}

.box-list .main-cell{

}
.box-list .main-nverde{
    color: #009542;
    font-size: 15px;
}

.box-list .verde-text{
    position: absolute;
    line-height: 30px;
}
.box-list .main-email a, .box-list .main-url a, .box-list .main-subdomain a, .social-share a{
    color: #ffffff;
}
.box-list .main-nverde a{
    color: #009542;
    border-right: 1px solid transparent !important;
}
.box-list .main-email a, .box-list .main-url a, .box-list .main-subdomain a, .box-list .main-nverde a, .social-share a{
    font-size: 15px;
    /* border-right: 1px solid gainsboro; */
    padding: 5px 3px;
    background: #c90000;
    width: 67px;
    border-radius: 2px;
    margin-right: 5px;
}

.box-list .social-share a {
    padding: 6px 15px 6px 15px;
}
.box-list .main-email a:hover, .box-list .main-url a:hover, .box-list .main-subdomain a:hover, .box-list .social-share a:hover{
    color: #ffffff;
}
.box-list .main-email a, .box-list .main-url a, .box-list .main-subdomain a, .box-list .social-share a{
    transition: 0.5s;
}
.box-list .main-email{

}
.box-list .main-url a i{
    width:20px;
    text-align:center;
}
.box-list .main-subdomain{

}

@media(min-width: 768px){
    .ribbon-mobile {
        display: none; 
    }
    .ribbon-desktop {
        display: block; 
    }
}
@media(max-width: 767px){
    .ribbon-mobile {
        display: block; 
    }
    .ribbon-desktop {
        display: none; 
    }
}

.ribbon-wrapper-green {
    width: 86px;
    height: 89px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 12px;
    z-index: 3;
}

.ribbon-green {
    font: bold 12px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 18px;
    width: 120px;
    background-color: #c90000;
    color: rgb(255, 255, 255);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #323232;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}


.ui.teal.ribbon.label {
    border-color: #ab0000 !important;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

.ui.teal.labels .label, .ui.teal.label {
    background-color: #c90000 !important;
    border-color: #c90000 !important;
    color: #FFFFFF !important;
}
.ui.ribbon.label {
    left: calc( -5px - 10px );
    margin-right: -1.2em;
    padding-left: calc( 1rem + 1em );
    padding-right: 1.2em;
    font-size: 15px;
}
.ui.ribbon.label {
    position: relative;
    margin: 0em;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 15px 15px 0;
    border-color: rgba(0, 0, 0, 0.15);
}
.ui.labels .label, .ui.label {
    font-size: 0.85714286rem;
}
.ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0em 0.14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
    font-weight: bold;
    border: 0px solid transparent;
    border-radius: 0.28571429rem;
    -webkit-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.ui.ribbon.label:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0%;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0em 1em 1em 0em;
    border-color: transparent;
    border-right-color: inherit;
    width: 0em;
    height: 0em;
}
.ribbon-listing {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}




    @media screen and (max-width: 768px) {
        #map {
            /*            display: none;*/
        }
    }
    #map {
        height: 500px;

    }


    div.bootstrap-select .btn-default, .btn-success {
        border: 1px solid lightgrey;
        color: grey;
        text-transform: none;
        background-color: transparent;
        border-radius: 0px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        transition: .2s;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    }

    #hideshow{
        display: block;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 5px 20px 5px 20px;
        z-index: 98;
        font-size: 1.2em;
        font-weight: bold;
        top: 55px;
        position: fixed;
        right: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        float: none;
    }
    @media (min-width: 991px) {
        #hideshow {
            top: 70px;
        }
    }
    @media (max-width: 499px) {
        #map {
            height: 95vh
        }
    }

    /* Admin Menu Affix */
    .affix {
        top: 90px;
        z-index: 97;
        width: 262px;
    }

    .alert-business {
    color: #ffffff;
    background-color: #c90000;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}
    