/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2016, 10:09:01 AM
    Author     : Erald
*/


#main, #messag {
    font-family: Roboto, sans-serif;
    color: #888;
}
#main h1, #messag h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 100;
}

.circle-icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border: 2px solid #B4BBC1;
    border-radius: 100px;
    font-size: 14px;
    color: #B4BBC1;
    cursor: pointer;
    display: block;
    float: left;
}
.circle-icon.small {
    height: 25px;
    width: 25px;
    line-height: 23px;
    font-size: 11px;
}
.circle-icon:hover {
    color: #57636C;
    border-color: #57636C;
}
.circle-icon.red {
    color: #c90000;
    border-color: #c90000;
}
.circle-icon.red:hover {
    color: #791C1E;
    border-color: #791C1E;
}
.checkbox-wrapper {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    box-shadow: inset 0 0 0 1px #A3ADB2;
    border-radius: 1px;
}
.checkbox-wrapper input {
    opacity: 0;
    cursor: pointer;
}
.checkbox-wrapper input:checked ~ label {
    opacity: 1;
    margin-bottom: 0px;
}
.checkbox-wrapper label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: #c90000;
    opacity: 0;
    transition-duration: .05s;
    margin-bottom: 0px;
}
.checkbox-wrapper label:hover {
    background: #95a1a6;
    opacity: .5;
}
.checkbox-wrapper label:active {
    background: #87949b;
}

#main {
    /* position: fixed; */
    /* top: 0; */
    /* left: 300px; */
    /* bottom: 0; */
    /* right: 0; */
    z-index: 4;
    transition-duration: .3s;
    /* padding-left: 4px; */
    /* box-shadow: inset 4px 0 0 #EFEFEF, inset 5px 0 0 #e2e2e2; */
    background: white;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    color: #888;
}
#main .overlay {
    position: absolute;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    opacity: 0;
    transition-duration: 0s;
    transition-property: opacity;
}
.show-main-overlay #main .overlay {
    opacity: 1;
    bottom: 0;
    transition-duration: .5s;
}
#main .header {
    padding: 10px 60px;
    border-bottom: 1px solid #EFEFEF;
    overflow: hidden;
}
#main .header .page-title {
    display: block;
    margin: 0;
}
#main .header .page-title .sidebar-toggle-btn {
    width: 0;
    margin-top: 1px;
    padding: 11px 0 0 0;
    float: left;
    position: relative;
    display: block;
    cursor: pointer;
    transition-duration: .3s;
    transition-delay: .5s;
    opacity: 0;
    margin-right: 0;
}
.show-sidebar #main .header .page-title .sidebar-toggle-btn {
    transition-delay: 0s;
}
#main .header .page-title .sidebar-toggle-btn .line {
    height: 3px;
    display: block;
    background: #888;
    margin-bottom: 4px;
    transition-duration: .5s;
    transition-delay: .5s;
}
.show-sidebar #main .header .page-title .sidebar-toggle-btn .line-angle1 {
    transform: rotate(-120deg);
}
.show-sidebar #main .header .page-title .sidebar-toggle-btn .line-angle2 {
    transform: rotate(120deg);
}
#main .header .page-title .sidebar-toggle-btn .line-angle1 {
    width: 8px;
    margin: 0;
    position: absolute;
    top: 15px;
    left: -11px;
    transform: rotate(-60deg);
}
#main .header .page-title .sidebar-toggle-btn .line-angle2 {
    width: 8px;
    margin: 0;
    position: absolute;
    top: 21px;
    left: -11px;
    transform: rotate(60deg);
}
#main .header .page-title .icon {
    font-size: 15px;
    margin-left: 20px;
    position: relative;
    top: -5px;
    cursor: pointer;
}
#main .header .search-box {
    float: right;
    width: 150px;
    height: 40px;
    position: relative;
}
#main .header .search-box input,
#main .header .search-box .icon {
    transition-duration: .3s;
}
#main .header .search-box input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    text-indent: 15px;
    height: 40px;
    z-index: 2;
    outline: none;
    color: #999;
    background: transparent;
    border: 2px solid #EFEFEF;
    border-radius: 5px;
    transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}
#main .header .search-box input:focus {
    color: #333;
    border-color: #d6d6d6;
    width: 150%;
}
#main .header .search-box input:focus ~ .icon {
    opacity: 1;
    z-index: 3;
    color: #c90000;
}
#main .header .search-box .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 1;
    cursor: pointer;
    opacity: .5;
}
#main .action-bar {
    padding: 20px 60px;
    border-bottom: 1px solid #EFEFEF;
    overflow: hidden;
}
#main .action-bar li {
    float: left;
    margin-right: 10px;
}
#main #main-nano-wrapper {
    /* position: absolute; */
    /* top: 214px; */
    /* bottom: 0; */
    /* height: auto; */
}
#main .message-list {
    display: block;
}
#main .message-list li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    transition-duration: .3s;
    /*
                          .col-1 {
                                  width: 140px;
                                  text-align: right;
                                  padding-right: 37px;
                                  padding-top: 15px;
  
                                  .checkbox-wrapper, .icon, .dot {
                                          float: right;
                                          display: block;
                                  }
  
                                  .icon {
                                          margin-left: 10px;
                                          font-size: 20px;
                                  }
  
                                  .dot {
                                          border: 5px solid transparent;
                                          border-radius: 100px;
                                          margin-right: 24px;
                                          margin-top: 5px;
                                  }
                          }
                          .col-2 {
                                  width: 270px;
                          }
                          .col-3 {
                                  position: absolute;
                                  top: 0;
                                  left: 390px; // Covers previous cols
                                  right: 120px;
  
                                  .grey {
                                          opacity: .7;
                                  }
                          }
                          .col-4 {
                                  width: 120px;
                                  padding-left: 20px;
                                  float: right;
                          }
    */
}
#main .message-list li:hover,
#main .message-list li.active,
#main .message-list li.selected {

    transition-duration: .05s;
}
#main .message-list li.active,
#main .message-list li.active:hover {
    box-shadow: inset 5px 0 0 #c90000;
}
#main .message-list li.unread {
    font-weight: bolder;
    color: black;
}

#main .message-list li.read {
    font-weight: light;
    color: grey;
}


#main .message-list li .col {
    float: left;
    position: relative;
}
#main .message-list li.blue-dot .col-1 .dot {
    border-color: #1BC3E1;
}
#main .message-list li.orange-dot .col-1 .dot {
    border-color: #E2A917;
}
#main .message-list li.green-dot .col-1 .dot {
    border-color: #9AE14F;
}
#main .message-list li .col-1 {
    width: 400px;
}
#main .message-list li .col-1 .star-toggle,
#main .message-list li .col-1 .checkbox-wrapper,
#main .message-list li .col-1 .dot {
    display: block;
    float: left;
}
#main .message-list li .col-1 .dot {
    border: 4px solid rgb(201, 0, 0);
    border-radius: 100px;
    margin: 22px 26px 0;
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
}
#main .message-list li .col-1 .checkbox-wrapper {
    margin-top: 15px;
    margin-right: 10px;
}
#main .message-list li .col-1 .star-toggle {
    margin-top: 15px;
}
#main .message-list li .col-1 .title {
    position: absolute;
    top: 0;
    left: 140px;
    right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#main .message-list li .col-2 {
    position: absolute;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
}
#main .message-list li .col-2 .subject,
#main .message-list li .col-2 .date {
    position: absolute;
    top: 0;
}
#main .message-list li .col-2 .subject {
    left: 0;
    right: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#main .message-list li .col-2 .date {
    right: 0;
    width: 200px;
    padding-left: 80px;
}
#main .load-more-link {
    display: block;
    text-align: center;
    padding: 30px 0 30px 0;
    background: #888888;
    color: white;
    font-size: 18px;
}
#main .panel {
    margin-bottom: 0px;
    border-bottom:1px solid #efefef;

}

.show-message #messag {
    transform: none;
}
.show-message #main {
    margin-right: 40%;
}
.message-container{

    background: #EFEFEF;

    color: #555;

    position: relative;
}
.message-container .received{

    padding: 25px 25px 50px 25px;
}
.message-container .received .message{

}
.message-container .received .tool-box{

    /* float: right; */
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-top-left-radius: 5px;
}

