/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2017, 6:32:59 PM
    Author     : Erald
*/

#offer-details { 
margin-top:20px;
 }

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
     /* IE 8 */
      /* IE7 */
     text-decoration: none;
}

.by{
    color:grey;
    font-size: 12px;
}
.by a{
    text-transform:uppercase;
    font-size: 14px;
}

.carousel {
    margin-top: 50px;
    margin-bottom: 20px;
}

.thumbnail {
    border: none;
    margin-bottom: 0;
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
.page-header {
    /* background: #f9f9f9; */
    /* margin: -30px -40px 40px; */
    /* padding: 20px 40px; */
    /* border-top: 4px solid #ccc; */
    /* color: #999; */
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {  
    color: #000;
}


/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

ul > li{font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{/* list-style-type:none; *//* font-size:11px; */display:inline-flex;margin-bottom:0;margin-top:20px;}
.btn-success{width:100%;border-radius:0;}

.title-price{margin-top:30px;margin-bottom:0;color:black}
.title-attr{margin-top:0;margin-bottom:0;color:black;}
.btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
.btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
div.section > div {width:100%;display:inline-flex;}
div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}


/*********/


/*****************globals*************/

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }


.only-price{
    font-size: 15px;
    font-weight: 500;
    color: #c90000;
}

.price{
    font-size: 15px;
    font-weight: 400;
    color: #3a3a3a;
    text-decoration: line-through;
}

.final-price{
    font-size: 25px;
    font-weight: 500;
    color: #c90000;
}

#offer-details hr {
    margin-top: 10px;
    margin-bottom: 10px;

}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2017, 4:13:35 PM
    Author     : Erald
*/

.carousel-control {
    opacity: 1 !important;
}

.left.carousel-control span, .right.carousel-control span{
    background: #ffffff;
    border-radius: 50%;
    padding: 8px 8px;
    font-size: 15px;
    color: #c90000;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    font-weight: 100;
    margin-left: -99px;
    margin-right: -99px;

}

@media screen and (min-width: 768px){
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        margin-top: -65px;
    }
}

#owl-offers .alldiv-text{
    background: white;
    overflow: hidden;
    z-index: 100;
    position: relative;
    padding-right: 15px;
    padding-bottom: 15px;
}

.offer-price{
    /* float: left; */
}
.main-title1 {
    min-height: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.only-price{
    font-size: 15px;
    font-weight: 500;
    color: #c90000;
}

.price{
    font-size: 12px;
    font-weight: 500;
    color: #3a3a3a;
    text-decoration: line-through;
}

.final-price{
    font-size: 20px;
    font-weight: 500;
    color: #c90000;
    line-height: 20px;
}

.offers-carousel{
    margin: 5px;
    color: #000000;
    background: white;
}

#owl-offers .alert-grey, #owl-offers .main-text-title {
    color: #f6f6f6;
    background-color: #2e2e2e;
    margin-bottom: 0px;
}
#owl-offers .main-offer-info {background: #1f1f1f;padding: 10px 10px;}
#owl-offers .business-offer-name {
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#owl-offers .business-offer-name a{
    font-size: 10px;
    line-height: 0;
    letter-spacing: 1px;
    color: #828282;
    text-transform: uppercase;
    text-align: left;
}
#owl-offers .business-offer-title a{
    color:white;
}
#owl-offers .business-offer-title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
    text-transform: uppercase;
}

#owl-offers .btn-xs {
    padding: 5px 5px;
    margin-top: 5px;
}

#owl-offers hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#owl-offers .owl-theme .owl-controls .owl-page span {

    background: #ffffff;
}


/************************/
#send-msg  {
    margin: 2em 0 0em 0;
    padding: 2em 0 0em 0;
    border-top:1px solid #eeeeee;
}

#send-msg fieldset {
    padding: 0px 0px 10px 0px;
    margin: 00px 10px 20px 10px;
    /* border: 1px solid gainsboro; */
}
#send-msg legend {
    display: block;
    width: inherit;
    padding: 0 10px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: inherit;
    color: #222;
    border: 0;
    border-bottom: 0px solid #e5e5e5;
    text-align: center;
    text-transform: uppercase;
}


#send-msg .info {
  padding: 0 25px 10px 25px;
  font-size: 0.7em;
  text-align: center;
}
#send-msg .info a {
  color: #c90000;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
#send-msg .info a:hover, .info a:focus, .info a:active {
  color: #c90000;
}
#send-msg #send-msg .info a::after {
  content: "|";
  color: #646464;
  margin: 0 10px;
}
#send-msg .info a:last-child::after {
  content: "";
}

#send-msg fieldset {
  padding: 0;
  margin-bottom: 40px;
  border: none;
  position: relative;
}

label {
  position: absolute;
  pointer-events: none;
  font-size: 1em;
  top: 7px;
  -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  font-weight: 400;
}

#paymentsmethod label {
    color: #fff;
}

#send-msg .underline {
  width: 100%;
}

.underline::before,
.underline::after {
  position: absolute;
  content: "";
  top: 28px;
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #777;
  -webkit-transition: width 0.2s, opacity 0.2s;
  transition: width 0.2s, opacity 0.2s;
}

.underline::before {
  right: 50%;
}

.underline::after {
  left: 50%;
}

input {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #777;
  border-left: none;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
}
input:focus {
  outline: none;
}
input:focus ~ .underline::before, input:focus ~ .underline::after {
  opacity: 1;
  width: 50%;
}
input:focus + label {
  color: grey;
}

input:focus + label,
input.filled + label {
  font-size: 0.8em;
  top: -15px;
}

input[type=checkbox] + label,
input[type=checkbox] + label {
  top: 0px !important;
}

input[type=checkbox]:focus + label,
input[type=checkbox].filled + label {
  font-size: 1em;
  top: 0px !important;
  color: #646464;
  outline:none;
}

.send-msg-textarea {
    color: #000;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #777;
}
button:focus, button:active {
  outline: none;
}
#send-msg button:active {
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.8);
}
#send-msg label {
    color: #222;
}
