/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 4:55:06 PM
    Author     : Erald
*/

   /* Reviews list comment*/
#reviews-list {
    background: #2e2e2e;
    margin-top: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 20px;
}    
    
#reviews-list ul#comments {
    list-style-type: none;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
    color: #a5b2b9;
}

#reviews-list ul#comments li {
    margin-bottom: 15px;
    position: relative;
}

#reviews-list ul#comments li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#reviews-list .avatar-container {
    width: 60px;
    box-sizing: border-box;
}

#reviews-list .avatar {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    float: left;
    margin: 5px;
    background: white;
    border: 2px solid white;
}

#reviews-list .post-container {
    padding-bottom: 15px;
    margin-left: 75px;
    box-sizing: border-box;
    border-bottom: 1px solid #383838;
}

#reviews-list .post-container p {
    color: #f6f6f6;
    font-size: 12px;
    letter-spacing: .02em;
    font-weight: lighter;
}

#reviews-list .author_name {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

#reviews-list .comment-stars {
    font-size: 12px;
}

#reviews-list .timeago,
#reviews-list .posted {
    font-weight: lighter;
    font-size: 11px;
    color: #db5252;
}
#reviews-list .timeago span
{
    font-weight: lighter;
    font-size: 11px;
    color: #e2e7ea;
}

#reviews-list .bullet {
    padding: 0 0px 0 5px;
    font-size: 12px;
    color: #ccc;
    line-height: 1.4;
}