/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

 
    Created on : Jan 10, 2017, 11:30:14 AM
    Author     : Erald



*/
#search-result .btn-sm {
    padding: 5px 15px;
}

#search-result .btn {
    position: relative;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}


.glyphicon-filters {
    margin-right: 5px;
    background: #c90000;
    border-radius: 50%;
    color: white;
    padding: 5px;font-size: 12px;
}

.btn-filter:hover {
    background: #c90000;
    color:white;
}

#products .thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 0px solid #ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    transition:0.5s;
}
#products .thumbnail:hover {
    moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

#products .thumbnail {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
#products .thumbnail:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 100%;
    top: 0;
    background: #c90000;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#products .thumbnail:hover:before, #products .thumbnail:focus:before, #products .thumbnail:active:before {
    right: 0;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
    border: 0px solid #ddd;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    /*        /* background: #428bca; */
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    border: 0px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    /* background: #eeeeee; */
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.announce-content {
    color: #666;
    font-size: 12px;
    min-height:50px;
}

.ann-views{color: #777;}
.ann-author{
    font-size: 12px;
    /* font-weight: bold; */
    border-right:1px solid gainsboro;
    margin-right:5px;
    padding-right:10px;
    line-height: 26px;
    color: #777;
}
.ann-date{
    font-size: 12px;
    /* font-weight: bold; */
    color: #777;
}
.ann-edit a{
    font-size: 15px;
    padding: 2px 4px;
    background: #c90000;
    border-radius: 2px;
    margin-right: 2px;
    float: right;
}

.ann-delete a{
    font-size: 15px;
    padding: 2px 5px;
    background: #c90000;
    border-radius: 2px;
    margin-right: 0px;
    float: right;
}

.ann-edit a, .ann-delete a{
    color:white;
}


.list-group-item .ann-author{
    float: right;
    margin-top: -25px;
    font-size: 14px;
    border-right: 0px solid gainsboro;
    margin-right: 0;
    padding-right: 0;
}

.list-group-item .ann-date{
    margin-top: -20px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 14px;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    padding-right: 10px;
    margin-right: 10px;
    float: right;
    margin-bottom: 6px;
    line-height: 15px;
}
.list-group-item .ann-edit a{margin-top: -24px;}
.list-group-item .ann-delete a{margin-top: -24px;margin-left: 5px;}

/**dropdown**/


/* user menu settings */
#business-filter-dropdown {
    display: block;
    padding: 17px 10px;
    width: 100%;
    margin: 0 auto;

    cursor: pointer;
    border-left: 0px solid #c90000;
    background: #fff;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: normal;
    /* -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    /* box-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
    /* -webkit-transition: all 0.15s linear; */
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;

}

@media(max-width: 991px){
    #business-filter-dropdown {
        position: relative;
    }
}
@media(min-width: 991px){
    #business-filter-dropdown {
        position: absolute;
        top: -15px;
        left: 0px;
    }
}


#business-filter-dropdown:hover {color: #000000;}

#business-filter-dropdown.open {
    background: #2e2e2e;
    color: #fff;
    border-left-color: #000000;
}

#business-filter-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0px; /* move content -4px because of container left border */
    width: 100%;
    padding: 0px 0px;
    display: none;
    border-left: 4px solid #2e2e2e;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    z-index: 5;
}
#business-filter-dropdown ul li {/* font-size: 0.9em; */}

#business-filter-dropdown ul li {
    text-decoration: none;
    display: block;
    color: #2e2e2e;
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid #f6f6f6;
}

#business-filter-dropdown .icon-container {
    float:right;
    background: #c90000;
    border-radius: 50%;
    float: right;
    width: 30px;
    height: 30px;
    color: white;

}
#business-filter-dropdown .category-icon-list {
    line-height: 30px;
    font-size: 14px;
    right: 18px;
    position: absolute;
}

#business-filter-dropdown ul li:hover {
    color: #c90000;
    background: #f6f6f6;
}

.announce-category{
    color: #ffffff;
    background: #2e2e2e;
    padding: 2px 10px;
    font-size: 12px;
}
.announce-category i{
    color: #ffffff;
    padding-right: 10px;
    font-weight: lighter;
    font-size: 15px;
    vertical-align: middle;
}

div.bootstrap-select .btn-default, .btn-success {
    border: 1px solid lightgrey;
    color: grey;
    text-transform: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    transition: .2s;
}

.input-group-addon {
    color: #ffffff;
    background: #c90000;
}

.alert-announce {
    color: #ffffff;
    background-color: #c90000;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}
