

/* calendar styles */
#calendar {
    -moz-user-select: none;
    /* border: 1px solid #EEEEEE; */
    border-radius: 6px 6px 6px 6px;
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    margin: 0px auto;
    /* padding: 0.4em; */
    width: 100%;
    text-align: center!important;
    
}

#calendar td{
    border:1px solid whitesmoke !important;
    
}

#calendar .navigation {
    background-color: #00467f;
    border: 1px solid #003a69;
    /* border-radius: 6px 6px 6px 6px; */
    color: #FFFFFF;
    /* font-weight: bold; */
    padding: 2px;
    position: relative;
}
#calendar .navigation .title {
    background: none repeat scroll 0 0 transparent;
    border-color: rgba(0, 0, 0, 0);
    color: inherit;
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}
#calendar .navigation .prev, #calendar .navigation .next {
    background-image: url(../images/nav.png);
    height: 24px;
    opacity: 0.9;
    position: absolute;
    top: 4px;
    width: 24px;
}
#calendar .navigation .prev {
    background-position: 0 0;
    left: 4px;
}
#calendar .navigation .next {
    background-position: -24px 0;
    right: 4px;
}
#calendar .navigation .prev:hover, #calendar .navigation .next:hover {
    opacity: 1;
}
#calendar table {
    border-collapse: collapse;
    font-size: 0.9em;
    table-layout: fixed;
    width: 100%;
}
#calendar table th {
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
#calendar table td {
    border: 0 none;
    padding: 1px;
}


.hasEvent {
        background: #3bec6a;
    
}


.currentDay{
    background: #4f9bd8;
}

.hasEvent:hover {
        background: #5bff6a;
    
}


.currentDay:hover{
    background: #6feff8;
}