/* Theme Color Default  #11c0b4 = rgba(17, 192, 180, */


/* TEXT COLOR */
.ulockd-media-box .media:hover .media-heading,
.ulockd-title-icon,
.ulockd-tcompliment span,
.twitter ul li a,
.text-thm1 {
  color: #11c0b4 !important;
}

/* TEXT HOVER COLOR */
.ulockd-shop-item:hover h3,
.ulocked-pricing-details ul li:hover a,
.ulockd-sitemap > li a:hover,
.ulockd-l2-bp-btn:hover,
.ulockd-blog-post:hover h3,
.ulockd-fstabt-list > li a:hover,
.ulockd-service-col:hover h3 {
  color: #11c0b4 !important;
}

/* BACKGROUND COLOR */
nav.navbar.bootsnav.ulockd-menu-style2 #navbar-menu,
.navbar-sticky.navbar-scrollspy.ulockd-menu-style2 {
	background-color: #11c0b4;
}

.price-tag,
.ulocked-pricing-tag,
.ulockd-l2-copy-right,
.ulockd-mailchimp button,
.ulockd-partner,
.ulockd-team-two-mdetails,
.progress-levels .progress-box .bar .bar-fill,
.ulockd-tm-details,
.ulockd-ffact-two .ulockd-icon-let,
.ulockd-srvc-column-two,
.ulockd-faq-content .panel .panel-title a i,
.ulockd-faq-box .panel .panel-title a i,
.ulockd-srv-icon,
.ulockd-service,
.scrollToHome,
.ulockd-home-two,
.main-header-nav-two,
.attr-nav > ul > li > a span.badge,
.ulockd-bgthm {
	background-color: #11c0b4;
}

.ulockd-all-service a.active,
.ulockd-at-slider .owl-dots .owl-dot.active span, 
.ulockd-at-slider .owl-dots .owl-dot:hover span {
	background-color: #11c0b4;
}
.masonry-filter a.active,
.masonry-filter a:active,
.masonry-filter a:hover,
.masonry-filter a:focus {
	background-color: #11c0b4;
}

.ulockd-gallery-slider .owl-prev,
.ulockd-gallery-slider .owl-next {	
    background-color: #11c0b4 !important;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all, 
.ui-timepicker-list .ui-timepicker-selected:hover, 
.ui-timepicker-list li:hover, 
li.ui-timepicker-selected {
	background-color: #11c0b4;

}

/* HOVER BACKGROUND COLOR */
.ulockd-tm-sicon li a:hover,
.ulockd-overlayer a:hover,
.social-linked-two a:hover,
.form-group.ulockd-contact-btn:hover button {
	background-color: #11c0b4;
}

/* BACKGROUND COLOR TRANSPARENT */
nav.navbar.bootsnav.menu-style1 li.dropdown ul.dropdown-menu,
nav.navbar.bootsnav.ulockd-menu-style2 li.dropdown ul.dropdown-menu {
	background-color: rgba(17, 192, 180, 0.8);
}
.ulockd-icd-layer::before {
	background-color: rgba(17, 192, 180, 0.8);
}

.ulockd-department-box .db-overlayer,
.ulockd-srvcs-overlay {
	background-color: rgba(17, 192, 180, 0.6);
}

/* BUTTON TEMPALTE COLOR */
.ulockd-btn-thm {
	background-color: #11c0b4;
}

/* BORDER TEMPALTE COLOR */
.ulockd-pricing-table {
	border: 1px solid #11c0b4;
}
.ulockd-all-service a.active,
.ulockd-btn-thm {
	border-color: #11c0b4;
}

/* Hover Border Color */
.ulocked-pricing-details ul li:first-child {
    border-top: 1px dashed #11c0b4;
}

.ulocked-pricing-details ul li {
    border-bottom: 1px dashed #11c0b4;
}

.ulockd-partner,
.ulockd-l2-bp-btn:hover {
	border-bottom: 1px solid #11c0b4;
}

/* BOX Shadow */

.ulockd-contact-place li:hover {	
    box-shadow: 1px 2px 2px 2px #11c0b4;
    -webkit-box-shadow: 1px 2px 2px 2px #11c0b4;
    -moz-box-shadow: 1px 2px 2px 2px #11c0b4;
    -o-box-shadow: 1px 2px 2px 2px #11c0b4;
}