/*  Tmpl01  style */


/*------------------- General Styling -------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body{
    background-color: #d9d9d9;
    color: black;
    font-family: 'Open Sans Condensed' ,  sans-serif; 
    font-size: 16px;
}

a {
    color: #FD6228;
}
a:hover , a:focus, a.active, li.active a { 
    color: #B33D3D;
    text-decoration: none;
}
li.active a:after, li.active a:hover:after {
    content: '';
    position: absolute;
    left: 45%;
    top: 45px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
}
#toTop{
    position: fixed;
    bottom: 47px;
    right: 13px;
    cursor: pointer;
    display: none;
    z-index: 3;
    background-color: #FE6222;
    border-color: #FE6222;
}

.navbar-toggle {
    border: 1px solid rgb(0, 0, 0);
}
.navbar-toggle .icon-bar {
    background: black;
}


/*------------------- Header section styling -------------------- */
#pos-hbottom{
    background-color: white;
    margin-bottom: 5px;
}
#pos-hmiddle{
    background-color: white;
}
#pos-htop{
    background-color: #FE6222;
}
#pos-ctop{
    padding: 0px;
}
#pos-htop .col-md-12 > div{
    float: left;
    margin: 5px;
    color: white;
}
#pos-htop div.generic-languagebutton {
    float: right;
}
#pb_83 ul.social{
    margin: 0px;
    padding: 0px;
}
#pb_83 ul.social li a{
    color : white;
}

@media(min-width:768px){
    #pos-hmiddle div.generic-menu {
        float: right;
        margin-top: 35px;
    }
}

/* - Logo - */
#header div.logo{
    float: left;
    padding: 0px;
    width: 14%;
}
@media(max-width:992px){
    #header div.logo{
        width: 100%;
        text-align: center;
    }
}
#header div.logo img{
    display: inline-block;
    width: 100%;
    padding: 5px;
}

/* - Navbar - */
#header .navbar{
    margin-bottom: 0px;
}


/* - Vertical carousel - */
#pos-sidebar{
    position: fixed;
    background-color: white;
    height: 100vh;
}
@media (max-width: 991px) { 
    #pos-sidebar{
        display: none;
    }
}

/*------------------- Body section styling -------------------- */
#pos-cmiddle{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 200px;
}
#pos-cmiddle.container-fluid{
    background-color: white;
    border-top: 1px solid #aaa;
}
#pos-cmiddle div.body-container{
    padding: 15px;
    overflow: hidden;

}  
#pos-cbottom{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
}
.title-ristorante{
    padding: 10px;
    text-align: center;
}
.menu-title{
    color: #B33D3D;
    font-weight: bold; 
    padding-left: 40px
}
.menu-lista{
    font-size: 20px;
    color: #6F6C6C;
}
.cls-menu{
    border-radius: 10px;
}

/*------------------- Footer section styling -------------------- */

#pos-fmiddle{
    background-color: white;
}
#pos-fbottom{
    border-top: 8px solid #FE6222;
    background-color: #222222;
    color: white;
    padding: 5px;
}
.poweredby{
    float: right;
    font-size: 0.9em;
}
.poweredby a{
    font-weight: bold;
}
.news-title{
    font-weight: bold;
    font-size: 19px;
}
.news-title a:hover{
    text-decoration: none;
}
.btn-primary, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #B33D3D;
    color: white;
    border-color: #B33D3D ;
}
#pos-fbottom .generic-static-block{
    float: left;
}