/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 7:11:17 PM
    Author     : Erald
*/

/***** Eventi*****/
.corniz{
    margin-bottom: 20px;
    background-color: white;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    padding-right: 0px;
    padding-left: 0px;
    /* border: 1px solid whitesmoke; */
}
.corniz:hover {
    moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.25);
    /* transform: perspective(400px); */
}
.home-event .picture-event {
    padding-right: 0px;
    padding-left: 0px;
}



.break-line{
    /* height: 1px; */
    /* width: 100%; */
    background-color: #e4e4e4;
    margin-top: 10px;
    margin-bottom: 10px;
}
.event-titull{
    color: #616161;
    text-align : center !important;
    text-decoration: none !important;
    text-transform: capitalize;
}
.event-title{
    margin-top: 10px;
    font-size: 1.5em;
}

.event-titull:hover{
    color: #616161;
}

.paragrafi{
    color: #777;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}
span.paragrafi{
    text-transform: capitalize;
}
.event-data{
    background-color: #616161;
    color:white;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center;
    font-size: x-large;
}
.data-event{
    padding-right: 0px;
    padding-left: 6px;
}

.page-event .paragrafi i {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.page-event .paragrafi i.fa-map-marker {
    padding-left: 3px;
    padding-right: 2px;
}


.calendar em {
    display: block;
    font: 12px/30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: hsla(0, 0%, 13%, 0.66) 0 -1px 0;
    background: #00467f;
    background: -webkit-gradient(linear, left top, left bottom, from(#005aa2), to(#00467f));
    background: -moz-linear-gradient(top, #04599a, #00365a);
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid rgb(0, 70, 127);
}

.calendar:before,
.calendar:after {
    content: '';
    float: left;
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    background: #111;
    z-index: 1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    box-shadow: 0 1px 1px #fff;
}

.calendar:before {
    left: 11px;
}

.calendar:after {
    right: 11px;
}

.calendar em:before,
.calendar em:after {
    content: '';
    float: left;
    position: absolute;
    top: -5px;
    width: 4px;
    height: 14px;
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background: -moz-linear-gradient(top, #f1f1f1, #aaa);
    z-index: 2;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.calendar em:before {
    left: 13px;
}

.calendar em:after {
    right: 13px;
}

@media (min-width: 768px){
    .event-titull img {
    border-right: 3px solid #00467f;
}
div.picture-event:after {
    content: '';
    top: 45%;
    margin-right: -8px;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #00467f;
}
.page-event .content-event {
    padding-right: 70px;
}
.page-event .picture-event {
    padding-right: 0px;
}
.calendar {
    top: 0em;
    right: 0;
    padding-top: 10px;
    width: 65px;
    background: #ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 237, 239, 1)), to(rgba(204, 204, 204, 1)));
    background: -moz-linear-gradient(top, #ededef, #ccc);
    font: bold 22px/45px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    -moz-box-shadow: 0 2px 2px #888;
    -webkit-box-shadow: 0 2px 2px #888;
    box-shadow: 0 1px 2px #888;
    opacity: .9;
}


}

@media (max-width: 768px){
    .event-titull img {
    border-bottom: 3px solid #00467f;
}
div.picture-event:after {
    content: '';
    bottom: 0;
    margin-bottom: -10px;
    left: 50%;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00467f;
}
.page-event .content-event {
    padding: 10px;
}

.calendar {
    width: 100%;
    background: #ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 237, 239, 1)), to(rgba(204, 204, 204, 1)));
    background: -moz-linear-gradient(top, #ededef, #ccc);
    font: bold 22px/45px "Lucida Sans Unicode", Arial Black, Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 0px;
    -moz-box-shadow: 0 2px 2px #888;
    /* -webkit-box-shadow: 0 2px 2px #888; */
    box-shadow: 0 1px 2px #888;
    opacity: 1;
    margin-bottom:0px;
}

}