/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 7:11:58 PM
    Author     : Erald
*/

/***** Single Event ******/

.single-event-detail th{
    background-color: dimgrey;
    text-align: center;
    color: white;
}
.single-event-detail td{
    vertical-align: middle !important;
}
.single-event-detail .event-content .page-header{
    margin-top: 0px;
    margin-bottom: 10px;
    color: dimgrey;
}
.single-event-detail .event-content{
    padding: 15px;
}
.header-event-detail table{
    margin-bottom: 0px;
}
.header-event-detail th{
    /* background-color: dimgrey; */
    color: dimgrey;
    border-left: 5px solid #00467f;
}
.header-event-detail td{
    color: dimgrey;
    border-right: 1px solid #ddd;
}
.header-event-detail th .date-number{
    font-size: 60px;
    padding-left:10px;

}
.header-event-detail th .date-text{
    font-size: 20px;
     padding-left:10px;
}
.header-event-detail .event-content .title-content{
    margin-top: 10px;
    margin-bottom: 0px;
    color: dimgrey;
}
.header-event-detail .event-content .category-content{
    margin-top: 5px;
    color: dimgrey;
    font-weight: bold;
}
.header-event-detail .event-content .hour-content{
    margin-top: 5px;
    color: dimgrey;
    font-weight: bold;
}
.fa-style {
    margin: 15px 15px;
    font-size: 36px !important;
}
.titlecateg {
    color: #696969;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.date1 {
    color: #696969 !important;
    font-size: 18px;
}
.firsthr {
    margin: 15px 0;
}
.mapa_cls {
    color: #616161 !important;
    font-family: 'Roboto Condensed' , sans-serif !important;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 22px;
}