/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2017, 11:30:14 AM
    Author     : Erald
*/

#vertical-slider{
    background-color:#fff;
}


.glyphicon{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon{
    margin-right:0px !important; /*override*/
}

.pagination a{
    color:#555;
}

.footer{
    padding:0px;
    margin:0px;
    list-style:none;
    padding: 5px 0 10px 0;
}

.news-item{
    /* margin: 0px 0 12px 0; */
    border-bottom: 1px solid #f0f0f0;
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: white;
    /* -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.15); */
}

.panel {
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid transparent;
    border-radius: 0px;
    /* -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.0); */
    box-shadow: 0 0px 0px rgba(0,0,0,.0);
}

.listing__column {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.listing__image {
    display: block;
    width: 100%;
}
ul.last-announces{
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}
.last-announces .ann-content i{
    padding: 0px 10px 8px 10px;
    font-size: 12px;
}
.last-announces .ann-content span{
    font-size: 10px;
    color: #666;
    /* line-height: 2.2; */
}
.last-announces a .ann-content {
    color: #666;
    padding: 5px;
}
.last-announces .title{
    color: #0c0c0c !important;
    font-weight: bold;
    font-size: 12px !important;
    /* padding-left: 10px; */
}
.last-announces .author{

}
.last-announces .date{

}
.pagination>li>a, .pagination>li>span {
    color: white;
    background-color: #C90000;
    border: 0px solid #ddd;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 15px;
}