#intro, #second{
    width: 100%;
}

#intro{
    background:url(../img/baner_3.jpg) 50% no-repeat fixed;
    color: white;
    height: 350px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
}

#second{
    background: url("http://noire-et-blanche.ca/wp-content/uploads/2012/07/Beer-Background.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    background-size: cover;
}

#second .bg{
    background: url(images/trainers.png) 50% 0 no-repeat fixed;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
}

#third{
    background: url(images/thirdBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 650px;
    padding: 100px 0 0 0;	
}

#fifth{
    background: #ccc;
    height: 400px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}

.story{
    margin: 0 auto;
    min-width: 980px;
    overflow: auto;
    width: 980px;
}

.story .float-left, .story .float-right{
    padding: 100px 0 0 0;
    position: relative;
    width: 350px;	
}