@import url(https://fonts.googleapis.com/css?family=Teko:400,600,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);


/*  Tmpl03  style */
::selection {
    background: #da3434;
    color: #fff;
}
/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
    background-color: #da3434;
}
::-webkit-scrollbar-thumb{
    background-color: #da3434;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
}
/*------------------- General Styling -------------------- */

#pos-ctop {
    background: #fefef6;
}
#pos-cbottom {
    z-index: 1;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px -1px 10px rgba(0, 0, 0, 0.3);
}

.logo { text-align: center; }

body {
    background: #ffffff;
    color: #2a2a2a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:400;
    overflow-x: hidden;
    font-size: 14px;
}
a {
    color: white;
    transition: .5s;
}
a:hover , a:focus, a.active, li.active a {
    color: #e7c839;
    text-decoration: none;
}
.album-categories a{
    color: black;
    padding-top:10px;
    text-transform: uppercase;
}
#main-header .navbar{
    font-family:'Teko', sans-serif;
    text-transform: uppercase;
}
#main-header .navbar, .btn{
    text-transform: uppercase;
    font-size: 12px;
}
button:focus {
    outline: 0px;
}

#toTop{
    position: fixed;
    bottom: 8px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 3;
    background-color: rgba(201, 0, 0, 0);
    border-color: #FFFFFF;
    border-radius: 0px;
    transition: 0.5s;
    padding: 5px 8px;
}
#toTop:hover{
    background-color: #C90000;
    border-color: white;
}
#main-header{
    position: absolute;
    top: 0;
    z-index: 99;
    padding: 1em 0;
    width: 100%;
}
#social {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 0 1em;
    font-size: 3em;
    color: white
}
.body-container {
    padding: 5em 0;
    display: block;
    overflow: hidden;
}
#pb_22 {
    float: right;
    padding: 48px 15px 0px 15px;
    position: relative;
    display: block;
    z-index: 5;
}

.flag-button {
    padding: 0 5px !important;
}
button.flag-button img {
    width: 25px !important;
    border-radius: 0px !important;
    border: 1px solid #4d8c40 !important;
}

button.flag-button.active img {
    border: 2px solid #d4d4d4 !important;
    border-radius: 0px;
}
.breadcrumb{
    display:none;
}
/*------------------- Header section styling -------------------- */
/***** Fixed Navbar Shrink *****/
#main-header.navbar-shrink {
    z-index: 99999;
    padding: 0px 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 1px 0px 19px -2px rgba(0,0,0,0.31);
    -moz-box-shadow: 1px 0px 19px -2px rgba(0,0,0,0.31);
    box-shadow: 1px 0px 19px -2px rgba(0,0,0,0.31);
    position: fixed;
}
#main-header.navbar-shrink .nav > li > a {
    color: black;
    padding: 15px 15px 10px 15px;
    background: rgba(0, 0, 0, 0);
}
#main-header.navbar-shrink .nav > li > a:hover {
    background: rgba(0,0,0,0.4);
}
#main-header.navbar-shrink .nav > li > a:hover span {
    color: white;
}
#main-header .navbar-shrink .nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

#main-header.navbar-shrink .navbar-brand {
    height: 55px;
    padding: 2px 15px;
    width: 230px;
}
#main-header.navbar-shrink .navbar .dropdown-menu {
    left: 0px;
    min-width: 135px;
    background: rgba(255,255,255,0.9);
    margin-top: 1px !important;
}

#main-header.navbar-shrink .navbar .dropdown-menu>li>a {
    color: black;
}

#main-header.navbar-shrink #pb_22 {padding: 18px 15px 10px 10px;}

#main-header.navbar-shrink .nav > li > a:hover span, .nav > li > a:focus span {
    position: relative;
    /* color: white; */
}
#main-header.navbar-shrink .navbar-toggle {
    margin-top: 13px;
    margin-right: 0px;
    padding: 8px 8px;
}

.navbar {
    margin-bottom: 0px;
}
.navbar-toggle {
    border: 1px solid rgb(0, 0, 0);
}
.navbar-toggle {
    margin-top: 3px;
    margin-right: 0px;
    padding: 8px 8px;
}
.navbar-toggle .icon-bar {
    background: black;
}
.nav > li > a {
    font-size: 1.8em;
    padding: 5px 10px;
    color: #000000;
    display: block;
    font-weight:400;
    text-transform: uppercase;
    line-height: normal;
    margin: 0px 5px;
    text-decoration: none;
    -webkit-transition:all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    background: rgba(0, 0, 0, 0);
    border-radius: 2px;
    position: relative;
    z-index: 9;
}
.nav > li > a:hover::before {
    width: 100%;
    height: 100%;
}
.nav > li > a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 0;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    border-radius: 2px;
    /* background: linear-gradient(#ffc05a, #d07800); */
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: rgba(0,0,0,0.2);
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    /* background-color: rgba(255, 255, 255, 0.24); */
    border-radius: 2px;
    background: rgba(0,0,0,0.4);
    color: white;
}
.nav > li > a:hover span, .nav > li > a:focus span{
    position:relative;
    /* color: white; */
}

.navbar-brand {
    height: 50px;
    padding: 2em 0px;
    width: 350px;
}

.navbar .dropdown-menu {
    left: 5px;
    min-width: 107px;
    background: rgba(0,0,0,0.4);
    margin-top: 8px !important;
}
.navbar .dropdown-menu>li>a {
    padding: 6px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3em;
}
.navbar .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff;
    background: linear-gradient(#ffc05a, #d07800);
    background: rgba(77, 140, 64, 0);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    /* background: linear-gradient(#ffc05a, #d07800); */
    background: rgba(0,0,0,0.4);
}





/*--content--*/
.hr-header {
    width: 20%;
    border: 3px solid #e31d1a;
    margin-top: .1em;
    margin-bottom: 4em;
}
div.read-more-btn {
    padding-top: 2em;
}
h1.kaon-style, h2.kaon-style, h3.kaon-style, h4.kaon-style, h5.kaon-style, h6.kaon-style {
    font-size: 3em;
    font-family: 'Teko' , sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    /* background: #4d8c40; */
    color: white;
    padding: 10px 75px 5px 75px;
    margin-bottom: .5em;
    border-bottom: 5px solid #e32526;
    min-width: 82px;
    display: inline-block;
    transform: rotate(0deg);
}

#pos-section-1 .col-top p {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 75%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 2em;
    border-radius: 5px;
    color: white;
}
#about .col-top {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 65%;
    margin: 0 auto;
    padding: 2em;
    border-radius: 5px;
    color: darkgraygray;
    text-align: center;
    padding: 10em 0;
}

#pb_16 .col-top {
    text-align: center;
    padding: 5em 0 2em 0;
}
#owl-partners img.lazyOwl {
    width: 100px;
}
#pb_14{
    text-align: center;
    padding: 0em 0 5em 0;
}
#pb_18 .col-top {
    text-align: center;
    padding: 5em 0 0 0;
}
#pos-section-1 {
    /* background: url("http://noire-et-blanche.ca/wp-content/uploads/2012/07/Beer-Background.jpg") 50% 0 no-repeat fixed; */
    /* width: 100%; */
    /* height: auto; */
    /* margin: 0; */
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); */
    /* background-size: cover; */
}
#pos-section-1 {
    color: white;
    text-align: center;
}
#pos-section-2 {
    background: lightgrey;
    /* background: radial-gradient(#4d8c40, #0d3f2b); */
}
#pos-section-2 .lastnews{padding: 2em 0 0em 0;}
#pos-section-1 .dark-overlay {
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* padding: 20em 0; */
}
#pb_19{

    padding: 1em 0 4em 0;
}

.banner-carousel .owl-item .item img{
    width:75px;
    padding: 2em 0;
}

/* Down Arrow Button*/
a.scroll-arrow {
    /* mix-blend-mode: difference; */
    font-size: 47px;
    color: black;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    height: 50px;
    /* border: 1px solid black; */
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 1029;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0.9;
}
a.scroll-arrow span {
    width: 100%;
    display: block;
    text-align: center;
}
a.scroll-arrow span:hover, a.scroll-arrow span:focus {
    color: black;
}
a.scroll-arrow:hover {
    opacity: 1;
}

#slides .container {
    position: relative;
    top: 40vh;
}
#slides h1{
    /* mix-blend-mode: difference; */
    color: white;
    font-size: 3em;
    text-shadow: 3px 4px 5px #000;
}

/* footer */
#footer {
}
#footer p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 24px;
}
#footer a{
    color: #e7c839;
}
#footer a:hover{
    color: #e7c839;
}
#footer .footer-title {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin-top: 0px;
}
#footer .footer-title:after {
    content: '';
    display: block;
    width: 6em;
    height: 2px;
    background: #e21c19;
    margin-top: 8px;
}
#footer .right-border {
}
#footer .left-border {
    border-left: 1px solid rgba(255, 255, 255, 0.1); 
}
@media (max-width: 991px) {
    #footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 40px;
        text-align: center; }
    #footer .right-border {
        border-right: none; } }
@media (max-width: 767px) {
    #footer .right-border {
        border-right: none; }
    #footer .left-border {
        border-left: none; }
    #footer .navigation {
        margin-top: 40px;
        border-top: 1px solid white; } }

@media (max-width: 767px) {
    #footer .copyright, #footer .logo {
        border-top: 0px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        margin: 5px 0; }
}

#footer .footer-about {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    padding-bottom: 40px;
}
#footer .contact-info .single {
    margin: 0px 0;
}
#footer .contact-info .single span {
    display: block;
    float: left;
    color: #e7c839;
    margin-right: 10px;
    line-height: 22px;
}
#footer .contact-info .single p {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden; }
#footer .social-icon {
    margin-top: 1em;
}
#footer .social-icon li a {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(0deg);
    border-radius: 30px;
}
#footer .social-icon li a:hover {
    border-color: #e7c839;
    color: #e7c839;
}
#footer .social-icon li a span {
    line-height: 40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
#footer .navigation li a {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    line-height: 30px;
    text-decoration: none; }
#footer .navigation li a:hover {
    color: #3ac341; }
#footer .copyright, #footer .logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

#pos-fmiddle {
    background: #0d3f2b;
    padding: 60px 0;
}
#pos-fbottom {
    background: #08291c;
}

/* Artikujt */
.fff .caption {
    padding: 10px;
}
.fff .caption{
    padding: 0 10px 10px 10px;
}
.fff .content{
    min-height: 100px;
}
.fff .meta-tags{
    padding: 0 10px;
}
ul.piu-cliccate, #pb_106 ul{
    padding:0px;
}

.fff {
    background: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    margin: 15px 0;
}

@media (min-width: 767px){
    .lastnews .thumbnail { 
    }
    #footer .logo > .poweredby{
        float: right;
    }

}

.lastnews .thumbnail {
    padding: 0px;
    margin-bottom: 0px;
    border: 0px solid white;
    border-radius: 0px;
}
.lastnews #newsCarousel {
    margin-right: 0px;
}
ul.thumbnails li {
    margin-bottom: 0px;
}
@media (max-width: 768px){
    .lastnews ul.thumbnails {
        padding-left: 0px;
    }
    .lastnews #newsCarousel {
        margin-right: 0px;
    }
    .lastnews .well {
        padding:  0px;
    }
}

.carousel-control {
    background: none !important;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 0px;
    width: 5%;
}
.carousel-control.left i{
    margin-left: -65px;
}
.carousel-control.right i{
    margin-right: -65px;
}
@media (max-width: 768px){
    .carousel-control.left i, .carousel-control.right i{
        display: none;
    }
}
ul.pager{
    display: none; 
}
ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}
.button_align {
    text-align: center;
}
.fff {
    margin: 30px 0;
    transition: .2s;
}
.fff:hover {
    moz-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.25);
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
}
#newsCarousel .carousel-inner {
    padding: 0 1px;
}
/*--------------------------------------------------------------
3.2 Posts in Slider
--------------------------------------------------------------*/
.post-thumbnail-1, .post-thumbnail-2, .post-thumbnail-3 { position: relative; overflow: hidden; margin-bottom: 15px; }
.tag-style-1, .tag-style-2, .post-thumbnail-1 .meta-tags, .post-thumbnail-3 .meta-tags, .post-thumbnail-1 h3, .post-thumbnail-2 h3 { position: absolute; }
.tag-style-1 p, .tag-style-2 p, .tag-style-1 i, .tag-style-2 i, .post-thumbnail-1 .meta-tags, .post-thumbnail-2 .meta-tags, .post-thumbnail-3 .meta-tags, .post-thumbnail-1 h3, .post-thumbnail-2 h3 { color: #fff; }
.post-thumbnail-1 .meta-tags, .post-thumbnail-3 .meta-tags { background: rgba(40,40,40,.7); bottom: 0; left: 0; margin-bottom: 0; padding: 10px; width: 100%; }
.meta-tags span{ margin-right: 5px; }
figure a img { width: 100%; }
.news-article { padding-bottom: 30px; }
.main-title { border-bottom: 1px solid gainsboro;padding-bottom: 10px; }
.main-description { border-bottom: 1px solid gainsboro;padding-bottom: 5px;margin: 0 0 5px; }
.leggi {font-size: 14px;display: inline-block;}

/*******************************************/
/*HOVER IMAGE*/
.hover-img {
    display: block;
    position: relative;
    /* background: #002023; */
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.hover-img >img {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover-img .hover-icon,
.hover-img [class*=" hover-icon-"] {
    display: block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.hover-img .hover-icon {
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 50%, 0);
    -moz-transform: translate3d(-50%, 50%, 0);
    -o-transform: translate3d(-50%, 50%, 0);
    -ms-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
}
.hover-img:hover .hover-icon,
.hover-img:hover .hover-icon-group {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.hover-img:hover .hover-icon {
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover >img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

/*******************************************/
/*ICONS EFFECTS*/
i.fa-link {
    z-index: 2;
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: rgba(51, 51, 51, 0.5);
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.round {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.caption h4 {
    color: black;
    padding-bottom: 5px;
    border-bottom: 1px dotted gainsboro;
    margin-bottom: 10px;
}
.caption p {
    color: #666;
    font-size: 12px;
}

/*Parallax*/
.parallax-container{
    position:relative;
    overflow:hidden;
}
.parallax-container span {
    color: #ff2121;
}

.parallax img{
    display:none;
    position:absolute;
    left:50%;
    bottom:0;
    min-width:100%;
    min-height:100%;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    transform:translateX(-50%)
}
.parallax-content {
    position: relative;
    z-index: 1;
    display: block;
    margin: 20em 0;
}

/* Product costumization*/
#products-homepage {
    padding: 5em 0em;
}

#products li img.blur-effect {

    /*-webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;*/
}

#products li img.blur-effect:hover {
    /*-webkit-filter: blur(0px);*/
    transform: scale(1.1);
}
.product-title, .product-description{
    text-align:center
}
.hr-product{
    border: 1px solid red;
    width: 60%;
    margin-top: 10px;
}


/****** RESPONSIVE *******/
@media (max-width: 768px){
    .navbar-brand {
        height: 50px;
        padding: 5px 15px;
        width: 130px;
    }

    .parallax-content {
        margin: 5em 0;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        background: rgba(0,0,0,0.8);
    }

    .navbar .dropdown-menu {
        margin-top: 0px !important;
    }

    #about .col-top {
        text-align: center;
        padding: 5em 0;
    }

    #main-header.navbar-shrink .navbar-brand {
        height: 50px;
        padding: 15px 15px;
        width: 130px;
    }
    #pos-fmiddle {
        text-align:center;
    }

    #footer .footer-title:after {
        display:none;
    }
    #pb_22 {
        float: right;
        padding: 5px 15px 0px 15px;
        position: relative;
        display: block;
        z-index: 5;
    }
}

@media (min-width: 768px){
    .navbar-nav {
        float: right;
        margin: 40px 0 0 0;
    }

    #main-header.navbar-shrink .navbar-nav {
        float: right;
        margin: 0px 0 0 0;
    }
}
@media (min-width: 1300px){
    .container {
        width: 1320px;
    }
}


#pos-section-2 h3{
    color : #000000;
}
.pages .active a{
    background: #0d3f2b;
}
.pages .active a:hover{
    background: #0d3f2b;
}
.pagination>li>a, .pagination>li>span{
    color: #0d3f2b;
}
.pagination>li>a:hover, .pagination>li>span:hover{
    color: #0d3f2b;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    border-color: #0d3f2b;
    background-color:#0d3f2b;
}


/****TABION****/


/*========== START BACKGROUND LIST ==========*/

/* Solid Colors */
.solid-lightblue { background:#E4F0F7; }
.solid-blue { background:#00BBE2; }
.solid-blue-2 {background: rgb(77, 140, 64);}
.solid-darkblue { background:#044E94; }
.solid-violetred { background:#781766; }
.solid-red { background:#E51400;}
.solid-red-2 {background: #5aa54b;}
.solid-pink { background:#FF539B; }
.solid-purple { background:#D02090; }
.solid-orange { background:#FB8F02; }
.solid-orange-2 { background:#FF6600; }
.solid-orange-3 { background:#DD5F37; }
.solid-coral { background:#CD5B45; }
.solid-lightgreen { background:#F5FFFA; }
.solid-green {background: #4d8c40;}
.solid-green-2 {background:#96BF01; }
.solid-darkgreen { background:#016C38; }
.solid-olive { background:#999900}
.solid-grass { background:#CDCD00; }
.solid-darkred { background:#5F0000; }
.solid-gold { background:#FEE9AE; }
.solid-yellow { background:#F7D100; }
.solid-black {background: rgb(113, 113, 113);}
.solid-smoke { background:#F5F5F5; }
.solid-white { background:#fff; }
.solid-jade { background:#00CE9B; }
/* End Solid Colors */

/* Transparent Colors */
.transparent-deepsea {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003564, endColorstr=#33003564);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003564, endColorstr=#33003564)";/* For IE 8*/
    background: rgba(0,53,100,0.2);/* Modern browser */
}
.transparent-smoke {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5f5f5, endColorstr=#33f5f5f5);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5f5f5, endColorstr=#33f5f5f5)";/* For IE 8*/
    background: rgba(245,245,245,0.2);/* Modern browser */
}
.transparent-grass {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CDCD00, endColorstr=#33CDCD00);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CDCD00, endColorstr=#33CDCD00)";/* For IE 8*/
    background: rgba(205,250,0,0.2);/* Modern browser */
}
.transparent-black {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";/* For IE 8*/
    background: rgba(0,0,0,0.2);/* Modern browser */
}
.transparent-red {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000)";/* For IE 8*/
    background: rgba(255,0,0,0.2);/* Modern browser */
}
.transparent-violetred {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33D02090, endColorstr=#33D02090);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33D02090, endColorstr=#33D02090)";/* For IE 8*/
    background: rgba(208,32,144,0.2);/* Modern browser */
}
.transparent-green {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3367B239, endColorstr=#3367B239);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3367B239, endColorstr=#3367B239)";/* For IE 8*/
    background: rgba(103,178,57,0.2);/* Modern browser */
}
.transparent-yellow {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFF00, endColorstr=#33FFFF00);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFF00, endColorstr=#33FFFF00)";/* For IE 8*/
    background: rgba(255,255,0,0.2);/* Modern browser */
}
.transparent-orange { 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FB8F02, endColorstr=#33FB8F02);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FB8F02, endColorstr=#33FB8F02)";/* For IE 8*/
    background: rgba(251,143,2,0.2);/* Modern browser */
}
.transparent-coral {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CD5B45, endColorstr=#33CD5B45);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CD5B45, endColorstr=#33CD5B45)";/* For IE 8*/
    background: rgba(205,91,69,0.2);/* Modern browser */
}
.transparent-wheat {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33EED8AE, endColorstr=#33EED8AE);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33EED8AE, endColorstr=#33EED8AE)";/* For IE 8*/
    background: rgba(238,216,174,0.2);/* Modern browser */
}
.transparent-redwine {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#338B0000, endColorstr=#338B0000);/* For IE 5.5 - 7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#338B0000, endColorstr=#338B0000)";/* For IE 8*/
    background: rgba(139,0,0,0.2);/* Modern browser */
}
/* End Transparent Colors */



/*========== START TABION ==========*/
.tabion {
    margin: 10px 0;
    padding: 0px;
    list-style:none;
    width: 100%;
    position:relative;
}
.tabion > li {
    list-style:none;
    display:block;
    position:relative;
    width: 100%;
    top:0px;
}

.tabtile-small {
    text-align:center;
    cursor:pointer;
    width: 70px;
    height: 70px;
    margin: 0 10px 10px 0;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.tabtile-small > i, .tabtile-small > img {
    height:46px !important;
    width:46px !important;
    margin:10px auto;
    position:relative;
    display:block;
}
.tabtile-small > span {
    padding-bottom:0px;
    display:block;
    font-size: 18px;
    line-height: 4;
}

.tabtile-med {
    width:190px;
    height:90px;
    line-height:90px;
    text-align:center;
    cursor:pointer;
    margin:0 10px 10px 0;
}
.tabtile-med > i, .tabtile-med > img {
    vertical-align: middle;
    margin:auto;
    padding:0px 10px;
    position:relative;
    width:48px;
    height:48px !important;
    line-height:1;
}
.tabtile-med > span {
    vertical-align: middle;
    display:inline;
    font-size:18px;
    line-height:1;
}

.tabtile {
    position:absolute;
    display:inline-block;
}


/* Left Positions */
.pos-left-100 { left:70px; }
.pos-left-200 { left:140px; }
.pos-left-300 { left:210px; }
.pos-left-400 { left:280px; }
.pos-left-500 { left:350px; }
.pos-left-600 { left:420px; }
.pos-left-700 { left:490px; }
.pos-left-800 { left:560px; }
.pos-left-900 { left:900px; }

/* Top Position */
.pos-top-100 {top: 70px;}
.pos-top-200 { top:200px; }
.pos-top-300 { top:300px; }
.pos-top-400 { top:400px; }
.pos-top-500 { top:500px; }
.pos-top-600 { top:600px; }
.pos-top-700 { top:700px; }
.pos-top-800 { top:800px; }
.pos-top-900 { top:900px; }


.tab-content {
    position:absolute;
    padding-bottom:20px;
    display:none;
    overflow:hidden;
}

.tab-content > p {
    padding:20px 20px 0 20px;
    font-size:16px;
    line-height:1.5;
}
.tab-content > .title {
    font-size:30px;
    font-family:"Dosis",sans-serif;
    text-transform:uppercase;
}


/* Start Clickable Tab */
.tabion > li > input[type=radio]:checked  + div > .tab-content {
    display:block;
    width: 100%;
}

/* Set Active/InActive Tab Button */
.tabtile { /* InActive */
    opacity: 0.85;
}
.tabion > li > input[type=radio]:checked + div > .tabtile { /* Active */
    opacity:1;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-black {
    box-shadow:0px 0px 6px 3px #111;
    -webkit-box-shadow:0px 0px 6px 3px #111;
    -moz-box-shadow:0px 0px 6px 3px #111;
    -o-box-shadow:0px 0px 6px 3px #111;
    -ms-box-shadow:0px 0px 6px 3px #111;
}

.tabion > li > input[type=radio]:checked + div > .active-sd-white {
    box-shadow:0px 0px 6px 3px #fff;
    -webkit-box-shadow:0px 0px 6px 3px #fff;
    -moz-box-shadow:0px 0px 6px 3px #fff;
    -o-box-shadow:0px 0px 6px 3px #fff;
    -ms-box-shadow:0px 0px 6px 3px #fff;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-blue {
    box-shadow:0px 0px 6px 3px #38D1F7;
    -webkit-box-shadow:0px 0px 6px 3px #38D1F7;
    -moz-box-shadow:0px 0px 6px 3px #38D1F7;
    -o-box-shadow:0px 0px 6px 3px #38D1F7;
    -ms-box-shadow:0px 0px 6px 3px #38D1F7;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-green {
    box-shadow:0px 0px 6px 3px #AACA37;
    -webkit-box-shadow:0px 0px 6px 3px #AACA37;
    -moz-box-shadow:0px 0px 6px 3px #AACA37;
    -o-box-shadow:0px 0px 6px 3px #AACA37;
    -ms-box-shadow:0px 0px 6px 3px #AACA37;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-red {
    box-shadow:0px 0px 6px 3px #E81750;
    -webkit-box-shadow:0px 0px 6px 3px #E81750;
    -moz-box-shadow:0px 0px 6px 3px #E81750;
    -o-box-shadow:0px 0px 6px 3px #E81750;
    -ms-box-shadow:0px 0px 6px 3px #E81750;
}

.tabion > li > input[type=radio]:checked + div > .active-sd-orange {
    box-shadow:0px 0px 6px 3px #FF6600;
    -webkit-box-shadow:0px 0px 6px 3px #FF6600;
    -moz-box-shadow:0px 0px 6px 3px #FF6600;
    -o-box-shadow:0px 0px 6px 3px #FF6600;
    -ms-box-shadow:0px 0px 6px 3px #FF6600;
}


/* Set Height */
.height-470 { height:470px; }
.height-500 {height:500px;}
.height-600 { height:600px; }



/* Close Button */
.closebt {
    position:absolute;
    top:0;
    right:0;
}
.closebt img, .closebt i {
    cursor:pointer;
}


/*===== START RESPONSIVE =====*/

@media screen and (max-width:959px) {

    .tabion {
        width:100%;
        height:auto;
        position:relative;
        overflow:hidden;
    }
    .tabion > li {
        position:relative;
        width:100%;
        height:auto;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px -1px 10px rgba(0, 0, 0, 0.3);
    }

    .tabtile-small, .tabtile-med {
        /* text-align:left; */
        width:100%;
        height:90px;
        line-height:90px;
        margin:0;
    }
    .tabtile-small > i, .tabtile-small > img, .tabtile-med > i, .tabtile-med > img {
        vertical-align: middle;
        margin:auto;
        padding:0px 10px;
        position:relative;
        width:48px !important;
        height:48px !important;
        line-height:1;
        display:inline-block;
    }
    .tabtile-small > span, .tabtile-med > span {
        vertical-align: middle;
        display:inline;
        font-size:18px;
        line-height:1;
    }

    .tabtile {
        position:relative;
        left:0px;
        top:0px;
    }

    .tab-content {
        position:relative;
        height:auto;
        top:0px;
        left:0px;
    }

}

/*===== END RESPONSIVE =====*/

/*========== END TABION ==========*/

/* MISC */
.clearspace { clear: both; }
.floatleft { float:left !important; }
.floatright { float:right !important; }
.none { display:none !important; }

.light-text {
    color:#fff;
}
.dark-text {
    color:#1e1e1e;
}
.gradient {
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 00%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
    background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
}

@media (min-width:768px) {
    .article_std_container .article-image{
        /* width: 40%; */
        /* float: left; */
    }
    .article_std_container .content {
        /* float: right; */
        /* width: 55%; */
        padding: 1em 0;
    }
}