/*------------------- Menu styling -------------------- */

.navbar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.navbar .dropdown-menu>li>a{
    color: inherit;
}
.navbar .dropdown-menu>li>a:hover , a.active{
    color: #39BDB2;
}