/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2017, 1:22:09 AM
    Author     : Erald
*/

.card {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    margin-top: 20px;
}
.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.card a {
    color: #555;
    text-decoration: none;
}
.card a:hover {
    color: #000000 !important;
}
.card__date {
    background: #ec008c;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    padding-top: 10px;
    z-index: 10;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}
.card__date__day {
    display: block;
    font-size: 18px;
    padding-top: 5px;
}
.card__date__month {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 2px;
}

.card__thumb {
    height: 235px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}
.card__thumb img {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.card:hover .card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.card:hover .card__thumb {
    height: 25px;
}

.card__body {
    position: relative;
    padding: 15px;
    height: 130px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}
.card:hover .card__body {
    height: 340px;
}

.card__category {
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background: rgba(236, 0, 140, 0.8);
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    width: 100%;
}
.card__category{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.card__title {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
.card:hover .card__title {
    -webkit-animation: titleBlur 0.3s;
    animation: titleBlur 0.3s;
}

.card__subtitle {
    margin: 0;
    padding: 10px 0 10px 0;
    color: #585858;
    font-size: 15px;
}
.card:hover .card__subtitle {
    -webkit-animation: subtitleBlur 0.3s;
    animation: subtitleBlur 0.3s;
}

.card__description {
    position: absolute;
    left: 15px;
    right: 15px;
    /* bottom: 120px; */
    margin: 0px;
    padding: 10px 0px 10px 0px;
    color: #666c74;
    font-size: 14px;
    line-height: 22px;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    /* border-top: 1px solid #eee; */
}
.card:hover .card__description {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.card__footer {
    font-size: 12px;
    padding: 0px;
}
.card__footer {
    border-top: 1px solid #eee;
    transition:.5s;
}
.card__footer a {
    font-size: 15px;
    transition:0.5s;
}


.card__footer .icon--comment, .card__footer .icon--eye {
    margin-left: 10px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}
.icon:before {
    display: inline-block;
    text-align: center;
    height: 14px;
    width: 14px;
    margin-top: -2px;
    margin-right: 6px;
}

.icon--comment:before {
    content: "\f0e6 ";
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.icon--time:before {
    content: "\f017 ";
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.icon--eye:before {
    content: "\f06e ";
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.header-title {
    background: white;
    padding: 15px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 0px;
    margin: 0px;
}
.header-title.old-events {
    background: white;
    padding: 15px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-top: 2em;
}

.card__subtitle .event-detail {
    background: #fbfbfb;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    text-align: center;
}
.card__subtitle .event-detail .left{
    border-right: 1px solid #eeeeee;
}
.card__subtitle .event-detail .title{
    text-transform: uppercase;
    font-size: 12px;
}
.card__subtitle .event-detail .detail{
    font-size: 14px;
    font-weight: bold;
}


@media (max-width: 767px) {

    .card__subtitle .event-detail {
        text-align: center;
        padding: 0px 0;
    }

    .card__subtitle .event-detail .left {
        padding-bottom: 10px;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .card__subtitle .event-detail .right {
        padding-bottom: 10px;
    }
    .card__footer a, .card__footer .progress-bar {
        font-size: 12px !important;
    }
    .card__body {
        height: 200px;
    }
}


.progress-event {
    margin-left: -15px;
    border-top: 1px solid #eeeeee;
}
.reserve-event {
    margin-left: -15px;
    border-top: 1px solid #eeeeee;
}
.progress-event .progress-bar {
    width: 100%;
    min-height: 40px;
    opacity: 0.75;
    background-color: #ec008c;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
}
.reserve-event{
    background-color: black;
    transition:0.5s;
}
.reserve-event:hover{
    background-color: #ec008c;
}
.reserve-event a, .reserve-event a:hover{
    color: white !important;
}
