/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2017, 1:08:02 PM
    Author     : Erald
*/

.news-items .img-div .news-img {
    width: 100%;
}

.news_list .news-date {
    font-weight: bold;
}
.news-body{
    padding: 10px;
}
@media(max-width:767px) {
.news_list {
    margin: 0px;
}
}
.news-title{
    margin: 0 0 5px;
}
.news-title a{
    font-weight: bold;
}
.news-title a:hover {
    text-decoration: none;
}
.news-description {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    margin: 0 0 5px;
}

.meta-tags{
    line-height: 14px;
    margin: 10px 0px;
    color: #999;
}
/*.content-head{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}*/
.content-head span{
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
}
.content-head span.month{
    font-size: 24px;
    color: black;
    margin-right: 10px;
    display: inline-block;
}
.content-head span.day{
    font-size: 24px;
    color: black;
    margin-right: 10px;
    display: inline-block;
}
.content-head span.year{
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
}
.content-head .article-author{
    float: right;
    line-height: 2.5em;
}

.meta-tags span {
    font-size: 12px;
    display: inline-block;
    padding-right: 10px;
}
.meta-tags .fa {
    color: #505050;
    font-size: 14px;
    margin-right: 5px;
}
.leggi{
    font-size: 12px;
    display: inline-block;
}
.leggi a:hover{
    text-decoration: none;
}

.article_std_container {
    background: white;
    border-radius: 0px;
    border-top: 3px solid #ec008c;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.article-title{
    font-size: 24pt;
    text-transform: uppercase;
}

.article_std_container .article-body .article-image {
    /* margin-right: 10px; */
    padding-left: 0px;
    /*    float: left;*/
}

.article_std_container .article-image {
    /* padding-bottom: 1em; */
}

.article_std_container .article-header .article-title {
    font-weight: bold;
    /* margin-bottom: 0; */
    text-transform: uppercase;
    text-align: left;
    padding: 15px;
}
.article_std_container .article-header .article-title h1 {
   margin: 0;
   font-size: 25px;
   font-weight: 100;
}
.article_std_container .article-header .article-subtitle {
    margin-bottom: 0px;
}




@media(max-width:992px) {
    .article_std_container .article-body .article-image {
        padding-right: 0px;        
        margin-right: 0px;
        width: 100%
    }

/*    .article_std_container .article-body {
        padding-right: 0px;
        padding-left: 0px;
    }*/
}
/*******************************************/
/*HOVER IMAGE*/
.hover-img {
  z-index: 1;
  display: block;
  position: relative;
  /* background: #002023; */
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-icon,
.hover-img [class*=" hover-icon-"] {
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.hover-img .hover-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.hover-img:hover .hover-icon,
.hover-img:hover .hover-icon-group {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img:hover .hover-icon {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover >img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

/*******************************************/
/*ICONS EFFECTS*/
i.fa-link {
  z-index: 2;
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.round {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.article_std_container .share-button {
    margin: 0 auto;
    float: none;
    position: relative;
    display: table;
}

.article_std_container .social-button {
    border-bottom: 1px dotted #eeeeee;
    padding: 1em 0 .5em 0;
    background: rgb(251, 251, 251);
    /* margin: 10px 0px 0px 0px; */
}
.content-head {
    border-bottom: 1px dotted gainsboro;
    border-left: 3px solid #c90000;
    padding: 1em 0em 1em 1em;
    color: #777;
    margin-bottom: 1em;
}

.article_std_container .article-body{
  padding: 15px 15px 0 15px;
}

.article_std_container .article-footer{
    
}

.article_std_container .article-footer a{
  color: #ffffff;
  font-size:18px;
  padding: 15px 0;
  background:#ec008c;
}
.article_std_container .article-footer a:hover{
  color: white;
  background:#ec008c;
}
.card__subtitle .event-detail {
    background: #fbfbfb;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0;
    text-align: center;
}
.card__subtitle .event-detail .left{
    border-right: 1px solid #eee;
}
.card__subtitle .event-detail .left, .card__subtitle .event-detail .right{
    padding:50px;
}
.card__subtitle .event-detail .title{
    text-transform: uppercase;
    font-size: 18px;
}
.card__subtitle .event-detail .detail{
    font-size: 15px;
}

.event-place{
    padding:10px 15px;
    color:white;
    background-color:#ec008c;
    font-size: 18px;
}

.article_std_container .content {
    padding: 1em 0;
    line-height: 2em;
    font-size: 16px;
}

@media (max-width: 767px) {

    .card__subtitle .event-detail {
        text-align: center;
        padding: 0px 0;
    }

    .card__subtitle .event-detail .left {
        padding-bottom: 15px;
        border-bottom: 1px solid #eeeeee;
        padding-top: 15px;
    }
    .card__subtitle .event-detail .right {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .card__footer a {
        font-size: 12px;
    }
    .card__body {
        height: 200px;
    }
}


.card__date {
    background: rgba(236, 0, 162, 0.7);
    position: absolute;
    top: 15px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 22px;
    font-weight: bold;
    padding-top: 15px;
}
.card__date__day {
    display: block;
    font-size: 30px;
    padding-top: 5px;
}
.card__date__month {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 0px;
}