/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2017, 4:13:35 PM
    Author     : Erald
*/

.carousel-control {
    opacity: 1 !important;
}

.left.carousel-control span, .right.carousel-control span{
    background: #ffffff;
    border-radius: 50%;
    padding: 8px 8px;
    font-size: 15px;
    color: #c90000;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
    font-weight: 100;
}

@media screen and (min-width: 768px){
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        margin-top: -65px;
    }
}

#Business-Offers .alldiv-text{
    background: white;
    overflow: hidden;
    z-index: 100;
    position: relative;
    padding-right: 15px;
    padding-bottom: 15px;
}

.offer-price{
    float: left;
}
.main-title1 {
    min-height: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.only-price{
    font-size: 15px;
    font-weight: 500;
    color: #c90000;
}

.price{
    font-size: 12px;
    font-weight: 500;
    color: #3a3a3a;
    text-decoration: line-through;
}

.final-price{
    font-size: 20px;
    font-weight: 500;
    color: #c90000;
    line-height: 20px;
}

.offers-carousel{
    margin: 5px;
    color: #000000;
    background: white;
}

#Business-Offers .alert-grey, #Business-Offers .main-text-title {
    color: #f6f6f6;
    background-color: #2e2e2e;
    margin-bottom: 0px;
}
#Business-Offers .main-offer-info {background: #1f1f1f;padding: 10px 10px;}
#Business-Offers .business-offer-name {
    font-size:12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#Business-Offers .business-offer-name a{
    font-size: 10px;
    line-height: 0;
    letter-spacing: 1px;
    color: #828282;
    text-transform: uppercase;
    text-align: left;
}
#Business-Offers .business-offer-title a{
    color:white;
}
#Business-Offers .business-offer-title {
    font-size:20px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
}

#Business-Offers .btn-xs {
    padding: 10px 10px;
}

#Business-Offers hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#Business-Offers .owl-theme .owl-controls .owl-page span {

    background: #ffffff;
}