/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 9:25:01 PM
    Author     : Erald
*/

 
/*-------- Right Sidebar Categories -----------*/
.affix-bottom {
    position: absolute;
}
#right-sidebar{
    margin-top: 20px;
}
#right-sidebar .single-banner img{
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
#right-sidebar .sidebar-categories-list{
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #eee;
}
#right-sidebar .sidebar-categories {
    background: white;
    padding: 15px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
#right-sidebar .sidebar-categories h5{
    padding: 10px 0px 10px 0px;
    margin: 0px 0 15px;
    border-bottom: 1px solid #eee;
}
#right-sidebar #pb_21 {
    padding: 15px 0;
}
.top-categories {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid gainsboro;
}
.nav-right-categ.affix {
    position: fixed !important;
    top: 100px;
    width: 610px;
}
.nav-right-categ {
    z-index: 2;
    position: relative;
}
#right-sidebar .sidebar-categories-list li{
    list-style-type: none;
    line-height: 25px;
}
#right-sidebar .sidebar-categories-list li a{
    color: #666;
    text-transform: uppercase;
}
#right-sidebar .sidebar-categories-list a:hover{
    color: #C6251E;
    transition: .5s;
}