/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 9:33:43 PM
    Author     : Erald
*/

/*---------- search box ----------*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}

#pb_6 form.cf {
    padding: 12px 0px;
    background: rgb(201, 0, 0);
    /* box-shadow: 0px 0px 3px #010101; */
}
#pb_14 form.cf-home{
    width: 100%;
    padding: 20px 20px;
    background: rgba(201, 0, 0, 0.7);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(218, 49, 49, 0.15);
}
#search-top-mobile a.button{
    margin-top: 15px;
}
#pb_36 {
    border-bottom: 1px solid #424242;
    font-size: 11px;
    padding: 25px 0;
}
#pb_36 a {
    color: white;
}
#search-top {
    width: 100%;
    margin-bottom: -5px;
    display: inline-block;
    display: -moz-groupbox;
}

.form-wrapper-2 input {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    border: 0;
    background: #FFF;
    font-size: 13px;
    resize: both;
    color: black;
}
form.cf-home input.cosa {
    margin-right: 30px;
}
form.cf input.cosa {
    margin-right: 15px;
}
.form-wrapper-2 input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper-2 button,.form-wrapper-2 .button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0 20px;
    cursor: pointer;
    height: 40px;
    width: 100%;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    outline: none;
}
form.cf button, form.cf .button {
    background: #010101;
    text-align: center;
}
form.cf button:hover, form.cf .button:hover{
    background: #010101;
    transition-duration: 0.5s;
}
form.cf button:active, form.cf button:focus, form.cf .button:active, form.cf .button:focus{
    background: #010101;
}
form.cf button:hover:before, form.cf .button:hover:before{
    border-right-color: #010101;
    transition-duration: 0.5s;
}
form.cf button:focus:before, form.cf .button:focus:before{
    border-right-color: #010101;
}
form.cf button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #010101 transparent;
    top: 12px;
    left: -7px;
}
form.cf-home button, form.cf-home .button {
    background: #020202;
    text-align: center;
}
form.cf-home button:hover, form.cf-home .button:hover{
    background: #000000;
    transition-duration: 0.5s;
}
form.cf-home button:active,
form.cf-home button:focus, form.cf-home .button:active, form.cf-home .button:focus{
    background: #020202;
}
form.cf-home button:hover:before, form.cf-home .button:hover:before{
    border-right-color: #000000;
    transition-duration: 0.5s;
}
form.cf-home button:focus:before, form.cf-home .button:focus:before{
    border-right-color: #020202;
}
form.cf-home button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #020202 transparent;
    top: 12px;
    left: -7px;
}
.form-wrapper-2 button::-moz-focus-inner, .form-wrapper-2 .button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Placeholder Style */
.cosa::-webkit-input-placeholder {
    color: lightcoral !important;
    font-style: normal !important;
}
.cosa:-moz-placeholder { /* Firefox 18- */
    color: red;
    font-style: normal;
}
.cosa::-moz-placeholder {  /* Firefox 19+ */
    color: red;
    font-style: normal;
}
.cosa:-ms-input-placeholder {
    color: red;
    font-style: normal;
}

/* Typing text effect */
.typing-text{
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 8s steps(60, end);
}
@keyframes type{ 
    from { width: 0; } 
} 