/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 3:26:11 PM
    Author     : Erald
*/

/******Tab Menu Search Box********/
#portal-search {
    width: 100%;
}


#pb_86 {
    position: absolute;
    z-index: 15;
    margin-top: 50px;
}
.tabbable.custom-tabs>.nav-tabs,
.tabbable.custom-tabs>.nav-tabs>li,
.tabbable.custom-tabs>.nav-tabs>li>a {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: none;
    background-image: none;
    position: relative;
    display: table;
    width: 100%;
    /* text-align: center; */
}

#portal-search .tab-main-title {
 font-size: 18px;
}

.tabbable.custom-tabs>.nav-tabs>li>a {
    padding: 10px 10px;
    margin-right: 3px;
    background-color: rgba(46, 46, 46, 0.8);
    color: #ffffff;
    -o-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -moz-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -ms-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -webkit-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -o-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -ms-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4);
    -moz-transition-duration: .15s;
    -o-transition-duration: .15s;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    font-size: 15px;
    text-transform: uppercase;
}
.tabbable.custom-tabs>.nav-tabs>li>a:hover {
    background-color: rgba(201, 0, 0, 0.8);
}
.tabbable.custom-tabs>.nav-tabs>li.active>a {
    background-color: #c90000;
    color: #ffffff;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    /* box-shadow: none; */
    -o-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -moz-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -ms-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    -webkit-text-shadow: 0 1px 1px #fff 1px 1px #fff;
    text-shadow: 0 1px 1px #fff 1px 1px #fff;
}
.tabbable.custom-tabs>.nav-tabs>li.active>a::before{
    content: '';
    position: absolute;
    top: 45px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c90000;
    clear: both;
    transform: translate(-50%, -50%);
}
.tabbable.custom-tabs>.nav-tabs>li.active>a:hover {
    border: none;
    background-color: #c90000;
}
.tabbable.custom-tabs>.nav-tabs>li.active:hover>a::after{
    content: '';
    position: absolute;
    left: 40%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #c90000;
    clear: both;
}
.tabbable.custom-tabs>.tab-content {
    background: rgba(0,0,0,0.75);
    padding: 40px 2em 20px 2em;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 4px 4px 4px;
    /* min-width: 500px; */
}
.tabbable.custom-tabs>.tab-content>.tab-pane {
    -webkit-animation-duration: 0;
    -moz-animation-duration: 0;
    -o-animation-duration: 0;
    animation-duration: 0;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: fadeInUp;
    -moz-backface-visibility: visible!important;
    -moz-animation-name: fadeInUp;
    -o-backface-visibility: visible!important;
    -o-animation-name: fadeInUp;
    backface-visibility: visible!important;
    animation-name: fadeInUp
}
.tabbable.custom-tabs.tabs-below>.tab-content {
    border-radius: 4px 4px 4px 0
}
.tabbable.custom-tabs.flat>.nav-tabs>li>a,
.tabbable.custom-tabs.flat>.nav-tabs>li.active a {
    border-radius: 0;
}
.tabbable.custom-tabs.flat>.tab-content {
    border-radius: 0
}
.tabbable.custom-tabs.mini>.nav-tabs>li>a {
    padding: 8px 10px
}
.tabbable.custom-tabs.small>.nav-tabs>li>a {
    padding: 10px 15px
}
.tabbable.custom-tabs.large>.nav-tabs>li>a {
    padding: 15px 20px
}
@media screen and (max-width:980px) {
    .tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a {
        min-width: 0;
        text-align: center;
        padding: 15px
    }
    .tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a>span {
        /* display: none */
    }
    .tabbable.custom-tabs.hide-label-980>.nav-tabs>li>a>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0
    }
}
@media screen and (max-width:768px) {
    .tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a {
        min-width: 0;
        text-align: center;
        padding: 15px
    }
    .tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a>span {
        display: none
    }
    .tabbable.custom-tabs.hide-label-768>.nav-tabs>li>a>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0
    }
}
@media screen and (max-width:480px) {
    .tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a {
        min-width: 0;
        text-align: center;
        padding: 15px
    }
    .tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a>span {
        display: none
    }
    .tabbable.custom-tabs.hide-label-480>.nav-tabs>li>a>[class*="icon"] {
        font-size: 2em;
        text-align: center;
        min-width: 0
    }
    label {
    font-size: 0.8em !important;
}
}


/************************/

#search-tab-md .info {
  padding: 0 25px 10px 25px;
  font-size: 0.7em;
  text-align: center;
}
#search-tab-md .info a {
  color: #c90000;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
#search-tab-md .info a:hover, #search-tab-md .info a:focus, #search-tab-md .info a:active {
  color: #c90000;
}
#search-tab-md .info a::after {
  content: "|";
  color: #646464;
  margin: 0 10px;
}
#search-tab-md .info a:last-child::after {
  content: "";
}

#search-tab-md fieldset {
  padding: 0;
  margin-bottom: 0px;
  border: none;
  position: relative;
}

label {
  position: absolute;
  pointer-events: none;
  font-size: 1.2em;
  top: 5px;
  -webkit-transition: top 0.2s, font-size 0.2s, color 0.2s;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
  font-weight: 300;
}

#search-tab-md .underline {
  width: 100%;
}

#search-tab-md .underline::before,
#search-tab-md .underline::after {
  position: absolute;
  content: "";
  top: 28px;
  width: 0%;
  height: 2px;
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: width 0.2s, opacity 0.2s;
  transition: width 0.2s, opacity 0.2s;
}

#search-tab-md .underline::before {
  right: 50%;
}

#search-tab-md .underline::after {
  left: 50%;
}

#search-tab-md input {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
#search-tab-md input:focus {
  outline: none;
}
#search-tab-md input:focus ~ .underline::before, #search-tab-md input:focus ~ .underline::after {
  opacity: 1;
  width: 50%;
}
#search-tab-md input:focus + label {
  color: #ffffff;
}

#search-tab-md input:focus + label,
#search-tab-md input.filled + label {
  font-size: 0.8em;
  top: -15px;
}

#search-tab-md input[type=checkbox] + label,
#search-tab-md input[type=checkbox] + label {
  top: 0px !important;
}

#search-tab-md input[type=checkbox]:focus + label,
#search-tab-md input[type=checkbox].filled + label {
  font-size: 1em;
  top: 0px !important;
  color: #646464;
  outline:none;
}

#search-tab-md .send-msg-textarea {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #777;
}
#search-tab-md button:focus, #search-tab-md button:active {
  outline: none;
}
#search-tab-md button:active {
  box-shadow: 0 4px 10px rgba(100, 100, 100, 0.8);
}
#search-tab-md label {
    color: #fff;
}

.tt-dataset {
    background: white;
}
.tt-suggestion a{
    color: black !important;
    padding: 15px;
    font-family: verdana;
}

.Typeahead *,
.Typeahead *:before,
.Typeahead *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Utilities */

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}

.u-hidden {
  display: none !important;
}

.u-posRelative {
  position: relative;
}

/* Typeahead */

.Typeahead {
  position: relative;
  *z-index: 1;
  width: 500px;
  margin: 50px auto 0 auto;
  padding: 15px;
  text-align: left;
  background-color: #0097cf;
  background-image: -moz-linear-gradient(top, #04a2dd, #03739c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04a2dd), to(#03739c));
  background-image: -webkit-linear-gradient(top, #04a2dd, #03739c);
  background-image: -o-linear-gradient(top, #04a2dd, #03739c);
  background-image: linear-gradient(top, #04a2dd, #03739c);
  background-repeat: repeat-x;
  border: 1px solid #024e6a;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 2px #111;
     -moz-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
}

.Typeahead-spinner {
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
  width: 28px;
  height: 28px;
}

.Typeahead-hint,
.Typeahead-input {
  width: 100%;
  padding: 5px 8px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.Typeahead-hint {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccd6dd;
  opacity: 1;
}

.Typeahead-input {
  position: relative;
  background-color: transparent;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  outline: none;
}

.Typeahead-menu {
  position: absolute;
  top: 95%;
  left: 2.5%;
  z-index: 100;
  display: none;
  width: 95%;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
          box-shadow: 0px 0px 0px 1px green;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.Typeahead-menu.is-open {
  display: block;
}

.Typeahead-selectable {
  cursor: pointer;
}

.Typeahead-selectable + .Typeahead-selectable {
  border-top: 1px solid #ccd6dd;
}

/* BusinessCard */

.BusinessCard {
  position: relative;
  padding: 8px;
}

.BusinessCard-avatar {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 52px;
  height: 52px;
  border: 2px solid #ccd6dd;
  border-radius: 5px;
}

.BusinessCard:hover .ProfileCard-avatar {
  border-color: #f5f8fa;
}

.BusinessCard-details {
  padding-left: 60px;
  margin-top: -10px;
}

.BusinessCard-Name {
  display: inline-block;
}

.BusinessCard-Name {
  font-weight: 700;
}

.BusinessCard-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.BusinessCard:hover,
.BusinessCard.is-active {
  color: #fff;
  background: #55acee;
}


.BusinessCard:hover .BusinessCard-stat-label,
.BusinessCard.is-active .BusinessCard-stat-label {
  color: #fff;
}

/* EmptyMessage */

.EmptyMessage {
  position: relative;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}